.date-input-group {
    display: flex;
    align-items: center;
    gap: 10px;
    /* margin-bottom: 20px; */
}

#iteminfofoot td {
    padding: 20px;
    text-align: center;
    font-weight: bold;
    background-color: #f8f9fa;
}

.modal-header {
    justify-content: center;
    /* 가운데 정렬 */

    display: flex;
    align-items: center;
    border-bottom: 1px solid #dee2e6;
    background-color: #f8f9fa;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid #dee2e6;
    background-color: #f8f9fa;
}

.modal-body {
    padding: 10px;
}

.table {
    margin-bottom: 0;
}



.styled-input {
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    border: 1px solid #ccc;
    /* 연한 테두리 색상 */
    border-radius: 5px;
    /* 약간 둥근 테두리 */
}

.btn-round {
    border-radius: 10px;
}

.table-bordered th {
    background-color: rgb(247, 247, 247);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    /* Dark semi-transparent background */
    z-index: 1080;
    display: none;
}

#newModal {
    z-index: 1090;
}

#addRowModal {
    z-index: 1070;
}

#addToast {
    z-index: 1100;
}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
    padding: 10px 15px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-title {
    margin: 0;
    font-size: 18px;
    color: #333;
}

/* Table Styles */
.styled-table {
    width: 100%;
    border-collapse: collapse;
}

.styled-table thead tr {
    background-color: #f3f3f5;
    color: black;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 5px 5px;
    border: 1px solid #e4e3e3;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: rgb(241, 241, 241);
}



.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

/* Scrollable Container Styles */
.card-body {
    padding: 15px;
}

.scrollable-container {
    max-height: 28vh;
    overflow-y: auto;
}

/* Checkbox Styles */
input[type="checkbox"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

/* Align text to the center in table headers and cells */
th,
td {
    text-align: center;
}



/* Modal Header 스타일 */

.modal-title {
    font-weight: bold;
}

/* Button 스타일 */


.btn-primary:hover {
    background-color: #0056b3;
}

.btn-danger:hover {
    background-color: #c82333;
}

.btn-secondary:hover {
    background-color: #6c757d;
}

/* Table 스타일 */
.modal-body table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.modal-body th,
.modal-body td {
    padding: 10px;
    text-align: center;
    border: 1px solid #dee2e6;
}

.modal-body th {
    background-color: #f8f9fa;
    font-weight: bold;
}

.modal-body td input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}
.modal-body td select {
    width: 100%;
    padding: 7px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

.modal-body tfoot td {
    font-weight: bold;
}

/* Scrollable Container 스타일 */
.scrollable-container {
    overflow-y: auto;
    max-height: 30vh;
}

.table-bordered td {
    font-weight: bold;
}

.table-bordered th {
    font-weight: bold;
}