/* Card Styles */
.card {
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: #f7f7f7;
    padding: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-title {
    margin: 0;
    font-size: 20px;
    color: #333;
    font-weight: bold;
}

.card-body {
    padding: 10px;
}

/* Button Styles */
/* .btn-primary {
    background-color: #007bff;
    border: none;
    border-radius: 20px;
    padding: 8px 15px;
    color: #fff;
    transition: background-color 0.3s;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #0056b3;
} */

.btn-round {
    border-radius: 50px;
}

.btn:hover {
    box-shadow: 0 2px 10px rgba(0, 123, 255, 0.2);
}

/* Input Styles */
.styled-input,
.modal-body td input,
.modal-body td select {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    background-color: #f9f9f9;
    transition: background-color 0.3s, border-color 0.3s;
}

.styled-input:focus,
.modal-body td input:focus,
.modal-body td select:focus {
    border-color: #007bff;
    background-color: #ffffff;
    outline: none;
}

/* Table Styles */
.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.styled-table thead {
    background-color: #f7f7f7;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 14px;
}

.styled-table th {
    background-color: #f0f0f0;
    color: #000000;
    font-weight: bold;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
    transition: background-color 0.3s;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f5;
}

.styled-table tbody tr:hover {
    background-color: #c9c9c9;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

/* Scrollable Container Styles */
.scrollable-container {
    max-height: 30vh;
    overflow-y: auto;
    padding-right: 10px;
}

/* Modal Styles */
.modal-header,
.modal-footer {
    background-color: #f7f7f7;
    border-bottom: 1px solid #dee2e6;
    border-top: 1px solid #dee2e6;
    padding: 15px;
}

.modal-title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.modal-body {
    padding: 20px;
    background-color: #ffffff;
}

.modal-body table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

.modal-body th,
.modal-body td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

.modal-body th {
    background-color: #f1f1f1;
    font-weight: bold;
}

.modal-body tfoot td {
    font-weight: bold;
}

/* Date Input Group Styles */
.date-input-group {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.date-input-group input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Overlay Styles */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1080;
    display: none;
}

#newModal {
    z-index: 1090;
}

#addRowModal {
    z-index: 1070;
}

#addToast {
    z-index: 1100;
}
