body {
    font-family: Arial, sans-serif;
    background-color: white;
    overflow-y: hidden;
    margin: 0;
}


table.grid {
    width: 100%;
    border-collapse: collapse;
    /* margin-top: 20px; */
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

table.grid thead {
    position: sticky;
    top: 0;
    z-index: 1;
}

table.grid tbody {
    display: block;
    max-height: 80vh;
    overflow-y: auto;
}

table.grid thead tr td {
    background-color: #d9dce2;
    color: rgb(0, 0, 0);
    font-weight: bold;
    padding: 10px;
    position: relative;
    /* cursor: pointer; */
    text-align: left;
    border: 1px solid #ddd;
}

table.grid tbody tr:nth-child(odd) {
    background-color: #eef0f5;
}

table.grid tbody tr td {
    padding: 5px;
    /* Adjusted padding to make the rows wider */
    border: 1px solid #ddd;
}

table.grid thead,
table.grid tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
    padding: 10px;
    /* Ensures columns are of equal width */
}

.filter {
    position: absolute;
    border: solid 1px #ddd;
    top: 35px;
    background-color: white;
    width: 200px;
    min-height: 400px;
    max-height: 400px;
    overflow-y: auto;
    right: 0;
    display: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 10;
}


.grid-item {
    text-align: left;
    /* Align checkboxes and text to the left */
    padding: 5px;
}


.button-container {
    position: relative;
    padding: 10px 0;
    text-align: center;
    border-top: 1px solid #ccc;
    bottom: 0;
    /* height: 100px; */
    /* Optional: add a border at the top of the button container */
}

.filter .filter-content {
    overflow-y: auto;
    /* Allows scrolling for the checkbox list */
    flex-grow: 1;
    max-height: 32vh;
    min-height: 32vh;
}

.filter .filter-actions {
    padding: 5px;
    border-top: 1px solid #ddd;
    background-color: white;
    display: flex;
    justify-content: flex-end;
    /* Aligns buttons to the right */
}

.filter div {
    padding: 5px;
}

.filter div input[type="checkbox"] {
    margin-right: 10px;
    transform: scale(1.5);
    /* 체크박스 크기 확대 */
}

.filter .filter-actions input[type="button"] {
    margin-left: 5px;
    padding: 5px 10px;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 3px;
}

.filter div input[type="button"] {
    margin: 5px;
    padding: 5px 10px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    border-radius: 3px;
}


.filter .filter-actions input#ok {
    background-color: #4531b6;
    /* Green for OK */
}

.filter .filter-actions input#ok:hover {
    background-color: #2c0e70;
}

.filter .filter-actions input#close {
    background-color: #f44336;
    /* Red for Cancel */
}

.filter .filter-actions input#close:hover {
    background-color: #e53935;
}

.filter-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    /* color: white; */
    border: none;
    border-radius: 20%;
    padding: 5px;
    cursor: pointer;
    font-size: 14px;
    width: 20px;
    height: 20px;
    float: right;
}

.filter-button:hover {
    /* background-color: #45a049; */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.filter-icon {
    font-size: 20px;
    margin: 0;
}

.grid {
    width: 100%;
    border-collapse: collapse;
    padding: 20px;
    table-layout: fixed;

}

.grid thead {
    position: sticky;
    top: 0;
    background-color: #f1f1f1;
    z-index: 2;
}

.grid tbody {
    display: block;
    height: 600px;
    /* Adjust this value based on your layout */
    overflow-y: scroll;
    overflow-x: hidden;
}

.grid tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.grid th,
.grid td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.grid th {
    background-color: #f2f2f2;
    color: black;
}

