<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Techon Mes</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/login.css">
    <script src="/config.json" type="text/javascript"></script>
    <!-- <script type="text/javascript" src="/views/js/jsQR.js"></script>
    <script type="text/javascript" src="/views/js/qrcode.js"></script>
    <script type="text/javascript" src="/views/js/qrcode.min.js"></script> -->

    <script type="text/javascript" src="/views/js/jquery.min.js"></script>
    <script type="text/javascript" src="/views/js/qrcode.js"></script>

</head>

<style>
    .login_button:hover {
        cursor: pointer;
        background-color: black;
    }

    .checkbox-group {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 200px;
        /* 필요에 따라 너비 조정 */
        margin-bottom: 10px;
    }

    .checkbox-group input[type="checkbox"] {
        width: 25px;
        height: 25px;
        margin-right: 10px;
        /* 텍스트와 체크박스 사이의 간격 */

    }

    .checkbox-group input[type="checkbox"]:hover {
        cursor: pointer;
    }

    .checkbox-group b {
        font-size: 18px;
        /* 텍스트 크기 */
    }
</style>

<body>

    <div class="login_main">
        <div class="header">
            <img class="header_img" src="img/manufacturing-teaser.jpeg" />
            <img class="header_logo_img" src="img/테크온로고_1.png" />
            <a>Techon Mes System</a>
            <p>
                MES system is a vital tool in the manufacturing industry for efficiently managing and optimizing
                production processes.
            </p>
        </div>
        <div class="login_main_div">
            <div class="login_main_logo_div">
                <p>LOGIN</p>

            </div>
            <form autocomplete="off">
                <div class="login_main_id_div">
                    <label>ID</label>
                    <input type="text" placeholder="Enter your ID" id="login_id" name="login_id" autocomplete="off"
                        onkeydown="login()" autocorrect="off" autocapitalize="off">
                </div>
                <br>
                <div class="login_main_password_div">
                    <label>Password</label>
                    <input type="password" placeholder="Enter your password" id="login_password" name="login_password"
                        onkeydown="login()" autocomplete="off" autocorrect="off" autocapitalize="off">
                </div>
            </form>


            <p id="passwordchkid" class="passwordchk"></p>
            <div class="checkbox-group">
                <input type="checkbox" id="vina-checkbox" checked="true">
                <label for="vina-checkbox"><b>VINA</b></label>
                <input type="checkbox" id="korea-checkbox">
                <label for="korea-checkbox"><b>KOREA</b></label>

            </div>
            <div class="login_main_button">
                <button class="login_button" onclick="loginbtn();">
                    LOGIN</button>
                <br>
            </div>
        </div>
    </div>

</body>
<script>
    var server = '';
    // server = data[0].Ipconfig;
    if (window.location.hostname == 'localhost') {
        server = 'https://localhost:8000';
    } else {
        server = 'https://mestechon.com:8000';
    }

    function onenter() {
        if (window.event.keyCode == 13) {
            console.log("enter")
        }
    }

    function logout() {
        // Remove tokens from session storage
        sessionStorage.removeItem('accessToken');
        sessionStorage.removeItem('refreshToken');

        // Logging to confirm deletion
        console.log("Tokens removed. accessToken:", sessionStorage.getItem('accessToken'));
        console.log("Tokens removed. refreshToken:", sessionStorage.getItem('refreshToken'));

        alert('You have been logged out.');

        // Uncomment the following line if you want to redirect to login page or another page after logout
        // window.location.href = 'login.html'; 
    }

    // Add event listener to logout button
    $("#logoutBtn").click(logout);

    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('login_id').setAttribute('autocomplete', 'off');
        document.getElementById('login_password').setAttribute('autocomplete', 'new-password');
    });
    function login() {
        // Trigger login on Enter key press
        if (window.event.keyCode === 13) {
            var nameid = $("#login_id").val().trim();
            var password = $("#login_password").val().trim();

            if (nameid && password) {
                $.ajax({
                    type: 'POST',
                    url: server + '/auth/login',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        nameid: nameid,
                        password: password,
                    }),
                    dataType: 'json',
                    success: function (data, textStatus, xhr) {
                        if (xhr.status === 200 && data.accessToken && data.refreshToken) {
                            sessionStorage.setItem('accessToken', data.accessToken);
                            sessionStorage.setItem('refreshToken', data.refreshToken);
                            sessionStorage.setItem('name', data.member.name); // member 값을 sessionStorage에 저장

                            console.log(data.member)
                            // console.log(sessionStorage)

                            loginpage_move();
                        } else {
                            alert('LOGIN FAIL: Invalid response.');
                        }
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        alert('LOGIN FAIL');
                        console.error("AJAX error:", textStatus, errorThrown);
                    }
                });
            } else {
                alert('Please check your information.');
            }
        }
    }
    function loginbtn() {
        var nameid = $("#login_id").val().trim();
        var password = $("#login_password").val().trim();

        if (nameid && password) {
            $.ajax({
                type: 'POST',
                url: server + '/auth/login',
                contentType: 'application/json',
                data: JSON.stringify({
                    nameid: nameid,
                    password: password,
                }),
                dataType: 'json',
                success: function (data, textStatus, xhr) {
                    if (xhr.status === 200 && data.accessToken && data.refreshToken) {
                        sessionStorage.setItem('accessToken', data.accessToken);
                        sessionStorage.setItem('refreshToken', data.refreshToken);
                        sessionStorage.setItem('name', data.member.name); // member 값을 sessionStorage에 저장

                        console.log(data.member)
                        // console.log(sessionStorage)

                        loginpage_move();
                    } else {
                        alert('LOGIN FAIL: Invalid response.');
                    }
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert('LOGIN FAIL');
                    console.error("AJAX error:", textStatus, errorThrown);
                }
            });
        } else {
            alert('Please check your information.');
        }
    }
    // ==================session 삭제====================

    // sessionStorage.removeItem('accessToken');
    // sessionStorage.removeItem('refreshToken');

    function setCookie(userName, partName) {
        // const exdate = new Date();
        // exdate.setMinutes(exdate.getMinutes() + minutes);

        // const cookie_value = escape(value) + ((minutes == null) ? '' : '; expires=' + exdate.toUTCString());
        document.cookie = 'userName=' + userName;
        document.cookie = 'partName=' + partName;

    }


    function loginpage_move() {

        location.href = "/vinamain"
    }

</script>
<script>
    const koreaCheckbox = document.getElementById('korea-checkbox');
    const vinaCheckbox = document.getElementById('vina-checkbox');

    koreaCheckbox.addEventListener('change', function () {
        if (koreaCheckbox.checked) {
            vinaCheckbox.checked = false;
        }
    });

    vinaCheckbox.addEventListener('change', function () {
        if (vinaCheckbox.checked) {
            koreaCheckbox.checked = false;
        }
    });
</script>
</body>

</html>