<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Techon Mes</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/login.css">
    <script src="/config.json" type="text/javascript"></script>
</head>

<body>

<body>

<div class="login_main">
    <div class="header">
        <img class="header_img" src="img/manufacturing-teaser.jpeg" />
        <img class="header_logo_img" src="img/테크온로고_1.png" />
        <a>Techon Mes System</a>
        <p>
            MES system is a vital tool in the manufacturing industry for efficiently managing and optimizing production processes.
        </p>
    </div>
    <div class="login_main_div">
        <div class="login_main_logo_div">
            <p>로그인</p>

        </div>
        <div class="login_main_id_div">
            <label>아이디</label>
            <input type="text" placeholder="아이디를 입력해 주세요." id="login_id" onkeydown="login()">
        </div>
        <br>
        <div class="login_main_password_div">
            <label>비밀번호</label>
            <input type="password" placeholder="비밀번호를 입력해 주세요." id="login_password" onkeydown="login()">
        </div>

        <p id="passwordchkid" class="passwordchk"></p>

        <div class="login_main_button">
            <button onclick="loginclick()" class="login_button"> 로그인</button>
            <br>
            <!-- <br> -->
            <!-- <button onclick="join_btn()" class="join_button"> 회원가입 </button> -->
        </div>
        <!-- <input type="text" onkeydown="onenter()"> -->
    </div>
    <!-- <div class="login_sub_div">
        <a>아이디 찾기</a>
        <a>|</a>
        <a>비밀번호 찾기</a>
    </div> -->
</div>
<div id='wrap'>
    <section>
        <!-- 대충 뭐 요소들이 가득차있음 -->
    </section>
    <!-- <footer>
        <p>
            <span>저자 : 피스웰</span><br />
            <span>이메일 : Pswel@naver.com</span><br /><br />
            <span>Copyright 2024. PSWEL. All Rights Reserved.</span>
        </p>
    </footer> -->
</div>
</body>
<script>
    console.log(window.location.hostname);
    var server = '';
    server = data[0].Ipconfig;
    if (window.location.hostname == 'localhost') {
        server = 'localhost:8080';
    } else {
        server = 'http://techonmes.co.kr';
    }

    function onenter() {
        if (window.event.keyCode == 13) {
            console.log("enter")
        }
    }

    function login() {


        if (window.event.keyCode == 13) {
            //var idvalue = $('.id').val()
            var nameid = $("#login_id").val();
            var password = $("#login_password").val();

            if (nameid !== '' && password !== '') {

                $.ajax({
                    type: 'POST',
                    url: server + '/api/users',
                    dataType: 'json',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        "nameid": nameid,
                        "password": password,
                    }),
                    dataType: 'text',
                    ///datatype text 인이유 : string
                    success: function (data) {
                        const obj = JSON.parse(data)
                        console.log(data[0].name)

                        if (obj.judgment == 'NG') {
                            // alert('실패')
                            $(".passwordchk").text('비밀번호가 맞지 않습니다.   ');
                            $(".passwordchk").css("color", "red");

                        } else {
                            setCookie(nameid, data[0].name);
                            loginpage_move()
                            // alert('성공')
                        }

                    }
                })
                // alert('성공하였습니다.')
                //  loginpage_move()
            } else {
                alert('정보를 확인바랍니다')
            }
        }

    }

    function setCookie(userName, partName) {
        // const exdate = new Date();
        // exdate.setMinutes(exdate.getMinutes() + minutes);

        // const cookie_value = escape(value) + ((minutes == null) ? '' : '; expires=' + exdate.toUTCString());
        document.cookie = 'userName=' + userName;
        document.cookie = 'partName=' + partName;

    }

    function loginclick() {

        //var idvalue = $('.id').val()
        var nameid = $("#login_id").val();
        var password = $("#login_password").val();

        if (nameid !== '' && password !== '') {
            console.log(nameid)
            console.log(password)

            $.ajax({
                type: 'POST',
                url: server + '/api/users',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify({
                    "nameid": nameid,
                    "password": password,
                }),
                dataType: 'text',
                ///datatype text 인이유 : string
                success: function (data) {
                    const obj = JSON.parse(data)


                    if (obj.judgment == 'NG') {
                        // alert('실패')
                        $(".passwordchk").text('비밀번호가 맞지 않습니다.   ');
                        $(".passwordchk").css("color", "red");

                    } else {
                        console.log('obj', obj)
                        setCookie(obj.name, obj.part);
                        loginpage_move()

                        // alert('성공')
                    }

                }
            })
            // alert('성공하였습니다.')
            //  loginpage_move()
        } else {
            alert('정보를 확인 바랍니다.')
        }


    }
    function join_btn() {
        location.href = "/html/join.html"
    }
    function loginpage_move() {

        location.href = "/main"
    }

</script>

</body>

</html>