.dataTables_length {
    margin-left: 1410px;
}

/* .dataTables_wrapper .dataTables_filter {
		
	
	} */

table.dataTable.display {
    cursor: pointer;
}

button {

    float: left;
    /* background-color: red; */
    margin-left: 5px;
    width: 70px;
    height: 30px;
    cursor: pointer;
}

.alLeft {
    text-align: left;
}

.alRight {
    text-align: right;
}

.popup {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 5;
    transform: translate(-50%, -50%);
    width: 1800px;
    height:1000px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #fff;
    border-radius: 5px;
    text-align: right;
    padding: 20px;
    box-sizing: border-box;
    transition: all 0.5s;

}
.popup_title {
    float: left;
    font-weight: bold;
}