
.prev-month,
.next-month{
    background: white;
    border: none;
}

.prev-month img,
.next-month img
{
    width: 15px;
}

.calendar {
    width: 90%;
    margin: 20px auto;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

#month-year{
    font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,Apple SD Gothic Neo,sans-serif;
    width: 200px;
    padding-left: 20px;
    padding-right: 20px;
}

.month {
    font-family: 'Roboto Mono', monospace;
    height: 30px;
    /*  */
    text-align: center;
    display: flex;
    background-color: white;
    color: black;
    font-size: 13px;
    padding: 10px;
    justify-content: center; /* 가로 방향 가운데 정렬 추가 */
    align-items: center; /* 세로 방향 가운데 정렬 추가 */
    line-height: 1; /* line-height를 1로 설정하여 텍스트를 수직으로 정렬 */
}

.days {
    display: flex;
    background-color: #f0f0f0;
    padding: 5px;
}

.day {
    flex: 1;
    padding: 10px;
}

.dates {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 10px;
    font-size: 20px;
}

.dates button {
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    width: 40px;
    height: 50px;
    text-align: center;
    border: none;
    /*margin: 5px;*/
    border-radius: 0%;
    cursor: pointer;

}

.dates button span {
    display: block;
    line-height: 1.2;
    font-size: 20px;
}


.date:hover {
    background-color: #333;
    color: #fff;
}

.dates button.selected {

    border-bottom: 4px solid #3f76ff;
    font-weight:bolder;
    color: #3f76ff;
}
