.paper-main {
    width: 40%;
    height: 1250px;
    margin-left: 600px;
    padding-right: 200px;
    border: 1px solid rgb(172, 168, 168);
}
.text-header1{
    border: 1px solid rgb(172, 168, 168);
    margin-top: 50px;
    margin-left: 100px;
    width: 1000px;                                                      
    height: 200px;
    text-align: center;
}

.text-header1 tr,td{
    border: 1px solid rgb(172, 168, 168);
  
}

.text-header2{
    border: 1px solid rgb(172, 168, 168);
    margin-top: 10px;
    margin-left: 100px;
    width: 1000px;
    height: 200px;
    text-align: center;
}
.text-header3{
    border: 1px solid rgb(172, 168, 168);
    margin-top: 10px;
    margin-left: 100px;
    width: 1000px;
    height: 50px;
    text-align: center;
}
.text-header4{
    border: 1px solid rgb(172, 168, 168);
    margin-top: 10px;
    margin-left: 100px;
    width: 1000px;
    height: 600px;
    text-align: center;
}


.text-header5{
    border: 1px solid rgb(172, 168, 168);
    margin-top: 10px;
    margin-left: 100px;
    width: 1000px;
    height: 50px;
    text-align: center;
}
table,
td,
th {
    border: 1px solid gray;
    border-collapse: collapse;
    border-spacing: 2px;
    padding: 10px;
}
.text-header4-table{
    margin-left: 200px;
    background-color: blue;
}