.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.header-title h2 {
    margin: 0;
    font-size: 24px;
    color: #333;
}

.header-subtitle h4 {
    margin: 0;
    font-size: 18px;
    color: #777;
}