#myModal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 1000;
}

.tui-dialog-header {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.tui-dialog-title {
    font-size: 16px;
}

.tui-dialog-body {
    padding: 20px;
}

.inputlabel {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.inputtext {
    width: 95%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.tui-dialog-footer {
    padding: 10px;
    text-align: right;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.tui-dialog-action-btn,
.tui-dialog-close-btn {
    padding: 8px 16px;
    margin: 0 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}

.tui-dialog-action-btn {
    background-color: #3498db;
    color: #fff;
}

.tui-dialog-close-btn {
    background-color: #e74c3c;
    color: #fff;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.new-registration-button {
    background-color: #878a88;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    margin-left: 10px;
}

.new-registration-button:hover {
    background-color: #e0e2e1;
    color: black;
}