.title{
    border-bottom: 1px solid rgb(207, 207, 207);
    margin-left: 0px;
}

.title-htag{
    margin-left: 10px;
}
.index_div {
    border: 1px solid black;
}
table,
    td,
    th {
        border: 1px solid gray;
        border-collapse: collapse;
        border-spacing: 2px;
        padding: 10px;
    }

    tfoot {
        text-align: center;
    }

    .a {

        width: 10%;
    }

    thead {
        background-color: whitesmoke;
    }
table {
    border: 1px solid black;
}

th {
    border: 1px solid black;
}

td {
    border: 1px solid black;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

body {

    background: #f5f7fb;
}

hr {
    border: 1px solid rgb(207, 207, 207);
}

.btn {
    display: block;
    width: 200px;
    height: 50px;
    background: #4ac4f3;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: #fff;
    border-radius: 50px;
}

.popup_title {
    float: left;
    font-weight: bold;
}

.popup {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 5;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 1000px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #fff;
    border-radius: 5px;
    text-align: right;
    padding: 20px;
    box-sizing: border-box;
    transition: all 0.5s;

}

.pop_content {
    text-align: left;
    border: 1px solid rgb(199, 199, 199);
    margin-top: 30px;
    height: 90%;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 3px 3px 0px 0px rgb(242, 242, 242);
}

.pop_content .search {

    width: 100%;
    height: 5%;

}

.pop_content .search .search_textbox {
    padding-left: 10px;
    height: 80%;
    font-size: 16px;
}

.pop_content .search .search_button {
    height: 90%;
    width: 80px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
}

.pop_content .search .search_button:hover {
    color: rgb(56, 42, 255);
}


.popup a {
    color: rgb(41, 41, 41);
    text-decoration: none;

}

.popup:target {
    opacity: 1;

}

.popup:target+.dim {
    opacity: 1;
    z-index: 2;
}

.button1 {
    width: 100px;
    height: 100px;

}

.input_button {
    background: rgb(74, 148, 236);
    color: white;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border: none;
    border-radius: 5px;
    width: 70px;
    height: 30px;
    font-weight: 600;
    box-shadow: 3px 3px 0px 0px rgb(242, 242, 242);
    cursor: pointer;
}

.close_button {
    background: red;
    color: white;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border: none;
    border-radius: 5px;
    width: 70px;
    height: 30px;
    font-weight: 600;
    box-shadow: 3px 3px 0px 0px rgb(242, 242, 242);
    cursor: pointer;
}

.house-header {
    width: 100%;
    height: 50px;
   
}

.house-body {
    width: 100%;
    height: auto;
    
}
.house-table{
    width: 100%;
    height: auto;


}
.house-bottom{
    width: 100%;
    height: 40px;
  
}

.tdLineStyle{
    color: blue;
    text-decoration: 1px solid blue;
    text-decoration-line: underline;
}

.tdTagStyle:hover{
    cursor: pointer;
}
.sales-bottom-insert{
    background-color: rgb(38, 90, 153); 
    color: white;
    width:100px;
    height: 35px;
    border-radius: 7px;
    /* border: 1px solid gray; */
    border: none;
    box-shadow: 3px 3px 0px 0px rgb(242, 242, 242);
 }
 
 .sales-bottom-delete{
     background-color: rgb(241, 241, 241); 
     color: black;
     width:100px;
     height: 35px;
     border-radius: 7px;
     border: 1px solid rgb(185, 184, 184);
     /* border: none; */
     box-shadow: 3px 3px 0px 0px rgb(242, 242, 242);
  }
 
   /* 로딩창 */
.loading_pop {
    /* display: none; */
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 5;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 250px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #fff;
    border-radius: 20px;
    box-sizing: border-box;
    transition: all 0.5s;
    opacity: 0.6;
    text-align: center;
    padding-top: 30px;
    animation-name: myAnimation;
    animation-duration: 1000ms;
    animation-fill-mode: forwards;

}

.loading_pop h3{
    font-size: 24px;
}

@keyframes myAnimation{
    0%{
    display: block;
    left: 50%;
    top: 50%;

    opacity: 1;
      /* transform: rotateX(90deg); */
    }
    20%{
        opacity: 0.8;
        /* transform: rotateX(90deg); */
    }
    40%{
        opacity: 0.6;
        /* transform: rotateX(90deg); */
    }
    60%{
      opacity: 0.4;
      /* transform: rotateX(0deg); */
    }
    80%{
        opacity: 0.2;
        /* transform: rotateX(0deg); */
    }
    100%{
      display: none;
      opacity: 0;
      /* transform: rotateX(90deg); */
    }
  }

  .sales-bottom-insert{
    background-color: rgb(38, 90, 153); 
    color: white;
    height: 35px;
    border-radius: 7px;
    width:100px;
    border: none;
    box-shadow: 3px 3px 0px 0px rgb(242, 242, 242);
 }
 
 .sales-bottom-delete{
     background-color: red; 
     color: white;
     height: 35px;
     border-radius: 7px;
     border: 1px solid rgb(185, 184, 184);
     width:100px;
     box-shadow: 3px 3px 0px 0px rgb(242, 242, 242);
  }
 
  .sales-excel{
     background-color: rgb(41, 158, 109); 
     color: white;
     height: 35px;
     border-radius: 7px;
     width:100px;
     border: none;
     box-shadow: 3px 3px 0px 0px rgb(242, 242, 242);
  }
  tr{
    cursor: pointer;
  }
    tr:hover {
        background-color:rgb(226, 220, 220)
        
    }