.index_div {
    border: 1px solid black;
}
table,
    td,
    th {
        border: 1px solid gray;
        border-collapse: collapse;
        border-spacing: 2px;
        padding: 10px;
    }

    tfoot {
        text-align: center;
    }

    .a {

        width: 10%;
    }

    thead {
        background-color: whitesmoke;
    }
table {
    border: 1px solid black;
}

th {
    border: 1px solid black;
}

td {
    border: 1px solid black;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

body {

    background: #f5f7fb;
}

hr {
    border: 1px solid rgb(207, 207, 207);
}

.title{
    border-bottom: 1px solid rgb(207, 207, 207);
    margin-left: 0px;
}

.title-htag{
    margin-left: 10px;
}

 /* 로딩창 */
 .loading_pop {
    /* display: none; */
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 5;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 250px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #fff;
    border-radius: 20px;
    box-sizing: border-box;
    transition: all 0.5s;
    opacity: 0.6;
    text-align: center;
    padding-top: 30px;
    animation-name: myAnimation;
    animation-duration: 1000ms;
    animation-fill-mode: forwards;

}

.loading_pop h3{
    font-size: 24px;
}

@keyframes myAnimation{
    0%{
    display: block;
    left: 50%;
    top: 50%;

    opacity: 1;
      /* transform: rotateX(90deg); */
    }
    20%{
        opacity: 0.8;
        /* transform: rotateX(90deg); */
    }
    40%{
        opacity: 0.6;
        /* transform: rotateX(90deg); */
    }
    60%{
      opacity: 0.4;
      /* transform: rotateX(0deg); */
    }
    80%{
        opacity: 0.2;
        /* transform: rotateX(0deg); */
    }
    100%{
      display: none;
      opacity: 0;
      /* transform: rotateX(90deg); */
    }
  }

  .sales-bottom-insert{
    background-color: rgb(38, 90, 153); 
    color: white;
    height: 35px;
    border-radius: 7px;
    width:100px;
    border: none;
    box-shadow: 3px 3px 0px 0px rgb(242, 242, 242);
 }
 
 .sales-bottom-delete{
     background-color: red; 
     color: white;
     height: 35px;
     border-radius: 7px;
     border: 1px solid rgb(185, 184, 184);
     width:100px;
     box-shadow: 3px 3px 0px 0px rgb(242, 242, 242);
  }
 
  .sales-excel{
     background-color: rgb(41, 158, 109); 
     color: white;
     height: 35px;
     border-radius: 7px;
     width:100px;
     border: none;
     box-shadow: 3px 3px 0px 0px rgb(242, 242, 242);
  }
  tr{
    cursor: pointer;
  }
    tr:hover {
        background-color:rgb(226, 220, 220)
        
    }