body{
    padding: 0px;
    margin: 0px;
    font-family: 'Noto Sans KR', sans-serif;    
}
.login_main{
    width: 40%;
    height:280px; 
    margin-left: auto;
    margin-right: auto;
 

}
.login_main_div {
    width: 70%;
    height: 120%;
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border: 1px solid silver;
    text-align: center;
    padding-bottom: 50px;
    border-radius : 20px;
    box-shadow: 1px 1px 0px 0px rgb(219, 218, 218);

}
.login_main_logo_div{
    font-size: 24px;
}
#login_id, #login_password{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom:5px;
    height: 30px;
    border: 1px solid rgb(196, 194, 194);
    width: 70%;
    font-size: 17px;
    color: rgb(106, 105, 105);
    border-radius : 5px;
    box-shadow: 1px 1px 0px 0px rgb(219, 218, 218);
}

.login_button{

    height: 50px;
    width : 74%;
    background-color : navy;
    color : white;
    border: none;
    border-radius: 5px;
    font-size : 15px;
    cursor : pointer;
    box-shadow: 1px 1px 0px 0px rgb(219, 218, 218);
    margin-top: 50px;

}
.join_button{
    height: 50px;
    width : 74%;
    background-color : gray;
    color : white;
    border: none;
    border-radius: 5px;
    font-size : 15px;
    cursor : pointer;
    box-shadow: 1px 1px 0px 0px rgb(219, 218, 218);
    margin-top: 10px;
}

.login_button, .join_button{
    font-size: 18px;
    font-weight: bold;
  
}

.login_sub_div{
    color: gray;
    text-align: center;
    /* background-color: red; */
    margin-top: 20px;
    width: 30%;
    height:280px; 
    margin-left: auto;
    margin-right: auto;
}

#wrap {
    min-height: 52vh;
    position: relative;
    width: 100%;
}

footer {
    font-size: 14px;
    text-align: center;
    color: balck;
    background-color : rgb(166, 166, 166);
	width: 100%;
	height: 110px; /* 내용물에 따라 알맞는 값 설정 */
	bottom: 0px;
	position: absolute;
}

.header{
    width: 100%;
    min-height: 3vh;
    /* background-color : rgb(172, 172, 172); */
    border-bottom: 1px gray ;
    padding-top: 12px;
    box-shadow: 0px 3px 0px 0px rgb(219, 218, 218);
    background-color : rgb(52, 52, 95);
}

.header a{
    font-weight: bold;
    margin-left: 10px;
    color: white;
}