body {
    padding: 0px;
    margin: 0px;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

.login_main_div {
    width: calc(100% - 600px);
    height: calc(100vh - 150px); /* 뷰포트 높이(VH)로 화면 높이에 맞게 설정합니다. */
    background-color: white; /* 배경색을 원하는 색상으로 설정합니다. */
    padding-top: 150px;
    padding-left: 300px;
    padding-right: 300px;
}

.header {
    width: 100%; /* 가로 너비를 부모 요소의 100%로 설정합니다. */
    flex: 0 0 100%; /* 왼쪽 영역 (50% 너비) */
    height: 100vh; /* 세로 높이를 뷰포트 높이의 100%로 설정합니다. */
    display: flex; /* 내부 컨텐츠를 수평 및 수직으로 가운데 정렬하기 위해 flex 컨테이너로 설정합니다. */
    flex-direction: column; /* 내부 컨텐츠를 세로로 배치합니다. */
    justify-content: center; /* 수직 정렬을 중앙으로 설정합니다. */
    align-items: center; /* 수평 정렬을 중앙으로 설정합니다. */
    background-color: gainsboro;
    position: relative;

}

.header_img {
    width: 100%;
    height: 100%;
    opacity: 0.3; /* 0에서 1 사이의 값을 지정 (0이 투명, 1이 불투명) */
}

.header a {
    position: absolute; /* 자식 요소인 <a> 태그를 절대 위치로 설정 */
    top: 31%; /* 위쪽으로 붙이려면 top 값을 0으로 설정 */
    left: 13%; /* 왼쪽으로 붙이려면 left 값을 0으로 설정 */
    font-size: 60px;
    font-weight: 800;
    /*text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); !* 텍스트 쉐도우 설정 *!*/
    /*color: #313131;*/
    /*font-size: 6em;*/
    text-align: center;
    color: #1e1e1e;
    text-shadow: 5px 5px #d5d5d5;
    margin: 0;
    /*text-decoration: line-through;*/
    /*text-decoration-color: #EE5152;*/
}

.header p {
    position: absolute; /* 자식 요소인 <a> 태그를 절대 위치로 설정 */
    top: 40%; /* 위쪽으로 붙이려면 top 값을 0으로 설정 */
    left: 13%; /* 왼쪽으로 붙이려면 left 값을 0으로 설정 */
    font-size: 22px;
    color: #505050;
    width: 80%;
    font-weight: 600;
    /*text-decoration: line-through;*/
    /*text-decoration-color: #EE5152;*/
}


.header_logo_img {
    position: absolute; /* 자식 요소인 <a> 태그를 절대 위치로 설정 */
    width: 20%;
    top: 25%; /* 위쪽으로 붙이려면 top 값을 0으로 설정 */
    left: 13%; /* 왼쪽으로 붙이려면 left 값을 0으로 설정 */
    opacity: 0.8;
}

.login_main {
    display: grid; /* Grid 레이아웃 사용 */
    grid-template-columns: 40% 1fr; /* 왼쪽 50%, 오른쪽 나머지 부분 */
    gap: 0; /* 그리드 간격 설정 (원하는 대로 조절 가능) */
}

.login_main_logo_div {
    text-align: center;
}

.login_main_logo_div p {
    font-size: 50px;
    font-weight: 700;
    color: #2f2f2f;
}



.login_main_id_div,
.login_main_password_div
{
    border: 1px solid #e4e4e7;
    border-radius: 10px;
    display: flex; /* Flexbox 레이아웃을 사용합니다. */
    align-items: center; /* 수직 정렬을 중앙으로 설정합니다. */
    width: 100%;
    padding-left: 20px;
    box-shadow: 1px 1px 1px #e4e4e7;
}

.login_main_password_div{
    margin-top: 20px;
}

.login_main_password_div label
{
    font-size: 20px;
    color: gray;
    font-weight: 600;
    /*flex: 1; !* 라벨이 남은 공간을 모두 차지하도록 설정합니다. *!*/
}

.login_main_id_div label{
    font-size: 20px;
    color: gray;
    font-weight: 600;
}

.login_main_id_div input[type="text"],
.login_main_password_div input[type="password"]

{
    flex: 2; /* 입력 필드가 라벨의 두 배의 너비를 가지도록 설정합니다. */
    width: 70%;
    height: 70px;
    padding-left: 10px;
    font-size: 20px;
    border: none;
    outline: none;
    border-radius: 10px;
    margin-left: 20px; /* 라벨과 입력 필드 사이에 여백을 추가합니다. */

}

.login_main_button{
    width: 100%;
}

.login_main_button button{
    width: calc(100% + 20px);
    height: 70px;
    border: 0 solid #e4e4e7;
    background-color: rgb(63 63 70);
    font-size: 20px;
    color: white;
    border-radius: 15px;
    margin-top: 150px;
}

/*.login_main{*/
/*    width: 40%;*/
/*    height:280px; */
/*    margin-left: auto;*/
/*    margin-right: auto;*/
/* */

/*}*/
/*.login_main_div {*/
/*    width: 70%;*/
/*    height: 120%;*/
/*    margin-top: 20%;*/
/*    margin-left: auto;*/
/*    margin-right: auto;*/
/*    background-color: white;*/
/*    border: 1px solid silver;*/
/*    text-align: center;*/
/*    padding-bottom: 50px;*/
/*    border-radius : 20px;*/
/*    box-shadow: 1px 1px 0px 0px rgb(219, 218, 218);*/

/*}*/
/*.login_main_logo_div{*/
/*    font-size: 24px;*/
/*}*/
/*#login_id, #login_password{*/
/*    padding-left: 10px;*/
/*    padding-right: 10px;*/
/*    padding-top: 5px;*/
/*    padding-bottom:5px;*/
/*    height: 30px;*/
/*    border: 1px solid rgb(196, 194, 194);*/
/*    width: 70%;*/
/*    font-size: 17px;*/
/*    color: rgb(106, 105, 105);*/
/*    border-radius : 5px;*/
/*    box-shadow: 1px 1px 0px 0px rgb(219, 218, 218);*/
/*}*/

/*.login_button{*/

/*    height: 50px;*/
/*    width : 74%;*/
/*    background-color : navy;*/
/*    color : white;*/
/*    border: none;*/
/*    border-radius: 5px;*/
/*    font-size : 15px;*/
/*    cursor : pointer;*/
/*    box-shadow: 1px 1px 0px 0px rgb(219, 218, 218);*/
/*    margin-top: 50px;*/

/*}*/
/*.join_button{*/
/*    height: 50px;*/
/*    width : 74%;*/
/*    background-color : gray;*/
/*    color : white;*/
/*    border: none;*/
/*    border-radius: 5px;*/
/*    font-size : 15px;*/
/*    cursor : pointer;*/
/*    box-shadow: 1px 1px 0px 0px rgb(219, 218, 218);*/
/*    margin-top: 10px;*/
/*}*/

/*.login_button, .join_button{*/
/*    font-size: 18px;*/
/*    font-weight: bold;*/
/*  */
/*}*/

/*.login_sub_div{*/
/*    color: gray;*/
/*    text-align: center;*/
/*    !* background-color: red; *!*/
/*    margin-top: 20px;*/
/*    width: 30%;*/
/*    height:280px; */
/*    margin-left: auto;*/
/*    margin-right: auto;*/
/*}*/

/*#wrap {*/
/*    min-height: 52vh;*/
/*    position: relative;*/
/*    width: 100%;*/
/*}*/

/*footer {*/
/*    font-size: 14px;*/
/*    text-align: center;*/
/*    color: balck;*/
/*    background-color : rgb(166, 166, 166);*/
/*	width: 100%;*/
/*	height: 110px; !* 내용물에 따라 알맞는 값 설정 *!*/
/*	bottom: 0px;*/
/*	position: absolute;*/
/*}*/

/*.header{*/
/*    width: 100%;*/
/*    min-height: 3vh;*/
/*    !* background-color : rgb(172, 172, 172); *!*/
/*    border-bottom: 1px gray ;*/
/*    padding-top: 12px;*/
/*    box-shadow: 0px 3px 0px 0px rgb(219, 218, 218);*/
/*    background-color : rgb(52, 52, 95);*/
/*}*/

/*.header a{*/
/*    font-weight: bold;*/
/*    margin-left: 10px;*/
/*    color: white;*/
/*}*/