@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500&display=swap');
body {
    padding: 0;
    margin: 0;
    background-color: white;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
  }
  
  h1 {
    /* font-family: "Century Gothic"; */
    /* margin: 30px auto 30px auto; */
    color: white;
    width: 100%;
    text-align: center;
  }
  
  ul.menu {
    padding: 0;
    list-style: none;
    width: 260px;
    /* margin: 20px auto; */
    /* font-family: "Century Gothic"; */
    clear: both;
    display: table;
    /* margin-bottom: 100px; */
    margin-top: 0px;
    /* border: 1px solid gray; */
  }
  ul.menu .list {
    font-size: 14px;

    position: relative;
    width: 100%;
    box-sizing: border-box;
    /* height: 50px; */
    vertical-align: sub;
    background: white;
    clear: both;
  }
  ul.menu .list:after {
    /* content: ""; */
    /* font-family: FontAwesome; */
    position: absolute;
    right: 17px;
    top: 17px;
    padding: 0px 5px;
    color: #444444;
  }
  ul.menu .list:before {
    /* content: ""; */
    /* font-family: FontAwesome; */
    position: absolute;
    left: 17px;
    top: 17px;
    padding: 0px 5px;
    color: #444444
  }
  ul.menu .list a {
    text-decoration: none;
    color: #444444;
    padding: 17px 0px 17px 45px;
    display: block;
    height: 100%;
    box-sizing: border-box;
  }
  ul.menu .list a:hover {
    background-color: #EBEDF4;
    transition: 300ms all;
    color: #444444;
    cursor: pointer;
  }
  ul.menu .list .items {
    height: 0px;
    overflow: hidden;
  }
  ul.menu .list .items a {
    padding: 17px;
  }
  ul.menu .list .items a:hover {
    background-color: #EBEDF4;
    color: #444444;
    transition: 300ms all;
  }
  ul.menu .list:last-child {
    border-bottom: none;
  }
  ul.menu .active:after {
    /* content: ""; */
    /* font-family: FontAwesome; */
    position: absolute;
    right: 17px;
    top: 17px;
    padding: 0px 5px;
    color: #444444;
  }
  ul.menu .active:before {
    /* content: ""; */
    /* font-family: FontAwesome; */
    position: absolute;
    left: 17px;
    top: 17px;
    padding: 0px 5px;
    color: #444444;
  }
  ul.menu .active > .items {
    display: block;
    background: white;
    padding: 0px;
    height: auto;
    color: #444444;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: all 200ms;
    clear: both;
    float: left;
    width: 100%;
  }
  ul.menu .active > .items li {
    padding: 0px;
    /* border-bottom: 1px solid #324252; */
    list-style: none;
  }
  ul.menu .active > .items li:last-child {
    border-color: transparent;
    padding-bottom: 0px;
  }
  ul.menu .active > .items .active > .items {
    background-color: white;
  }
  ul.menu .active > a {
    color: #444444;
    background-color: #EBEDF4;
    text-transform: uppercase;
    font-weight: 600;
  }
  ul.menu .active .list {
    background: white;
  }
  ul.menu .active .list a {
    padding: 17px 0px 17px 45px;
  }
  #footer_main {
   
    font-size: 14px;
    text-align: center;
    color: balck;
    background-color : whitesmoke;
	width: 89%;
	height: 110px; /* 내용물에 따라 알맞는 값 설정 */
	bottom: 0px;
	position: absolute;
}
#img_logo{
  cursor: pointer;
}
