#editModal1 {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 80%;
    background-color: #f2f3f5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1001;
}

#materialnamesearch,
#materialnamesearchedit,
#customernamesearch {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: auto;
    background-color: #f2f3f5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1002;
}

#editModal,
#editModal2 {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 80%;
    background-color: #f2f3f5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

#editModal4 {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20%;
    height: 20%;
    background-color: #f2f3f5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1004;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#materialnamesearch .close,
#materialnamesearchedit .close,
#customernamesearch .close,
#editModal .close,
#editModal4 .close,
#editModal1 .close,
#editModal2 .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}


#overlay,
#overlay2 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.mainheader {
    background: #495164;
    height: 50px;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding: 0 20px;
}

.mainheader h1 {
    color: #fff;
    font-size: 18px;
    margin: 0;
}

table {
    border: 1px solid silver;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 16px;

}

.tooltable {
    border: 1px solid silver;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 16px;
}

td {

    border: 1px solid #ddd;
    padding: -5px;
    text-align: center;
    font-weight: bold;
}

th {
    font-weight: bold;
    border: 1px solid #ddd;
    padding: 5px;
    text-align: center;
    color: black;
}

textarea {
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
    font-size: 15px;
    font-weight: bold;
}

#searchingmaterialinfobody tr:hover {
    background-color: rgb(204, 201, 201);
    cursor: pointer;
}
#searchingmaterialinfobody-edit tr:hover {
    background-color: rgb(204, 201, 201);
    cursor: pointer;
}

#searchingcustomernameinfobody tr:hover {
    background-color: rgb(204, 201, 201);
    cursor: pointer;
}






