.tui-grid-cell .tui-grid-cell-has-input :hover {
    background-color: #ff0000;
}

.tui-grid-header-area {
    position: sticky;
    top: 0;
    z-index: 1;
}

.tui-grid-cell .tui-grid-cell-header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 2;
}

.tui-grid-cell,
.tui-grid-cell-header {
    font-size: 14px !important;
    font-family: 'Roboto', sans-serif;
}


.tui-grid-body-area .tui-grid-cell {
    font-size: 16px !important;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;

}

.tui-grid-row-odd:hover .tui-grid-cell {
    background-color: rgb(235, 231, 231);
    color: black;
    cursor: pointer;
}

.tui-grid-row-even:hover .tui-grid-cell {
    background-color: rgb(235, 231, 231);
    color: black;
    cursor: pointer;

}

.menu-title {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    background-color: #f8f8f8;
    padding: 10px;
    /* text-align: center; */
    border-bottom: 1px solid #ccc;
    /* Add a border for separation */
}

.menu-title i {
    margin-right: 10px;
    /* Adjust spacing between icon and text */
}

.search-container {
    margin: 10px 0;
    /* text-align: center; */
}

.search-label {
    font-size: 18px;
    margin-right: 5px;
    color: #333;
    font-weight: bold;
}

.search-input-wrapper {
    display: inline-flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
    width: 300px;
    /* Adjust the width as needed */
}

#search {
    flex: 1;
    padding: 10px;
    border: none;
    font-size: 14px;
    outline: none;
}

.search-icon {
    padding: 10px;
    background-color: #eee;
    color: #333;
    cursor: pointer;
}

#grid {
    max-height: 90%;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.export-container {
    text-align: center;
    margin-top: 10px;
}

#excelbutton {
    padding: 10px;
    background-color: #225524;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100px;
}

#excelbutton:hover {
    background-color: #6da170;
}