.main_header {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    font-size: 23px;
    color: #555;
    font-weight: 600;
}

.main_header a {
    margin-left: 40px;
}

#datatable {
    white-space: nowrap;
}

#tableHead {
    position: sticky;
    top: 0;
    background-color: #f2f2f2;
    /* Set the background color as desired */
}

#Datatbody tr:hover {
    background-color: #e0e0e0;
    /* Set the background color as desired */
    cursor: pointer;
}

#datatable th,
#datatable td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;

}

.styled-table,
.styled-table1,
.styled-table2 {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid silver;
}

.styled-table th,
.styled-table td,
.styled-table1 th,
.styled-table1 td,
.styled-table2 th,
.styled-table2 td {
    border: 1px solid silver;
    padding: 8px;
    text-align: center;
}

.styled-table th:hover,
.styled-table1 th:hover,
.styled-table2 th:hover {
    background-color: silver;
    color: black;
}

.styled-table th,
.styled-table1 th,
.styled-table2 th {
    background-color: #626066;
    color: white;
    font-weight: 500;
    cursor: pointer;
}

.styled-table td,
.styled-table1 td,
.styled-table2 td {
    font-size: 17px;
    font-weight: 500;
}

.styled-table tbody tr:nth-child(even),
.styled-table1 tbody tr:nth-child(even), 
.styled-table2 tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

#loadingOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

fieldset {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    height: 80px;
}

legend {
    font-size: 16px;
    font-weight: bold;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

#searchselect1,
#searchselect2 {
    margin-left: 20px;
    width: 250px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}