 /* CSS 스타일은 여기에 추가합니다. */
 .container {
     margin: 0 auto;
     width: 210mm;
     height: 297mm;
     padding: 10px;
     border: 1px solid #ccc;
     border-radius: 10px;
     background-color: #f9f9f9;
     box-sizing: border-box;
 }

 h2 {
     text-align: center;
     margin-top: 0;
 }

 table {
     width: 100%;
     border-collapse: collapse;
     margin-bottom: 5px;
 }

 th,
 td {
     border: 1px solid #ddd;
     padding: 4px;
     text-align: center;
 }

 th {
     width: 140px;
     background-color: #f2f2f2;
 }

 tbody tr:nth-child(even) {
     background-color: #f2f2f2;
 }

 tbody tr:hover {
     background-color: #ddd;
 }

 .container {
     width: 210mm;
     height: 297mm;
     margin: 0 auto;
     padding: 20px;
     border: none;
 }


 table {
     font-size: 10px;
 }

 th,
 td {
     border: 1px solid rgb(78, 78, 78);
     padding: 8px;
     height: 1px;
     text-align: center;
     -webkit-print-color-adjust: exact;
     color-adjust: exact;
 }

 th {
     background-color: rgb(206, 231, 248);
 }

 @media print {
     .container {
         width: 210mm;
         height: 297mm;
         margin: 0 auto;
         padding: 15px;
         border: none;
     }

     button {
         display: none;
     }

     table {
         font-size: 6px;
     }

     th,
     td {
         border: 1px solid rgb(78, 78, 78);
         padding: 6px;
         height: 1px;
         text-align: center;
         -webkit-print-color-adjust: exact;
         color-adjust: exact;
     }

     th {
         background-color: rgb(206, 231, 248);
     }
 }

 .qr-code-container {
     position: fixed;
     top: 10px;
     right: 10px;
 }