body {
    overflow-y: auto;
    height: auto;
}

ul.tree {
    width: auto;
    height: auto;
    padding-top: 5px;
    padding-left: 5px;
    list-style-type: none; /* 트리 선 없애기 */
    
}

ul.tree > li {
    margin-top: 30px;
    position: relative;
    padding: 10px;
    list-style-type: none; /* 트리 선 없애기 */
    width: 100%;
    border-bottom: 1px solid rgb(72, 72, 72);
}

li:before,
li:after {
    content: '';
    position: absolute;
    left: -28px;
    background-color: #979797;
}

li:before {
    list-style-type: none; /* 트리 선 없애기 */

}

details[open] > ul {
    height: auto;
}


li:after {
    list-style-type: none; /* 트리 선 없애기 */

    top: -14px;
}


li.parent:after {
    margin: 0 auto;
<<<<<<< HEAD
     height: 100%;
    /*top: 12px; */
=======
    height: auto;
    max-height: 9999px;
    /*!* height: 100%;*/
    /*top: 12px; *!*/
>>>>>>> 4edf58349687d78abf495c1ad1c747c1948530c0
}

li.parent:last-child:after {
    content: none;
}

details {
    margin: 0 auto;
    max-height: 18px;
    transition: max-height 1s linear;
}

details[open] {
    max-height: 1600px;
}

summary {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 18px;
    padding: 1px 10px;
    margin-top: -12px;
}

summary:before {
    /* content: '+'; */
    width: 100%;
    position: absolute;
    height: 24px;
    width: 25px;
    top: 0;
    left: -22px;
    text-align: center;
    line-height: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #363f94;
    border-radius: 2px;
}

details[open] > ul li {
    width: 100%;
    /* background-color: red; */
    margin-bottom: 10px;
    padding: 3px 9px;
    display: inline-block;
    margin-bottom:20px;
    padding: 13px 19px;
    margin-left: -5px;
    height: 100%;
}

details[open] > ul li  summary{
    padding: 13px 19px;
    width: 100%;
    background-color: rgb(53, 56, 96);
    border-radius: 20px 0 0 20px;
    height: 100%;

}

details > ul {
    list-style-type: none; /* 트리 선 없애기 */
    padding: 15px;
    
}

#parent_last{
    margin-bottom: 50px;
    height: 2000px;
}