.dataTables_length {
margin-left: 15px;
	
	
}

/* .dataTables_wrapper .dataTables_filter {
		
	
	} */
#fileinfo_wrapper{
	margin-top: 30px;
}
table.dataTable.display {
	cursor: pointer;
}

button {

	float: left;
	/* margin-top:10px; */
	/* margin-left: 5px; */
	width: 70px;
	height: 30px;
	cursor: pointer;
	font-weight: bold;
}
.alLeft{
	text-align: left;
}
.alRight{
	text-align: right;
	
}
