h2 {
    color: rgb(77, 77, 77);
}

#maintable tbody {
    max-height: 90%;
    overflow-y: auto;
    /* 테이블의 tbody에만 스크롤 허용 */
}

.table-wrapper {
    max-height: 80%;
    overflow-y: auto;
    border-bottom: 1px solid #ddd;
    border-collapse: collapse;
    /* Collapses the table borders to avoid double borders between cells */

}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}


.btninfo:hover {
    cursor: pointer;
}

#maintable thead {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #f7f6f6;
}


th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    font-size: 24px;

}

td {
    font-size: 14px;
    font-weight: bold;
}

tr:hover {
    background-color: rgb(217, 244, 253);
}

tfoot:hover {
    background-color: inherit;
}

th {
    background-color: #f8f7f7;
    width: 60px;
    font-size: 15px;
}

input {
    width: 90%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
    font-weight: bold;
}

select {
    width: 60%;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
    font-weight: bold;
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 40%;
}

.modal1 {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1002;
    width: 50%;
}

/* Modal Content */
.modal-content {
    max-height: 80vh;
    overflow-y: auto;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
}

#overlay1 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1001;
}

#processnamediv {
    max-height: 300px;
    overflow-y: auto;
}

#bucakcustomerdiv {
    max-height: 300px;
    overflow-y: auto;
}

.modal-footer {
    text-align: right;
}

.close-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;

}

.close-button:hover {
    background-color: #0056b3;
}

.btninfo {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
}

.btninfo:hover {
    background-color: #0056b3;
}

.delete-button {
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
}

.delete-button:hover {
    background-color: #ff5858;
}

.save-button {
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
}

.save-button:hover {
    background-color: rgb(0, 187, 0);
}

.delete-button {
    padding: 10px 20px;
    background-color: rgb(255, 0, 0);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
}

.delete-button:hover {
    background-color: rgb(255, 42, 42);
}

.add-button {
    padding: 10px 20px;
    background-color: rgb(38, 94, 247);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
}

.add-button:hover {
    background-color: rgb(70, 119, 255);
}

input[type="date"]:hover {
    cursor: pointer;
}

.search-container {
    display: flex;
    align-items: center;
}

.search-container b {
    margin-right: 10px;
}

#tableHead th {
    position: sticky;
    top: 0;
    z-index: 1;
    /* 다른 요소 위에 표시되도록 z-index 설정 */
    background-color: #f7f6f6;
    /* 테이블 배경과 겹치는 것을 방지하기 위해 필요한 배경색 설정 */
}