<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>원단 수입검사 성적서</title>
    <style>
        /* CSS를 이용하여 표 스타일을 조정합니다. */
        table {
            border-collapse: collapse;
            width: 50%;
        }

        th,
        td {
            border: 1px solid black;
            padding: 8px;
            text-align: center;
        }

        th {
            background-color: #faf897;
        }
    </style>
</head>

<body>

    <h2>원단 정보</h2>
    <table>
        <tr>
            <th>입고 일</th>
            <td>2024-03-06</td>
            <th>검사 일</th>
            <td>2024-03-06</td>
        </tr>
        <tr>
            <th>원 단 명</th>
            <td>TSU0041SI-35DL</td>
            <th>Lot No</th>
            <td>240227</td>
        </tr>
        <tr>
            <th>원단 대리점</th>
            <td>다온첨단소재</td>
            <th>검사 기준</th>
            <td>AQL S2-0.4</td>
        </tr>
        <tr>
            <th>원단 제조처</th>
            <td>다온첨단소재</td>
            <th>입고 롤 / 검사 수</th>
            <td>1 / 1</td>
        </tr>
    </table>

    <!-- 외관검사 -->
    <h2>외관검사</h2>
    <table>
        <tr>
            <th>구 분</th>
            <th>검사항목</th>
            <th>판정기준</th>
            <th>판정</th>
        </tr>
        <!-- 여러 외관검사 아이템 추가 가능 -->
        <tr>
            <td rowspan="6">외관검사</td>

        </tr>

        <tr>
            <td>오염</td>
            <td>사용상 문제 없을것</td>
            <td>OK</td>


        </tr>
        <tr>
            <td>이물</td>
            <td>이물 없을것</td>
            <td>OK</td>

        </tr>
        <tr>
            <td>색상</td>
            <td>색상한도 이상 없을것</td>
            <td>OK</td>

        </tr>
        <tr>
            <td>찍힘</td>
            <td>사용상 문제 없을것</td>
            <td>OK</td>

        </tr>
        <!-- 나머지 외관검사 아이템도 위와 같은 형식으로 추가 가능 -->
    </table>

    <!-- 치수검사 -->
    <h2>치수검사 (이형력, 점착력: 5EA 측정)</h2>
    <table>
        <tr>
            <th>항목</th>
            <th>규격</th>
            <th>측정치</th>
            <th>판정</th>
        </tr>
        <tr>
            <td>원단두께 (㎛)</td>
            <td>125 ± 10</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>점착력 (gf/25mm)</td>
            <td>125 ± 10</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>표면저항 (Ω)</td>
            <td>125 ± 10</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="2">특이 사항</td>
            <td colspan="2">최종 판정</td>
        </tr>
        <tr>
            <td colspan="2" style="height: 300px;"></td>
            <td colspan="2" style="height: 300px;"></td>
        </tr>
    </table>

</body>

</html>