<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="maintable" class="table-wrapper">
        <table style="border: solid 1px black;">

            <th>창고코드</th>
            <th>창고명</th>
            <th>파트</th>
            <th>파트명</th>
            <th style="width: 100px;"></th>
            <th style="width: 100px;"></th>

            <tbody id="iteminfobody">
            </tbody>
            <tfoot id="iteminfofoot">
            </tfoot>
        </table>
    </div>
</body>

</html>