<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DXF Viewer</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dxf-parser/2.6.3/dxf-parser.min.js"></script>
</head>

<body>
    <input type="file" id="file-input" accept=".dxf">
    <div id="output"></div>

    <script src="./js/dxf-parser.js"></script>
    <script>
        const fileInput = document.getElementById('file-input');
        const output = document.getElementById('output');

        fileInput.addEventListener('change', handleFileSelect, false);

        function handleFileSelect(event) {
            const file = event.target.files[0];
            const reader = new FileReader();
            reader.readAsArrayBuffer(file);

            reader.onload = function (event) {
                const arrayBuffer = event.target.result;
                const parser = new DxfParser();
                //console.log(arrayBuffer);
                const dxf = parser.parseSync(arrayBuffer);

                if (dxf === null) {
                    //console.log(parser.getErrorMessage());
                }
                output.innerHTML = JSON.stringify(dxf, null, 2);
            };
        }
    </script>
</body>

</html>