<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer information</title>
    <script data-require="jquery@2.0.3" data-semver="2.0.3" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>


    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="../assets/css/table.css" />
    <link rel="stylesheet" href="../assets/css/kaiadmin.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css" />

    <!-- Bootstrap Bundle with Popper -->
    <script src="../assets/js/core/popper.min.js"></script>
    <script src="../assets/js/core/bootstrap.min.js"></script>
    <script src="../assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
    <script src="../assets/js/plugin/datatables/datatables.min.js"></script>
    <script src="../assets/js/kaiadmin.min.js"></script>
    <script src="../assets/js/setting-demo2.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</head>

<body>
    <div class="page-inner" style="height: 150px; margin-top: 5px;">
        <div class="page-header">
            <div class="col-md-12">
                <div class="card">
                    <div class="page-inner">
                        <div class="card-header" style="border-bottom: none;">
                            <div class="d-flex align-items-center">
                                <h4 class="card-title">Thông tin khách hàng / 거래처 정보</h4>
                                <button class="btn btn-primary btn-round ms-auto" data-bs-toggle="modal" id="addButton"
                                    style="padding: 8px;">
                                    <i class="fa fa-plus"></i>
                                    thêm vào(추가)
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  

    <div style="width:100%; height:200px; overflow:auto">
        <table width="100%" class="grid" cellspacing="0" cellpadding="0">
            <thead>
                <tr>
                    <!-- <th id="datacount"></th> -->
                    <th>Tên nhà cung cấp<br>거래처명
                        <div class="filter"></div>
                    </th>
                    <th>Số đăng ký kinh doanh<br>사업자등록번호
                        <div class="filter"></div>
                    </th>
                    <th class="">Tên người đại diện<br>대표자명
                        <div class="filter"></div>
                    </th>
                    <th class="">IN<br>
                        <div class="filter"></div>
                    </th>
                    <th class="" style="width: 100px;"></th>
                </tr>
            </thead>
            <tbody id="Datatbody">
                <!-- Table rows go here -->
            </tbody>
        </table>
    </div>

</body>

<script>
    var server = '';
    console.log(window.location.hostname)
    if (window.location.hostname === '127.0.0.1' || window.location.hostname === 'localhost') {
        server = 'http://localhost:8080';
    } else {
        server = 'https://mestechon.com';
    }


    $(document).ready(function () {
        $(".grid thead td").append('<button style="float:right; " class="filter-button"><span class="filter-icon">🔍</span></button>'); // Add filter button to each header
        $(".filter-button").click(function (e) {
            e.stopPropagation();
            showFilterOption(this);
        });

        $(".grid thead td").not('.filtered-column').click(function () {
            groupData(this);
        });
        load();
    });
    function load() {
        $('#Datatbody').empty();
        $.ajax({
            type: 'POST',
            url: server + '/api/selectcustomerinfovina',
            dataType: 'json',
            success: function (data) {
                if (data.length === 0) {
                    $('#Datatbody').append(
                        '<tr><td colspan="5" style="text-align:center;">Không có dữ liệu(데이터가 없습니다)</td></tr>'
                    );
                } else {
                    for (var i = 0; i < data.length; i++) {
                        var rowData = JSON.stringify(data[i]);

                        $('#Datatbody').append(
                            '<tr>' +
                            '<td>' + data[i].customername + '</td>' +
                            '<td>' + data[i].businessregistrationnumber + '</td>' +
                            '<td>' + data[i].representativename + '</td>' +
                            '<td>' + data[i].initial + '</td>' +
                            '<td id="data-id" style="display:none;">' + data[i].id + '</td>' +
                            '<td style="text-align:center;"><button class="btn btn-primary" onclick=\'showinfo(' + rowData + ')\'>Info</button></td>' +
                            '</tr>'
                        );
                    }
                    $("#datacount").text("Data: " + data.length);
                }
            }
        });
    }



    var arrayMap = {};
    function showFilterOption(button) {
        var tdObject = $(button).parent();
        var filterGrid = $(tdObject).find(".filter");

        if (filterGrid.is(":visible")) {
            filterGrid.hide();
            return;
        }

        $(".filter").hide();

        var index = 0;
        filterGrid.empty();
        var allSelected = true;
        var contentDiv = $('<div class="filter-content"></div>');
        filterGrid.append(contentDiv);

        contentDiv.append('<div><input id="all" type="checkbox" checked>Select All</div>');

        var $rows = $(tdObject).parents("table").find("tbody tr");
        var uniqueValues = {}; // Object to store unique values

        $rows.each(function (ind, ele) {
            var currentTd = $(ele).children()[$(tdObject).attr("index")];
            var text = currentTd.innerHTML;

            // Store unique values
            if (!uniqueValues[text]) {
                uniqueValues[text] = true;
                var div = document.createElement("div");
                div.classList.add("grid-item");
                var str = $(ele).is(":visible") ? 'checked' : '';
                if ($(ele).is(":hidden")) {
                    allSelected = false;
                }
                div.innerHTML = '<input type="checkbox" ' + str + ' >' + text;
                contentDiv.append(div);
                arrayMap[index] = ele;
                index++;
            }
        });

        if (!allSelected) {
            contentDiv.find("#all").removeAttr("checked");
        }

        // Separate button container
        filterGrid.append('<div class="button-container"><input id="close" type="button" value="Close"/><input id="ok" type="button" value="Ok"/></div>');
        filterGrid.show();

        var $closeBtn = filterGrid.find("#close");
        var $okBtn = filterGrid.find("#ok");
        var $checkElems = contentDiv.find("input[type='checkbox']");
        var $gridItems = contentDiv.find(".grid-item");
        var $all = contentDiv.find("#all");

        $closeBtn.click(function () {
            filterGrid.hide();
            return false;
        });

        $okBtn.click(function () {
            var filterApplied = false;
            contentDiv.find(".grid-item").each(function (ind, ele) {
                if ($(ele).find("input").is(":checked")) {
                    $(arrayMap[ind]).show();
                } else {
                    $(arrayMap[ind]).hide();
                    filterApplied = true; // 필터가 적용된 것으로 표시
                }
            });

            if (filterApplied) {
                tdObject.addClass("filtered-column"); // 필터가 적용된 컬럼에 표시 추가
                tdObject.append('<span class="filter-icon">&#x1F50D;</span>'); // 필터 아이콘 추가
            } else {
                tdObject.removeClass("filtered-column"); // 필터 해제 시 표시 제거
                tdObject.find(".filter-icon").remove(); // 필터 아이콘 제거
            }

            filterGrid.hide();
            return false;
        });

        $checkElems.click(function (event) {
            event.stopPropagation();
        });

        $gridItems.click(function (event) {
            var chk = $(this).find("input[type='checkbox']");
            $(chk).prop("checked", !$(chk).is(":checked"));
        });

        $all.change(function () {
            var chked = $(this).is(":checked");
            contentDiv.find(".grid-item [type='checkbox']").prop("checked", chked);
        });

        filterGrid.click(function (event) {
            event.stopPropagation();
        });

        return filterGrid;
    }


    function groupData(tdObject) {
        var index = $(tdObject).attr("index");
        var $rows = $(tdObject).parents("table").find("tbody tr:visible");
        var uniqueValues = {};

        $rows.each(function () {
            var cellValue = $(this).children().eq(index).text();
            if (uniqueValues[cellValue]) {
                $(this).hide(); // 동일한 값이 이미 존재하면 숨기기
            } else {
                uniqueValues[cellValue] = true;
            }
        });
    }


    $(document).mouseup(function (e) {
        var $filter = $('.filter');

        // If the target of the click isn't the filter div nor a descendant of the filter div
        if (!$filter.is(e.target) && $filter.has(e.target).length === 0) {
            $filter.hide(); // Hide the filter div
        }
    });





</script>

</html>