<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Handsontable Example</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>

    <div id="handsontable-container"></div>

    <script>
        var server = '';

        if (window.location.hostname == 'localhost') {
            server = 'http://localhost:8080';
        } else {
            server = 'http://techonmes.co.kr';
        }

        function load() {
            $.ajax({
                type: 'POST',
                url: server + '/api/selectcustomerinformation',
                dataType: 'json',
                success: function (data) {
                    updateDataCount(data.length);

                    var container = document.getElementById('handsontable-container');

                    // Define new column headers
                    var newColumnHeaders = ['NewHeader1', '이름', '날짜', /* Add more headers as needed */];

                    // Handsontable configuration
                    var hot = new Handsontable(container, {
                        data: data,
                        rowHeaders: true,
                        colHeaders: newColumnHeaders, // Use the new column headers array
                        contextMenu: true,
                        stretchH: 'all',
                        height:'1000',
                        filters: true, // Enable column filters
                        dropdownMenu: true, // Enable dropdown menu for column headers
                        licenseKey: 'non-commercial-and-evaluation' // For non-commercial use
                    });
                }
            });
        }

        function updateDataCount(count) {
            var tableFoot = $('#dataCount');
            tableFoot.text('총 데이터 개수: ' + count);
        }

        $(document).ready(function () {
            load();
        });
    </script>

</body>

</html>
