<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800&amp;subset=korean" rel="stylesheet">
    <!-- <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=320, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">







    <title>추모</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,500,700&amp;subset=korean" rel="stylesheet">
    <script type="text/javascript" src="/resources/js/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="/resources/js/bootstrap.min.css">
    <script type="text/javascript" src="/resources/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/resources/js/jquery-ui.css">
    <script src="/resources/js/jquery-1.12.4.js"></script>
    <script src="/resources/js/jquery-ui.js"></script>
    <script type="text/javascript" src="/resources/js/bootstrap-clockpicker.min.js"></script>
    <link rel="stylesheet" href="/resources/js/bootstrap-clockpicker.min.css">

    <script type="text/javascript" src="/resources/playbench/playbench.js?ver=0728"></script>
    <link type="text/css" rel="stylesheet" href="/resources/playbench/css/pb-common.css?ver=0728">
    <link type="text/css" rel="stylesheet" href="/resources/playbench/css/pb-calendar.css?ver=0728">
    <link type="text/css" rel="stylesheet" href="/resources/playbench/css/pb-community.css?ver=0728">
    <link type="text/css" rel="stylesheet" href="/resources/playbench/css/pb-mobile.css?ver=0728">
    <link type="text/css" rel="stylesheet" href="/resources/playbench/css/pb-nomal.css?ver=0728">



<body>
        <input type="text" class="form-tag text ess" id="funeralName" name="funeralName" list="funeralList"
            placeholder="장례식장명">
        <datalist id="funeralList">
            <option value="강릉고려병원우란장례식장" data-no="1">강릉고려병원우란장례식장</option>
            <option value="강릉동인병원장례식장" data-no="2">강릉동인병원장례식장</option>
            <option value="강릉아나병원장례식장" data-no="3">강릉아나병원장례식장</option>
            <option value="강릉아산병원장례식장" data-no="4">강릉아산병원장례식장</option>
            <option value="강원대학교병원장례식장" data-no="5">강원대학교병원장례식장</option>
            <option value="강릉의료원장례식장" data-no="6">강릉의료원장례식장</option>
            <option value="강원도속초의료원 장례식장" data-no="7">강원도속초의료원 장례식장</option>
            <option value="강원도영월의료원장례예식장" data-no="8">강원도영월의료원장례예식장</option>
            <option value="교원예움 강원장례식장" data-no="9">교원예움 강원장례식장</option>
            <option value="고성장례식장" data-no="10">고성장례식장</option>
            <option value="태백병원장례식장" data-no="11">태백병원장례식장</option>
            <option value="금강병원장례식장" data-no="12">금강병원장례식장</option>
            <option value="도계장례식장" data-no="13">도계장례식장</option>
        </datalist>


</body>

</html>