<!DOCTYPE html>
<html>

<head>
    <title>QR CODE 입력</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
        }

        b {
            font-weight: bold;
        }

        .qr-code-section {
            margin-bottom: 20px;
        }

        .qr-code-section input[type="text"] {
            padding: 8px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 4px;
            width: 300px;
        }
    </style>
</head>

<body>
    <div class="qr-code-section">
        <b>QR CODE A: </b>
        <div>
            <input type="text" id="textInputA" autocomplete="off" placeholder="QR CODE를 리딩하세요" value="">
        </div>
    </div>
    <div class="qr-code-section">
        <b>QR CODE B: </b>
        <br>
        <div>
            <input type="text" id="textInputB" autocomplete="off" placeholder="QR CODE를 리딩하세요" value="">
        </div>
    </div>
</body>

</html>
