<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Techon Mes</title>
    <meta charset="UTF-8">
    <title>거래처정보</title>

    <link rel="stylesheet" href="/css/accountinformation.css">
    <link rel="stylesheet" href="/css/css.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdn.datatables.net/buttons/2.0.1/css/buttons.dataTables.min.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.dataTables.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.3.4/css/select.dataTables.min.css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" defer></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js" defer></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" defer></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.7.1/jszip.min.js" defer></script>
    <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"
        defer></script>
    <script type="text/javascript" src="https://cdn.datatables.net/select/1.3.4/js/dataTables.select.min.js"
        defer></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.66/pdfmake.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.66/vfs_fonts.js" defer></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.0.1/js/dataTables.buttons.min.js"
        defer></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.html5.min.js"
        defer></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.print.min.js"
        defer></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.colVis.min.js"
        defer></script>





</head>
<style>


</style>

<body>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">거래처 신규등록</h4>


                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label>거래처코드:</label>
                        <input type="text" class="form-control" id="accountcode-save" required>
                    </div>
                    <div class="form-group">
                        <label>거래처명:</label>
                        <input type="text" class="form-control" id="accountname-save" required>
                    </div>
                    <div class="form-group">
                        <label>대표자:</label>
                        <input type="text" class="form-control" id="accountrepresentname-save" required>
                    </div>
                    <div class="form-group">
                        <label>전화번호:</label>
                        <input type="text" class="form-control" id="phone-save" required>
                    </div>
                    <div class="form-group">
                        <label>주소:</label>
                        <textarea class="form-control" id="adress-save" required></textarea>
                    </div>


                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="취소">
                    <input type="button" data-dismiss="modal" id="add" class="btn btn-success" value="추가">

                </div>
            </div>
        </div>
    </div>

    <!-- 모달수정창 -->
    <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">거래처 수정</h4>


                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label>거래처코드:</label>
                        <input type="text" class="form-control" id="accountcode-edit" required>
                    </div>
                    <div class="form-group">
                        <label>거래처명:</label>
                        <input type="text" class="form-control" id="accountname-edit" required>
                    </div>
                    <div class="form-group">
                        <label>대표자:</label>
                        <input type="text" class="form-control" id="accountrepresentname-edit" required>
                    </div>
                    <div class="form-group">
                        <label>전화번호:</label>
                        <input type="text" class="form-control" id="phone-edit" required>
                    </div>
                    <div class="form-group">
                        <label>주소:</label>
                        <textarea class="form-control" id="adress-edit" required></textarea>
                    </div>
                    <div class="form-group">

                        <input type="text" class="form-control" id="id-edit" style="visibility: hidden;" required>
                    </div>


                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="취소">
                    <input type="button" data-dismiss="modal" id="dataedit" class="btn btn-success" value="수정">
                </div>
            </div>
        </div>
    </div>

    <!-- 모달삭제창 -->
    <div class="modal fade" id="datadelte" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <form>
                    <div class="modal-header">
                        <h4 class="modal-title">거래처 삭제</h4>

                    </div>
                    <div class="modal-body">
                        <p>정말로 거래처를 삭제하시겠습니까?</p>
                        <p class="text-warning"><small>이 작업은 취소할 수 없습니다.</small></p>
                    </div>
                    <input type="text" class="form-control" id="id-delete" style="visibility: hidden;" required>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="취소">
                        <input type="button" data-dismiss="modal" id="delete" class="btn btn-danger" value="삭제">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div style="height:50px; ">
        <p style="margin-left:20px; margin-top:20px; font-size: 20px; font-weight: bold;">
            영업 판매계획
        </p>


    </div>

    <!-- <button id="myButton" onclick="openNewWindow()">다른 HTML 열기</button> -->
    <!-- <button onclick="qq()">12312</button> -->
    <div style="border: 1px solid whitesmoke;">
        <table id="fileinfo" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>제품명</th>
                    <th>구분</th>
                    <th>1일</th>
                    <th>2일</th>
                    <th>3일</th>
                    <th>4일</th>
                    <th>5일</th>
                    <th>6일</th>
                    <th>7일</th>
                    <th>8일</th>
                    <th>9일</th>
                    <th>10일</th>
                    <th>11일</th>
                    <th>12일</th>
                    <th>13일</th>
                    <th>14일</th>
                    <th>15일</th>
                    <th>16일</th>
                    <th>17일</th>
                    <th>18일</th>
                    <th>19일</th>
                    <th>20일</th>
                    <th>21일</th>
                    <th>22일</th>
                    <th>23일</th>
                    <th>24일</th>
                    <th>25일</th>
                    <th>26일</th>
                    <th>27일</th>
                    <th>28일</th>
                    <th>29일</th>
                    <th>30일</th>
                    <th>31일</th>


                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <button onclick="previousMonth()">이전 달</button>
        <button onclick="goToToday()">이번달</button>
        <button onclick="nextMonth()">다음 달</button>
  
    </div>

    <div id="loading-screen">
        <div class="spinner"></div>
        <p style="color: black;">잠시만 기다려주세요...</p>
    </div>
    <script type="text/javascript">

        var server = '';
        if (window.location.hostname == 'localhost') {
            server = 'http://localhost:8080';
        } else {
            server = 'http://techonmes.co.kr';
        }


        $(document).ready(function () {

            // 로딩 창을 보이게 한다
            const loadingScreen = document.getElementById("loading-screen");
            loadingScreen.style.display = "block";


            $("#openModal").click(function () {
                $("#accountcode-save").val('');
                $("#accountname-save").val('');
                $("#accountrepresentname-save").val('');
                $("#phone-save").val('');
                $("#adress-save").val('');
                $("#myModal").modal();
            });

            $('#fileinfo').on('click', '#openModaledit', function () {
                var str = "";
                var tdArr = new Array();// 배열 선언            
                var checkBtn = $(this);

                var tr = checkBtn.parent().parent();
                var td = tr.children();

                var accountcode = td.eq(0).text();
                var accountname = td.eq(1).text();
                var accountrepresentname = td.eq(2).text();
                var phone = td.eq(3).text();
                var adress = td.eq(4).text();
                table1 = $('#fileinfo').DataTable();
                var data1 = table1.row($(this).parents('tr')).data(); // getting 

                $('#accountcode-edit').val(accountcode);
                $('#accountname-edit').val(accountname);
                $('#accountrepresentname-edit').val(accountrepresentname);
                $('#phone-edit').val(phone);
                $('#adress-edit').val(adress);
                $('#id-edit').val(data1.id);

                $("#edit").modal();

            });

            $('#fileinfo').on('click', '#openModaldelete', function () {
                table1 = $('#fileinfo').DataTable();
                var data1 = table1.row($(this).parents('tr')).data(); // getting 

                $('#id-delete').val(data1.id);
                $("#datadelte").modal();

            });
            setTimeout(function () {
                $.ajax({
                    url: server + '/api/searchingaccount',
                    method: 'post',
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function (data) {

                        for (var i = 0; i < data.length; i++) {
                            $('#fileinfo').append(
                                '<tr>' +


                                '<td >' + data[i].ITEMNAME + '</td>' +
                                '<td >' + data[i].PART + '</td>' +
                                '<td >' + data[i].ONE1 + '</td>' +
                                '<td >' + data[i].ONE2 + '</td>' +
                                '<td >' + data[i].ONE3 + '</td>' +
                                '<td >' + data[i].ONE4 + '</td>' +
                                '<td >' + data[i].ONE5 + '</td>' +
                                '<td >' + data[i].ONE6 + '</td>' +
                                '<td >' + data[i].ONE7 + '</td>' +
                                '<td >' + data[i].ONE8 + '</td>' +
                                '<td >' + data[i].ONE9 + '</td>' +
                                '<td >' + data[i].ONE10 + '</td>' +
                                '<td >' + data[i].ONE11 + '</td>' +
                                '<td >' + data[i].ONE12 + '</td>' +
                                '<td >' + data[i].ONE13 + '</td>' +
                                '<td >' + data[i].ONE14 + '</td>' +
                                '<td >' + data[i].ONE15 + '</td>' +
                                '<td >' + data[i].ONE16 + '</td>' +
                                '<td >' + data[i].ONE17 + '</td>' +
                                '<td >' + data[i].ONE18 + '</td>' +
                                '<td >' + data[i].ONE19 + '</td>' +
                                '<td >' + data[i].ONE20 + '</td>' +
                                '<td >' + data[i].ONE21 + '</td>' +
                                '<td >' + data[i].ONE22 + '</td>' +
                                '<td >' + data[i].ONE23 + '</td>' +   
                                '<td >' + data[i].ONE24 + '</td>' +
                                '<td >' + data[i].ONE25 + '</td>' +
                                '<td >' + data[i].ONE26 + '</td>' +
                                '<td >' + data[i].ONE27 + '</td>' +
                                '<td >' + data[i].ONE28 + '</td>' +
                                '<td >' + data[i].ONE29 + '</td>' +
                                '<td >' + data[i].ONE30 + '</td>' +
                                '<td >' + data[i].ONE31 + '</td>' +
                             

                                '</tr>'

                            )
                        }



                    },
                    error: function () {
                        alert("다시 시도해 주십시요.");
                    },

                    complete: setTimeout(function () {
                        const loadingScreen = document.getElementById("loading-screen");
                        loadingScreen.style.display = "none";
                    }, 1500)
                });
            }, 100); // 2초 지연


        });

        // 등록부분
        document.getElementById("add").addEventListener('click', add);

        function add() {
            if (confirm("고객사 정보를 등록 하시겠습니까??") == true) {


                var accountcode = $('#accountcode-save').val();
                var accountname = $('#accountname-save').val();
                var accountrepresentname = $('#accountrepresentname-save').val();
                var phone = $('#phone-save').val();
                var adress = $('#adress-save').val();

                $.ajax({
                    type: 'POST',
                    url: server + '/api/accountinfoinsertdata',
                    dataType: 'json',
                    contentType: 'application/json',
                    data: JSON.stringify({

                        "accountcode": accountcode,
                        "accountname": accountname,
                        "representativename": accountrepresentname,
                        "phone": phone,
                        "adress": adress




                    }),
                    success: function (result) {
                        console.log(result)
                    }
                })


                alert("저장이 완료 되었습니다.");


                $.ajax({
                    url: server + '/api/accountmanagement',
                    method: 'post',
                    dataType: 'json',
                    success: function (data) {
                        $('#fileinfo').DataTable({
                            // deferLoading: [0, 10],
                            paging: true,
                            destroy: true,
                            sort: true,
                            pageLength: 18,
                            searching: true,
                            data: data,
                            responsive: true,
                            columnResize: true,
                            processing: true,
                            columns: [
                                { "data": "id" },
                                { "data": "accountcode" },
                                { "data": "accountname" },
                                { "data": "representativename" },
                                { "data": "phone" },
                                { "data": "adress" },

                            ],





                            columnDefs: [
                                {
                                    targets: 0, visible: false, searchable: false
                                },
                                {
                                    targets: 1,
                                    width: 200
                                },
                                {
                                    targets: 2,
                                    width: 200
                                },
                                {
                                    targets: 3,
                                    width: 200
                                },
                                {
                                    targets: 4,
                                    width: 300
                                },
                                {
                                    targets: 6,
                                    data: null,
                                    defaultContent: '<button id="openModaledit" class="edit-button">수정</button>',
                                    width: 65
                                },
                                {
                                    targets: 7,
                                    data: null,
                                    defaultContent: '<button id="openModaldelete" class="delete-button"  > 삭제 </button>',
                                    width: 65
                                }



                            ],

                            language: {
                                emptyTable: "데이터가 없습니다.",
                                lengthMenu: "페이지당 _MENU_ 개씩 보기",
                                info: "현재 _START_ - _END_ / _TOTAL_건",
                                infoEmpty: "데이터 없음",
                                infoFiltered: "( _MAX_건의 데이터에서 필터링됨 )",
                                search: "검색:",
                                zeroRecords: "일치하는 데이터가 없습니다.",
                                loadingRecords: "로딩중...",
                                processing: "잠시만 기다려 주세요.",
                                paginate: {
                                    next: "다음",
                                    previous: "이전"
                                }
                            },


                        });
                        // 컬럼 헤더 셀을 가운데 정렬하는 CSS를 추가
                        $('.sorting').css('text-align', 'center');
                    },
                    error: function () {
                        alert("다시 시도해 주십시요.");
                    },

                    complete: setTimeout(function () {
                        const loadingScreen = document.getElementById("loading-screen");
                        loadingScreen.style.display = "none";
                    }, 1500)
                });

            }
        }


        $(document).on('click', "#deleted", function (e) {

            table1 = $('#fileinfo').DataTable();
            var data1 = table1.row($(this).parents('tr')).data(); // getting 

            $('#id-delete').val(data1.id);

        })


        // 삭제부분
        document.getElementById("delete").addEventListener('click', deleted);

        function deleted() {




            $.ajax({
                type: 'POST',
                url: server + '/api/accountinfodeletedata',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify({

                    "id": $('#id-delete').val()




                }),
                success: function (result) {
                    console.log(result)
                }
            })


            alert("삭제가 완료 되었습니다.");


            $.ajax({
                url: server + '/api/accountmanagement',
                method: 'post',
                dataType: 'json',
                success: function (data) {
                    $('#fileinfo').DataTable({
                        // deferLoading: [0, 10],
                        paging: true,
                        destroy: true,
                        sort: true,
                        pageLength: 18,
                        searching: true,
                        data: data,
                        responsive: true,
                        columnResize: true,
                        processing: true,
                        columns: [
                            { "data": "id" },
                            { "data": "accountcode" },
                            { "data": "accountname" },
                            { "data": "representativename" },
                            { "data": "phone" },
                            { "data": "adress" },

                        ],





                        columnDefs: [
                            {
                                targets: 0, visible: false, searchable: false
                            },
                            {
                                targets: 1,
                                width: 200
                            },
                            {
                                targets: 2,
                                width: 200
                            },
                            {
                                targets: 3,
                                width: 200
                            },
                            {
                                targets: 4,
                                width: 300
                            },
                            {
                                targets: 6,
                                data: null,
                                defaultContent: '<button id="openModaledit" class="edit-button">수정</button>',
                                width: 65
                            },
                            {
                                targets: 7,
                                data: null,
                                defaultContent: '<button id="openModaldelete" class="delete-button"  > 삭제 </button>',
                                width: 65
                            }



                        ],

                        language: {
                            emptyTable: "데이터가 없습니다.",
                            lengthMenu: "페이지당 _MENU_ 개씩 보기",
                            info: "현재 _START_ - _END_ / _TOTAL_건",
                            infoEmpty: "데이터 없음",
                            infoFiltered: "( _MAX_건의 데이터에서 필터링됨 )",
                            search: "검색:",
                            zeroRecords: "일치하는 데이터가 없습니다.",
                            loadingRecords: "로딩중...",
                            processing: "잠시만 기다려 주세요.",
                            paginate: {
                                next: "다음",
                                previous: "이전"
                            }
                        },


                    });
                    // 컬럼 헤더 셀을 가운데 정렬하는 CSS를 추가
                    $('.sorting').css('text-align', 'center');
                },
                error: function () {
                    alert("다시 시도해 주십시요.");
                },

                complete: setTimeout(function () {
                    const loadingScreen = document.getElementById("loading-screen");
                    loadingScreen.style.display = "none";
                }, 1500)
            });

        }
        // 수정부분
        document.getElementById("dataedit").addEventListener('click', edtited);

        function edtited() {




            $.ajax({
                type: 'POST',
                url: server + '/api/accountupdatedata',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify({

                    id: $('#id-edit').val(),
                    accountcode: $('#accountcode-edit').val(),
                    accountname: $('#accountname-edit').val(),
                    representativename: $('#accountrepresentname-edit').val(),
                    phone: $('#phone-edit').val(),
                    adress: $('#adress-edit').val()




                }),
                success: function (result) {
                    console.log(result)
                }
            })


            alert("수정이 완료 되었습니다.");


            $.ajax({
                url: server + '/api/accountmanagement',
                method: 'post',
                dataType: 'json',
                success: function (data) {
                    $('#fileinfo').DataTable({
                        // deferLoading: [0, 10],
                        paging: true,
                        destroy: true,
                        sort: true,
                        pageLength: 18,
                        searching: true,
                        data: data,
                        responsive: true,
                        columnResize: true,
                        processing: true,
                        columns: [
                            { "data": "id" },
                            { "data": "accountcode" },
                            { "data": "accountname" },
                            { "data": "representativename" },
                            { "data": "phone" },
                            { "data": "adress" },

                        ],



                        columnDefs: [
                            {
                                targets: 0, visible: false, searchable: false
                            },
                            {
                                targets: 1,
                                width: 200
                            },
                            {
                                targets: 2,
                                width: 200
                            },
                            {
                                targets: 3,
                                width: 200
                            },
                            {
                                targets: 4,
                                width: 300
                            },
                            {
                                targets: 6,
                                data: null,
                                defaultContent: '<button id="openModaledit" class="edit-button">수정</button>',
                                width: 65
                            },
                            {
                                targets: 7,
                                data: null,
                                defaultContent: '<button id="openModaldelete" class="delete-button"  > 삭제 </button>',
                                width: 65
                            }



                        ],

                        language: {
                            emptyTable: "데이터가 없습니다.",
                            lengthMenu: "페이지당 _MENU_ 개씩 보기",
                            info: "현재 _START_ - _END_ / _TOTAL_건",
                            infoEmpty: "데이터 없음",
                            infoFiltered: "( _MAX_건의 데이터에서 필터링됨 )",
                            search: "검색:",
                            zeroRecords: "일치하는 데이터가 없습니다.",
                            loadingRecords: "로딩중...",
                            processing: "잠시만 기다려 주세요.",
                            paginate: {
                                next: "다음",
                                previous: "이전"
                            }
                        },


                    });
                    // 컬럼 헤더 셀을 가운데 정렬하는 CSS를 추가
                    $('.sorting').css('text-align', 'center');
                },
                error: function () {
                    alert("다시 시도해 주십시요.");
                },

                complete: setTimeout(function () {
                    const loadingScreen = document.getElementById("loading-screen");
                    loadingScreen.style.display = "none";
                }, 1500)
            });

        }

    </script>

    <script type="text/javascript">


        // $('#fileinfo tbody').on('click', '#editbutton', function () {
        //     table1 = $('#fileinfo').DataTable();
        //     var data1 = table1.row($(this).parents('tr')).data(); // getting 

        //     $('#accountcode-edit').val(data1.accountcode);
        //     $('#accountname-edit').val(data1.accountname);
        //     $('#representativename-edit').val(data1.representativename);
        //     $('#phone-edit').val(data1.phone);
        //     $('#adress-edit').val(data1.adress);


        //     $("#edit").modal("show");

        // });
        function modalsave() {
            $('#accountcode-save').val('');
            $('#accountname-save').val('');
            $('#representativename-save').val('');
            $('#phone-save').val('');
            $('#adress-save').val('');


            $("#myModalsave").modal("show");
        }

        $('#find').click(function () {


        });
    </script>

    <script>
        //var tables = document.getElementsByClassName('flexiCol');
        var tables = document.getElementsByTagName('table');
        for (var i = 0; i < tables.length; i++) {
            resizableGrid(tables[i]);
        }

        function resizableGrid(table) {
            var row = table.getElementsByTagName('tr')[0],
                cols = row ? row.children : undefined;
            if (!cols) return;

            table.style.overflow = 'hidden';

            var tableHeight = table.offsetHeight;

            for (var i = 0; i < cols.length; i++) {
                var div = createDiv(tableHeight);
                cols[i].appendChild(div);
                cols[i].style.position = 'relative';
                setListeners(div);
            }

            function setListeners(div) {
                var pageX, curCol, nxtCol, curColWidth, nxtColWidth;

                div.addEventListener('mousedown', function (e) {
                    curCol = e.target.parentElement;
                    nxtCol = curCol.nextElementSibling;
                    pageX = e.pageX;

                    var padding = paddingDiff(curCol);

                    curColWidth = curCol.offsetWidth - padding;
                    if (nxtCol)
                        nxtColWidth = nxtCol.offsetWidth - padding;
                });

                div.addEventListener('mouseover', function (e) {
                    e.target.style.borderRight = '2px solid #0000ff';
                })

                div.addEventListener('mouseout', function (e) {
                    e.target.style.borderRight = '';
                })

                document.addEventListener('mousemove', function (e) {
                    if (curCol) {
                        var diffX = e.pageX - pageX;

                        if (nxtCol)
                            nxtCol.style.width = (nxtColWidth - (diffX)) + 'px';

                        curCol.style.width = (curColWidth + diffX) + 'px';
                    }
                });

                document.addEventListener('mouseup', function (e) {
                    curCol = undefined;
                    nxtCol = undefined;
                    pageX = undefined;
                    nxtColWidth = undefined;
                    curColWidth = undefined
                });
            }

            function createDiv(height) {
                var div = document.createElement('div');
                div.style.top = 0;
                div.style.right = 0;
                div.style.width = '5px';
                div.style.position = 'absolute';
                div.style.cursor = 'col-resize';
                div.style.userSelect = 'none';
                div.style.height = height + 'px';
                return div;
            }

            function paddingDiff(col) {

                if (getStyleVal(col, 'box-sizing') == 'border-box') {
                    return 0;
                }

                var padLeft = getStyleVal(col, 'padding-left');
                var padRight = getStyleVal(col, 'padding-right');
                return (parseInt(padLeft) + parseInt(padRight));

            }

            function getStyleVal(elm, css) {
                return (window.getComputedStyle(elm, null).getPropertyValue(css))
            }
        };
    </script>

    <script>
        // let currentMonth = 5; // 초기 표시할 달 설정 (6월)
        // const startDate = new Date(`2023-${currentMonth}-01`);
        // const endDate = new Date(startDate.getFullYear(), startDate.getMonth() + 1, 0); // 현재 달의 마지막 날
        // function createTable() {
        //     const table = document.getElementById('fileinfo');

        //     table.innerHTML = ''; // 테이블 초기화

        //     const headerRow = table.insertRow();
        //     const modelHeader = headerRow.insertCell();
        //     modelHeader.innerHTML = '모델명';
        //     modelHeader.classList.add('model-header');
        //     const productHeader = headerRow.insertCell();
        //     productHeader.innerHTML = '제품명';
        //     productHeader.classList.add('product-header');
        //     const ttlHeader = headerRow.insertCell();
        //     ttlHeader.innerHTML = 'TTL';
        //     ttlHeader.classList.add('ttl-header');

        //     let currentDate = new Date(startDate);

        //     while (currentDate <= endDate) {
        //         const dateCell = headerRow.insertCell();
        //         const year = currentDate.getFullYear().toString().padStart(4, '0');
        //         const month = (currentDate.getMonth() + 1).toString().padStart(2, '0');
        //         const day = currentDate.getDate().toString().padStart(2, '0');
        //         const formattedDate = `${year}-${month}-${day}`;
        //         dateCell.innerHTML = formattedDate;

        //         if (isWeekend(currentDate)) {
        //             dateCell.classList.add('weekend');
        //         }

        //         currentDate.setDate(currentDate.getDate() + 1);
        //     }

        //     data.forEach(item => {
        //         const dataRow = table.insertRow();
        //         const modelCell = dataRow.insertCell();
        //         modelCell.innerHTML = item.model;
        //         modelCell.classList.add('model-cell');
        //         const productCell = dataRow.insertCell();
        //         productCell.innerHTML = item.product;
        //         productCell.classList.add('product-cell');
        //         const ttlCell = dataRow.insertCell();
        //         ttlCell.classList.add('ttl-cell');



        //         currentDate = new Date(startDate);

        //         while (currentDate <= endDate) {
        //             const dataCell = dataRow.insertCell();
        //             dataCell.innerHTML = '';

        //             if (isWeekend(currentDate)) {
        //                 dataCell.classList.add('weekend');
        //             }

        //             currentDate.setDate(currentDate.getDate() + 1);
        //         }
        //     });

        //     // 셀에 마우스 이벤트 핸들러 추가
        //     const cells = document.querySelectorAll('td');
        //     cells.forEach(cell => {
        //         cell.addEventListener('mouseover', () => {
        //             cell.classList.add('highlight');
        //         });

        //         cell.addEventListener('mouseout', () => {
        //             cell.classList.remove('highlight');
        //         });
        //     });
        // }

        // function isWeekend(date) {
        //     const day = date.getDay();
        //     return day === 0 || day === 6;
        // }

        // function previousMonth() {
        //     currentMonth -= 1;
        //     updateTable();
        // }

        // function nextMonth() {
        //     currentMonth += 1;
        //     updateTable();
        // }

        // function goToToday() {
        //     const today = new Date();
        //     currentMonth = today.getMonth() + 1;
        //     updateTable();
        // }

        // function updateTable() {
        //     if (currentMonth < 1) {
        //         currentMonth = 12;
        //         startDate.setFullYear(startDate.getFullYear() - 1);
        //     } else if (currentMonth > 12) {
        //         currentMonth = 1;
        //         startDate.setFullYear(startDate.getFullYear() + 1);
        //     }

        //     startDate.setMonth(currentMonth - 1);
        //     endDate.setFullYear(startDate.getFullYear(), startDate.getMonth() + 1, 0);
        //     createTable();
        // }

        // createTable();
    </script>

</html>