<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" href="../css/bomsheet.css">
    <link rel="stylesheet" href="../css/spiner.css">
    <link rel="stylesheet" href="../css/tablewrapper.css">
    <link rel="stylesheet" href="../css/header.css">
    <title>마감내역(매출)</title>

</head>

<body>

    <div class="header-container">
        <div class="header-title">
            <h2><i class="fas fa-file-invoice"></i> &nbsp;마감내역(매출)</h2>
        </div>
        <div class="header-subtitle">
            <h4>보고자료 > 마감내역(매출)</h4>
        </div>
    </div>
    <fieldset>
        <legend>검색조건</legend>
        <i class="fas fa-search"></i>
        <select id="yearSelect">
            <!-- 여기에 옵션을 자바스크립트로 추가할 예정입니다. -->
        </select>
        <select id="monthSelect">
            <option value="1">1월</option>
            <option value="2">2월</option>
            <option value="3">3월</option>
            <option value="4">4월</option>
            <option value="5">5월</option>
            <option value="6">6월</option>
            <option value="7">7월</option>
            <option value="8">8월</option>
            <option value="9">9월</option>
            <option value="10">10월</option>
            <option value="11">11월</option>
            <option value="12">12월</option>

        </select>
        <button class="close-button" onclick="updateBusinessPlan()">조회</button>

    </fieldset>
    <div class="spinner-overlay">
        <div class="spinner"></div>
    </div>
    <div id="maintable" class="table-wrapper">
        <table id="businessPlan">
            <thead>
                <th>고객사</th>
                <th>TOOL(양산)<br>매입(￦)</th>
                <th>TOOL(샘플)<br>매입(￦)</th>
                <th>TOOL(양산)<br>매출(￦)</th>
                <th>TOOL(샘플)<br>매출(￦)</th>
                <th>차액<br>(￦)</th>
                <th>TOOL이월<br>판매금액(￦)</th>
                <th>샘플이월<br>판매금액(￦)</th>
            </thead>

            <tbody id="iteminfobody">
            </tbody>
            <tfoot id="iteminfofoot">
            </tfoot>
        </table>
    </div>


    <script>
        var server = '';
        var gridApi;
        if (window.location.hostname === '127.0.0.1' || window.location.hostname === 'localhost') {
            server = 'http://localhost:8080';
        } else {
            server = 'https://mestechon.com';
        }

        $(document).ready(function () {
            var spinnerOverlay = document.querySelector('.spinner-overlay');
            spinnerOverlay.style.display = 'flex'; // Spiner 표시

            var monthSelect = document.getElementById('monthSelect');
            var yearSelect = document.getElementById('yearSelect');
            var currentMonth = new Date().getMonth() + 1;
            var currentYear = new Date().getFullYear();
            monthSelect.value = currentMonth;
            yearSelect.value = currentYear;
            setTimeout(function () {
                spinnerOverlay.style.display = 'none'; // 1초 후에 Spiner 숨김
            }, 1100);
            load()
        });


        var yearSelect = document.getElementById('yearSelect');
        var monthSelect = document.getElementById('monthSelect');
        var businessPlanTable = document.getElementById('businessPlan').getElementsByTagName('tbody')[0];

        // 년도 옵션 생성
        var currentYear = new Date().getFullYear();
        for (var i = currentYear; i >= currentYear - 1; i--) {
            var option = document.createElement('option');
            option.value = i;
            option.textContent = i + '년';
            yearSelect.appendChild(option);
        }

        // 년도 옵션 생성

        function formatDate(date) {
            var year = date.getFullYear();
            var month = String(date.getMonth() + 1).padStart(2, '0');
            var day = String(date.getDate()).padStart(2, '0');
            return year + '-' + month + '-' + day;
        }

        function load() {
            var spinnerOverlay = document.querySelector('.spinner-overlay');
            spinnerOverlay.style.display = 'flex'; // Spiner 표시
            $('#iteminfobody').empty();

            var totalB = 0;
            var totalD = 0;
            var totalE = 0;
            var totalF = 0;
            var totalG = 0;
            var totalH = 0;

            $.ajax({
                type: 'POST',
                url: server + '/api/bomsheet2',
                dataType: 'json',
                success: function (data) {
                    var tableFoot = $('#dataCount');
                    if (data.length === 0) {
                        // 데이터가 없을 때 "데이터가 없습니다" 문구 추가
                        tableFoot.text('총 데이터 개수: 0');
                    } else {
                        for (var i = 0; i < data.length; i++) {
                            $('#iteminfobody').append(
                                '<tr>' +
                                '<td style="text-align:center;">' + data[i].customer + '</td>' +
                                '<td style="text-align:right;">' + data[i].B.toLocaleString() + '</td>' +
                                '<td style="text-align:right;">보류</td>' +
                                '<td style="text-align:right;">' + data[i].D.toLocaleString() + '</td>' +
                                '<td style="text-align:right;">' + data[i].E.toLocaleString() + '</td>' +
                                '<td style="text-align:right;">' + data[i].F.toLocaleString() + '</td>' +
                                '<td style="text-align:right;">' + data[i].G.toLocaleString() + '</td>' +
                                '<td style="text-align:right;">' + data[i].H.toLocaleString() + '</td>' +
                                '</tr>'
                            );

                            totalB += parseFloat(data[i].B);
                            totalD += parseFloat(data[i].D);
                            totalE += parseFloat(data[i].E);
                            totalF += parseFloat(data[i].F);
                            totalG += parseFloat(data[i].G);
                            totalH += parseFloat(data[i].H);

                            $("td#data-id").hide();
                        }

                        // Append a row to display the sums
                        $('#iteminfobody').append(
                            '<tr>' +
                            '<td style="text-align:center;"><b>Total</b></td>' +
                            '<td style="text-align:right;"><b>' + totalB.toLocaleString() + '</b></td>' +
                            '<td style="text-align:right;">보류</td>' +
                            '<td style="text-align:right;"><b>' + totalD.toLocaleString() + '</b></td>' +
                            '<td style="text-align:right;"><b>' + totalE.toLocaleString() + '</b></td>' +
                            '<td style="text-align:right;"><b>' + totalF.toLocaleString() + '</b></td>' +
                            '<td style="text-align:right;"><b>' + totalG.toLocaleString() + '</b></td>' +
                            '<td style="text-align:right;"><b>' + totalH.toLocaleString() + '</b></td>' +
                            '</tr>'
                        );

                        tableFoot.text('총 데이터 개수: ' + data.length);
                    }
                }
            });

        }

        // function load() {
        //     var spinnerOverlay = document.querySelector('.spinner-overlay');
        //     spinnerOverlay.style.display = 'flex'; // Spiner 표시

        //     $.ajax({
        //         url: server + '/api/iteminfobom',
        //         method: 'post',
        //         dataType: 'json',
        //         contentType: 'application/json',
        //         data: JSON.stringify({

        //         }),

        //         success: function (result) {
        //             $('#iteminfobody').empty();

        //             for (var i = 0; i < result.length; i++) {
        //                 $('#iteminfobody').append(
        //                     '<tr>' +
        //                     '<td>' + (result[i].bomno || '') + '</td>' +
        //                     '<td>' + (result[i].part || '') + '</td>' +
        //                     '<td>' + (result[i].modelname || '') + '</td>' +
        //                     '<td>' + (result[i].itemname || '') + '</td>' +
        //                     '<td>' + (result[i].customer || '') + '</td>' +
        //                     '<td>' + (result[i].class || '') + '</td>' +
        //                     '<td>' + (result[i].itemprice.toLocaleString() || '') + '</td>' +
        //                     '<td>' + (result[i].cost.toLocaleString() || '') + '</td>' +
        //                     '<td>' + (result[i].costPriceRatio.toLocaleString() || '') + '</td>' +
        //                     '<td><button class="btninfo" onclick="showinfo()">상세정보</button></td>' +
        //                     '</tr>'
        //                 );

        //                 // 합계 계산

        //             }

        //             // tfoot에 합계 추가


        //             $('td#data-id').hide();
        //             setTimeout(function () {
        //                 spinnerOverlay.style.display = 'none'; // 1초 후에 Spiner 숨김
        //             }, 1100);

        //         }
        //     });


        // }


        function parseFloatStrict(value) {
            var parsedValue = parseFloat(value);
            return !isNaN(parsedValue) ? parsedValue : 0;
        }

    </script>

</body>

</html>