<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CADViewer 예제</title>

    <!-- CADViewer 스타일 시트 및 스크립트 CDN 링크 -->
    <link rel="stylesheet" href="https://cadviewer.com/cadviewer/cadview.css">

    <style>
        .table-container {
            max-height: 900px;
            display: flex;
        }

        .styled-table {
            /* Add any additional styles for the table here */
            width: 100%;
        }

        #datatable-left {
            flex: 1;
        }

        #datatable-right {
            flex: 1;
        }

        #datatable-right th {
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="table-container">

        <table class="styled-table" id="datatable-left">
            <thead id="tableHead">

                <th style="text-align:center;" onclick="sortTable(0)">설비코드</th>
                <th style="text-align:center;" onclick="sortTable(1)">호기명</th>
                <th style="text-align:center;" onclick="sortTable(2)">설비명</th>
                <th style="text-align:center;" onclick="sortTable(3)">구분</th>
                <th style="text-align:center;" onclick="sortTable(4)">규격</th>
                <th style="text-align:center;" onclick="sortTable(5)">차수</th>
                <th style="text-align:center;" onclick="sortTable(6)">설비제작업체</th>
                <th style="text-align:center;" onclick="sortTable(7)">SERIAL NO</th>
                <th style="text-align:center;" onclick="sortTable(8)">제작일</th>

            </thead>
            <tbody id="Datatbody">

            </tbody>
        </table>

        <div id="datatable-right">
            <table class="styled-table">
                <thead id="tableHead">
                    <tr>
                        <th style="text-align:center;" colspan="4">설비 이력 대장</th>
                    </tr>
                    <tr>
                        <th style="text-align: center;">설비번호</th>
                        <td style="text-align: center;">TECH-ON-010</td>
                        <td rowspan="6" colspan="3" style="text-align: center;"> <img src="/img/TECH-ON-008.PNG"
                                alt="로딩 이미지" class="loadingImage"></td>
                    </tr>
                    <tr>
                        <th style="text-align: center;">설비명</th>
                        <td style="text-align: center;">4단 합지기</td>
                    </tr>
                    <tr>
                        <th style="text-align: center;">규격</th>
                        <td style="text-align: center;">2.4X0.92X1.76</td>
                    </tr>
                    <tr>
                        <th style="text-align: center;">제작일</th>
                        <td style="text-align: center;">2018.04.25</td>
                    </tr>
                    <tr>
                        <th style="text-align: center;">제작회사</th>
                        <td style="text-align: center;">태경하이테크</td>
                    </tr>
                    <tr>
                        <th style="text-align: center;">S/N</th>
                        <td style="text-align: center;">1804-682801</td>
                    </tr>
                    <tr>
                        <th style="text-align:center;">고장내용</th>
                        <th style="text-align:center;">조치내용</th>
                        <th style="text-align:center;">발생일</th>
                        <th style="text-align:center;">조치일</th>
                    </tr>

                </thead>
                <tbody id="Datatbody">
                    <tr>
                        <td>피딩롤러 끝 센서 누락</td>
                        <td>근접 센서 설치 (25만원)</td>
                        <td>200818 </td>
                        <td>200819</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</body>

</html>