<!doctype html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.2.61/jspdf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
    <title>CSS</title>
    <link rel="stylesheet" href="/css/css2.css">
</head>

<body>
    <div id="main" class="paper-div-main">
        <div id="paper-main" class="paper-main">
            <table class="text-header1">
                <tbody>
                    <tr>
                        <td style="width: 500px; border: 1px solid rgb(218, 217, 217);">
                            <img src="/img/테크온로고.PNG" style="width: 160px; height:40px;"><br>
                            <a style="font-size: 35px;">주 문 서</a>
                        </td>
                        <td>
                            <table>
                                <colgroup>
                                    <col style="width: 148px">
                                    <col style="width: 180px">
                                    <col style="width: 180px">
                                    <col style="width: 180px">
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <th rowspan="2" style="font-size:14px;  margin-right: 200px;">구분</th>
                                        <th style="font-size:14px; height:20px;">작성</th>
                                        <th style="font-size:14px">검토</th>
                                        <th style="font-size:14px">승인</th>
                                    </tr>
                                    <tr class="stamp-area">
                                        <td style="font-size:14px; height:70px;"></td>
                                        <td style="font-size:14px; height:70px;"></td>
                                        <td style="font-size:14px; height:70px;"></td>
                                    </tr>
                                </tbody>
                            </table>

                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="text-header2">
                <tbody>
                    <tr>
                        <td style="width: 500px; border: 1px solid rgb(218, 217, 217);">
                            <table style="margin-left: 26px; width: 490px;">
                                <colgroup>
                                    <col style="width: 100px">

                                </colgroup>

                                <tbody>

                                    <tr style=" height: 40px;">
                                        <th style="font-size:16px; border: 1px solid rgb(218, 217, 217);">수신</th>
                                        <th style="font-size:16px; border: 1px solid rgb(218, 217, 217);"></th>
                                    </tr>
                                    <tr style=" height: 40px;">
                                        <th style="font-size:16px; border: 1px solid rgb(218, 217, 217);">유효기간</th>
                                        <th style="font-size:16px; border: 1px solid rgb(218, 217, 217);"></th>
                                    </tr>
                                    <tr style=" height: 40px;">
                                        <th style="font-size:16px; border: 1px solid rgb(218, 217, 217);">납기일자</th>
                                        <th style="font-size:16px; border: 1px solid rgb(218, 217, 217); width: 400px;">
                                        </th>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td style="width: 300px; border: 1px solid rgb(218, 217, 217);">
                            <table style="margin-left: 20px; width: 400px;">
                                <colgroup>
                                    <col style="width: 100px">

                                </colgroup>

                                <tbody>

                                    <tr style=" height: 50px;">
                                        <th style="font-size:16px; border: 1px solid rgb(218, 217, 217);">일련번호</th>
                                        <th style="font-size:16px; border: 1px solid rgb(218, 217, 217);"></th>
                                    </tr>
                                    <tr style=" height: 50px;">
                                        <th style="font-size:16px; border: 1px solid rgb(218, 217, 217);">담당자</th>
                                        <th style="font-size:16px; border: 1px solid rgb(218, 217, 217);"></th>
                                    </tr>
                                </tbody>
                            </table>

                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="text-header3">
                <tbody>
                    <tr>
                        <td style="width: 500px; border: 1px solid rgb(218, 217, 217);">
                            <a style="font-size: 20px; font-weight: bold;">금액 : 일천오백삼십오만이천오백원 정 (15,352,500원)/VAT포함</a>
                        </td>

                    </tr>
                </tbody>
            </table>
            <table class="text-header4">
                <tbody>
                    <tr>
                        <td style="width: 500px; border: 1px solid rgb(218, 217, 217);">
                            <table>
                                <thead class="text-header4-table">
                                    <tr>
                                        <th>품목코드</th>
                                        <th>품목명</th>
                                        <th>수량</th>
                                        <th>단가</th>
                                        <th>공급가액</th>
                                        <th>부가세</th>
                                        <th>적요</th>
                                        <th>적요1</th>
                                        <th>적요2</th>
                                        <th>적요3</th>
                                    </tr>
                                </thead>
                              
                            </table>
                        </td>

                    </tr>
                </tbody>
            </table>
            <table class="text-header5">
                <tbody>
                    <tr>
                        <td style="width: 500px; border: 1px solid rgb(218, 217, 217);">
                            <table style="margin-left: 20px; width: 900px;">
                                <tbody>

                                    <th style="font-size:14px; width: 60px; height:20px;">수량</th>
                                    <td style="width: 80px;"></td>
                                    <th style="font-size:14px;  width: 80px;">공급가액</th>
                                    <td style="width: 80px;"></td>
                                    <th style="font-size:14px; width: 60px;">VAT</th>
                                    <td style="width: 80px;"></td>
                                    <th style="font-size:14px; width: 60px;">합계</th>
                                    <td style="width: 100px;"></td>

                                </tbody>
                            </table>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <button id="savePdfBtn" value="pdf다운로드" onclick="downloadPdf()">pdf다운로드</button>
</body>
<script>
    function saveAs(uri, fileName) {
        const link = document.createElement("a");
        link.href = uri;
        link.download = fileName;

        document.body.appendChild(link);

        link.click();

        document.body.removeChild(link);
    }
    function downloadPdf() {
        html2canvas(document.querySelector("#paper-main")).then(canvas => {
            saveAs(canvas.toDataURL(), 'fileName.png');
        });
    }

</script>

</html>