<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" href="../css/customerinformation.css">
    <link rel="stylesheet" href="../css/spiner.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
    <script src="../js/searchtable.js"></script>

    <title>거래처정보</title>

</head>

<body>
    <div class="header-container">
        <div class="header-title">
            <h2><i class="fas fa-address-book"></i> &nbsp;거래처 정보</h2>
        </div>
        <div class="header-subtitle">
            <h4>기초정보 > 거래처정보</h4>
        </div>
    </div>


    <div id="overlay" class="overlay"></div>
    <div id="overlay1" class="overlay"></div>
    <fieldset>
        <legend>검색조건</legend>
        <i class="fas fa-search"></i>
        <input type="text" style="width:20%;" placeholder="검색어를 입력하세요.." id="inputdata" autocomplete="off">

        <button class="close-button" onclick="load()">조회</button>
        <button class="save-button" onclick="openModal()">신규등록</button>


    </fieldset>


    <div class="spinner-overlay">
        <div class="spinner"></div>
    </div>
    <div id="maintable" class="table-wrapper">
        <table>
            <thead>
                <th style="width:100px">거래처명</th>
                <th style="width:100px">사업자등록번호</th>
                <th style="width:100px">대표자명</th>
                <th style="width:100px">IN</th>
                <th style="width:100px">EN</th>
                <th style="width:100px">날짜</th>
                <th style="width:100px">유형</th>
                <th style="width:100px">구분</th>
                <th style="width:100px">매입/매출</th>
                <th style="width:100px">등록사유</th>
                <th style="width:100px">고객사/적용모델</th>
                <th style="width:100px">자재정보</th>
                <th style="width:100px">업태(구분)</th>
                <th style="width:100px">업종(구분)</th>
                <th style="width:100px">주소</th>
                <th style="width:100px">전화번호</th>
                <th style="width:100px">팩스번호</th>
                <th style="width:100px">담당자</th>
                <th style="width:100px">담당자 연락처</th>
                <th style="width:100px">VAT유형</th>
                <th style="width:100px">결재방법</th>
                <th style="width:100px">마감일</th>
                <th style="width:100px">결재기간</th>
                <th style="width:100px">은행명</th>
                <th style="width:100px">계좌번호</th>
                <th style="width:100px">예금주명</th>
                <th style="width:100px">비고</th>
                <th style="width:100px">요청부서</th>
                <th style="width:100px"> </th>
                <th style="width:100px"> </th>
            </thead>

            <tbody id="iteminfobody">
            </tbody>
            <tfoot id="iteminfofoot">
            </tfoot>
        </table>
    </div>

    <div class="modal" id="modal">
        <div class="modal-header">
            <span style="font-weight: bold;"> <i class="fas fa-address-book"></i>&nbsp;거래처 정보</span>
            <input type="text" id="dataid" style="width:60px; visibility: hidden">
        </div>
        <div class="modal-footer">
            <button class="close-button" onclick="datasave()">저장</button>
            <button class="delete-button" style="margin-left: 10px;" onclick="closeModal()">취소</button>
        </div>
        <div class="modal-content" style="margin-top: 10px;">
            <table class="styled-table" id="Podatatable">
                <thead id="tableHead">
                    <tr>
                        <th style="width:150px">거래처명</th>
                        <td><input type="text" readonly id="bomno-input" autocomplete="off"></td>
                        <th style="width:150px">업태(구분)</th>
                        <td><input type="text" readonly id="bomno-input" autocomplete="off"></td>
                        <th style="width:150px">은행명</th>
                        <td><input type="text" readonly id="bomno-input" autocomplete="off"></td>

                    </tr>
                    <tr>
                        <th>사업자등록번호</th>
                        <td><input type="text" readonly id="part-input" autocomplete="off"></td>
                        <th>업종(구분)</th>
                        <td><input type="text" readonly id="bomno-input" autocomplete="off"></td>
                        <th style="width:150px">계좌번호</th>
                        <td><input type="text" readonly id="bomno-input" autocomplete="off"></td>

                    </tr>
                    <tr>
                        <th>대표자명</th>
                        <td><input type="text" readonly id="modelname-input" autocomplete="off"></td>
                        <th>주소</th>
                        <td><input type="text" readonly id="bomno-input" autocomplete="off"></td>
                        <th style="width:150px">예금주명</th>
                        <td><input type="text" readonly id="bomno-input" autocomplete="off"></td>

                    </tr>
                    <tr>
                        <th>제품명</th>
                        <td><input type="text" readonly id="itemname-input" autocomplete="off"></td>
                        <th>전화번호</th>
                        <td><input type="text" readonly id="bomno-input" autocomplete="off"></td>

                    </tr>
                    <tr>
                        <th>이니셜(IN)</th>
                        <td><input type="text" readonly id="customer-input" autocomplete="off"></td>
                        <th>팩스번호</th>
                        <td><input type="text" readonly id="bomno-input" autocomplete="off"></td>

                    </tr>
                    <tr>
                        <th>영문(EN)</th>
                        <td><input type="text" readonly id="customer-input" autocomplete="off"></td>
                        <th>담당자</th>
                        <td><input type="text" readonly id="bomno-input" autocomplete="off"></td>

                    </tr>
                    <tr>
                        <th>등록날짜</th>
                        <td><input type="text" readonly id="customer-input" autocomplete="off"></td>
                        <th>담당자 연락처</th>
                        <td><input type="text" readonly id="bomno-input" autocomplete="off"></td>

                    </tr>
                    <tr>
                        <th style="width:100px">신규/변경</th>
                        <td>
                            <select id="class-input">
                                <option value=""></option>
                                <option value="신규">신규</option>
                                <option value="변경">변경</option>
                            </select>
                        </td>
                        <th>VAT유형</th>
                        <td>
                            <select id="class-input">
                                <option value=""></option>
                                <option value="일반">일반</option>
                            </select>
                        </td>

                    </tr>
                    <tr>
                        <th style="width:100px">구분</th>
                        <td>
                            <select id="class-input">
                                <option value=""></option>
                                <option value="원부자재">원부자재</option>
                                <option value="외주">외주</option>
                            </select>
                        </td>
                        <th style="width:100px">결재방법</th>
                        <td>
                            <select id="class-input">
                                <option value=""></option>
                                <option value="현금">현금</option>
                                <option value="달러">달러</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th style="width:100px">매입/매출</th>
                        <td>
                            <select id="class-input">
                                <option value=""></option>
                                <option value="매입">매입</option>
                                <option value="매출">매출</option>
                            </select>
                        </td>
                        <th style="width:150px">마감일</th>
                        <td><input type="text" id="bomno-input" autocomplete="off"></td>

                    </tr>
                </thead>

            </table>



        </div>
    </div>


    <script>
        var server = '';
        var gridApi;
        if (window.location.hostname === '127.0.0.1' || window.location.hostname === 'localhost') {
            server = 'http://localhost:8080';
        } else {
            server = 'http://techonmes.co.kr';
        }

        $(document).ready(function () {
            var today = new Date();

            var year = today.getFullYear();
            var month = String(today.getMonth() + 1).padStart(2, '0'); // 월은 0부터 시작하므로 1을 더해준다.
            var day = String(today.getDate()).padStart(2, '0'); // 일
            var formattedDate = year + '-' + month + '-' + day;
            load()
        });
        function validateNumericInput(input) {
            // 숫자와 소수점만 입력
            input.value = input.value.replace(/[^0-9.]/g, '');
            // 소수점이 여러 번 입력되지 않도록 함
            if ((input.value.match(/\./g) || []).length > 1) {
                input.value = input.value.replace(/\.+$/, "");
            }
        }

        $('#inputdata').on('keyup', function (event) {
            if (event.key === 'Enter') { // 엔터 키가 눌렸는지 확인
                searchTable();
            }
        });

        function load() {
            var spinnerOverlay = document.querySelector('.spinner-overlay');
            spinnerOverlay.style.display = 'flex'; // Spiner 표시


            $.ajax({
                url: server + '/api/selectcustomerinformation',
                method: 'post',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify({

                }),

                success: function (result) {
                    $('#iteminfobody').empty();

                    for (var i = 0; i < result.length; i++) {
                        $('#iteminfobody').append(
                            '<tr>' +
                            '<td>' + (result[i].customername || '') + '</td>' +
                            '<td>' + (result[i].businessregistrationnumber || '') + '</td>' +
                            '<td>' + (result[i].representativename || '') + '</td>' +
                            '<td>' + (result[i].customerinitial || '') + '</td>' +
                            '<td>' + (result[i].customernameenglish || '') + '</td>' +
                            '<td>' + (result[i].date || '') + '</td>' +
                            '<td>' + (result[i].customerregistrationtype || '') + '</td>' +
                            '<td>' + (result[i].outsourcing || '') + '</td>' +
                            '<td>' + (result[i].purchase || '') + '</td>' +
                            '<td>' + (result[i].reasonforregistration || '') + '</td>' +
                            '<td>' + (result[i].appliedmodel || '') + '</td>' +
                            '<td>' + (result[i].materialinformation || '') + '</td>' +
                            '<td>' + (result[i].businesstype || '') + '</td>' +
                            '<td>' + (result[i].industrytype || '') + '</td>' +
                            '<td>' + (result[i].adress || '') + '</td>' +
                            '<td>' + (result[i].phonenumber || '') + '</td>' +
                            '<td>' + (result[i].faxnumber || '') + '</td>' +
                            '<td>' + (result[i].contactperson || '') + '</td>' +
                            '<td>' + (result[i].sphonenumber || '') + '</td>' +
                            '<td>' + (result[i].vattype || '') + '</td>' +
                            '<td>' + (result[i].paymentmethod || '') + '</td>' +
                            '<td>' + (result[i].deadline || '') + '</td>' +
                            '<td>' + (result[i].paymentperiod || '') + '</td>' +
                            '<td>' + (result[i].bankname || '') + '</td>' +
                            '<td>' + (result[i].accountnumber || '') + '</td>' +
                            '<td>' + (result[i].accountholdername || '') + '</td>' +
                            '<td>' + (result[i].remarks || '') + '</td>' +
                            '<td>' + (result[i].requestdepartment || '') + '</td>' +
                            '<td id="data-id">' + (result[i].id || '') + '</td>' +

                            '<td><button class="btninfo" onclick="showinfo()">상세정보</button></td>' +
                            '<td><button class="close-button" style="background-color:red;" onclick="deleteinfo()">삭제</button></td>' +
                            '</tr>'
                        );
                    }

                    $('td#data-id').hide();
                    setTimeout(function () {
                        spinnerOverlay.style.display = 'none'; // 1초 후에 Spiner 숨김
                    }, 1100);

                }
            });


        }



        function openModal() {
            document.getElementById('modal').style.display = 'block';
            document.getElementById('overlay').style.display = 'block';
        }


        function closeModal() {
            document.getElementById('modal').style.display = 'none';
            document.getElementById('overlay').style.display = 'none';
        }
        function closeModal1() {
            document.getElementById('modal1').style.display = 'none';
            document.getElementById('overlay1').style.display = 'none';
        }





    </script>

</body>

</html>