<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" href="../css/shipmentplan1.css">
    <link rel="stylesheet" href="../css/spiner.css">
    <link rel="stylesheet" href="../css/tablewrapper.css">
    <link rel="stylesheet" href="../css/header.css">
    <title>출하계획 대비 완제품 과부족 현황</title>

</head>

<body>

    <div class="header-container">
        <div class="header-title">
            <h2><i class="fas fa-chart-line"></i> &nbsp;출하계획 대비 완제품 과부족 현황</h2>
        </div>
        <div class="header-subtitle">
            <h4>출하계획등록 > 출하계획 대비 완제품 과부족 현황</h4>
        </div>
    </div>
    <fieldset>
        <legend>검색조건</legend>
        <i class="fas fa-search"></i>
        <select id="yearSelect">
            <!-- 여기에 옵션을 자바스크립트로 추가할 예정입니다. -->
        </select>
        <select id="monthSelect">
            <option value="1">1월</option>
            <option value="2">2월</option>
            <option value="3">3월</option>
            <option value="4">4월</option>
            <option value="5">5월</option>
            <option value="6">6월</option>
            <option value="7">7월</option>
            <option value="8">8월</option>
            <option value="9">9월</option>
            <option value="10">10월</option>
            <option value="11">11월</option>
            <option value="12">12월</option>

        </select>
        <button class="close-button" onclick="updateBusinessPlan()">조회</button>

    </fieldset>
    <div class="spinner-overlay">
        <div class="spinner"></div>
    </div>
    <!-- <table id="businessPlan">
        <thead>

        </thead>
        <tbody>
            <td>M</td>
        </tbody>
    </table> -->
    <table border="1">
        <tr>
            <th>공정</th>
            <th>모델</th>
            <th>품목</th>
            <th>PCS=EA</th>
            <th>구분</th>
            <th>TOTAL</th>
            <th>자공정재고</th>
            <th>앞공정재고</th>
            <th>7/24</th>
            <th>7/25</th>
            <th>7/26</th>
            <th>7/27</th>
            <th>7/28</th>
            <th>7/29</th>
            <th>7/30</th>
            <th>7/31</th>
            <th>8/1</th>
            <th>8/2</th>
            <th>8/3</th>
            <th>8/4</th>
            <th>8/5</th>
            <th>8/6</th>
            <th>8/7</th>
            <th>8/8</th>
            <th>8/9</th>
            <th>8/10</th>
            <th>8/11</th>
        </tr>
        <tr>
            <td rowspan="3">생산</td>
            <td rowspan="3">T4_J</td>
            <td rowspan="3">1CS-COV</td>
            <td rowspan="3">4</td>
            <td>납품 계획</td>
            <td>651,880</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>34,368</td>
            <td>40,000</td>
            <td>40,000</td>
            <td>40,000</td>
            <td>40,000</td>
            <td>40,000</td>
            <td>40,000</td>
            <td>40,000</td>
            <td>40,000</td>
            <td>40,000</td>
            <td>40,000</td>
            <td>40,000</td>
            <td>40,000</td>
            <td>40,000</td>
            <td>40,000</td>
            <td>57,512</td>
        </tr>
        <tr>
           
            <td>생산실적</td>
            <td>399,400</td>
            <td>154,960</td>
            <td>244,440</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>

        </tr>
        <tr>
           
            <td>과부족</td>
            <td style="background-color: red; color: white;">-252,480</td>
            <td>154,960</td>
            <td>244,440</td>
            <td>154,960</td>
            <td>154,960</td>
            <td>120,592</td>
            <td>80,592</td>
            <td>40,592</td>
            <td>592</td>
            <td>-39,408</td>
            <td>-79,408</td>
            <td>-119,408</td>
            <td>-159,408</td>
            <td>-199,408</td>
            <td>-239,408</td>
            <td>-279,408</td>
            <td>-319,408</td>
            <td>-359,408</td>
            <td>-399,408</td>
            <td>-439,408</td>
            <td>-496,920</td>
            <td>-496,920</td>
        </tr>
        <tr>
            <td rowspan="3">검사</td>
            <td rowspan="3">T4_J</td>
            <td rowspan="3">1CS-COV</td>
            <td rowspan="3">4</td>
            <td>납품 계획</td>
            <td>651,880</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>34,368</td>
            <td>40,000</td>
            <td>40,000</td>
            <td>40,000</td>
            <td>40,000</td>
            <td>40,000</td>
            <td>40,000</td>
            <td>40,000</td>
            <td>40,000</td>
            <td>40,000</td>
            <td>40,000</td>
            <td>40,000</td>
            <td>40,000</td>
            <td>40,000</td>
            <td>40,000</td>
            <td>57,512</td>
        </tr>
        <tr>
           
            <td>생산실적</td>
            <td>89,480</td>
            <td>12,000</td>
            <td>77,480</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
           
            <td>과부족</td>
            <td style="background-color: red; color: white;">-562,400</td>
            <td>12,000</td>
            <td>77,480</td>
            <td>12,000</td>
            <td>12,000</td>
            <td>-22,368</td>
            <td>-62,368</td>
            <td>-102,368</td>
            <td>-142,368</td>
            <td>-182,368</td>
            <td>-222,368</td>
            <td>-262,368</td>
            <td>-302,368</td>
            <td>-342,368</td>
            <td>-382,368</td>
            <td>-422,368</td>
            <td>-462,368</td>
            <td>-502,368</td>
            <td>-542,368</td>
            <td>-582,368</td>
            <td>-639,880</td>
            <td>-639,880</td>
        </tr>
        <tr>
            <td rowspan="3">완제품</td>
            <td rowspan="3">T4_J</td>
            <td rowspan="3">1CS-COV</td>
            <td rowspan="3">4</td>
            <td>납품 계획</td>
            <td>651,880</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>34,368</td>
            <td>40,000</td>
            <td>40,000</td>
            <td>40,000</td>
            <td>40,000</td>
            <td>40,000</td>
            <td>40,000</td>
            <td>40,000</td>
            <td>40,000</td>
            <td>40,000</td>
            <td>40,000</td>
            <td>40,000</td>
            <td>40,000</td>
            <td>40,000</td>
            <td>40,000</td>
            <td>57,512</td>
        </tr>
        <tr>
           
            <td>생산실적</td>
            <td>77,480</td>
            <td></td>
            <td>77,480</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            
            <td>과부족</td>
            <td style="background-color: red; color: white;">-574,400</td>
            <td></td>
            <td>77,480</td>
            <td></td>
            <td></td>
            <td>-34,368</td>
            <td>-74,368</td>
            <td>-114,368</td>
            <td>-154,368</td>
            <td>-194,368</td>
            <td>-234,368</td>
            <td>-274,368</td>
            <td>-314,368</td>
            <td>-354,368</td>
            <td>-394,368</td>
            <td>-434,368</td>
            <td>-474,368</td>
            <td>-514,368</td>
            <td>-554,368</td>
            <td>-594,368</td>
            <td>-651,880</td>
            <td>-651,880</td>
        </tr>
    </table>

    <script>
        var server = '';
        var gridApi;
        if (window.location.hostname === '127.0.0.1' || window.location.hostname === 'localhost') {
            server = 'http://localhost:8080';
        } else {
            server = 'https://mestechon.com';
        }

        $(document).ready(function () {
            var spinnerOverlay = document.querySelector('.spinner-overlay');
            spinnerOverlay.style.display = 'flex'; // Spiner 표시

            var monthSelect = document.getElementById('monthSelect');
            var yearSelect = document.getElementById('yearSelect');
            var currentMonth = new Date().getMonth() + 1;
            var currentYear = new Date().getFullYear();
            monthSelect.value = currentMonth;
            yearSelect.value = currentYear;
            // updateBusinessPlan();
            setTimeout(function () {
                spinnerOverlay.style.display = 'none'; // 1초 후에 Spiner 숨김
            }, 1100);
        });


        var yearSelect = document.getElementById('yearSelect');
        var monthSelect = document.getElementById('monthSelect');
        var businessPlanTable = document.getElementById('businessPlan').getElementsByTagName('tbody')[0];

        // 년도 옵션 생성
        var currentYear = new Date().getFullYear();
        for (var i = currentYear; i >= currentYear - 1; i--) {
            var option = document.createElement('option');
            option.value = i;
            option.textContent = i + '년';
            yearSelect.appendChild(option);
        }

        // 년도 옵션 생성

        function formatDate(date) {
            var year = date.getFullYear();
            var month = String(date.getMonth() + 1).padStart(2, '0');
            var day = String(date.getDate()).padStart(2, '0');
            return year + '-' + month + '-' + day;
        }


        function updateBusinessPlan() {
            var today = new Date();
            var year = today.getFullYear();
            var month = String(today.getMonth() + 1).padStart(2, '0'); // 월은 0부터 시작하므로 1을 더해준다.
            var day = String(today.getDate()).padStart(2, '0'); // 일

            // 20일 뒤의 날짜 구하기
            var futureDate = new Date(today);
            futureDate.setDate(futureDate.getDate() + 20);
            var futureYear = futureDate.getFullYear();
            var futureMonth = String(futureDate.getMonth() + 1).padStart(2, '0');
            var futureDay = String(futureDate.getDate()).padStart(2, '0');

            // 테이블 헤더 업데이트
            var tableHeader = '<tr><th style="width:100px;">모델명</th><th style="width:100px;">제품명</th><th style="width:150px;">구분</th><th style="width:100px;">자공정재고</th><th style="width:100px;">앞공정재고</th>';
            var firstDate, lastDate;
            for (var currentDate = new Date(today); currentDate <= futureDate; currentDate.setDate(currentDate.getDate() + 1)) {
                var currentYear = currentDate.getFullYear();
                var currentMonth = String(currentDate.getMonth() + 1).padStart(2, '0');
                var currentDay = String(currentDate.getDate()).padStart(2, '0');
                var date = currentYear + '-' + currentMonth + '-' + currentDay;
                if (!firstDate) firstDate = date; // 첫 번째 날짜 저장
                lastDate = date; // 마지막 날짜 업데이트
                tableHeader += '<th class="date">' + currentMonth + '-' + currentDay + '</th>';
            }




            tableHeader += '</tr>';
            businessPlanTable.innerHTML = tableHeader;
            $.ajax({

                type: 'POST',
                url: server + '/api/deficiency',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify({
                    "start": firstDate,
                    "finish": lastDate

                }),
                success: function (data) {
                    var tableBody = '';
                    data.forEach(function (item) {
                        // itemname이 rowspan3이 되도록 추가
                        tableBody += '<tr>';
                        tableBody += '<td rowspan="7">' + item.modelname + '</td>';
                        tableBody += '<td rowspan="7">' + item.itemname + '</td>';
                        tableBody += '<td>납품계획</td>';
                        tableBody += '<td colspan="2" style="background-color:lime;">' + item.sumquantity.toLocaleString() + '</td>';

                        // 각 일자별로 편집 가능한 셀 추가
                        for (var currentDate = new Date(today); currentDate <= futureDate; currentDate.setDate(currentDate.getDate() + 1)) {
                            var currentYear = currentDate.getFullYear();
                            var currentMonth = String(currentDate.getMonth() + 1).padStart(2, '0');
                            var currentDay = String(currentDate.getDate()).padStart(2, '0');
                            var date = currentMonth + '-' + currentDay;
                            tableBody += '<td id="shipment-' + item.bomno + '-' + currentYear + '-' + date + '"></td>';
                        }
                        tableBody += '</tr>';
                        $.ajax({
                            type: 'POST',
                            url: server + '/api/deficiencyshipmentplan',
                            dataType: 'json',
                            contentType: 'application/json',
                            data: JSON.stringify({

                            }),
                            success: function (result) {
                                for (var i = 0; i < result.length; i++) {
                                    var quantity = result[i].quantity ? result[i].quantity.toLocaleString() : 0;
                                    $('#shipment-' + item.bomno + '-' + result[i].shipmentdate).text(quantity);
                                }
                            },
                        });


                        tableBody += '<tr>';
                        tableBody += '<td>생산과부족</td>';
                        tableBody += '<td id="productquantity"></td>';
                        tableBody += '<td id="firstproductquantity"></td>';

                        // 각 일자별로 편집 가능한 셀 추가
                        for (var currentDate = new Date(today); currentDate <= futureDate; currentDate.setDate(currentDate.getDate() + 1)) {


                            var currentYear = currentDate.getFullYear();
                            var currentMonth = String(currentDate.getMonth() + 1).padStart(2, '0');
                            var currentDay = String(currentDate.getDate()).padStart(2, '0');
                            var date = currentMonth + '-' + currentDay;
                            tableBody += '<td id="product-' + item.bomno + '-' + currentYear + '-' + date + '"></td>';
                        }

                        $.ajax({
                            type: 'POST',
                            url: server + '/api/deficiencyproduct',
                            dataType: 'json',
                            contentType: 'application/json',
                            data: JSON.stringify({
                                part: '생산'
                            }),
                            success: function (result) {
                                for (var i = 0; i < result.length; i++) {
                                    $('#productquantity').text(result[0].quantity.toLocaleString());
                                }

                                var today = new Date();

                                for (var i = 0; i < 21; i++) {
                                    var targetDate = new Date(today);
                                    targetDate.setDate(today.getDate() + i);

                                    var year = targetDate.getFullYear();
                                    var month = String(targetDate.getMonth() + 1).padStart(2, '0');
                                    var day = String(targetDate.getDate()).padStart(2, '0');
                                    var formattedDate = month + '-' + day;

                                    var productQuantityText = $('#productquantity').text().replace(/,/g, ''); // 쉼표 제거
                                    var firstProductQuantityText = $('#firstproductquantity').text().replace(/,/g, ''); // 쉼표 제거

                                    var productQuantity = parseFloat(productQuantityText);
                                    var firstProductQuantity = parseFloat(firstProductQuantityText);

                                    // NaN이면 0으로 설정
                                    if (isNaN(productQuantity)) {
                                        productQuantity = 0;
                                    }
                                    if (isNaN(firstProductQuantity)) {
                                        firstProductQuantity = 0;
                                    }

                                    var totalQuantity = (productQuantity + firstProductQuantity).toLocaleString(); // 적절한 형식으로 변환

                                    if (i === 0) {
                                        $('#product-' + item.bomno + '-' + year + '-' + formattedDate).text(totalQuantity);
                                    }
                                }

                            },
                        });
                        tableBody += '</tr>';
                        tableBody += '<tr>';
                        tableBody += '<td>검사 과부족</td>';
                        tableBody += '<td id="inspectionquantity"></td>';
                        tableBody += '<td id="fistinspectionquantity"></td>';

                        // 각 일자별로 편집 가능한 셀 추가
                        for (var currentDate = new Date(today); currentDate <= futureDate; currentDate.setDate(currentDate.getDate() + 1)) {
                            var currentYear = currentDate.getFullYear();
                            var currentMonth = String(currentDate.getMonth() + 1).padStart(2, '0');
                            var currentDay = String(currentDate.getDate()).padStart(2, '0');
                            var date = currentMonth + '-' + currentDay;
                            tableBody += '<td id="minusinspection-' + item.bomno + '-' + currentYear + '-' + date + '"></td>';
                        }

                        tableBody += '</tr>';

                        $.ajax({
                            type: 'POST',
                            url: server + '/api/deficiencyproduct',
                            dataType: 'json',
                            contentType: 'application/json',
                            data: JSON.stringify({
                                part: '검사'
                            }),
                            success: function (result) {
                                $('#inspectionquantity').text(result[0].quantity.toLocaleString());
                                $('#firstproductquantity').text(parseFloat(result[0].quantity + parseFloat(100000)).toLocaleString());

                            },

                        });

                        tableBody += '<tr>';
                        tableBody += '<td>완제품</td>';

                        tableBody += '<td id="itemquantity"></td>';
                        tableBody += '<td >-</td>';

                        // 각 일자별로 편집 가능한 셀 추가
                        for (var currentDate = new Date(today); currentDate <= futureDate; currentDate.setDate(currentDate.getDate() + 1)) {
                            var currentYear = currentDate.getFullYear();
                            var currentMonth = String(currentDate.getMonth() + 1).padStart(2, '0');
                            var currentDay = String(currentDate.getDate()).padStart(2, '0');
                            var date = currentMonth + '-' + currentDay;
                            tableBody += '<td id="minusitem-' + item.bomno + '-' + currentYear + '-' + date + '"></td>';
                        }

                        $.ajax({
                            type: 'POST',
                            url: server + '/api/deficiencyproduct',
                            dataType: 'json',
                            contentType: 'application/json',
                            data: JSON.stringify({
                                part: '완제품'
                            }),
                            success: function (result) {

                                // for (var i = 0; i < result.length; i++) {

                                // }
                                $('#itemquantity').text(result[0].quantity.toLocaleString());
                                $('#fistinspectionquantity').text(result[0].quantity.toLocaleString());

                            },

                        });
                    });


                    businessPlanTable.innerHTML += tableBody;
                },
            });
        }



        function parseFloatStrict(value) {
            var parsedValue = parseFloat(value);
            return !isNaN(parsedValue) ? parsedValue : 0;
        }

    </script>

</body>

</html>