<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" href="../css/shipmentplan1.css">
    <link rel="stylesheet" href="../css/spiner.css">

    <title>출하계획 대비 완제품 과부족 현황</title>

</head>

<body>

    <h2 style="margin-left: 20px;">* 출하계획 대비 완제품 과부족 현황</h2>
    <!-- <input type="date"> -->

    <div class="spinner-overlay">
        <div class="spinner"></div>
    </div>
    <table id="businessPlan">
        <thead>

        </thead>
        <tbody>
            <!-- 여기에 선택된 연도와 월에 따라 자바스크립트로 추가될 예정입니다. -->
        </tbody>
    </table>

    <script>
        var server = '';
        var gridApi;
        // console.log(window.location.hostname)
        if (window.location.hostname == 'localhost') {
            server = 'http://localhost:8080';
        } else {
            server = 'http://techonmes.co.kr';
        }

        $(document).ready(function () {
            var spinnerOverlay = document.querySelector('.spinner-overlay');
            spinnerOverlay.style.display = 'flex'; // Spiner 표시

            updateBusinessPlan();
            setTimeout(function () {
                spinnerOverlay.style.display = 'none'; // 1초 후에 Spiner 숨김
            }, 1100);
        });



        var yearSelect = document.getElementById('yearSelect');
        var monthSelect = document.getElementById('monthSelect');
        var businessPlanTable = document.getElementById('businessPlan').getElementsByTagName('tbody')[0];

        // 년도 옵션 생성



        function updateBusinessPlan() {
            var today = new Date();
            var year = today.getFullYear();
            var month = String(today.getMonth() + 1).padStart(2, '0'); // 월은 0부터 시작하므로 1을 더해준다.
            var day = String(today.getDate()).padStart(2, '0'); // 일

            // 20일 뒤의 날짜 구하기
            var futureDate = new Date(today);
            futureDate.setDate(futureDate.getDate() + 20);
            var futureYear = futureDate.getFullYear();
            var futureMonth = String(futureDate.getMonth() + 1).padStart(2, '0');
            var futureDay = String(futureDate.getDate()).padStart(2, '0');

            // 테이블 헤더 업데이트
            var tableHeader = '<tr><th style="width:100px;">모델명</th><th style="width:100px;">제품명</th><th style="width:150px;">구분</th><th style="width:100px;">자공정재고</th><th style="width:100px;">앞공정재고</th>';
            for (var currentDate = new Date(today); currentDate <= futureDate; currentDate.setDate(currentDate.getDate() + 1)) {
                var currentYear = currentDate.getFullYear();
                var currentMonth = String(currentDate.getMonth() + 1).padStart(2, '0');
                var currentDay = String(currentDate.getDate()).padStart(2, '0');
                var date = currentMonth + '/' + currentDay;
                tableHeader += '<th class="date">' + date + '</th>';
            }
            tableHeader += '</tr>';
            businessPlanTable.innerHTML = tableHeader;






            $.ajax({
                type: 'POST',
                url: server + '/api/deficiency',
                dataType: 'json',
                success: function (data) {
                    var tableBody = '';
                    data.forEach(function (item) {
                        // itemname이 rowspan3이 되도록 추가
                        tableBody += '<tr>';
                        tableBody += '<td rowspan="7">' + item.modelname + '</td>';
                        tableBody += '<td rowspan="7">' + item.itemname + '</td>';
                        tableBody += '<td>납품계획</td>';
                        tableBody += '<td colspan="2" style="background-color:lime;">' + item.sumquantity.toLocaleString() + '</td>';

                        // 각 일자별로 편집 가능한 셀 추가
                        for (var currentDate = new Date(today); currentDate <= futureDate; currentDate.setDate(currentDate.getDate() + 1)) {
                            var currentYear = currentDate.getFullYear();
                            var currentMonth = String(currentDate.getMonth() + 1).padStart(2, '0');
                            var currentDay = String(currentDate.getDate()).padStart(2, '0');
                            var date = currentMonth + '-' + currentDay;
                            tableBody += '<td id="shipment-' + item.bomno + '-' + currentYear + '-' + date + '"></td>';
                        }
                        tableBody += '</tr>';
                        $.ajax({
                            type: 'POST',
                            url: server + '/api/deficiencyshipmentplan',
                            dataType: 'json',
                            contentType: 'application/json',
                            data: JSON.stringify({

                            }),
                            success: function (result) {
                                for (var i = 0; i < result.length; i++) {
                                    var quantity = result[i].quantity ? result[i].quantity.toLocaleString() : 0;
                                    $('#shipment-' + item.bomno + '-' + result[i].shipmentdate).text(quantity);
                                }
                            },
                        });


                        tableBody += '<tr>';
                        tableBody += '<td>생산과부족</td>';
                        tableBody += '<td id="productquantity"></td>';
                        tableBody += '<td id="firstproductquantity"></td>';

                        // 각 일자별로 편집 가능한 셀 추가
                        for (var currentDate = new Date(today); currentDate <= futureDate; currentDate.setDate(currentDate.getDate() + 1)) {


                            var currentYear = currentDate.getFullYear();
                            var currentMonth = String(currentDate.getMonth() + 1).padStart(2, '0');
                            var currentDay = String(currentDate.getDate()).padStart(2, '0');
                            var date = currentMonth + '-' + currentDay;
                            tableBody += '<td id="product-' + item.bomno + '-' + currentYear + '-' + date + '"></td>';
                        }

                        $.ajax({
                            type: 'POST',
                            url: server + '/api/deficiencyproduct',
                            dataType: 'json',
                            contentType: 'application/json',
                            data: JSON.stringify({
                                part: '생산'
                            }),
                            success: function (result) {
                                for (var i = 0; i < result.length; i++) {
                                    $('#productquantity').text(result[0].quantity.toLocaleString());
                                }

                                var today = new Date();

                                for (var i = 0; i < 21; i++) {
                                    var targetDate = new Date(today);
                                    targetDate.setDate(today.getDate() + i);

                                    var year = targetDate.getFullYear();
                                    var month = String(targetDate.getMonth() + 1).padStart(2, '0');
                                    var day = String(targetDate.getDate()).padStart(2, '0');
                                    var formattedDate = month + '-' + day;

                                    var productQuantityText = $('#productquantity').text().replace(/,/g, ''); // 쉼표 제거
                                    var firstProductQuantityText = $('#firstproductquantity').text().replace(/,/g, ''); // 쉼표 제거

                                    var productQuantity = parseFloat(productQuantityText);
                                    var firstProductQuantity = parseFloat(firstProductQuantityText);

                                    // NaN이면 0으로 설정
                                    if (isNaN(productQuantity)) {
                                        productQuantity = 0;
                                    }
                                    if (isNaN(firstProductQuantity)) {
                                        firstProductQuantity = 0;
                                    }

                                    var totalQuantity = (productQuantity + firstProductQuantity).toLocaleString(); // 적절한 형식으로 변환
                                    console.log(productQuantity)
                                    console.log(firstProductQuantity)
                                    if (i === 0) {
                                        $('#product-' + item.bomno + '-' + year + '-' + formattedDate).text(totalQuantity);
                                    }
                                }

                            },
                        });


                        tableBody += '</tr>';




                        tableBody += '<tr>';
                        tableBody += '<td>검사 과부족</td>';
                        tableBody += '<td id="inspectionquantity"></td>';
                        tableBody += '<td id="fistinspectionquantity"></td>';

                        // 각 일자별로 편집 가능한 셀 추가
                        for (var currentDate = new Date(today); currentDate <= futureDate; currentDate.setDate(currentDate.getDate() + 1)) {
                            var currentYear = currentDate.getFullYear();
                            var currentMonth = String(currentDate.getMonth() + 1).padStart(2, '0');
                            var currentDay = String(currentDate.getDate()).padStart(2, '0');
                            var date = currentMonth + '-' + currentDay;
                            tableBody += '<td id="minusinspection-' + item.bomno + '-' + currentYear + '-' + date + '"></td>';
                        }

                        tableBody += '</tr>';

                        $.ajax({
                            type: 'POST',
                            url: server + '/api/deficiencyproduct',
                            dataType: 'json',
                            contentType: 'application/json',
                            data: JSON.stringify({
                                part: '검사'
                            }),
                            success: function (result) {
                                $('#inspectionquantity').text(result[0].quantity.toLocaleString());
                                $('#firstproductquantity').text(parseFloat(result[0].quantity + parseFloat(100000)).toLocaleString());

                            },

                        });

                        tableBody += '<tr>';
                        tableBody += '<td>완제품</td>';

                        tableBody += '<td id="itemquantity"></td>';
                        tableBody += '<td >-</td>';

                        // 각 일자별로 편집 가능한 셀 추가
                        for (var currentDate = new Date(today); currentDate <= futureDate; currentDate.setDate(currentDate.getDate() + 1)) {
                            var currentYear = currentDate.getFullYear();
                            var currentMonth = String(currentDate.getMonth() + 1).padStart(2, '0');
                            var currentDay = String(currentDate.getDate()).padStart(2, '0');
                            var date = currentMonth + '-' + currentDay;
                            tableBody += '<td id="minusitem-' + item.bomno + '-' + currentYear + '-' + date + '"></td>';
                        }

                        $.ajax({
                            type: 'POST',
                            url: server + '/api/deficiencyproduct',
                            dataType: 'json',
                            contentType: 'application/json',
                            data: JSON.stringify({
                                part: '완제품'
                            }),
                            success: function (result) {

                                // for (var i = 0; i < result.length; i++) {

                                // }
                                $('#itemquantity').text(result[0].quantity.toLocaleString());
                                $('#fistinspectionquantity').text(result[0].quantity.toLocaleString());

                            },

                        });
                    });


                    businessPlanTable.innerHTML += tableBody;
                },
            });


            // deficiencyshipmentplan
            // 클릭 이벤트를 추가할 TD 요소를 찾습니다.



        }



        function parseFloatStrict(value) {
            var parsedValue = parseFloat(value);
            return !isNaN(parsedValue) ? parsedValue : 0;
        }

    </script>

</body>

</html>