<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>창고정보</title>
    <script src="../assets/js/core/jquery-3.7.1.min.js"></script>
    <script src="../assets/js/core/popper.min.js"></script>
    <script src="../assets/js/core/bootstrap.min.js"></script>
    <script src="../assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
    <script src="../assets/js/plugin/datatables/datatables.min.js"></script>
    <script src="../assets/js/kaiadmin.min.js"></script>
    <script src="../assets/js/setting-demo2.js"></script>
    <script src="../assets/js/plugin/webfont/webfont.min.js"></script>
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../assets/css/plugins.min.css" />
    <link rel="stylesheet" href="../assets/css/kaiadmin.min.css" />
    <link rel="stylesheet" href="../assets/css/demo.css" />

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <!-- SweetAlert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
</head>

<style>

</style>

<body>

    <div class="page-inner">
        <div class="page-header">
            <div class="col-md-12">
                <div class="card">
                    <div class="page-inner">
                        <div class="card-header">
                            <div class="d-flex align-items-center">
                                <h4 class="card-title">thông tin thiết bị(설비 정보)</h4>
                                <button class="btn btn-primary btn-round ms-auto" data-bs-toggle="modal" id="addButton">
                                    <i class="fa fa-plus"></i>
                                    thêm vào(추가)
                                </button>
                            </div>
                        </div>

                    </div>


                    <div class="modal fade" id="deleteConfirmModal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog" role="document" style="width: 500px;">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">
                                        xóa thông tin<br>삭제 확인</h5>
                                </div>
                                <div class="modal-body">
                                    <p>
                                        Bạn có muốn xóa thông tin của bạn?<br>정보를 삭제 하시겠습니까?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" id="deletecancelBtn" class="btn btn-secondary"
                                        data-dismiss="modal">
                                        Hủy bỏ(취소)</button>
                                    <button type="button" id="confirmDeleteButton" class="btn btn-danger">
                                        kiểm tra(확인)</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="toast" id="successToast" style="position: fixed; top: 20px; right: 20px; z-index: 1050;"
                        role="alert" aria-live="assertive" aria-atomic="true">
                        <div class="toast-header">
                            <strong class="me-auto">Message</strong>
                            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                        </div>
                        <div class="toast-body" style="color: blue;">

                            Thông tin của bạn đã được lưu<br>정보가 저장되었습니다.
                        </div>
                    </div>

                    <div class="toast" id="deleteToast" style="position: fixed; top: 20px; right: 20px; z-index: 1050;"
                        role="alert" aria-live="assertive" aria-atomic="true">
                        <div class="toast-header">
                            <strong class="me-auto">Message</strong>
                            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                        </div>
                        <div class="toast-body" style="color: red;">
                            Thông tin của bạn đã bị xóa<br>정보가 삭제되었습니다.
                        </div>
                    </div>
                    <div class="toast" id="nuToast" style="position: fixed; top: 20px; right: 20px; z-index: 1051;"
                        role="alert" aria-live="assertive" aria-atomic="true">
                        <div class="toast-header">
                            <strong class="me-auto">Message</strong>
                            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                        </div>
                        <div class="toast-body" style="color: red;">
                            Thông tin bị thiếu<br>정보가 누락되었습니다.
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="modal fade" id="addRowModal" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog" id="save-dialog" role="document" style="width:600px;">
                                <div class="modal-content">
                                    <div class="card-header">
                                        <div class="d-flex align-items-center">
                                            <h4 class="card-title">Thêm thông tin cơ sở(설비 정보 추가)</h4>
                                        </div>
                                    </div>

                                    <div class="modal-body">
                                        <form>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="form-group form-group-default">
                                                        <label>*Mã thiết bị(설비코드)</label>
                                                        <input id="codenumber-input" type="text" class="form-control"
                                                            autocomplete="off" placeholder="" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="form-group form-group-default">
                                                        <label>*Tên máy(호기명)</label>
                                                        <input id="equipmentname-input" type="text" autocomplete="off"
                                                            class="form-control" placeholder="" />
                                                    </div>
                                                </div>

                                                <div class="col-sm-12">
                                                    <div class="form-group form-group-default">
                                                        <label>*Tên thiết bị(설비명)</label>
                                                        <input id="eqname-input" type="text" class="form-control"
                                                            autocomplete="off" placeholder="" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="form-group form-group-default">
                                                        <label>*Phân loại(구분)</label>
                                                        <input id="part-input" type="text" autocomplete="off"
                                                            class="form-control" placeholder="" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="form-group form-group-default">
                                                        <label>*Quy cách(규격)</label>
                                                        <input id="size-input" type="text" autocomplete="off"
                                                            class="form-control" placeholder="" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="form-group form-group-default">
                                                        <label>*Số công đoạn sản xuất(차수)</label>
                                                        <input id="num-input" type="text" autocomplete="off"
                                                            class="form-control" placeholder="" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="form-group form-group-default">
                                                        <label>*Nhà sản xuất thiết bị(설비제작업체)</label>
                                                        <input id="customer-input" type="text" autocomplete="off"
                                                            class="form-control" placeholder="" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="form-group form-group-default">
                                                        <label>*Số serial(SerialNO)</label>
                                                        <input id="serialno-input" type="text" autocomplete="off"
                                                            class="form-control" placeholder="" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="form-group form-group-default">
                                                        <label>*Ngày sản xuất(제작일자)</label>
                                                        <input id="manudate-input" type="text" autocomplete="off"
                                                            class="form-control" placeholder="" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="form-group form-group-default">
                                                        <label>*Vị trí thiết bị(설비위치)</label>
                                                        <input id="position-input" type="text" autocomplete="off"
                                                            class="form-control" placeholder="" />
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer border-0">
                                        <button type="button" id="addRowButton" class="btn btn-primary">
                                            cứu(저장)</button>
                                        <button type="button" id="closeButton" class="btn btn-danger"
                                            data-dismiss="modal">đóng(닫기)</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="updateRowModal" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog" id="save-dialog" role="document" style="width:600px;">
                                <div class="modal-content">
                                    <div class="card-header">
                                        <div class="d-flex align-items-center">
                                            <h4 class="card-title">
                                                Sửa đổi thông tin cơ sở(설비 정보 수정)</h4>
                                            <input type="text" id="id-edit" style="visibility: hidden;">
                                        </div>
                                    </div>

                                    <div class="modal-body">
                                        <form>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="form-group form-group-default">
                                                        <label>*Mã thiết bị(설비코드)</label>
                                                        <input id="codenumber-edit" type="text" class="form-control"
                                                            autocomplete="off" placeholder="" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="form-group form-group-default">
                                                        <label>*Tên máy(호기명)</label>
                                                        <input id="equipmentname-edit" type="text" autocomplete="off"
                                                            class="form-control" placeholder="" />
                                                    </div>
                                                </div>

                                                <div class="col-sm-12">
                                                    <div class="form-group form-group-default">
                                                        <label>*Tên thiết bị(설비명)</label>
                                                        <input id="eqname-edit" type="text" class="form-control"
                                                            autocomplete="off" placeholder="" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="form-group form-group-default">
                                                        <label>*Phân loại(구분)</label>
                                                        <input id="part-edit" type="text" autocomplete="off"
                                                            class="form-control" placeholder="" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="form-group form-group-default">
                                                        <label>*Quy cách(규격)</label>
                                                        <input id="size-edit" type="text" autocomplete="off"
                                                            class="form-control" placeholder="" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="form-group form-group-default">
                                                        <label>*Số công đoạn sản xuất(차수)</label>
                                                        <input id="num-edit" type="text" autocomplete="off"
                                                            class="form-control" placeholder="" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="form-group form-group-default">
                                                        <label>*Nhà sản xuất thiết bị(설비제작업체)</label>
                                                        <input id="customer-edit" type="text" autocomplete="off"
                                                            class="form-control" placeholder="" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="form-group form-group-default">
                                                        <label>*Số serial(SerialNO)</label>
                                                        <input id="serialno-edit" type="text" autocomplete="off"
                                                            class="form-control" placeholder="" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="form-group form-group-default">
                                                        <label>*Ngày sản xuất(제작일자)</label>
                                                        <input id="manudate-edit" type="text" autocomplete="off"
                                                            class="form-control" placeholder="" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="form-group form-group-default">
                                                        <label>*Vị trí thiết bị(설비위치)</label>
                                                        <input id="position-edit" type="text" autocomplete="off"
                                                            class="form-control" placeholder="" />
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer border-0">
                                        <button type="button" id="updateRowButton" class="btn btn-primary">biên
                                            tập(수정)</button>
                                        <button type="button" id="updatecloseButton" class="btn btn-danger"
                                            data-dismiss="modal">đóng(닫기)</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="multi-filter-select" class="display table table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th>Mã thiết bị<br>(설비코드)</th>
                                            <th>Tên máy<br>(호기명)</th>
                                            <th>Tên thiết bị<br>(설비명)</th>
                                            <th>Phân loại<br>(구분)</th>
                                            <th>Quy cách<br>(규격)</th>
                                            <th>Số công đoạn sản xuất<br>(차수)</th>
                                            <th>Nhà sản xuất thiết bị<br>(설비제작업체)</th>
                                            <th>Số serial<br>(SerialNO) </th>
                                            <th>Ngày sản xuất<br>(제작일자) </th>
                                            <th>Vị trí thiết bị<br>(설비위치)</th>
                                            <th style="width: 6%">
                                                biên tập<br>(수정)</th>
                                            <th style="width: 6%">
                                                xóa bỏ<br>(삭제)</th>
                                        </tr>
                                    </thead>
                                    <tbody id="housetbody"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</body>

<script>
    var server = '';
    if (window.location.hostname === '127.0.0.1' || window.location.hostname === 'localhost') {
        server = 'http://localhost:8080';
    } else {
        server = 'https://mestechon.com';
    }

    $(document).ready(function () {
        // Initialize DataTable with search functionality
        var table = $("#multi-filter-select").DataTable({
            pageLength: 15,
            initComplete: function () {
                this.api().columns().every(function () {
                    var column = this;
                    var select = $('<select class="form-select"><option value=""></option></select>')
                        .appendTo($(column.footer()).empty())
                        .on("change", function () {
                            var val = $.fn.dataTable.util.escapeRegex($(this).val());
                            column.search(val ? "^" + val + "$" : "", true, false).draw();
                        });
                    column.data().unique().sort().each(function (d, j) {
                        select.append('<option value="' + d + '">' + d + "</option>");
                    });
                });
            },
        });


        $('#closeButton').on('click', function () {
            $('#addRowModal').modal('hide');
        });
        $('#updatecloseButton').on('click', function () {
            $('#updateRowModal').modal('hide');
        });

        $('#deletecancelBtn').on('click', function () {
            $('#deleteConfirmModal').modal('hide');
        });
        $('#addButton').on('click', function () {
            $('#codenumber-input').val('');
            $('#equipmentname-input').val('');
            $('#eqname-input').val('');
            $('#part-input').val('');
            $('#size-input').val('');
            $('#num-input').val('');
            $('#customer-input').val('');
            $('#serialno-input').val('');
            $('#manudate-input').val('');
            $('#position-input').val('');
            $('#addRowModal').modal('show');
        });


        $('#addRowButton').on('click', function () {
            // 입력값 확인
            const codenumber = $('#codenumber-input').val();
            const equipmentname = $('#equipmentname-input').val();
            const eqname = $('#eqname-input').val();
            const part = $('#part-input').val();

            // 누락된 필드 체크
            if (!codenumber || !equipmentname || !eqname || !part) {

                var toast = new bootstrap.Toast(document.getElementById('nuToast'));
                toast.show();
                return; // 누락된 필드가 있으면 종료
            }

            $.ajax({
                type: 'POST',
                url: server + '/api/inserteqdatavina',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify({
                    "codenumber": $('#codenumber-input').val(),
                    "equipmentname": $('#equipmentname-input').val(),
                    "eqname": $('#eqname-input').val(),
                    "part": $('#part-input').val(),
                    "size": $('#size-input').val(),
                    "num": $('#num-input').val(),
                    "customer": $('#customer-input').val(),
                    "serialno": $('#serialno-input').val(),
                    "manudate": $('#manudate-input').val(),
                    "position": $('#position-input').val(),
                }),
                success: function (result) {

                },

            });

            $('#addRowModal').modal('hide');

            var toast = new bootstrap.Toast(document.getElementById('successToast'));
            toast.show();

            // 0.5초 뒤에 load() 호출
            setTimeout(function () {
                load();
            }, 100);
        });


        $('#updateRowButton').on('click', function () {
            var rowIndex = $(this).data('row-index');
            var rowData = table.row(rowIndex).data();
            var id = $(this).data('id');

            // 입력값 확인
            const codenumber = $('#codenumber-edit').val();
            const equipmentname = $('#equipmentname-edit').val();
            const eqname = $('#eqname-edit').val();
            const part = $('#part-edit').val();
            const editId = $('#id-edit').val();

            // 누락된 필드 체크
            if (!codenumber || !equipmentname || !eqname || !part) {
                var toast = new bootstrap.Toast(document.getElementById('nuToast'));
                toast.show();
                return; // 누락된 필드가 있으면 종료
            }

            $.ajax({
                type: 'POST',
                url: server + '/api/updateeqdatavina',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify({
                    "codenumber": $('#codenumber-edit').val(),
                    "equipmentname": $('#equipmentname-edit').val(),
                    "eqname": $('#eqname-edit').val(),
                    "part": $('#part-edit').val(),
                    "size": $('#size-edit').val(),
                    "num": $('#num-edit').val(),
                    "customer": $('#customer-edit').val(),
                    "serialno": $('#serialno-edit').val(),
                    "manudate": $('#manudate-edit').val(),
                    "position": $('#position-edit').val(),
                    "id": editId,
                }),
                success: function (result) {
                    // 성공 시 처리
                },

            });

            $('#updateRowModal').modal('hide');

            var toast = new bootstrap.Toast(document.getElementById('successToast'));
            toast.show();

            // 0.5초 뒤에 load() 호출
            setTimeout(function () {
                load();
            }, 100);
        });
        load();
    });

    function load() {
        $.ajax({
            url: server + '/api/equipmentvina',
            method: 'post',
            dataType: 'json',
            contentType: 'application/json',
            data: JSON.stringify({}),
            success: function (result) {
                var table = $("#multi-filter-select").DataTable();
                table.clear().draw(); // Clear the table before adding new data

                result.forEach((item, index) => {
                    table.row.add([
                        item.codenumber || '',
                        item.equipmentname || '',
                        item.eqname || '',
                        item.part || '',
                        item.size || '',
                        item.num || '',
                        item.customer || '',
                        item.serialno || '',
                        item.manudate || '',
                        item.position || '',
                        '<div class="form-button-action">' +
                        '<button type="button" data-id="' + item.id + '" data-row-index="' + index + '" data-bs-toggle="tooltip" title="상세" class="btn btn-link btn-primary btn-lg edit-btn">' +
                        '<i class="fa fa-edit"></i>' +
                        '</button>' +
                        '</div>',
                        '<div class="form-button-action">' +
                        '<button type="button" data-id="' + item.id + '" data-bs-toggle="tooltip" title="삭제" class="btn btn-link btn-danger delete-btn">' +
                        '<i class="fa fa-times"></i>' +
                        '</button>' +
                        '</div>'
                    ]).draw(false);
                });

                $('.edit-btn').on('click', function () {
                    var rowIndex = $(this).data('row-index');
                    var rowData = table.row(rowIndex).data();
                    var id = $(this).data('id');
                    console.log(rowData)
                    $("#codenumber-edit").val(rowData[0]);
                    $("#equipmentname-edit").val(rowData[1]);
                    $("#eqname-edit").val(rowData[2]);
                    $("#part-edit").val(rowData[3]);
                    $("#size-edit").val(rowData[4]);
                    $("#num-edit").val(rowData[5]);
                    $("#customer-edit").val(rowData[6]);
                    $("#serialno-edit").val(rowData[7]);
                    $("#manudate-edit").val(rowData[8]);
                    $("#position-edit").val(rowData[9]);
                    $("#id-edit").val(id);

                    $('#updateRowModal').modal('show');
                });
            },

        });



        $(document).on('click', '.delete-btn', function () {
            deleteId = $(this).data('id'); // 클릭한 버튼의 ID 저장
            $('#deleteConfirmModal').modal('show'); // 모달 열기
        });




        $('#confirmDeleteButton').on('click', function () {
            $.ajax({
                type: 'POST',
                url: server + '/api/deleteeqdatavina',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify({
                    "id": deleteId
                }),
                success: function (result) {

                },

            });
            var toast = new bootstrap.Toast(document.getElementById('deleteToast'));
            toast.show();
            $('#deleteConfirmModal').modal('hide'); // 모달 닫기

            load(); // 데이터 새로 고침
        });
    }
</script>

</html>