<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" href="../css/equipmentinfo.css">
    <link rel="stylesheet" href="../css/spiner.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
    <script src="../js/searchtable.js"></script>

    <title>설비정보</title>
</head>

<body>

    <div class="header-container">
        <div class="header-title">
            <h2><i class="fas fa-cogs"></i> &nbsp;설비정보</h2>
        </div>
        <div class="header-subtitle">
            <h4>기초정보 > 설비정보</h4>
        </div>
    </div>
    <div id="overlay" class="overlay"></div>
    <div id="overlay1" class="overlay"></div>
    <fieldset>
        <legend>검색조건</legend>
        <i class="fas fa-search"></i>
        <input type="text" id="inputdata" placeholder="검색 후 ENTER 입력 바랍니다." style="width:400px; margin-left: 10px;"
            autocomplete="off">
        <button class="save-button" onclick="openModal()">신규등록</button>


    </fieldset>
    <div class="spinner-overlay">
        <div class="spinner"></div>
    </div>
    <div id="maintable" class="table-wrapper">
        <table>
            <thead>
                <th>설비코드</th>
                <th>호기명</th>
                <th>설비명</th>
                <th>구분</th>
                <th>규격</th>
                <th>차수</th>
                <th>설비제작업체</th>
                <th>SerialNO.</th>
                <th>제작일자</th>
                <th>설비위치</th>
                <th style="width:100px"></th>
                <th style="width:100px"></th>
            </thead>

            <tbody id="iteminfobody">
            </tbody>
            <tfoot id="iteminfofoot">
            </tfoot>
        </table>
    </div>



    <div class="modal" id="modal">
        <div class="modal-header">
            <span style="font-weight: bold;"> <i class="fas fa-address-book"></i>&nbsp;설비정보</span>
            <input type="text" id="dataid" style="width:60px; visibility: hidden">
        </div>
        <div class="modal-footer">
            <button class="close-button" onclick="datasave()">저장</button>
            <button class="delete-button" style="margin-left: 10px;" onclick="closeModal()">취소</button>
        </div>
        <div class="modal-content">
            <table class="styled-table" id="Podatatable">
                <thead id="tableHead">
                    <tr>
                        <th style="width:100px">설비코드</th>
                        <td><input type="text" id="codenumber-input" autocomplete="off"></td>
                    </tr>
                    <tr>
                        <th style="width:100px">호기명</th>
                        <td><input type="text" id="equipmentname-input" autocomplete="off"></td>
                    </tr>
                    <tr>
                        <th style="width:100px">설비명</th>
                        <td><input type="text" id="eqname-input" autocomplete="off"></td>
                    </tr>
                    <tr>
                        <th style="width:100px">구분</th>
                        <td><input type="text" id="part-input" autocomplete="off"></td>
                    </tr>
                    <tr>
                        <th style="width:100px">규격</th>
                        <td><input type="text" id="size-input" autocomplete="off"></td>
                    </tr>
                    <tr>
                        <th style="width:100px">차수</th>
                        <td><input type="text" id="num-input" autocomplete="off"></td>
                    </tr>
                    <tr>
                        <th style="width:100px">설비제작업체</th>
                        <td><input type="text" id="customer-input" autocomplete="off"></td>
                    </tr>
                    <tr>
                        <th style="width:100px">SerialNO</th>
                        <td><input type="text" id="serialno-input" autocomplete="off"></td>
                    </tr>
                    <tr>
                        <th style="width:100px">제작일자</th>
                        <td><input type="date" id="manudate-input" autocomplete="off"></td>
                    </tr>
                    <tr>
                        <th style="width:100px">설비위치</th>
                        <td><input type="text" id="position-input" autocomplete="off"></td>
                    </tr>
                </thead>

            </table>



        </div>
    </div>

    <div class="modal1" id="modal1">
        <div class="modal-header">
            <span style="font-weight: bold;"> <i class="fas fa-address-book"></i>&nbsp;제품검색</span>
        </div>
        <input type="text" class="styled-search" id="itemcode1-input" placeholder="검색내용을 입력하세요" autocomplete="off">
        <div class="modal-content">


            <table class="styled-table" id="Podatatable">
                <thead id="tableHead">
                    <tr>
                        <th>제품코드</th>
                        <th>BOMNO</th>
                        <th>모델명</th>
                        <th>제품명</th>
                        <th>고객사</th>
                        <th>단가</th>
                        <th style="width:100px;"></th>
                    </tr>
                </thead>
                <tbody id="itemtbody">
                </tbody>
            </table>

        </div>
        <div class="modal-footer">
            <button class="delete-button" style="margin-left: 10px;" onclick="closeModal1()">닫기</button>
        </div>
    </div>


    <script>
        var server = '';
        var gridApi;
        if (window.location.hostname === '127.0.0.1' || window.location.hostname === 'localhost') {
            server = 'http://localhost:8080';
        } else {
            server = 'https://mestechon.com';
        }

        $(document).ready(function () {
            load()
        });

        $('#inputdata').on('keyup', function (event) {
            if (event.key === 'Enter') { // 엔터 키가 눌렸는지 확인
                searchTable();
            }
        });


        function load() {
            var spinnerOverlay = document.querySelector('.spinner-overlay');
            spinnerOverlay.style.display = 'flex'; // Spiner 표시


            $.ajax({
                url: server + '/api/equipment',
                method: 'post',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify({

                }),

                success: function (result) {
                    $('#iteminfobody').empty();

                    for (var i = 0; i < result.length; i++) {
                        $('#iteminfobody').append(
                            '<tr>' +
                            '<td>' + (result[i].codenumber || '') + '</td>' +
                            '<td>' + (result[i].equipmentname || '') + '</td>' +
                            '<td>' + (result[i].eqname || '') + '</td>' +
                            '<td>' + (result[i].part || '') + '</td>' +
                            '<td>' + (result[i].size || '') + '</td>' +
                            '<td>' + (result[i].num || '') + '</td>' +
                            '<td>' + (result[i].customer || '') + '</td>' +
                            '<td>' + (result[i].serialno || '') + '</td>' +
                            '<td>' + (result[i].manudate || '') + '</td>' +
                            '<td>' + (result[i].position || '') + '</td>' +
                            '<td id="data-id">' + (result[i].id || '') + '</td>' +
                            '<td><button class="btninfo" onclick="showinfo(this)">상세정보</button></td>' +
                            '<td><button class="btninfo" style="background-color:red;" onclick="deletedata(this)">삭제</button></td>' +
                            '</tr>'
                        );
                    }

                    $('td#data-id').hide();
                    setTimeout(function () {
                        spinnerOverlay.style.display = 'none'; // 1초 후에 Spiner 숨김
                    }, 1100);

                }
            });


        }

        function showinfo(button) {
            var row = $(button).closest('tr');
            var rowData = row.find('td').map(function () {
                return $(this).text();
            }).get();

            $('#codenumber-input').val(rowData[0])
            $('#equipmentname-input').val(rowData[1])
            $('#eqname-input').val(rowData[2])
            $('#part-input').val(rowData[3])
            $('#size-input').val(rowData[4])
            $('#num-input').val(rowData[5])
            $('#customer-input').val(rowData[6])
            $('#serialno-input').val(rowData[7])
            $('#manudate-input').val(rowData[8])
            $('#position-input').val(rowData[9])
            $('#dataid').val(rowData[10])
            document.getElementById('modal').style.display = 'block';
            document.getElementById('overlay').style.display = 'block';
        }




        function closeModal() {
            document.getElementById('modal').style.display = 'none';
            document.getElementById('overlay').style.display = 'none';
        }





        function openModal() {
            document.getElementById('modal').style.display = 'block';
            document.getElementById('overlay').style.display = 'block';
            var insertdate = new Date().toISOString().slice(0, 10);

            // Clear input values
            $('#codenumber-input').val('')
            $('#equipmentname-input').val('')
            $('#eqname-input').val('')
            $('#part-input').val('')
            $('#size-input').val('')
            $('#num-input').val('')
            $('#customer-input').val('')
            $('#serialno-input').val('')
            $('#manudate-input').val(insertdate)
            $('#position-input').val('')
            $('#dataid').val('')

            setTimeout(function () {
                $('#codenumber-input').focus();
            }, 100);
        }


        function datasave() {
            // 데이터가 있으면
            if ($('#dataid').val()) {
                Swal.fire({
                    icon: 'info',
                    title: '수정',
                    text: '설비 정보를 수정 하시겠습니까?',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: '확인',
                    cancelButtonText: '취소',
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            type: 'POST',
                            url: server + '/api/updateeqdata',
                            dataType: 'json',
                            contentType: 'application/json',
                            data: JSON.stringify({
                                "codenumber": $('#codenumber-input').val(),
                                "equipmentname": $('#equipmentname-input').val(),
                                "eqname": $('#eqname-input').val(),
                                "part": $('#part-input').val(),
                                "size": $('#size-input').val(),
                                "num": $('#num-input').val(),
                                "customer": $('#customer-input').val(),
                                "serialno": $('#serialno-input').val(),
                                "manudate": $('#manudate-input').val(),
                                "position": $('#position-input').val(),
                                "id": $('#dataid').val()

                            }),
                            success: function (result) {

                            },

                        });
                        Swal.fire({
                            icon: 'success',
                            title: '수정 완료',
                            text: '설비 정보가 수정 되었습니다.',
                        }).then(() => {
                            $('#modal').fadeOut();
                            $('#overlay').fadeOut();
                            load();
                        });
                    }
                });
            } else {
                // 데이터가 없으면(등록)
                Swal.fire({
                    icon: 'info',
                    title: '저장',
                    text: '설비 정보를 등록 하시겠습니까?',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: '확인',
                    cancelButtonText: '취소',
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            type: 'POST',
                            url: server + '/api/inserteqdata',
                            dataType: 'json',
                            contentType: 'application/json',
                            data: JSON.stringify({
                                "codenumber": $('#codenumber-input').val(),
                                "equipmentname": $('#equipmentname-input').val(),
                                "eqname": $('#eqname-input').val(),
                                "part": $('#part-input').val(),
                                "size": $('#size-input').val(),
                                "num": $('#num-input').val(),
                                "customer": $('#customer-input').val(),
                                "serialno": $('#serialno-input').val(),
                                "manudate": $('#manudate-input').val(),
                                "position": $('#position-input').val(),
                            }),
                            success: function (result) {

                            },

                        });
                        Swal.fire({
                            icon: 'success',
                            title: '저장 완료',
                            text: '설비 정보가 저장 되었습니다.',
                        }).then(() => {
                            $('#modal').fadeOut();
                            $('#overlay').fadeOut();
                            load();
                        });
                    }
                });
            }

        }
        function deletedata(button) {
            var row = $(button).closest('tr');
            var rowData = row.find('td').map(function () {
                return $(this).text();
            }).get();

            Swal.fire({
                icon: 'warning',
                title: '삭제',
                text: '설비 정보를 삭제하시겠습니까?',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: '확인',
                cancelButtonText: '취소',
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        type: 'POST',
                        url: server + '/api/deleteeqdata',
                        dataType: 'json',
                        contentType: 'application/json',
                        data: JSON.stringify({
                            "id": rowData[10],

                        }),
                        success: function (result) {

                        },

                    });
                    Swal.fire({
                        icon: 'success',
                        title: '삭제 완료',
                        text: '설비 정보가 삭제 되었습니다.',
                    }).then(() => {
                        $('#modal').fadeOut();
                        $('#overlay').fadeOut();
                        load();
                    });
                }
            });
        }



    </script>

</body>

</html>