<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>설비 기초정보</title>
    <link rel="stylesheet" href="https://uicdn.toast.com/tui.grid/latest/tui-grid.css">
    <script src="https://uicdn.toast.com/tui.grid/latest/tui-grid.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <style>
        .tui-grid-header-area {
            position: sticky;
            top: 0;
            background-color: white;
            z-index: 1;
        }

        .tui-grid-cell .tui-grid-cell-header {
            position: sticky;
            top: 0;
            background-color: white;
            z-index: 2;
        }
    </style>
</head>

<body>

    <!-- 그리드를 표시할 컨테이너 -->
    <div id="grid"></div>


    <script>
        var server = '';
        if (window.location.hostname == 'localhost') {
            server = 'http://localhost:8080';
        } else {
            server = 'http://techonmes.co.kr';
        }

        // 그리드 설정
        const grid = new tui.Grid({
            el: document.getElementById('grid'),
            data: [],
            autoHeight: true,
            columns: [
                {
                    header: '설비코드',
                    name: 'codenumber',
                    filter: 'select'
                },
                {
                    header: '호기명',
                    name: 'equipmentname',
                    filter: 'select'
                },
                {
                    header: '설비명',
                    name: 'eqname',
                    filter: 'select'
                },
                {
                    header: '구분',
                    name: 'part',
                    filter: 'select'
                },
                {
                    header: '규격',
                    name: 'size',
                    filter: 'select'
                },
                {
                    header: '차수',
                    name: 'num',
                    filter: 'select'
                },
                {
                    header: '설비제작업체',
                    name: 'customer',
                    filter: 'select'
                },
                {
                    header: 'SERIAL NO',
                    name: 'serialno',
                    filter: 'select'
                },
                {
                    header: '제작일',
                    name: 'manudate',
                    filter: 'select'
                },
                {
                    header: '설비위치',
                    name: 'position',
                    filter: 'select'
                },
            ]
        });

        function updateDataCount(count) {
            console.log('Total data count:', count);
        }

        function load() {
            $.ajax({
                type: 'POST',
                url: server + '/api/equipment',
                dataType: 'json',
                success: function (data) {
                    updateDataCount(data.length);
                    grid.resetData(data);
                }
            });
        }

        load();

    </script>

</body>

</html>