<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>거래처정보</title>
    <script src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="../css/main.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style>
    #datatable-container {
        max-height: 1000px;
        /* Adjust the maximum height as needed */
        overflow-y: auto;
        /* Add vertical scrollbars if the content exceeds the container height */
    }

    #datatable {
        width: 100%;
        /* Other table styles */
    }
</style>

<body>
    <div class="main_header">
        <a>비가동입력</a>
        <div class="buttons" style="display: flex; justify-content: flex-end;">
            <!-- <button >신규</button> -->
        </div>

    </div>
    <div id="loadingOverlay">
        <img src="/img/테크온로고.PNG" alt="로딩 이미지" class="loadingImage">

    </div>
    <div class="search_form-group">
        <table class="search_div" style="width: 100%;">
            <tr>
                <td class="main_header_search">검색</td>
                <td><input type="text" id="myInput" onclick="search()" class="data" autocomplete="off"
                        style="width: auto; border: 1px solid silver; font-size: 18px;"></td>
                <td style="width: 5%;"><input type="button" onclick="New()" value="신규" class="styled-button"></td>
                <td style="width: 5%;"><input type="button" value="Excel-Up" class="styled-button1"></td>
                <td style="width: 5%;"><input type="button" value="Excel-Down" class="styled-button2"></td>
            </tr>
        </table>
    </div>


    <div id="datatable-container">

        <table class="styled-table" id="datatable">
            <thead>
                <tr>
                    <th style="width: auto;">설비명</th>
                    <th style="width: auto;">비가동시작</th>
                    <th style="width: auto;">비가동종료</th>
     
                    <th style="width: auto;">비가동원인</th>
                    <th style="width:80px;"></th>
                    <th style="width:80px;"></th>
                </tr>
            </thead>
            <tbody id="Datatbody">
            </tbody>
            <tfoot>
                <tr>
                    <td style="border: 1px solid silver;" colspan="12" id="dataCount"></td>
                </tr>
            </tfoot>
        </table>

    </div>
    <!-- 등록창 -->
    <div id="popupOverlay" style="display: none;">
        <div id="popupContent" style="width: 700px; height: auto;">
            <div class="form-group">
                <table style="width:100%;">
                    <tr>
                        <td colspan="2" style="background-color: black; color:white;">거래처 정보 추가</td>
                    </tr>
                    <tr>
                        <td style="width: 200px; background-color: whitesmoke;">거래처코드</td>
                        <td><input type="text" id="accountcode-save" class="data" autocomplete="off"
                                style="width:auto; border:1px solid silver;"></td>
                    </tr>
                    <tr>
                        <td style="width: 200px; background-color: whitesmoke;">사업자등록번호</td>
                        <td><input type="text" id="number-save" class="data" autocomplete="off"
                                style="width:auto; border:1px solid silver;"></td>
                    </tr>
                    <tr>
                        <td style="width: 200px; background-color: whitesmoke;">거래처명</td>
                        <td><input type="text" id="accountname-save" class="data" autocomplete="off"
                                style="width:auto; border:1px solid silver;"></td>
                    </tr>
                    <tr>
                        <td style="width: 200px; background-color: whitesmoke;">대표자명</td>
                        <td><input type="text" id="representativename-save" class="data" autocomplete="off"
                                style="width:auto; border:1px solid silver;"></td>
                    </tr>
                    <tr>
                        <td style="width: 200px; background-color: whitesmoke;">전화번호</td>
                        <td><input type="text" id="phone-save" class="data" autocomplete="off"
                                style="width:auto; border:1px solid silver;"></td>
                    </tr>
                    <tr>
                        <td style="width: 200px; background-color: whitesmoke;">Fax</td>
                        <td><input type="text" id="fax-save" class="data" autocomplete="off"
                                style="width:auto; border:1px solid silver;"></td>
                    </tr>
                    <tr>
                        <td style="width: 200px; background-color: whitesmoke;">모바일</td>
                        <td><input type="text" id="mobile-save" class="data" autocomplete="off"
                                style="width:auto; border:1px solid silver;"></td>
                    </tr>
                    <tr>
                        <td style="width: 200px; background-color: whitesmoke;">E-mail</td>
                        <td><input type="text" id="email-save" class="data" autocomplete="off"
                                style="width:auto; border:1px solid silver;"></td>
                    </tr>
                    <tr>
                        <td style="width: 200px; background-color: whitesmoke;">주소</td>
                        <td><input type="text" id="adress-save" class="data" autocomplete="off"
                                style="width:auto; border:1px solid silver;"></td>
                    </tr>
                    <tr>
                        <td style="width: 200px; background-color: whitesmoke;">기타</td>
                        <td><input type="text" id="etc-save" class="data" autocomplete="off"
                                style="width:auto; border:1px solid silver;"></td>
                    </tr>
                </table>
            </div>
            <button id="popupCloseBtn-save-close">취소</button>
            <button id="popupCloseBtn-save" onclick="Datasave()">저장</button>
        </div>
    </div>

    <!-- 수정창 -->
    <div id="popupOverlay1" style="display: none;">
        <div id="popupContent1" style="width: 700px; height: auto;">
            <div class="form-group">
                <table style="width:100%;">
                    <tr>
                        <td style="background-color: black; color: white;">거래처 정보 수정</td>
                        <td style="visibility: hidden;"><input type="text" id="id-edit" class="data" autocomplete="off"
                                style="width:100%; border:1px solid silver; "></td>

                    </tr>
                    <tr>
                        <td style="width: 200px; background-color: whitesmoke;">거래처코드</td>
                        <td><input type="text" id="accountcode-edit" class="data" autocomplete="off"
                                style="width:auto; border:1px solid silver;"></td>
                    </tr>
                    <tr>
                        <td style="width: 200px; background-color: whitesmoke;">사업자등록번호</td>
                        <td><input type="text" id="number-edit" class="data" autocomplete="off"
                                style="width:auto; border:1px solid silver;"></td>
                    </tr>
                    <tr>
                        <td style="width: 200px; background-color: whitesmoke;">거래처명</td>
                        <td><input type="text" id="accountname-edit" class="data" autocomplete="off"
                                style="width:auto; border:1px solid silver;"></td>
                    </tr>
                    <tr>
                        <td style="width: 200px; background-color: whitesmoke;">대표자명</td>
                        <td><input type="text" id="representativename-edit" class="data" autocomplete="off"
                                style="width:auto; border:1px solid silver;"></td>
                    </tr>
                    <tr>
                        <td style="width: 200px; background-color: whitesmoke;">전화번호</td>
                        <td><input type="text" id="phone-edit" class="data" autocomplete="off"
                                style="width:auto; border:1px solid silver;"></td>
                    </tr>
                    <tr>
                        <td style="width: 200px; background-color: whitesmoke;">Fax</td>
                        <td><input type="text" id="fax-edit" class="data" autocomplete="off"
                                style="width:auto; border:1px solid silver;"></td>
                    </tr>
                    <tr>
                        <td style="width: 200px; background-color: whitesmoke;">모바일</td>
                        <td><input type="text" id="mobile-edit" class="data" autocomplete="off"
                                style="width:auto; border:1px solid silver;"></td>
                    </tr>
                    <tr>
                        <td style="width: 200px; background-color: whitesmoke;">E-mail</td>
                        <td><input type="text" id="email-edit" class="data" autocomplete="off"
                                style="width:auto; border:1px solid silver;"></td>
                    </tr>
                    <tr>
                        <td style="width: 200px; background-color: whitesmoke;">주소</td>
                        <td><input type="text" id="adress-edit" class="data" autocomplete="off"
                                style="width:auto; border:1px solid silver;"></td>
                    </tr>
                    <tr>
                        <td style="width: 200px; background-color: whitesmoke;">기타</td>
                        <td><input type="text" id="etc-edit" class="data" autocomplete="off"
                                style="width:auto; border:1px solid silver;"></td>
                    </tr>

                </table>
            </div>
            <button id="popupCloseBtn-edit-close">취소</button>
            <button id="popupCloseBtn-edit" onclick="Dataedit()">수정</button>
        </div>
    </div>


    <!-- 삭제창 -->
    <div id="popupOverlay2" style="display: none;">
        <div id="popupContent2" style="width: 700px; height: auto;">
            <div class="form-group">
                <table style="width:100%;">
                    <tr>
                        <td style="background-color: black; color: white; width: 200px;">거래처 정보 삭제</td>
                        <td style="visibility: hidden;"><input type="text" id="id-edit" class="data" autocomplete="off"
                                style="width:100%; border:1px solid silver; "></td>

                    </tr>
                    <tr>
                        <td colspan="2" style="background-color: whitesmoke;">거래처 정보를 삭제하시겠습니까?</td>
                    </tr>

                </table>
            </div>
            <button id="popupCloseBtn-delete-close">취소</button>
            <button id="popupCloseBtn-delete" onclick="Datadelte()">삭제</button>
        </div>
    </div>

    <script>
        var server = '';

        if (window.location.hostname == 'localhost') {
            server = 'http://localhost:8080';
        } else {
            server = 'http://techonmes.co.kr';
        }
        $(document).ready(function () {
            showLoading()
            load()

            $('#datatable').on('click', '.data-edit', function () {
                var str = "";
                var tdArr = new Array();// 배열 선언            
                var checkBtn = $(this);

                var tr = checkBtn.parent().parent();
                var td = tr.children();

                var accountcode = td.eq(0).text();
                var number = td.eq(1).text();
                var accountname = td.eq(2).text();
                var representativename = td.eq(3).text();
                var phone = td.eq(4).text();
                var fax = td.eq(5).text();
                var mobile = td.eq(6).text();
                var email = td.eq(7).text();
                var adress = td.eq(8).text();
                var etc = td.eq(9).text();
                var id = td.eq(12).text();
                $('#accountcode-edit').val(accountcode)
                $('#accountname-edit').val(accountname)
                $('#representativename-edit').val(representativename)
                $('#phone-edit').val(phone)
                $('#adress-edit').val(adress)
                $('#number-edit').val(number)
                $('#mobile-edit').val(mobile)
                $('#fax-edit').val(fax)
                $('#email-edit').val(email)
                $('#adress-edit').val(adress)
                $('#etc-edit').val(etc)
                $('#id-edit').val(id)
                $('#popupOverlay1').fadeIn();
                $('#accountcode-edit').focus()

            });
            $('#datatable').on('click', '.data-delete', function () {
                var str = "";
                var tdArr = new Array();// 배열 선언            
                var checkBtn = $(this);

                var tr = checkBtn.parent().parent();
                var td = tr.children();


                var id = td.eq(12).text();
                $('#id-edit').val(id)
                $('#popupOverlay2').fadeIn();
            });


            $('#popupCloseBtn-save-close').click(function () {
                $('#popupOverlay').fadeOut();
            });
            $('#popupCloseBtn-edit-close').click(function () {
                $('#popupOverlay1').fadeOut();
            });
            $('#popupCloseBtn-delete-close').click(function () {
                $('#popupOverlay2').fadeOut();
            });


        });



        //오름차순 내림차순
        function sortTable(columnIndex) {
            var table, rows, switching, i, x, y, shouldSwitch, direction, switchcount = 0;
            table = document.getElementById("datatable");
            switching = true;
            direction = "asc"; // 기본 정렬 방향은 오름차순

            while (switching) {
                switching = false;
                rows = table.getElementsByTagName("tr");

                for (i = 1; i < (rows.length - 1); i++) {
                    shouldSwitch = false;
                    x = rows[i].getElementsByTagName("td")[columnIndex];
                    y = rows[i + 1].getElementsByTagName("td")[columnIndex];

                    if (direction == "asc") {
                        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                            shouldSwitch = true;
                            break;
                        }
                    } else if (direction == "desc") {
                        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                            shouldSwitch = true;
                            break;
                        }
                    }
                }

                if (shouldSwitch) {
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                    switchcount++;
                } else {
                    if (switchcount == 0 && direction == "asc") {
                        direction = "desc";
                        switching = true;
                    }
                }
            }
        }

        //검색
        function search() {
            const searchInput = document.getElementById('myInput');
            const dataTable = document.getElementById('datatable');
            const tableRows = dataTable.getElementsByTagName('tr');
            const dataCountCell = document.getElementById('dataCount');

            searchInput.addEventListener('input', function () {
                const searchValue = this.value.toLowerCase();
                let count = 0;

                for (let i = 1; i < tableRows.length; i++) {
                    const rowData = tableRows[i].getElementsByTagName('td');
                    let found = false;

                    for (let j = 0; j < rowData.length; j++) {
                        const cellData = rowData[j].textContent.toLowerCase();

                        if (cellData.includes(searchValue)) {
                            found = true;
                            break;
                        }
                    }

                    if (found) {
                        tableRows[i].style.display = '';
                        count++;
                    } else {
                        tableRows[i].style.display = 'none';
                    }
                }

                dataCountCell.textContent = `검색 결과 개수: ${count - 1}`;
            });
        }

        function showLoading() {
            var loadingOverlay = document.getElementById("loadingOverlay");
            loadingOverlay.style.display = "flex";

            // 로딩 완료 후 일정 시간 후 로딩 창 숨기기 (테스트용)
            setTimeout(function () {
                loadingOverlay.style.display = "none";
            }, 1000);
        }

        function New() {
            $('#accountcode-save').val('')
            $('#accountname-save').val('')
            $('#representativename-save').val('')
            $('#phone-save').val('')
            $('#adress-save').val('')
            $('#popupOverlay').fadeIn();
            $('#accountcode-save').focus()

        }

        function Datasave() {
            if (confirm("고객사 정보를 등록 하시겠습니까??") == true) {


                var accountcode = $('#accountcode-save').val();
                var accountname = $('#accountname-save').val();
                var representativename = $('#representativename-save').val();
                var phone = $('#phone-save').val();
                var adress = $('#adress-save').val();
                var number = $('#number-save').val();
                var fax = $('#fax-save').val();
                var mobile = $('#mobile-save').val();
                var email = $('#email-save').val();
                var etc = $('#etc-save').val();

                $.ajax({
                    type: 'POST',
                    url: server + '/api/accountinfoinsertdata',
                    dataType: 'json',
                    contentType: 'application/json',
                    data: JSON.stringify({

                        "accountcode": accountcode,
                        "accountname": accountname,
                        "representativename": representativename,
                        "phone": phone,
                        "adress": adress,
                        "number": number,
                        "fax": fax,
                        "mobile": mobile,
                        "email": email,
                        "etc": etc




                    }),
                    success: function (result) {


                    }
                })

                $('#popupOverlay').fadeOut();
                setTimeout(function () {
                    load()
                }, 50); // 3초 후에 알림을 사라지게 설정
                var notification = $('<div class="notification"><img src="/img/테크온로고.PNG" alt="Notification Icon"><span class="notification-message" style="color:navy;">거래처 등록 완료</span></div>');
                $('body').append(notification);
                setTimeout(function () {
                    notification.fadeOut(function () {
                        $(this).remove();
                    });
                }, 3000);
            } else {
                return false;
            }
        }

        function Dataedit() {
            if (confirm("고객사 정보를 수정 하시겠습니까??") == true) {

                $.ajax({
                    type: 'POST',
                    url: server + '/api/accountupdatedata',
                    dataType: 'json',
                    contentType: 'application/json',
                    data: JSON.stringify({

                        id: $('#id-edit').val(),
                        accountcode: $('#accountcode-edit').val(),
                        accountname: $('#accountname-edit').val(),
                        representativename: $('#representativename-edit').val(),
                        phone: $('#phone-edit').val(),
                        adress: $('#adress-edit').val(),
                        number: $('#number-edit').val(),
                        mobile: $('#mobile-edit').val(),
                        fax: $('#fax-edit').val(),
                        email: $('#email-edit').val(),
                        etc: $('#etc-edit').val()




                    }),
                    success: function (result) {
                        console.log(result)
                    }
                })

                $('#popupOverlay1').fadeOut();
                setTimeout(function () {
                    load()
                }, 50); // 3초 후에 알림을 사라지게 설정
                var notification = $('<div class="notification"><img src="/img/테크온로고.PNG" alt="Notification Icon"><span class="notification-message" style="color:navy;">거래처 수정 완료</span></div>');
                $('body').append(notification);
                setTimeout(function () {
                    notification.fadeOut(function () {
                        $(this).remove();
                    });
                }, 3000);
            } else {
                return false;
            }
        }


        function Datadelte() {
            if (confirm("고객사 정보를 삭제 하시겠습니까??") == true) {
                $.ajax({
                    type: 'POST',
                    url: server + '/api/accountinfodeletedata',
                    dataType: 'json',
                    contentType: 'application/json',
                    data: JSON.stringify({

                        id: $('#id-edit').val(),

                    }),
                    success: function (result) {
                    }

                })
                $('#popupOverlay2').fadeOut();
                setTimeout(function () {
                    load()
                }, 50); // 3초 후에 알림을 사라지게 설정
                var notification = $('<div class="notification"><img src="/img/테크온로고.PNG" alt="Notification Icon"><span class="notification-message" style="color:navy;">거래처 삭제 완료</span></div>');
                $('body').append(notification);
                setTimeout(function () {
                    notification.fadeOut(function () {
                        $(this).remove();
                    });
                }, 3000);
            } else {
                return false;
            }





        }
        function load() {
            $('#Datatbody').empty()
            $.ajax({
                type: 'POST',
                url: server + '/api/pcent',
                dataType: 'json',
                success: function (data) {
                    var tableFoot = $('#dataCount');
                    if (data.length === 0) {
                        // 데이터가 없을 때 "데이터가 없습니다" 문구 추가
                        tableFoot.text('총 데이터 개수: 0');
                    } else {
                        for (var i = 0; i < data.length; i++) {

                            $('#datatable').append(
                                '<tr>' +
                                '<td>' + data[i].marchine + '</td>' +
                                '<td>' + data[i].starttime + '</td>' +
                                '<td>' + data[i].finaltime + '</td>' +
                                '<td>' + data[i].because + '</td>' +
                       
                                '<td><a class="data-edit" style="cursor:pointer; color:navy;">수정</a></td>' +
                                '<td><a class="data-delete"style="cursor:pointer; color:red;">삭제</a></td>' +
                                '<td id="data-id">' + data[i].id + '</td>' +
                                '</tr>'

                            )
                            $("td#data-id").hide();

                            tableFoot.text('총 데이터 개수: ' + data.length);
                        }
                    }
                }


            })
        }
    </script>
</body>

</html>