<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>창고정보</title>
    <script src="../assets/js/core/jquery-3.7.1.min.js"></script>
    <script src="../assets/js/core/popper.min.js"></script>
    <script src="../assets/js/core/bootstrap.min.js"></script>
    <script src="../assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
    <script src="../assets/js/plugin/datatables/datatables.min.js"></script>
    <script src="../assets/js/kaiadmin.min.js"></script>
    <script src="../assets/js/setting-demo2.js"></script>
    <script src="../assets/js/plugin/webfont/webfont.min.js"></script>
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../assets/css/plugins.min.css" />
    <link rel="stylesheet" href="../assets/css/kaiadmin.min.css" />
    <link rel="stylesheet" href="../assets/css/demo.css" />

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <!-- SweetAlert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
</head>

<style>

</style>

<body>

    <div class="page-inner">
        <div class="page-header">
            <div class="col-md-12">
                <div class="card">
                    <div class="page-inner">
                        <div class="card-header">
                            <div class="d-flex align-items-center">
                                <h4 class="card-title">Thông tin kho(창고 정보)</h4>
                                <button class="btn btn-primary btn-round ms-auto" data-bs-toggle="modal" id="addButton">
                                    <i class="fa fa-plus"></i>
                                    thêm vào(추가)
                                </button>
                            </div>
                        </div>

                    </div>


                    <div class="modal fade" id="deleteConfirmModal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog" role="document" style="width: 500px;">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">
                                        xóa thông tin<br>삭제 확인</h5>
                                </div>
                                <div class="modal-body">
                                    <p>
                                        Bạn có muốn xóa thông tin của bạn?<br>정보를 삭제 하시겠습니까?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" id="deletecancelBtn" class="btn btn-secondary"
                                        data-dismiss="modal">
                                        Hủy bỏ(취소)</button>
                                    <button type="button" id="confirmDeleteButton" class="btn btn-danger">
                                        kiểm tra(확인)</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="toast" id="successToast" style="position: fixed; top: 20px; right: 20px; z-index: 1050;"
                        role="alert" aria-live="assertive" aria-atomic="true">
                        <div class="toast-header">
                            <strong class="me-auto">Message</strong>
                            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                        </div>
                        <div class="toast-body" style="color: blue;">

                            Thông tin của bạn đã được lưu<br>정보가 저장되었습니다.
                        </div>
                    </div>

                    <div class="toast" id="deleteToast" style="position: fixed; top: 20px; right: 20px; z-index: 1050;"
                        role="alert" aria-live="assertive" aria-atomic="true">
                        <div class="toast-header">
                            <strong class="me-auto">Message</strong>
                            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                        </div>
                        <div class="toast-body" style="color: red;">
                            Thông tin của bạn đã bị xóa<br>정보가 삭제되었습니다.
                        </div>
                    </div>
                    <div class="toast" id="nuToast" style="position: fixed; top: 20px; right: 20px; z-index: 1051;"
                        role="alert" aria-live="assertive" aria-atomic="true">
                        <div class="toast-header">
                            <strong class="me-auto">Message</strong>
                            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                        </div>
                        <div class="toast-body" style="color: red;">
                            Thông tin bị thiếu<br>정보가 누락되었습니다.
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="modal fade" id="addRowModal" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog" id="save-dialog" role="document" style="width:600px;">
                                <div class="modal-content">
                                    <div class="card-header">
                                        <div class="d-flex align-items-center">
                                            <h4 class="card-title">Thêm thông tin kho hàng(창고 정보 추가)</h4>
                                        </div>
                                    </div>

                                    <div class="modal-body">
                                        <form>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="form-group form-group-default">
                                                        <label>*Mã kho(창고코드)</label>
                                                        <input id="housecode-input" type="text" class="form-control"
                                                            autocomplete="off" placeholder="" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="form-group form-group-default">
                                                        <label>*Tên kho(창고명)</label>
                                                        <input id="housename-input" type="text" autocomplete="off"
                                                            class="form-control" placeholder="" />
                                                    </div>
                                                </div>

                                                <div class="col-sm-12">
                                                    <div class="form-group form-group-default">
                                                        <label>*Phần(파트)</label>
                                                        <input id="part-input" type="text" class="form-control"
                                                            autocomplete="off" placeholder="" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="form-group form-group-default">
                                                        <label>*Tên phần(파트명)</label>
                                                        <input id="partname-input" type="text" autocomplete="off"
                                                            class="form-control" placeholder="" />
                                                    </div>
                                                </div>

                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer border-0">
                                        <button type="button" id="addRowButton" class="btn btn-primary">
                                            cứu(저장)</button>
                                        <button type="button" id="closeButton" class="btn btn-danger"
                                            data-dismiss="modal">đóng(닫기)</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="updateRowModal" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog" id="save-dialog" role="document" style="width:600px;">
                                <div class="modal-content">
                                    <div class="card-header">
                                        <div class="d-flex align-items-center">
                                            <h4 class="card-title">
                                                Chỉnh sửa thông tin kho(창고 정보 수정)</h4>
                                            <input type="text" id="id-edit" style="visibility: hidden;">
                                        </div>
                                    </div>

                                    <div class="modal-body">
                                        <form>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="form-group form-group-default">
                                                        <label>*Mã kho(창고코드)</label>
                                                        <input id="housecode-edit" type="text" class="form-control"
                                                            autocomplete="off" placeholder="" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="form-group form-group-default">
                                                        <label>*Tên kho(창고명)</label>
                                                        <input id="housename-edit" type="text" autocomplete="off"
                                                            class="form-control" placeholder="" />
                                                    </div>
                                                </div>

                                                <div class="col-sm-12">
                                                    <div class="form-group form-group-default">
                                                        <label>*Phần(파트)</label>
                                                        <input id="part-edit" type="text" class="form-control"
                                                            autocomplete="off" placeholder="" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="form-group form-group-default">
                                                        <label>*Tên phần(파트명)</label>
                                                        <input id="partname-edit" type="text" autocomplete="off"
                                                            class="form-control" placeholder="" />
                                                    </div>
                                                </div>

                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer border-0">
                                        <button type="button" id="updateRowButton" class="btn btn-primary">biên
                                            tập(수정)</button>
                                        <button type="button" id="updatecloseButton" class="btn btn-danger"
                                            data-dismiss="modal">đóng(닫기)</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table id="multi-filter-select" class="display table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Mã kho(창고코드)</th>
                                        <th>Tên kho(창고명)</th>
                                        <th>Phần(파트)</th>
                                        <th>Tên phần(파트명)</th>
                                        <th style="width: 10%">
                                            biên tập(수정)</th>
                                        <th style="width: 10%">
                                            xóa bỏ(삭제)</th>
                                    </tr>
                                </thead>
                                <tbody id="housetbody"></tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</body>

<script>
    var server = '';
    if (window.location.hostname === '127.0.0.1' || window.location.hostname === 'localhost') {
        server = 'http://localhost:8080';
    } else {
        server = 'http://techonmes.co.kr';
    }

    $(document).ready(function () {
        // Initialize DataTable with search functionality
        var table = $("#multi-filter-select").DataTable({
            pageLength: 15,
            initComplete: function () {
                this.api().columns().every(function () {
                    var column = this;
                    var select = $('<select class="form-select"><option value=""></option></select>')
                        .appendTo($(column.footer()).empty())
                        .on("change", function () {
                            var val = $.fn.dataTable.util.escapeRegex($(this).val());
                            column.search(val ? "^" + val + "$" : "", true, false).draw();
                        });
                    column.data().unique().sort().each(function (d, j) {
                        select.append('<option value="' + d + '">' + d + "</option>");
                    });
                });
            },
        });
        $('#closeButton').on('click', function () {
            $('#addRowModal').modal('hide');
        });
        $('#updatecloseButton').on('click', function () {
            $('#updateRowModal').modal('hide');
        });

        $('#deletecancelBtn').on('click', function () {
            $('#deleteConfirmModal').modal('hide');
        });
        $('#addButton').on('click', function () {
            $('#housecode-input').val('')
            $('#housename-input').val('')
            $('#part-input').val('')
            $('#partname-input').val('')
            $('#addRowModal').modal('show');
        });


        $('#addRowButton').on('click', function () {
            // 입력값 확인
            const housecode = $('#housecode-input').val();
            const housename = $('#housename-input').val();
            const part = $('#part-input').val();
            const partname = $('#partname-input').val();

            // 누락된 필드 체크
            if (!housecode || !housename || !part || !partname) {

                var toast = new bootstrap.Toast(document.getElementById('nuToast'));
                toast.show();
                return; // 누락된 필드가 있으면 종료
            }

            $.ajax({
                type: 'POST',
                url: server + '/api/inserthousevina',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify({
                    "housecode": housecode,
                    "housename": housename,
                    "part": part,
                    "partname": partname,
                }),
                success: function (result) {
                    // 성공 시 처리
                },
                error: function (xhr, status, error) {
                    console.error('Error:', error);
                }
            });

            $('#addRowModal').modal('hide');

            var toast = new bootstrap.Toast(document.getElementById('successToast'));
            toast.show();

            // 0.5초 뒤에 load() 호출
            setTimeout(function () {
                load();
            }, 100);
        });


        $('#updateRowButton').on('click', function () {
            var rowIndex = $(this).data('row-index');
            var rowData = table.row(rowIndex).data();
            var id = $(this).data('id');

            // 입력값 확인
            const housecode = $('#housecode-edit').val();
            const housename = $('#housename-edit').val();
            const part = $('#part-edit').val();
            const partname = $('#partname-edit').val();
            const editId = $('#id-edit').val();

            // 누락된 필드 체크
            if (!housecode || !housename || !part || !partname || !editId) {
                var toast = new bootstrap.Toast(document.getElementById('nuToast'));
                toast.show();
                return; // 누락된 필드가 있으면 종료
            }

            $.ajax({
                type: 'POST',
                url: server + '/api/houseupdatedatavina',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify({
                    "housecode": housecode,
                    "housename": housename,
                    "part": part,
                    "partname": partname,
                    "id": editId,
                }),
                success: function (result) {
                    // 성공 시 처리
                },
                error: function (xhr, status, error) {
                    console.error('Error:', error);
                }
            });

            $('#updateRowModal').modal('hide');

            var toast = new bootstrap.Toast(document.getElementById('successToast'));
            toast.show();

            // 0.5초 뒤에 load() 호출
            setTimeout(function () {
                load();
            }, 100);
        });
        load();
    })


    function load() {
        $.ajax({
            url: server + '/api/houseinformationvina',
            method: 'post',
            dataType: 'json',
            contentType: 'application/json',
            data: JSON.stringify({}),
            success: function (result) {
                var table = $("#multi-filter-select").DataTable();
                table.clear().draw(); // Clear the table before adding new data

                result.forEach((item, index) => {
                    table.row.add([
                        item.housecode || '',
                        item.housename || '',
                        item.part || '',
                        item.partname || '',
                        '<div class="form-button-action">' +
                        '<button type="button" data-id="' + item.id + '" data-row-index="' + index + '" data-bs-toggle="tooltip" title="상세" class="btn btn-link btn-primary btn-lg edit-btn">' +
                        '<i class="fa fa-edit"></i>' +
                        '</button>' +
                        '</div>',
                        '<div class="form-button-action">' +
                        '<button type="button" data-id="' + item.id + '" data-bs-toggle="tooltip" title="삭제" class="btn btn-link btn-danger delete-btn">' +
                        '<i class="fa fa-times"></i>' +
                        '</button>' +
                        '</div>'
                    ]).draw(false);
                });

                // Attach click event to edit buttons



                $('.edit-btn').on('click', function () {
                    var rowIndex = $(this).data('row-index');
                    var rowData = table.row(rowIndex).data();
                    var id = $(this).data('id');

                    // Fill the form with the row data
                    $("#housecode-edit").val(rowData[0]);
                    $("#housename-edit").val(rowData[1]);
                    $("#part-edit").val(rowData[2]);
                    $("#partname-edit").val(rowData[3]);
                    $("#id-edit").val(id);

                    $('#updateRowModal').modal('show');
                });

                $(document).on('click', '.delete-btn', function () {
                    deleteId = $(this).data('id'); // 클릭한 버튼의 ID 저장
                    $('#deleteConfirmModal').modal('show'); // 모달 열기
                });

                $(document).on('click', '.delete-btn', function () {
                    deleteId = $(this).data('id'); // 클릭한 버튼의 ID 저장
                    $('#deleteConfirmModal').modal('show'); // 모달 열기
                });

                $('#confirmDeleteButton').on('click', function () {
                    $.ajax({
                        type: 'POST',
                        url: server + '/api/housedeletedatavina',
                        dataType: 'json',
                        contentType: 'application/json',
                        data: JSON.stringify({
                            "id": deleteId
                        }),
                        success: function (result) {

                        },

                    });
                    var toast = new bootstrap.Toast(document.getElementById('deleteToast'));
                    toast.show();
                    $('#deleteConfirmModal').modal('hide'); // 모달 닫기

                    load(); // 데이터 새로 고침
                });



            },
        });

    }



</script>

</html>