<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" type="text/css"
        href="https://cdn.datatables.net/select/1.3.4/css/select.dataTables.min.css" />
    <link rel="stylesheet" href="/css/accountinformation.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.7.1/jszip.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js" defer></script>
    <link rel="stylesheet" type="text/css"
        href="https://cdn.datatables.net/buttons/2.2.3/css/buttons.dataTables.min.css">
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js"></script>
</head>


<body>



    <!-- 모달등록창 -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">창고정보 신규등록</h4>


                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label>창고코드:</label>
                        <input type="text" class="form-control" id="housecode-save" required>
                    </div>
                    <div class="form-group">
                        <label>창고명:</label>
                        <input type="text" class="form-control" id="housename-save" required>
                    </div>
                    <div class="form-group">
                        <label>파트:</label>
                        <input type="text" class="form-control" id="part-save" required>
                    </div>
                    <div class="form-group">
                        <label>파트명:</label>
                        <input type="text" class="form-control" id="partname-save" required>
                    </div>

                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="취소">
                    <input type="button" data-dismiss="modal" id="add" class="btn btn-success" value="추가">

                </div>
            </div>
        </div>
    </div>

    <!-- 모달수정창 -->
    <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">창고 수정</h4>


                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label>창고코드:</label>
                        <input type="text" class="form-control" id="housecode-edit" required>
                    </div>
                    <div class="form-group">
                        <label>창고명:</label>
                        <input type="text" class="form-control" id="housename-edit" required>
                    </div>
                    <div class="form-group">
                        <label>파트:</label>
                        <input type="text" class="form-control" id="part-edit" required>
                    </div>
                    <div class="form-group">
                        <label>파트명:</label>
                        <input type="text" class="form-control" id="partname-edit" required>
                    </div>
                   


                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="취소">
                    <input type="button" data-dismiss="modal" id="add" class="btn btn-success" value="수정">
                </div>
            </div>
        </div>
    </div>

    <!-- 모달삭제창 -->
    <div class="modal fade" id="datadelte" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <form>
                    <div class="modal-header">
                        <h4 class="modal-title">창고 삭제</h4>

                    </div>
                    <div class="modal-body">
                        <p>정말로 거래처를 삭제하시겠습니까?</p>
                        <p class="text-warning"><small>이 작업은 취소할 수 없습니다.</small></p>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="취소">
                        <input type="button" data-dismiss="modal" id="delete" class="btn btn-danger" value="삭제">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div style="height:50px; border: 1px solid black;">

        <p style="margin-left:20px; margin-top:10px; font-size: 20px; font-weight: bold;">

            [기초정보-창고정보]

        </p>

    </div>

    <div style="width:100%; height:40px; border: 1px solid black;">
        <button type="button" class="btn btn-primary" id="openModal" style="margin-top:2px;"> 신규등록 </button>

    </div>



    <div style="border: 1px solid whitesmoke;">
        <table id="fileinfo" class="display" style="width:100%">
            <thead>
                <tr>
                    <th></th>
                    <th>창고코드</th>
                    <th>창고명</th>
                    <th>파트</th>
                    <th>파트명</th>
                    <th></th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>





    <!-- Delete Modal HTML -->
    <div id="deleteEmployeeModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form>
                    <div class="modal-header">
                        <h4 class="modal-title">창고정보 삭제</h4>
                        <a id="id">1</a>
                    </div>
                    <div class="modal-body">
                        <p>정말로 창고정보를 삭제하시겠습니까?</p>
                        <p class="text-warning"><small>이 작업은 취소할 수 없습니다.</small></p>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="취소">
                        <input type="button" data-dismiss="modal" id="delete" class="btn btn-danger" value="삭제">
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>





<script>
    $(document).ready(function () {

        $("#openModal").click(function () {
            $("#myModal").modal();
        });


        $('#fileinfo').on('click', '#openModaledit', function () {
            $("#edit").modal();

        });
        $('#fileinfo').on('click', '#openModaldelete', function () {
            $("#datadelte").modal();

        });
        $.ajax({
            url: 'http://techonmes.co.kr/api/house',
            method: 'post',
            dataType: 'json',
            success: function (data) {
                $('#fileinfo').DataTable({
                    deferLoading: [0, 10],
                    paging: true,
                    destroy: true,
                    sort: true,
                    pageLength: 10,
                    searching: true,
                    data: data,
                    responsive: true,
                    columns: [
                        { "data": "id" },
                        { "data": "housecode" },
                        { "data": "housename" },
                        { "data": "part" },
                        { "data": "partname" }

                    ],
                    dom: '<"wrapper"flipBt>',

                    buttons: [{
                        extend: 'excel',
                        title: '엑셀 파일명',
                        text: '엑셀 다운로드 버튼',
                        className: 'btn btn-outline-primary excelBtn',
                        // 해당 option을 추가합니다.
                        exportOptions: {
                            columns: [1, 2]
                        },
                    }],
                    columnDefs: [
                        { targets: 0, visible: false },
                        {
                            targets: 5,
                            data: null,
                            defaultContent: '<button id="openModaledit" class="btn btn-primary" > 수정 </button>',
                            width: 50
                        },
                        {
                            targets: 6,
                            data: null,
                            defaultContent: '<button id="openModaldelete" class="btn btn-primary" style="background-color:red;"  > 삭제 </button>',
                            // defaultContent: ' <a href="#deleteEmployeeModal" id="deleted" class="delete" data-toggle="modal" id="deleted"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>',
                            width: 50
                        }

                    ],

                    language: {
                        emptyTable: "데이터가 없습니다.",
                        lengthMenu: "페이지당 _MENU_ 개씩 보기",
                        info: "현재 _START_ - _END_ / _TOTAL_건",
                        infoEmpty: "데이터 없음",
                        infoFiltered: "( _MAX_건의 데이터에서 필터링됨 )",
                        search: "검색:",
                        zeroRecords: "일치하는 데이터가 없습니다.",
                        loadingRecords: "로딩중...",
                        processing: "잠시만 기다려 주세요.",
                        paginate: {
                            next: "다음",
                            previous: "이전"
                        }
                    }
                });
                // 컬럼 헤더 셀을 가운데 정렬하는 CSS를 추가
                $('.sorting').css('text-align', 'center');
            },
            error: function (response) {
                alert(response.responseText);
            }
        });

    });

    $(document).on('click', "#deleted", function (e) {

        table1 = $('#fileinfo').DataTable();
        var data1 = table1.row($(this).parents('tr')).data(); // getting 

        $('#id').val(data1.id);
        console.log(data1.id)
        console.log("11")

    })

    $(document).on('click', "#accountsave", function (e) {
        $('#accountcode-save').val('');
        $('#accountname-save').val('');
        $('#accountrepresentname-save').val('');
        $('#phone-save').val('');
        $('#adress-save').val('');

    })


    document.getElementById("delete").addEventListener('click', deleted);

    function deleted() {





        $.ajax({
            type: 'POST',
            url: 'http://techonmes.co.kr/api/accountinfodeletedata',
            dataType: 'json',
            contentType: 'application/json',
            data: JSON.stringify({

                "id": $('#id').val()




            }),
            success: function (result) {
                console.log(result)
            }
        })


        alert("저장이 완료 되었습니다.");


        $.ajax({
            url: 'http://techonmes.co.kr/api/accountmanagement',
            method: 'post',
            dataType: 'json',
            success: function (data) {
                $('#fileinfo').dataTable({
                    deferLender: true,
                    paging: true,
                    destroy: true,
                    sort: true,
                    pageLength: 10,
                    searching: true,
                    data: data,
                    responsive: true,
                    deferLoading: [0, 10],
                    columns: [
                        { "data": "id" },
                        { "data": "accountcode" },
                        { "data": "accountname" },
                        { "data": "representativename" },
                        { "data": "phone" },
                        { "data": "adress" },

                    ],
                    columnDefs: [
                        { targets: 0, visible: false },
                        {
                            targets: 6,
                            data: null,
                            defaultContent: '<a href="#editEmployeeModal" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>',
                            width: 70
                        },
                        {
                            targets: 7,
                            data: null,
                            defaultContent: ' <a href="#deleteEmployeeModal" class="delete" data-toggle="modal" id="delete"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>',
                            width: 70
                        }
                    ],
                    language: {
                        emptyTable: "데이터가 없습니다.",
                        lengthMenu: "페이지당 _MENU_ 개씩 보기",
                        info: "현재 _START_ - _END_ / _TOTAL_건",
                        infoEmpty: "데이터 없음",
                        infoFiltered: "( _MAX_건의 데이터에서 필터링됨 )",
                        search: "검색:",
                        zeroRecords: "일치하는 데이터가 없습니다.",
                        loadingRecords: "로딩중...",
                        processing: "잠시만 기다려 주세요.",
                        paginate: {
                            next: "다음",
                            previous: "이전"
                        }
                    }
                });
                // 컬럼 헤더 셀을 가운데 정렬하는 CSS를 추가
                $('.sorting').css('text-align', 'center');
            },
            error: function (response) {
                alert(response.responseText);
            }
        });





    }

    document.getElementById("add").addEventListener('click', add);

    function add() {
        if (confirm("창고 정보를 등록 하시겠습니까??") == true) {


            var housecode = $('#housecode-save').val();
            var housename = $('#housename-save').val();
            var part = $('#part-save').val();
            var partname = $('#partname-save').val();
        

            $.ajax({
                type: 'POST',
                url: 'http://techonmes.co.kr/api/accountinfoinsertdata',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify({

                    "accountcode": accountcode,
                    "accountname": accountname,
                    "representativename": accountrepresentname,
                    "phone": phone,
                    "adress": adress




                }),
                success: function (result) {
                    console.log(result)
                }
            })


            alert("저장이 완료 되었습니다.");


            $.ajax({
                url: 'http://techonmes.co.kr/api/accountmanagement',
                method: 'post',
                dataType: 'json',
                success: function (data) {
                    $('#fileinfo').dataTable({
                        deferLender: true,
                        paging: true,
                        destroy: true,
                        sort: true,
                        pageLength: 10,
                        searching: true,
                        data: data,
                        responsive: true,
                        deferLoading: [0, 10],
                        columns: [
                            { "data": "id" },
                            { "data": "accountcode" },
                            { "data": "accountname" },
                            { "data": "representativename" },
                            { "data": "phone" },
                            { "data": "adress" },

                        ],
                        columnDefs: [
                            { targets: 0, visible: false },
                            {
                                targets: 6,
                                data: null,
                                defaultContent: '<a href="#editEmployeeModal" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>',
                                width: 70
                            },
                            {
                                targets: 7,
                                data: null,
                                defaultContent: ' <a href="#deleteEmployeeModal" class="delete" data-toggle="modal" ><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>',
                                width: 70
                            }

                        ],
                        language: {
                            emptyTable: "데이터가 없습니다.",
                            lengthMenu: "페이지당 _MENU_ 개씩 보기",
                            info: "현재 _START_ - _END_ / _TOTAL_건",
                            infoEmpty: "데이터 없음",
                            infoFiltered: "( _MAX_건의 데이터에서 필터링됨 )",
                            search: "검색:",
                            zeroRecords: "일치하는 데이터가 없습니다.",
                            loadingRecords: "로딩중...",
                            processing: "잠시만 기다려 주세요.",
                            paginate: {
                                next: "다음",
                                previous: "이전"
                            }
                        }
                    });
                    // 컬럼 헤더 셀을 가운데 정렬하는 CSS를 추가
                    $('.sorting').css('text-align', 'center');
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });



        } else {
            return false;
        }

    }

</script>

<script type="text/javascript">


    // $('#fileinfo tbody').on('click', '#editbutton', function () {
    //     table1 = $('#fileinfo').DataTable();
    //     var data1 = table1.row($(this).parents('tr')).data(); // getting 

    //     $('#accountcode-edit').val(data1.accountcode);
    //     $('#accountname-edit').val(data1.accountname);
    //     $('#representativename-edit').val(data1.representativename);
    //     $('#phone-edit').val(data1.phone);
    //     $('#adress-edit').val(data1.adress);


    //     $("#edit").modal("show");

    // });
    function modalsave() {
        $('#accountcode-save').val('');
        $('#accountname-save').val('');
        $('#representativename-save').val('');
        $('#phone-save').val('');
        $('#adress-save').val('');


        $("#myModalsave").modal("show");
    }
    function focus() {
        $('#accountcodesave').focus();
    }

</script>

</html>