<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/mescss.css">
    <script src="https://cdn.jsdelivr.net/npm/ag-grid-community/dist/ag-grid-community.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;700&amp;display=swap">
    <link rel="stylesheet" href="../css/inspection.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <style>
        .ag-ltr .ag-cell {
            font-family: 'Roboto', sans-serif;
        }


        .loading-spinner {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: none;
            /* Initially hide the spinner */
        }

        .loading-spinner::before {
            content: '';
            box-sizing: border-box;
            position: absolute;
            top: 0;
            left: 0;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 4px solid rgba(0, 0, 0, 0.3);
            border-top: 4px solid #3498db;
            animation: spin 1s linear infinite;
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }

        .ag-theme-alpine {
            font-weight: bold;

        }



        .overlay {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            z-index: 999;
        }

        .modal-header {
            text-align: center;
            font-size: 24px;
            margin-bottom: 15px;
            border-bottom: 1px solid #ddd;
            padding-bottom: 10px;
        }

        .modal-content {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 10px;
        }

        .modal-column {
            flex: 0 0 calc(33.33% - 20px);
            margin-right: 20px;
            margin-bottom: 20px;
        }

        .modal-content label {
            display: block;
            margin-bottom: 5px;
            font-size: 16px;
        }

        .modal-content input {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            font-size: 14px;
            border: 1px solid #ddd;
            border-radius: 4px;
            box-sizing: border-box;
        }

        .modal-content select {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            font-size: 14px;
            border: 1px solid #ddd;
            border-radius: 4px;
            box-sizing: border-box;
        }

        .modal-content button {
            width: 48%;
            padding: 12px;
            background-color: #4CAF50;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
            margin-right: 2%;
        }

        .modal-footer {
            display: flex;
            justify-content: flex-end;
        }

        .company-info,
        .section-title {
            font-weight: bold;
            margin-top: 15px;
            margin-bottom: 5px;
        }

        .divider {
            border-top: 1px solid #ddd;
            margin-top: 15px;
            margin-bottom: 15px;
        }

        #overlay {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            z-index: 999;
        }

        .modal-footer {
            display: flex;
            justify-content: flex-end;
            margin-top: 15px;
        }

        #new-registration,
        #cancel-button {
            background-color: #3498db;
            color: #ffffff;
            padding: 10px 15px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            margin-left: 10px;
            font-size: 14px;
        }

        #new-registration:hover,
        #cancel-button:hover {
            background-color: #297fb8;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th,
        td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
            text-align: center;
        }

        th {
            background-color: #f2f2f2;
        }

        tr:hover {
            background-color: #f5f5f5;
        }

        td {
            text-align: center;
            font-weight: bold;
        }
    </style>
</head>

<body>
    <div class="overlay" id="overlay"></div>

    <div class="menu-title" style="width:100%;">
        <i class="fas fa-box"></i>수입검사 대기 항목
    </div>
    <div class="search-container">
        <label for="search" class="search-label"> 검색 :</label>
        <div class="search-input-wrapper">
            <input type="text" id="search" placeholder="검색어를 입력 후 ENTER 누르세요..." onkeypress="handleKeyPress(event)"
                autocomplete="off">
            <i class="fas fa-search search-icon"></i>
        </div>
        <button class="new-registration-button" style="background-color: #4CAF50;" onclick="onBtnExport()">엑셀저장</button>

    </div>



    <!-- modal창 -->
    <div id="loadingSpinner" class="loading-spinner"></div>
    <div id="myGrid" style="height: 80%; width:100%; " class="ag-theme-alpine"></div>
    <div class="modal" id="modal">
        <div class="modal-header">
            <span style="font-weight: bold;">수입검사</span>
        </div>

        <div class="company-info"> <i class="fas fa-box"></i> 검사준비</div>
        <div class="modal-content">
            <b>★ 원단성적서와 같이 자재가 입고되면 , 원단의 최외곽 1바퀴를 제외하고, 30x30cm 이상 크기의 원단을 재단하여 수입검사 시료를 준비한다</b><br>

        </div>
        <div class="modal-content">
            <b>★ 수입검사 항목은 하기 기준을 따르며 특수 자재의 경우는 자재업체 성적서 항목 및 기준을 따른다</b><br>
        </div>
        <div class="modal-content">
            <b style="color:red;">★ 수입검사 완료 시료는 수입검사성적서 內 기록 넘버 동일하게 기재하여 3부 보관한다</b>
        </div>

        <div class="divider"></div>

        <div class="section-title"><i class="fas fa-box"></i> 자재 품목/TDS 정보</div>
        <div class="modal-content">

            <table>
                <tr>
                    <th>자재명</th>
                    <th>LOTNO</th>
                    <th>자재TYPE</th>
                    <th>색상</th>
                    <th>입고ROLL</th>
                </tr>
                <tr>
                    <td id="materialname-input"></td>
                    <td id="lotno-input"></td>
                    <td id="materialtype-input"></td>
                    <td id="color-input"></td>
                    <td id="roll-input"></td>
                </tr>

            </table>


        </div>


        <div class="section-title"><i class="fas fa-box"></i> 검사항목 정보</div>
        <div class="modal-content">
            <table>
                <tr>
                    <th>구분</th>
                    <th>검사항목</th>
                    <th>판정기준</th>
                    <th>검사방법</th>
                    <th>검사결과</th>
                </tr>
                <tr>
                    <td rowspan="4">외관검사</td>
                    <td>오염</td>
                    <td>사용상 문제 없을것</td>
                    <td>육안</td>
                    <td><input type="checkbox" id="first1-input" style="width:20px; height: 20px; cursor: pointer;">
                    </td>

                </tr>
                <tr>
                    <td>이물</td>
                    <td>이물 없을것</td>
                    <td>육안</td>
                    <td><input type="checkbox" id="first2-input" style="width:20px; height: 20px; cursor: pointer;">
                    </td>
                </tr>
                <tr>
                    <td>색상</td>
                    <td>색상한도 이상 없을것</td>
                    <td>육안</td>
                    <td><input type="checkbox" id="first3-input" style="width:20px; height: 20px; cursor: pointer;">
                    </td>
                </tr>
                <tr>
                    <td>찍힘</td>
                    <td>사용상 문제 없을것</td>
                    <td>육안</td>
                    <td><input type="checkbox" id="first4-input" style="width:20px; height: 20px; cursor: pointer;">
                    </td>
                </tr>

            </table>
        </div>
        <div class="section-title"><i class="fas fa-info-circle"></i>측정 DATA <b style="color: red; float: right;">★는 필수
                항목 입니다</b>
            <input type="text" id="thickness1" style="visibility: hidden;">
            <input type="text" id="thickness2" style="visibility: hidden;">
            <input type="text" id="thickness3" style="visibility: hidden;">
        </div>

        <table>
            <tr>
                <th rowspan="2">검사항목</th>
                <th rowspan="2">측정장비</th>
                <th rowspan="2" style="width:100px;">기준값(+/-)</th>
                <th rowspan="2">단위</th>
                <th colspan="5">DATA</th>

                <th rowspan="2" style="width: 80px;;">FINAL</th>
            </tr>
            <tr>

                <th>★#1</th>
                <th>★#2</th>
                <th>★#3</th>
                <th>#4</th>
                <th>#5</th>
            </tr>
            <tr>
                <td>두께</td>
                <td>두께 Gauge</td>
                <td id="thickness-input"></td>
                <td>㎛</td>
                <td><input type="text" class="inputtext" id="data11" oninput="checkInputs()"></td>
                <td><input type="text" class="inputtext" id="data12" oninput="checkInputs()"></td>
                <td><input type="text" class="inputtext" id="data13" oninput="checkInputs()"></td>
                <td><input type="text" class="inputtext" id="data14" oninput="checkInputs()"></td>
                <td><input type="text" class="inputtext" id="data15" oninput="checkInputs()"></td>
                <td id="data1result"></td>
            </tr>
            <tr>
                <td>점착력(내측)</td>
                <td>인장시험기</td>
                <td id="adhesionstrength-input"></td>
                <td>gf/25mm</td>
                <td><input type="text" class="inputtext" id="data21"></td>
                <td><input type="text" class="inputtext" id="data22"></td>
                <td><input type="text" class="inputtext" id="data23"></td>
                <td><input type="text" class="inputtext" id="data24"></td>
                <td><input type="text" class="inputtext" id="data25"></td>
                <td><select class="inputselect">
                        <option></option>
                        <option value="OK">OK</option>
                        <option value="NG">NG</option>
                    </select></td>
            </tr>
            <tr>
                <td>점착력(외측)</td>
                <td>인장시험기</td>
                <td id="adhesionstrength1-input"></td>
                <td>gf/25mm</td>

                <td><input type="text" class="inputtext" id="data31"></td>
                <td><input type="text" class="inputtext" id="data32"></td>
                <td><input type="text" class="inputtext" id="data33"></td>
                <td><input type="text" class="inputtext" id="data34"></td>
                <td><input type="text" class="inputtext" id="data35"></td>

                <td><select class="inputselect">
                        <option></option>
                        <option value="OK">OK</option>
                        <option value="NG">NG</option>
                    </select></td>
            </tr>
            <tr>
                <td>이형력(내측)</td>
                <td>인장시험기</td>
                <td id="adhesionstrength2-input"></td>
                <td>gf/25mm</td>

                <td><input type="text" class="inputtext" id="data41"></td>
                <td><input type="text" class="inputtext" id="data42"></td>
                <td><input type="text" class="inputtext" id="data43"></td>
                <td><input type="text" class="inputtext" id="data44"></td>
                <td><input type="text" class="inputtext" id="data45"></td>
                <td><select class="inputselect">
                        <option></option>
                        <option value="OK">OK</option>
                        <option value="NG">NG</option>
                    </select></td>
            </tr>
            <tr>
                <td>비고</td>
                <td colspan="14"><input type="text" class="inputtext" style="width:95%; text-align: left;"></td>



            </tr>


        </table>

        <div class="modal-footer">
            <button id="savebutton" class="new-registration" onclick="saveOrEditForm()">저장</button>
            <button class="new-cancel" onclick="closeModal()">취소</button>
        </div>
    </div>



    </div>
    <script>
        var server = '';
        var gridApi;

        if (window.location.hostname == 'localhost') {
            server = 'http://localhost:8080';
        } else {
            server = 'http://techonmes.co.kr';
        }
        $(document).ready(function () {

            $('#search').keypress(function (e) {
                if (e.which === 13) {
                    // 13 is the key code for Enter
                    applySearchFilter();
                }
            });
            showLoadingSpinner(); // Show loading spinner on page load
            setTimeout(function () {
                initializeGrid();
            }, 1500);
        });
        function calculateRanges() {
            var firstInput = document.getElementById('first-input');

            if (!firstInput.checked) {
                Swal.fire({
                    icon: 'error',
                    title: '누락',
                    text: '외관검사 결과 확인바랍니다',
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: '확인',
                });
                return;
            }

            var input = document.getElementById('thickness-input').value;
            var match = input.match(/^(\d+(?:\.\d+)?)±(\d+(?:\.\d+)?)$/);

            if (match) {
                var A = parseFloat(match[1]); // A 값 추출
                var B = parseFloat(match[2]); // B 값 추출

                // A-B와 A+B를 계산
                var A_minus_B = A - B;
                var A_plus_B = A + B;

                // 결과를 입력 요소에 할당
                document.getElementById('a-input').value = A_minus_B;
                document.getElementById('b-input').value = A_plus_B;

                var overallResult = 'OK'; // 전체 결과 초기값 설정

                // 각각의 입력란에 대해 검사 수행
                for (var i = 1; i <= 3; i++) {
                    var thicknessInput = document.getElementById('thickness' + i + '');
                    var resultInput = document.getElementById('result-input');

                    var thicknessValue = parseFloat(thicknessInput.value);
                    if (!isNaN(thicknessValue) && thicknessValue >= A_minus_B && thicknessValue <= A_plus_B) {
                        resultInput.value = 'OK';
                        resultInput.style.backgroundColor = 'blue'; // 배경색을 빨간색으로 변경
                        resultInput.style.color = 'white'; // 배경색을 빨간색으로 변경
                        Swal.fire({
                            icon: 'success',
                            title: 'OK',
                            text: '검사 판정결과 합격입니다.'
                        });
                    } else {
                        resultInput.value = 'NG';
                        resultInput.style.backgroundColor = 'red'; // 배경색을 빨간색으로 변경
                        resultInput.style.color = 'white'; // 배경색을 빨간색으로 변경
                        overallResult = 'NG'; // 전체 결과를 NG로 설정
                    }
                }

                // 전체 결과를 설정
                document.getElementById('result-input').value = overallResult;

                if (overallResult === 'NG') {
                    Swal.fire({

                        icon: 'error',
                        title: 'NG',
                        text: '하나 이상의 두께검사 판정결과가 불합격입니다.'
                    });
                }
            } else {
                // 올바르지 않은 입력 형식에 대한 처리
                alert('올바른 형식의 입력을 사용하세요. 예: A±B');
            }
        }


        function checkInputs() {
            var data11 = parseFloat(document.getElementById('data11').value);
            var data12 = parseFloat(document.getElementById('data12').value);
            var data13 = parseFloat(document.getElementById('data13').value);
            var data1result = document.getElementById('data1result');

            var thickness1 = parseFloat(document.getElementById('thickness1').value);
            var thickness2 = parseFloat(document.getElementById('thickness2').value);
            var thickness3 = parseFloat(document.getElementById('thickness3').value);

            if (!isNaN(data11) && !isNaN(data12) && !isNaN(data13)) {
                if (thickness1 - thickness2 <= data11 && thickness1 + thickness3 >= data11) {
                    data1result.textContent = 'OK';
                } else {
                    data1result.textContent = 'NG';
                }
                if (thickness1 - thickness2 <= data12 && thickness1 + thickness3 >= data12) {
                    data1result.textContent = 'OK';
                } else {
                    data1result.textContent = 'NG';
                }
                if (thickness1 - thickness2 <= data13 && thickness1 + thickness3 >= data13) {
                    data1result.textContent = 'OK';
                } else {
                    data1result.textContent = 'NG';
                }
            } else {
                data1result.textContent = '';
            }
        }


        function initializeGrid() {
            if (typeof agGrid !== 'undefined') {
                const gridOptions = {
                    columnDefs: [

                        { field: "date", headerName: "입고날짜", filter: true },
                        { field: "materialtype", headerName: "자재유형", filter: true },
                        { field: "manufacterer", headerName: "제조사", filter: true },
                        { field: "supplier", headerName: "공급사", filter: true },
                        { field: "materialname", headerName: "자재명", filter: true },
                        { field: "lotno", headerName: "자재LOT", filter: true },
                        { field: "roll", headerName: "ROLL", filter: true },

                    ],
                    autoSizeStrategy: {
                        type: 'fitGridWidth',
                        defaultMinWidth: 150
                    },
                    rowHeight: 45,
                    enableFilter: true,
                    rowSelection: 'multiple', // 여러 행 선택 가능하도록 설정
                    onRowDoubleClicked: function (params) {
                        $('#materialname-input').text(params.data.materialname);
                        $('#lotno-input').text(params.data.lotno);
                        $('#materialtype-input').text(params.data.materialtype);
                        $('#color-input').text(params.data.color);
                        $('#roll-input').text(params.data.roll);

                        if ((parseFloat(params.data.thickness12) === parseFloat(params.data.thickness13)) && parseFloat(params.data.thickness12) !== 0) {
                            $('#thickness-input').text(params.data.thickness11 + '±' + params.data.thickness12);
                            $('#thickness1').val(params.data.thickness11);
                            $('#thickness2').val(params.data.thickness12);
                            $('#thickness3').val(params.data.thickness13);
                        } else if (isNaN(parseFloat(params.data.thickness12)) && isNaN(parseFloat(params.data.thickness13))) {
                            $('#thickness-input').text('');
                        } else if ((parseFloat(params.data.thickness12)) === 0 & (parseFloat(params.data.thickness13) === 0)) {
                            $('#thickness-input').text(params.data.thickness11 + '이상');
                            $('#thickness1').val(params.data.thickness11);
                            $('#thickness2').val(params.data.thickness12);
                            $('#thickness3').val(params.data.thickness13);
                        } else {
                            $('#thickness-input').text(params.data.thickness11 + ' +' + params.data.thickness13 + '/-' + params.data.thickness12);
                        }



                        if (parseFloat(params.data.adhesionstrength12) === parseFloat(params.data.adhesionstrength13) && parseFloat(params.data.adhesionstrength12) !== 0) {
                            $('#adhesionstrength-input').text(params.data.adhesionstrength11 + '±' + params.data.adhesionstrength12);
                        } else if (isNaN(parseFloat(params.data.adhesionstrength12)) && isNaN(parseFloat(params.data.adhesionstrength13))) {
                            $('#adhesionstrength-input').text('');
                        } else if ((parseFloat(params.data.adhesionstrength12)) === 0 & (parseFloat(params.data.adhesionstrength13) === 0)) {
                            $('#adhesionstrength-input').text(params.data.adhesionstrength11 + '이상');
                        } else {
                            $('#adhesionstrength-input').text(params.data.adhesionstrength11 + ' +' + params.data.adhesionstrength13 + '/-' + params.data.adhesionstrength12);
                        }


                        if (parseFloat(params.data.adhesionstrength22) === parseFloat(params.data.adhesionstrength23) && parseFloat(params.data.adhesionstrength22) !== 0) {
                            $('#adhesionstrength1-input').text(params.data.adhesionstrength21 + '±' + params.data.adhesionstrength22);
                        } else if (isNaN(parseFloat(params.data.adhesionstrength22)) && isNaN(parseFloat(params.data.adhesionstrength23))) {
                            $('#adhesionstrength1-input').text('');
                        } else if ((parseFloat(params.data.adhesionstrength22)) === 0 & (parseFloat(params.data.adhesionstrength23) === 0)) {
                            $('#adhesionstrength1-input').text(params.data.adhesionstrength21 + '이상');
                        } else {
                            $('#adhesionstrength1-input').text(params.data.adhesionstrength21 + ' +' + params.data.adhesionstrength23 + '/-' + params.data.adhesionstrength22);
                        }


                        if (parseFloat(params.data.adhesionstrength32) === parseFloat(params.data.adhesionstrength33) && parseFloat(params.data.adhesionstrength32) !== 0) {
                            $('#adhesionstrength2-input').text(params.data.adhesionstrength31 + '±' + params.data.adhesionstrength32);
                        } else if (isNaN(parseFloat(params.data.adhesionstrength32)) && isNaN(parseFloat(params.data.adhesionstrength33))) {
                            $('#adhesionstrength2-input').text('');
                        } else if ((parseFloat(params.data.adhesionstrength32)) === 0 & (parseFloat(params.data.adhesionstrength33) === 0)) {
                            $('#adhesionstrength2-input').text(params.data.adhesionstrength31 + '이상');
                        } else {
                            $('#adhesionstrength2-input').text(params.data.adhesionstrength31 + ' +' + params.data.adhesionstrength33 + '/-' + params.data.adhesionstrength32);
                        }






                        $('#savebutton').text('검사완료')
                        document.getElementById('modal').style.display = 'block';
                        document.getElementById('overlay').style.display = 'block';
                    }
                }; 100

                const gridDiv = document.querySelector('#myGrid');
                gridApi = agGrid.createGrid(gridDiv, gridOptions);

                loadData();
            } else {
            }
        }
        function numberWithCommas(params) {
            if (typeof params.value === 'number') {
                return params.value.toLocaleString(); // 세 자리마다 쉼표 추가
            } else {
                return params.value; // 숫자가 아니면 그냥 반환
            }
        }
        function openModal() {
            $('#overlay').fadeIn();
            $('#modal').fadeIn();
            $('#savebutton').text('저장')

        }

        function closeModal() {
            $('#overlay').fadeOut();
            $('#modal').fadeOut();
        }

        function handleKeyPress(event) {
            if (event.key === "Enter") {
                event.preventDefault();
                onFilterTextBoxChanged();
            }
        }
        function click(event) {
            event.preventDefault();
            onFilterTextBoxChanged();
        }
        function onFilterTextBoxChanged() {
            gridApi.setGridOption(
                'quickFilterText',
                document.getElementById('search').value
            );
        }
        function consoledata(rowData) {
            // Add your logic here using the rowData (data of the clicked row)
            console.log('Button Clicked for Row:', rowData);
        }
        function formatCost(params) {
            // Check if the value is a valid number
            if (!isNaN(params.value)) {
                // Use toFixed(2) to format the number with two decimal places
                return Number(params.value).toFixed(2);
            }
            // Return the original value if it's not a valid number
            return params.value;
        }
        function loadData() {
            $.ajax({
                type: 'POST',
                url: server + '/api/selectwaitinspection',
                dataType: 'json',
                success: function (data) {
                    hideLoadingSpinner();
                    gridApi.setRowData(data);
                },
            });
        }

        function showLoadingSpinner() {
            $('#loadingSpinner').show();
        }

        function hideLoadingSpinner() {
            $('#loadingSpinner').hide();
        }
        function applySearchFilter() {
            showLoadingSpinner();
            loadData();
        }
        function onBtnExport() {
            gridApi.exportDataAsCsv();
        }
        function saveOrEditForm() {


            var first1Input = document.getElementById('first1-input');
            var first2Input = document.getElementById('first2-input');
            var first3Input = document.getElementById('first3-input');
            var first4Input = document.getElementById('first4-input');

            // thicknessInput이 존재하고 값이 있으면 확인
            if ((!first1Input.checked || !first2Input.checked || !first3Input.checked || !first4Input.checked)) {
                Swal.fire({
                    icon: 'error',
                    title: '누락',
                    text: '외관검사 결과 확인바랍니다',
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: '확인',
                });
                return;
            }

            var thicknessInput = document.getElementById('thickness-input');

            var thicknessText = thicknessInput.innerText || thicknessInput.textContent;
            if (thicknessText.trim() !== "") {
                var data11Input = document.getElementById('data11');
                var data12Input = document.getElementById('data12');
                var data13Input = document.getElementById('data13');

                if (!data11Input.value.trim() || !data12Input.value.trim() || !data13Input.value.trim()) {
                    Swal.fire({
                        icon: 'error',
                        title: '누락',
                        text: '두께 검사 필수 입력항목 확인바랍니다',
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: '확인',
                    });
                    return;
                }
            } else {

            }


            var adhesionstrengthInput = document.getElementById('adhesionstrength-input');

            var adhesionstrengthText = adhesionstrengthInput.innerText || adhesionstrengthInput.textContent;
            if (adhesionstrengthText.trim() !== "") {
                var data21Input = document.getElementById('data21');
                var data22Input = document.getElementById('data22');
                var data23Input = document.getElementById('data23');

                if (!data21Input.value.trim() || !data22Input.value.trim() || !data23Input.value.trim()) {
                    Swal.fire({
                        icon: 'error',
                        title: '누락',
                        text: '점착력(내측) 필수 입력항목 확인바랍니다',
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: '확인',
                    });
                    return;
                }
            } else {

            }

            var adhesionstrength1Input = document.getElementById('adhesionstrength1-input');

            var adhesionstrength1Text = adhesionstrength1Input.innerText || adhesionstrength1Input.textContent;
            if (adhesionstrength1Text.trim() !== "") {
                var data31Input = document.getElementById('data31');
                var data32Input = document.getElementById('data32');
                var data33Input = document.getElementById('data33');

                if (!data31Input.value.trim() || !data32Input.value.trim() || !data33Input.value.trim()) {
                    Swal.fire({
                        icon: 'error',
                        title: '누락',
                        text: '점착력(외측) 필수 입력항목 확인바랍니다',
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: '확인',
                    });
                    return;
                }
            } else {

            }

            var adhesionstrength2Input = document.getElementById('adhesionstrength2-input');

            var adhesionstrength2Text = adhesionstrength2Input.innerText || adhesionstrength2Input.textContent;
            if (adhesionstrength2Text.trim() !== "") {
                var data41Input = document.getElementById('data41');
                var data42Input = document.getElementById('data42');
                var data43Input = document.getElementById('data43');

                if (!data41Input.value.trim() || !data42Input.value.trim() || !data43Input.value.trim()) {
                    Swal.fire({
                        icon: 'error',
                        title: '누락',
                        text: '점착력(외측) 필수 입력항목 확인바랍니다',
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: '확인',
                    });
                    return;
                }
            } else {

            }


            Swal.fire({
                icon: 'info',
                title: '검사완료',
                text: '수입검사를 완료 하시겠습니까?',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: '확인',
                cancelButtonText: '취소',
            }).then((result) => {
                if (result.isConfirmed) {


                    // $.ajax({
                    //     type: 'POST',
                    //     url: server + '/api/updatematerialinfo1',
                    //     dataType: 'json',
                    //     contentType: 'application/json',
                    //     data: JSON.stringify({

                    //         "color": $('#color-input').val(),
                    //         "thickness": $('#thickness-input').val(),
                    //         "adhesionstrength": $('#adhesionstrength-input').val(),
                    //         "id": $('#id-input').val(),


                    //     }),
                    //     success: function (result) {

                    //     },

                    // });


                    $('#modal').fadeOut();
                    $('#overlay').fadeOut();
                    Swal.fire({
                        icon: 'success',
                        title: '수정 완료',
                        text: '수입검사가 완료 되었습니다.',
                    }).then((result) => {
                        if (result.isConfirmed) {
                            loadData()
                        }
                    });
                }
            });



        }

        function addPlusMinus() {
            var thicknessInput = document.getElementById('thickness-input');
            var currentValue = thicknessInput.value;
            if (currentValue.indexOf('±') === -1) { // ±가 없는 경우에만 추가
                thicknessInput.value = currentValue + '±';
            }
            thicknessInput.focus(); // 수정된 부분
        }
        function addPlusMinus1() {
            var thicknessInput1 = document.getElementById('adhesionstrength-input');
            var currentValue = thicknessInput1.value;
            if (currentValue.indexOf('±') === -1) { // ±가 없는 경우에만 추가
                thicknessInput1.value = currentValue + '±';
            }
            thicknessInput1.focus(); // 수정된 부분
        }

    </script>
</body>

</html>