<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" href="../css/inspectioninfo.css">
    <link rel="stylesheet" href="../css/spiner.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
    <title>수입검사 대기현황</title>
</head>

<body>
    <div class="header-container">
        <div class="header-title">
            <h2><i class="fas fa-file-import"></i> &nbsp;수입검사 대기현황</h2>
        </div>
        <div class="header-subtitle">
            <h4>수입검사 > 수입검사 대기현황</h4>
        </div>
    </div>


    <div id="overlay" class="overlay"></div>
    <div id="overlay1" class="overlay"></div>
    <fieldset>
        <legend>검색조건</legend>
        <i class="fas fa-search"></i>
        <input type="text" id="searchInput" placeholder="검색 후 ENTER 입력 바랍니다." style="width:400px; margin-left: 10px;"
            autocomplete="off">
        <button class="close-button" onclick="load()">조회</button>
    </fieldset>


    <div class="spinner-overlay">
        <div class="spinner"></div>
    </div>
    <div id="maintable" class="table-wrapper">
        <table>
            <thead>

                <tr>
                    <th>입고날짜</th>
                    <th>자재유형</th>
                    <th>제조사</th>
                    <th>공급사</th>
                    <th>자재명</th>
                    <th>색상</th>
                    <th>자재LOT</th>
                    <th>ROLL</th>
                    <th></th>
                </tr>



            </thead>

            <tbody id="iteminfobody">
            </tbody>
            <tfoot id="iteminfofoot">
            </tfoot>
        </table>
    </div>


    <div class="modal" id="modal">
        <div class="modal-header">
            <span style="font-weight: bold;"><i class="fas fa-box"></i> 수입검사</span>
        </div>

        <div class="company-info"> <i class="fas fa-box" style="font-weight: bold;"></i> 검사준비</div>
        <div class="modal-content">
            <b>★ 원단성적서와 같이 자재가 입고되면 , 원단의 최외곽 1바퀴를 제외하고, 30x30cm 이상 크기의 원단을 재단하여 수입검사 시료를 준비한다</b><br>

        </div>
        <div class="modal-content">
            <b>★ 수입검사 항목은 하기 기준을 따르며 특수 자재의 경우는 자재업체 성적서 항목 및 기준을 따른다</b><br>
        </div>
        <div class="modal-content">
            <b style="color:red;">★ 수입검사 완료 시료는 수입검사성적서 內 기록 넘버 동일하게 기재하여 3부 보관한다</b>
        </div>

        <div class="divider"></div>

        <div class="section-title"><i class="fas fa-box" style="font-weight: bold;"></i> 자재 품목/TDS 정보</div>
        <div class="modal-content">

            <table>
                <tr>
                    <th style="width:120px;">검사일자</th>
                    <th style="width:120px;">입고일자</th>
                    <th>자재명</th>
                    <th>LOTNO</th>
                    <th>자재TYPE</th>
                    <th>색상</th>
                    <th>입고수량</th>
                    <th style="width:100px;">검사수량</th>
                </tr>
                <tr>
                    <td><input type="date" id="datepicker1" style="width:100%;"></td>
                    <td id="inputdate-input"></td>
                    <td id="materialname-input"></td>
                    <td id="lotno-input"></td>
                    <td id="materialtype-input"></td>
                    <td id="color-input"></td>
                    <td id="roll-input"></td>
                    <td><input type="text" id="inspectionroll-input" style="text-align:center;" autocomplete="off"></td>
                </tr>

            </table>
        </div>
        <div class="section-title"><i class="fas fa-box"></i> 검사항목 정보</div>
        <div class="modal-content">
            <table>
                <tr>
                    <th>구분</th>
                    <th>검사항목</th>
                    <th>판정기준</th>
                    <th>검사방법</th>
                    <th>검사결과</th>
                </tr>
                <tr>
                    <td rowspan="4">외관검사</td>
                    <td>오염</td>
                    <td>사용상 문제 없을것</td>
                    <td>육안</td>
                    <td><input type="checkbox" id="first1-input" style="width:20px; height: 20px; cursor: pointer;">
                    </td>

                </tr>
                <tr>
                    <td>이물</td>
                    <td>이물 없을것</td>
                    <td>육안</td>
                    <td><input type="checkbox" id="first2-input" style="width:20px; height: 20px; cursor: pointer;">
                    </td>
                </tr>
                <tr>
                    <td>색상</td>
                    <td>색상한도 이상 없을것</td>
                    <td>육안</td>
                    <td><input type="checkbox" id="first3-input" style="width:20px; height: 20px; cursor: pointer;">
                    </td>
                </tr>
                <tr>
                    <td>찍힘</td>
                    <td>사용상 문제 없을것</td>
                    <td>육안</td>
                    <td><input type="checkbox" id="first4-input" style="width:20px; height: 20px; cursor: pointer;">
                    </td>
                </tr>

            </table>
        </div>
        <div class="section-title"><i class="fas fa-info-circle"></i>측정 DATA <b style="color: red; float: right;">★는 필수
                항목 입니다</b>
            <input type="text" id="thickness1" style="width:20px; visibility: hidden;">
            <input type="text" id="thickness2" style="width:20px; visibility: hidden;">
            <input type="text" id="thickness3" style="width:20px; visibility: hidden;">
        </div>

        <table>
            <tr>
                <th rowspan="2">검사항목</th>
                <th rowspan="2">측정장비</th>
                <th rowspan="2" style="width:100px;">기준값(+/-)</th>
                <th rowspan="2">단위</th>
                <th colspan="5">DATA</th>
                <th rowspan="2" style="width: 80px;;">FINAL</th>
            </tr>
            <tr>
                <th>★#1</th>
                <th>★#2</th>
                <th>★#3</th>
                <th>#4</th>
                <th>#5</th>
            </tr>
            <tr>
                <td>두께</td>
                <td>두께 Gauge</td>
                <td id="thickness-input"></td>
                <td>㎛</td>
                <td><input type="text" class="inputtext" id="data11" autocomplete="off" oninput="checkInputs()"></td>
                <td><input type="text" class="inputtext" id="data12" autocomplete="off" oninput="checkInputs()"></td>
                <td><input type="text" class="inputtext" id="data13" autocomplete="off" oninput="checkInputs()"></td>
                <td><input type="text" class="inputtext" id="data14" autocomplete="off" oninput="checkInputs()"></td>
                <td><input type="text" class="inputtext" id="data15" autocomplete="off" oninput="checkInputs()"></td>
                <td id="data1result"></td>
            </tr>
            <tr>
                <td>점착력(내측)</td>
                <td>인장시험기</td>
                <td id="adhesionstrength-input"></td>
                <td>gf/25mm</td>
                <td><input type="text" class="inputtext" id="data21" autocomplete="off"></td>
                <td><input type="text" class="inputtext" id="data22" autocomplete="off"></td>
                <td><input type="text" class="inputtext" id="data23" autocomplete="off"></td>
                <td><input type="text" class="inputtext" id="data24" autocomplete="off"></td>
                <td><input type="text" class="inputtext" id="data25" autocomplete="off"></td>
                <td><select class="inputselect" id="data2result">
                        <option></option>
                        <option value="OK">OK</option>
                        <option value="NG">NG</option>
                    </select></td>
            </tr>
            <tr>
                <td>점착력(외측)</td>
                <td>인장시험기</td>
                <td id="adhesionstrength1-input"></td>
                <td>gf/25mm</td>

                <td><input type="text" class="inputtext" id="data31" autocomplete="off"></td>
                <td><input type="text" class="inputtext" id="data32" autocomplete="off"></td>
                <td><input type="text" class="inputtext" id="data33" autocomplete="off"></td>
                <td><input type="text" class="inputtext" id="data34" autocomplete="off"></td>
                <td><input type="text" class="inputtext" id="data35" autocomplete="off"></td>

                <td><select class="inputselect" id="data3result">
                        <option></option>
                        <option value="OK">OK</option>
                        <option value="NG">NG</option>
                    </select></td>
            </tr>
            <tr>
                <td>이형력(내측)</td>
                <td>인장시험기</td>
                <td id="adhesionstrength2-input"></td>
                <td>gf/25mm</td>

                <td><input type="text" class="inputtext" id="data41" autocomplete="off"></td>
                <td><input type="text" class="inputtext" id="data42" autocomplete="off"></td>
                <td><input type="text" class="inputtext" id="data43" autocomplete="off"></td>
                <td><input type="text" class="inputtext" id="data44" autocomplete="off"></td>
                <td><input type="text" class="inputtext" id="data45" autocomplete="off"></td>
                <td><select class="inputselect" id="data4result">
                        <option></option>
                        <option value="OK">OK</option>
                        <option value="NG">NG</option>
                    </select></td>
            </tr>
            <tr>
                <td>비고</td>
                <td colspan="14"><input type="text" id="etc-input" class="inputtext"
                        style="width:95%; text-align: left;"></td>



            </tr>


        </table>

        <div class="modal-footer" style="margin-top: 10px;">
            <button class="close-button" onclick="saveOrEditForm()">저장</button>
            <button class="delete-button" style="margin-left: 10px;" onclick="closeModal()">취소</button>
        </div>
    </div>

    <div class="modal1" id="modal1">
        <div class="modal-header">
            <span style="font-weight: bold;"> <i class="fas fa-address-book"></i>&nbsp;제품검색</span>
        </div>
        <input type="text" class="styled-search" id="itemcode1-input" placeholder="검색내용을 입력하세요" autocomplete="off">
        <div class="modal-content">


            <table class="styled-table" id="Podatatable">
                <thead id="tableHead">
                    <tr>
                        <th>제품코드</th>
                        <th>BOMNO</th>
                        <th>모델명</th>
                        <th>제품명</th>
                        <th>고객사</th>
                        <th>단가</th>
                        <th style="width:100px;"></th>
                    </tr>
                </thead>
                <tbody id="itemtbody">
                </tbody>
            </table>

        </div>
        <div class="modal-footer">
            <button class="delete-button" style="margin-left: 10px;" onclick="closeModal1()">닫기</button>
        </div>
    </div>


    <script>
        var server = '';
        var gridApi;
        if (window.location.hostname === '127.0.0.1' || window.location.hostname === 'localhost') {
            server = 'http://localhost:8080';
        } else {
            server = 'https://mestechon.com';
        }

        $(document).ready(function () {

            // var today = new Date();

            // var year = today.getFullYear();
            // var month = String(today.getMonth() + 1).padStart(2, '0'); // 월은 0부터 시작하므로 1을 더해준다.
            // var day = String(today.getDate()).padStart(2, '0'); // 일
            // var formattedDate = year + '-' + month + '-' + day;

            // document.getElementById('datetpicker1').value = formattedDate;
            load()

        });

        function load() {
            var spinnerOverlay = document.querySelector('.spinner-overlay');
            spinnerOverlay.style.display = 'flex'; // Spinner 표시
            $.ajax({
                url: server + '/api/selectwaitinspection',
                method: 'post',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify({}),
                success: function (result) {
                    $('#iteminfobody').empty();

                    if (result.length === 0) {
                        var emptyRow = $('<tr>');
                        var emptyCell = $('<td colspan="8" style="font-weight:bold;">').text('데이터가 없습니다.');
                        emptyRow.append(emptyCell);
                        $('#iteminfobody').append(emptyRow);
                    } else {
                        result.forEach(function (item) {
                            var row = $('<tr>');
                            row.append('<td>' + (item.date || '') + '</td>');
                            row.append('<td>' + (item.materialtype || '') + '</td>');
                            row.append('<td>' + (item.manufacterer || '') + '</td>');
                            row.append('<td>' + (item.supplier || '') + '</td>');
                            row.append('<td>' + (item.materialname || '') + '</td>');
                            row.append('<td>' + (item.color || '') + '</td>');
                            row.append('<td>' + (item.lotno || '') + '</td>');
                            row.append('<td>' + (item.roll || '') + '</td>');
                            row.append('<td style="display:none;">' + (item.thickness11 || '') + '</td>');
                            row.append('<td style="display:none;">' + (item.thickness12 || '') + '</td>');
                            row.append('<td style="display:none;">' + (item.thickness13 || '') + '</td>');
                            row.append('<td style="display:none;">' + (item.adhesionstrength11 || '') + '</td>');
                            row.append('<td style="display:none;">' + (item.adhesionstrength12 || '') + '</td>');
                            row.append('<td style="display:none;">' + (item.adhesionstrength13 || '') + '</td>');
                            row.append('<td style="display:none;">' + (item.adhesionstrength21 || '') + '</td>');
                            row.append('<td style="display:none;">' + (item.adhesionstrength22 || '') + '</td>');
                            row.append('<td style="display:none;">' + (item.adhesionstrength23 || '') + '</td>');
                            row.append('<td style="display:none;">' + (item.adhesionstrength31 || '') + '</td>');
                            row.append('<td style="display:none;">' + (item.adhesionstrength32 || '') + '</td>');
                            row.append('<td style="display:none;">' + (item.adhesionstrength33 || '') + '</td>');
                            row.append('<td><button class="btninfo" onclick="showinfo(this)">수입검사</button></td>');
                            row.data('id', item.id); // Store ID as data attribute

                            $('#iteminfobody').append(row);
                        });
                    }

                    setTimeout(function () {
                        spinnerOverlay.style.display = 'none'; // 1초 후에 Spinner 숨김
                    }, 1100);
                }
            });
        }
        function saveOrEditForm() {

            var inspectionroll = document.getElementById('inspectionroll-input');

            if (!inspectionroll.value.trim()) {
                Swal.fire({
                    icon: 'error',
                    title: '누락',
                    text: '검사수량을 입력하세요',
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: '확인',
                });
                return;
            }
            var first1Input = document.getElementById('first1-input');
            var first2Input = document.getElementById('first2-input');
            var first3Input = document.getElementById('first3-input');
            var first4Input = document.getElementById('first4-input');

            // thicknessInput이 존재하고 값이 있으면 확인
            if ((!first1Input.checked || !first2Input.checked || !first3Input.checked || !first4Input.checked)) {
                Swal.fire({
                    icon: 'error',
                    title: '누락',
                    text: '외관검사 결과 확인바랍니다',
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: '확인',
                });
                return;
            }

            var thicknessInput = document.getElementById('thickness-input');

            var thicknessText = thicknessInput.innerText || thicknessInput.textContent;
            if (thicknessText.trim() !== "") {
                var data11Input = document.getElementById('data11');
                var data12Input = document.getElementById('data12');
                var data13Input = document.getElementById('data13');

                if (!data11Input.value.trim() || !data12Input.value.trim() || !data13Input.value.trim()) {
                    Swal.fire({
                        icon: 'error',
                        title: '누락',
                        text: '두께 검사 필수 입력항목 확인바랍니다',
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: '확인',
                    });
                    return;
                }
            } else {

            }


            var adhesionstrengthInput = document.getElementById('adhesionstrength-input');

            var adhesionstrengthText = adhesionstrengthInput.innerText || adhesionstrengthInput.textContent;
            if (adhesionstrengthText.trim() !== "") {
                var data21Input = document.getElementById('data21');
                var data22Input = document.getElementById('data22');
                var data23Input = document.getElementById('data23');

                if (!data21Input.value.trim() || !data22Input.value.trim() || !data23Input.value.trim()) {
                    Swal.fire({
                        icon: 'error',
                        title: '누락',
                        text: '점착력(내측) 필수 입력항목 확인바랍니다',
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: '확인',
                    });
                    return;
                }
            } else {

            }

            var adhesionstrength1Input = document.getElementById('adhesionstrength1-input');

            var adhesionstrength1Text = adhesionstrength1Input.innerText || adhesionstrength1Input.textContent;
            if (adhesionstrength1Text.trim() !== "") {
                var data31Input = document.getElementById('data31');
                var data32Input = document.getElementById('data32');
                var data33Input = document.getElementById('data33');

                if (!data31Input.value.trim() || !data32Input.value.trim() || !data33Input.value.trim()) {
                    Swal.fire({
                        icon: 'error',
                        title: '누락',
                        text: '점착력(외측) 필수 입력항목 확인바랍니다',
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: '확인',
                    });
                    return;
                }
            } else {

            }

            var adhesionstrength2Input = document.getElementById('adhesionstrength2-input');

            var adhesionstrength2Text = adhesionstrength2Input.innerText || adhesionstrength2Input.textContent;
            if (adhesionstrength2Text.trim() !== "") {
                var data41Input = document.getElementById('data41');
                var data42Input = document.getElementById('data42');
                var data43Input = document.getElementById('data43');

                if (!data41Input.value.trim() || !data42Input.value.trim() || !data43Input.value.trim()) {
                    Swal.fire({
                        icon: 'error',
                        title: '누락',
                        text: '점착력(외측) 필수 입력항목 확인바랍니다',
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: '확인',
                    });
                    return;
                }
            } else {

            }


            Swal.fire({
                icon: 'info',
                title: '검사완료',
                text: '수입검사를 완료 하시겠습니까?',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: '확인',
                cancelButtonText: '취소',
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        type: 'POST',
                        url: server + '/api/insertintomaterialinspection',
                        dataType: 'json',
                        contentType: 'application/json',
                        data: JSON.stringify({
                            "inspectiondate": $('#datepicker1').val(),
                            "employee": '최수영',
                            "materialname": $('#materialname-input').text(),
                            "materilaltype": $('#materilaltype-input').text(),
                            "lotno": $('#lotno-input').text(),
                            "color": $('#color-input').text(),
                            "roll": $('#roll-input').text(),
                            "exterior1": 'OK',
                            "data11": $('#data11').val(),
                            "data12": $('#data12').val(),
                            "data13": $('#data13').val(),
                            "data14": $('#data14').val(),
                            "data15": $('#data15').val(),
                            "data1result": $('#data1result').text(),
                            "data21": $('#data21').val(),
                            "data22": $('#data22').val(),
                            "data23": $('#data23').val(),
                            "data24": $('#data24').val(),
                            "data25": $('#data25').val(),
                            "data2result": $('#data2result').val(),
                            "data31": $('#data31').val(),
                            "data32": $('#data32').val(),
                            "data33": $('#data33').val(),
                            "data34": $('#data34').val(),
                            "data35": $('#data35').val(),
                            "data3result": $('#data3result').val(),
                            "data41": $('#data41').val(),
                            "data42": $('#data42').val(),
                            "data43": $('#data43').val(),
                            "data44": $('#data44').val(),
                            "data45": $('#data45').val(),
                            "data4result": $('#data4result').val(),
                            "etc": $('#etc-input').val(),  // etc 속성 추가 및 값 할당
                            "inspectionroll": $('#inspectionroll-input').val(), // etc 속성 추가 및 값 할당
                            "inputdate": $('#inputdate-input').text()  // etc 속성 추가 및 값 할당
                        }),
                        success: function (result) {

                        }
                    });
                    $.ajax({
                        type: 'POST',
                        url: server + '/api/updateinput',
                        dataType: 'json',
                        contentType: 'application/json',
                        data: JSON.stringify({
                            "materialname": $('#materialname-input').text(),
                            "lotno": $('#lotno-input').text(),

                        }),
                        success: function (result) {

                        }
                    });

                    $('#modal').fadeOut();
                    $('#overlay').fadeOut();
                    load()
                    Swal.fire({
                        icon: 'success',
                        title: '검사 완료',
                        text: '수입검사가 완료되었습니다.',
                    }).then((result) => {

                    });
                }

            });



        }

        function numberWithCommas(x) {
            return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        }


        // updateaccountiteminfo
        function searchTable() {
            var searchText = $('#searchInput').val().toLowerCase();
            $('#iteminfobody tr').filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(searchText) > -1);
            });
        }
        document.getElementById("itemcode-input").addEventListener("keypress", function (event) {
            if (event.key === "Enter") {
                openProductModal(event.target.value);
            }
        });
        document.getElementById("itemcode1-input").addEventListener("keypress", function (event) {
            if (event.key === "Enter") {
                openProductModal(event.target.value);
            }
        });
        function showinfo(button) {
            var row = $(button).closest('tr');
            var rowData = row.find('td').map(function () {
                return $(this).text();
            }).get();
            console.log(rowData)
            $('#inputdate-input').text(rowData[0])
            $('#materialname-input').text(rowData[4])
            $('#lotno-input').text(rowData[6])
            $('#materialtype-input').text(rowData[1])
            $('#color-input').text(rowData[5])
            $('#roll-input').text(rowData[7])
            $('#first1-input').prop('checked', false);
            $('#first2-input').prop('checked', false);
            $('#first3-input').prop('checked', false);
            $('#first4-input').prop('checked', false);

            $('#data11').val('');
            $('#data12').val('');
            $('#data13').val('');
            $('#data14').val('');
            $('#data15').val('');
            $('#data1result').text('');
            $('#data1result').css('backgroundColor', 'white');


            var today = new Date();

            var year = today.getFullYear();
            var month = String(today.getMonth() + 1).padStart(2, '0'); // 월은 0부터 시작하므로 1을 더해준다.
            var day = String(today.getDate()).padStart(2, '0'); // 일
            var formattedDate = year + '-' + month + '-' + day;



            // Thickness input
            if ((parseFloat(rowData[9]) === parseFloat(rowData[10])) && parseFloat(rowData[9]) !== 0) {
                $('#thickness-input').text(rowData[8] + '±' + rowData[9]);
                $('#thickness1').val(rowData[8]);
                $('#thickness2').val(rowData[9]);
                $('#thickness3').val(rowData[10]);
            } else if (isNaN(parseFloat(rowData[9])) && isNaN(parseFloat(rowData[10]))) {
                $('#thickness-input').text('');
            } else if ((parseFloat(rowData[9])) === 0 & (parseFloat(rowData[10]) === 0)) {
                $('#thickness-input').text(rowData[8] + '이상');
                $('#thickness1').val(rowData[8]);
                $('#thickness2').val(rowData[9]);
                $('#thickness3').val(rowData[10]);
            } else {
                $('#thickness-input').text(rowData[8] + ' +' + rowData[10] + '/-' + rowData[9]);
            }

            if (parseFloat(rowData[12]) === parseFloat(rowData[13]) && parseFloat(rowData[12]) !== 0) {
                $('#adhesionstrength-input').text(rowData[11] + '±' + rowData[12]);
            } else if (isNaN(parseFloat(rowData[12])) && isNaN(parseFloat(rowData[13]))) {
                $('#adhesionstrength-input').text('');
            } else if ((parseFloat(rowData[12])) === 0 & (parseFloat(rowData[13]) === 0)) {
                $('#adhesionstrength-input').text(rowData[11] + '이상');
            } else {
                $('#adhesionstrength-input').text(rowData[11] + ' +' + rowData[13] + '/-' + rowData[12]);
            }

            // Adhesion strength 1 input
            if (parseFloat(rowData[15]) === parseFloat(rowData[16]) && parseFloat(rowData[15]) !== 0) {
                $('#adhesionstrength1-input').text(rowData[14] + '±' + rowData[15]);
            } else if (isNaN(parseFloat(rowData[15])) && isNaN(parseFloat(rowData[16]))) {
                $('#adhesionstrength1-input').text('');
            } else if ((parseFloat(rowData[15])) === 0 & (parseFloat(rowData[16]) === 0)) {
                $('#adhesionstrength1-input').text(rowData[14] + '이상');
            } else {
                $('#adhesionstrength1-input').text(rowData[14] + ' +' + rowData[16] + '/-' + rowData[15]);
            }

            // Adhesion strength 2 input
            if (parseFloat(rowData[18]) === parseFloat(rowData[19]) && parseFloat(rowData[18]) !== 0) {
                $('#adhesionstrength2-input').text(rowData[17] + '±' + rowData[18]);
            } else if (isNaN(parseFloat(rowData[18])) && isNaN(parseFloat(rowData[19]))) {
                $('#adhesionstrength2-input').text('');
            } else if ((parseFloat(rowData[18])) === 0 & (parseFloat(rowData[19]) === 0)) {
                $('#adhesionstrength2-input').text(rowData[17] + '이상');
            } else {
                $('#adhesionstrength2-input').text(rowData[17] + ' +' + rowData[19] + '/-' + rowData[18]);
            }

            document.getElementById('datepicker1').value = formattedDate;
            document.getElementById('modal').style.display = 'block';
            document.getElementById('overlay').style.display = 'block';
        }





        function closeModal() {
            document.getElementById('modal').style.display = 'none';
            document.getElementById('overlay').style.display = 'none';
        }
        function closeModal1() {
            document.getElementById('modal1').style.display = 'none';
            document.getElementById('overlay1').style.display = 'none';
        }

        function checkData() {
            var rowCount = $('#accountdatatbody tr').length; // 테이블의 행 수 확인
            if (rowCount == 0) { // 행 수가 0인 경우
                $('#accountdatatbody').append('<tr><td colspan="12">데이터가 없습니다.</td></tr>'); // 메시지 추가
            }
        }

        function openProductModal(input) {
            document.getElementById('modal1').style.display = 'block';
            document.getElementById('overlay1').style.display = 'block';
            $('#itemtbody').empty()
            $.ajax({
                type: 'POST',
                url: server + '/api/selectbomnoaccountinput',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify({
                    itemcode: input
                }),
                success: function (result) {
                    for (var i = 0; i < result.length; i++) {
                        $('#itemtbody').append(
                            '<tr>' +
                            '<td>' + result[i].itemcode + '</td>' +
                            '<td>' + result[i].bomno + '</td>' +
                            '<td>' + result[i].modelname + '</td>' +
                            '<td>' + result[i].itemname + '</td>' +
                            '<td>' + result[i].customer + '</td>' +
                            '<td>' + result[i].itemprice + '</td>' +
                            '<td><button class="add-button" onclick="add(this)">추가</button></td>' +

                            '</tr>'
                        );
                        $("td#data-itemprice").hide();


                    }
                }
            });
        }

        function saveprocessname() {
            $.ajax({
                url: server + '/api/insertprocessname',
                method: 'post',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify({
                    processname: $('#processname-input').val()
                }),
                success: function (data) {

                }
            });
            $('#processnametbody').empty()
            selectprocessname()
        }
        // 상세 정보 버튼에 대한 클릭 이벤트 처리
        $(document).on('click', '.btninfo', function () {
            var rowData = $(this).closest('tr').data('id')
            // var rowData = $(this).closest('tr');
            console.log(rowData)
            // 행에 포함된 데이터 셀들을 선택하여 데이터를 가져옵니다.
            // var customer = rowData.find('td:eq(0)').text();
            // var modelname = rowData.find('td:eq(1)').text();
            // var itemname = rowData.find('td:eq(2)').text();
            // var itemcode = rowData.find('td:eq(3)').text();
            // var processname = rowData.find('td:eq(9)').text();
            // var bucakcustomer = rowData.find('td:eq(10)').text();
            // var id = rowData.find('td:eq(11)').text();

            // $('#customer').text(customer)
            // $('#modelname').text(modelname)
            // $('#itemname').text(itemname)
            // $('#itemcode').text(itemcode)
            // $('#processname').text(processname)
            // $('#bucakcustomer').text(bucakcustomer)
            // $('#cutomer').text(customer)
            // $('#customer').text(customer)s
        });

        function openModal() {
            document.getElementById('modal').style.display = 'block';
            document.getElementById('overlay').style.display = 'block';
            $('#itemcode-input').focus()
            $('#itemcode-input').val('')
            $('#accountdatatbody').empty()
            checkData()
        }

        function add(row) {
            var rowData = $(row).closest('tr').find('td').map(function () {
                return $(this).text();
            }).get();
            var today = new Date().toISOString().slice(0, 10);

            // 행의 정보를 콘솔에 출력합니다.
            if ($('#accountdatatbody tr:first-child').find('td').attr('colspan') == 12) {
                $('#accountdatatbody tr:first-child').remove();
            }
            var newRow = '<tr>' +
                '<td id="itemcode-input">' + rowData[0] + '</td>' +
                '<td id="bomno-input">' + rowData[1] + '</td>' +
                '<td id="modelname-input">' + rowData[2] + '</td>' +
                '<td id="itemname-input">' + rowData[3] + '</td>' +
                '<td id="customer-input">' + rowData[4] + '</td>' +
                '<td id="itemprice-input">' + rowData[5] + '</td>' +
                '<td style="width:100px;"><input type="text"  autocomplete="off" id="pocount-input" oninput="valuechanged()" style="text-align:right;" class="styled-input"></td>' +
                '<td id="price-input"></td>' +
                '<td><input type="checkbox" id="checkbox-input" style="width:20px; height:20px; cursor:pointer;"></td>' +
                '<td><input type="text" id="etc-input" autocomplete="off" class="styled-input"></td>' +
                '<td><input type="date" id="shipmentdate-input" class="styled-input" value="' + today + '"></td>' +
                '<td><input type="button" onclick="deleteRow(this)" value="삭제" class="delete-button"></td>' +
                '</tr>';

            // 새로운 행을 테이블에 추가합니다.
            $('#accountdatatbody').append(newRow);

            // 데이터가 없는지 확인합니다.
            checkData();

            // 값을 변경할 때마다 가격을 계산하는 함수 호출
            valuechanged();
        }


        function deleteRow(button) {
            var row = button.closest('tr');
            var rowCount = document.getElementById('Podatatable').getElementsByTagName('tbody')[0].getElementsByTagName('tr').length;
            row.remove();
            var rowCount = $('#accountdatatbody tr').length; // 테이블의 행 수 확인
            if (rowCount == 0) { // 행 수가 0인 경우
                $('#accountdatatbody').append('<tr><td colspan="12">데이터가 없습니다.</td></tr>'); // 메시지 추가
            }
        }
        function valuechanged() {
            var currentRow = $(event.target).closest('tr');
            var rowIndex = currentRow.index();
            const itempriceValue = parseFloat($('#accountdatatbody tr:eq(' + rowIndex + ') #itemprice-input').text().replace(/,/g, '')) || 0;
            const countValue = parseFloat($('#accountdatatbody tr:eq(' + rowIndex + ') #pocount-input').val().replace(/,/g, '')) || 0;
            const priceValue = itempriceValue * countValue;
            // 쉼표가 추가된 값을 입력 필드에 설정합니다.
            $('#accountdatatbody tr:eq(' + rowIndex + ') #price-input').text(priceValue.toLocaleString());
            const input = document.querySelector('#pocount-input');
            input.addEventListener('keyup', function (e) {
                let value = e.target.value;
                value = Number(value.replaceAll(',', ''));
                if (isNaN(value)) {
                    input.value = 0;
                } else {
                    const formatValue = value.toLocaleString('ko-KR');
                    input.value = formatValue;
                }
            })
        }
        function accountsave(row) {


            Swal.fire({
                icon: 'info',
                title: '저장',
                text: '영업수주 정보를 등록 하시겠습니까?',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: '확인',
                cancelButtonText: '취소',
            }).then((result) => {
                if (result.isConfirmed) {

                    var rowCount = $('#accountdatatbody tr').length;
                    var insertdate = new Date().toISOString().slice(0, 10);

                    for (var i = 0; i < rowCount; i++) {

                        // Get the value of the checkbox with id=checkbox-input
                        var checkboxChecked = $('#accountdatatbody tr:eq(' + i + ') #checkbox-input').prop('checked');

                        // Set the value of ad based on the checkbox status
                        var adValue = checkboxChecked ? 'A' : 'D';

                        $.ajax({
                            type: 'POST',
                            url: server + '/api/openinsertdata',
                            dataType: 'json',
                            contentType: 'application/json',
                            data: JSON.stringify({
                                "bomno": $('#accountdatatbody tr:eq(' + i + ') #bomno-input').text(),
                                "modelname": $('#accountdatatbody tr:eq(' + i + ') #modelname-input').text(),
                                "itemname": $('#accountdatatbody tr:eq(' + i + ') #itemname-input').text(),
                                "customer": $('#accountdatatbody tr:eq(' + i + ') #customer-input').text(),
                                "quantity": $('#accountdatatbody tr:eq(' + i + ') #pocount-input').val().replaceAll(',', ''),
                                "itemcode": $('#accountdatatbody tr:eq(' + i + ') #itemcode-input').text(),
                                "itemprice": $('#accountdatatbody tr:eq(' + i + ') #itemprice-input').text(),
                                "num": '1',
                                "status": '생산발주대기',
                                "ad": adValue, // Use the adValue variable here
                                "deliverydate": insertdate,
                                "part": '양산',
                                "etc": $('#accountdatatbody tr:eq(' + i + ') #etc-input').val(),
                                "shipmentdate": $('#accountdatatbody tr:eq(' + i + ') #shipmentdate-input').val(),
                            }),
                            success: function (result) {
                                // 성공했을 때의 처리
                            }
                        });
                    }
                    Swal.fire({
                        icon: 'success',
                        title: '저장 완료',
                        text: '영업수주 정보가 저장 되었습니다.',
                    }).then((result) => {
                        if (result.isConfirmed) {
                            $('#modal').fadeOut();
                            $('#overlay').fadeOut();
                            load();
                        }
                    });

                }
            });


        }



    </script>

</body>

</html>