<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>품목정보</title>
  <script src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" href="../css/main.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.14.3/xlsx.full.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.min.js"></script>
</head>
<style>
  #datatable-container {
    max-height: 1000px;
    /* Adjust the maximum height as needed */
    overflow-y: auto;
    /* Add vertical scrollbars if the content exceeds the container height */
  }

  #datatable {
    width: 100%;
    /* Other table styles */
  }

  .button-group {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin-top: 20px;
  }


  .container {
    display: flex;
    flex-wrap: wrap;
  }

  #customer-select,
  #model-select {
    margin-left: 20px;
    width: 250px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }

  button:hover {
    background-color: #0056b3;
  }
</style>

<body>
  <div class="main_header">
    <a>단가 등록 리스트</a>
  </div>
  <div id="loadingOverlay">
    <img src="/img/테크온로고.PNG" alt="로딩 이미지" class="loadingImage">

  </div>
  <fieldset>
    <legend>검색조건</legend>

    <label for="customer">모델명:</label>
    <select id="model-select">
      <option value="">전체</option>
    </select>
    <label for="customer">납품처:</label>
    <select id="customer-select">
      <option value="">전체</option>
    </select>



    <button onclick="searchData()">조회</button>
    <button onclick="exportExcel()">Excel</button>

  </fieldset>
  <!-- <div class="form-group">
    <table style="width: 50%; border: 1px solid silver;">
      <tr>
        <td style="width: 9%; background-color: whitesmoke; font-weight: bold; ">모델명</td>

        <td style="width: 25%;">

          <div class="form-group">
            <select id="model-select">
              <option value="">전체</option>
            </select>
          </div>
        </td>
        <td style="width: 9%; background-color: whitesmoke; font-weight: bold; ">납품처</td>

        <td style="width: 25%; ">
          <div class="form-group">
            <select id="customer-select">
              <option value="">전체</option>

            </select>
          </div>
        </td>
        <td style="width: 10%;"><input type="button" value="검색" class="styled-button"></td>
        <td style="width: 10%;"><input type="button" value="EXCEL-DOWN" class="styled-button2" onclick="exportExcel()">
        </td>

      </tr>
    </table>
  </div> -->


  <div id="datatable-container">
    <table class="styled-table2"  id="datatable" style="width:100%; border: 1px solid silver;">
    
      <thead>
        <tr>
          <th style="width:auto;">BOMNO</th>
          <th style="width:auto;">모델명</th>
          <th style="width:auto;">품목명</th>
          <th style="width:auto;">납품처</th>
          <th style="width:auto;">판매단가(원)</th>
          <th style="width:auto;">원가(재료비)(원)</th>
          <th style="width:auto;">차이(원)</th>
          <th style="width:auto;">재료비율(%)</th>
          <th style="width:auto;">기타사항</th>
          <th style="width:100px;"></th>
        </tr>
      </thead>
      <tbody id="Datatbody">
      </tbody>
    </table>
  </div>


  <!-- 수정창 -->
  <div id="popupOverlay1" style="display: none;">

    <div id="popupContent">
      <div class="form-group">
        <table style="width:100%;">
          <tr>
            <td colspan="2" class="popup_title">품목 정보 수정</td>
          </tr>
          <!-- <tr>
            <td style="width: 200px">품목코드</td>
            <td><input type="text" id="itemcode-edit" class="data" autocomplete="off" readonly
                style="width:100%; border:1px solid silver;"></td>
          </tr> -->
          <tr>
            <td style="width: 200px">BOMNO</td>
            <td><input type="text" id="bomno-edit" class="data" autocomplete="off" readonly
                style="width:auto; border:1px solid silver;"></td>
          </tr>
          <tr>
            <td style="width: 200px">모델명</td>
            <td><input type="text" id="modelname-edit" class="data" autocomplete="off" readonly
                style="width:auto; border:1px solid silver;"></td>
          </tr>
          <tr>
            <td style="width: 200px">제품명</td>
            <td><input type="text" id="itemname-edit" class="data" autocomplete="off" readonly
                style="width:auto; border:1px solid silver;"></td>
          </tr>
          <tr>
            <td style="width: 200px">고객사</td>
            <td><input type="text" id="customer-edit" class="data" autocomplete="off" readonly
                style="width:auto; border:1px solid silver;"></td>
          </tr>
          <tr>
            <td style="width: 200px; color: blue;">단가(원)</td>
            <td><input type="text" id="itemprice-edit" class="data" autocomplete="off"
                style="width:auto; border:1px solid silver;"></td>
          </tr>
        </table>
      </div>
      <button id="popupCloseBtn-edit-close">취소</button>
      <button id="popupCloseBtn-edit" onclick="Dataedit()">수정</button>
      <input type="text" id="id-edit" style="visibility: hidden; width: 10px; float: right;" autocomplete="off">
    </div>
  </div>




  <script>
    var server = '';

    if (window.location.hostname == 'localhost') {
      server = 'http://localhost:8080';
    } else {
      server = 'http://techonmes.co.kr';
    }
    $(document).ready(function () {
      showLoading()
      load()

      const selectElement = document.getElementById("customer-select");
      if (selectElement) {
        $.ajax({
          type: 'POST',
          url: server + '/api/accountnamegroup',
          dataType: 'json',
          contentType: 'application/json',
          success: function (result) {
            for (let i = 0; i < result.length; i++) {
              const option = document.createElement("option");
              option.text = result[i].accountname;
              option.value = result[i].accountname;
              selectElement.add(option);
            }
          },
        });
      }

      const selectElement1 = document.getElementById("model-select");
      if (selectElement1) {
        $.ajax({
          type: 'POST',
          url: server + '/api/modelgroup',
          dataType: 'json',
          contentType: 'application/json',
          success: function (result) {
            for (let i = 0; i < result.length; i++) {
              const option = document.createElement("option");
              option.text = result[i].modelname;
              option.value = result[i].modelname;
              selectElement1.add(option);
            }
          },
        });
      }


      $('#datatable').on('click', '.data-edit', function () {
        var str = "";
        var tdArr = new Array();// 배열 선언            
        var checkBtn = $(this);

        var tr = checkBtn.parent().parent();
        var td = tr.children();

        var bomno = td.eq(0).text();
        var modelname = td.eq(1).text();
        var itemname = td.eq(2).text();
        var customer = td.eq(3).text();
        var itemprice = td.eq(4).text();
        var cost = td.eq(5).text();
        var costpg = td.eq(6).text();
        var id = td.eq(10).text();

        $('#bomno-edit').val(bomno)
        $('#modelname-edit').val(modelname)
        $('#itemname-edit').val(itemname)
        $('#customer-edit').val(customer)
        $('#itemprice-edit').val(itemprice)
        $('#cost-edit').val(cost)
        $('#costpg-edit').val(costpg)
        $('#id-edit').val(id)
        $('#popupOverlay1').fadeIn();
      });
      $('#datatable').on('click', '.data-delete', function () {
        var str = "";
        var tdArr = new Array();// 배열 선언            
        var checkBtn = $(this);

        var tr = checkBtn.parent().parent();
        var td = tr.children();


        var id = td.eq(9).text();
        $('#id-edit').val(id)
        $('#popupOverlay2').fadeIn();
      });


      $('#popupCloseBtn-save-close').click(function () {
        $('#popupOverlay').fadeOut();
      });
      $('#popupCloseBtn-edit-close').click(function () {
        $('#popupOverlay1').fadeOut();
      });
      $('#popupCloseBtn-delete-close').click(function () {
        $('#popupOverlay2').fadeOut();
      });


    });



    //오름차순 내림차순
    function sortTable(columnIndex) {
      var table, rows, switching, i, x, y, shouldSwitch, direction, switchcount = 0;
      table = document.getElementById("datatable");
      switching = true;
      direction = "asc"; // 기본 정렬 방향은 오름차순

      while (switching) {
        switching = false;
        rows = table.getElementsByTagName("tr");

        for (i = 1; i < (rows.length - 1); i++) {
          shouldSwitch = false;
          x = rows[i].getElementsByTagName("td")[columnIndex];
          y = rows[i + 1].getElementsByTagName("td")[columnIndex];

          if (direction == "asc") {
            if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
              shouldSwitch = true;
              break;
            }
          } else if (direction == "desc") {
            if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
              shouldSwitch = true;
              break;
            }
          }
        }

        if (shouldSwitch) {
          rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
          switching = true;
          switchcount++;
        } else {
          if (switchcount == 0 && direction == "asc") {
            direction = "desc";
            switching = true;
          }
        }
      }
    }

    //검색
    function search() {
      console.log("11")
      const searchInput = document.getElementById('myInput');
      const dataTable = document.getElementById('datatable');
      const tableRows = dataTable.getElementsByTagName('tr');

      searchInput.addEventListener('input', function () {
        const searchValue = this.value.toLowerCase();

        for (let i = 1; i < tableRows.length; i++) {
          const rowData = tableRows[i].getElementsByTagName('td');

          let found = false;

          for (let j = 0; j < rowData.length; j++) {
            const cellData = rowData[j].textContent.toLowerCase();

            if (cellData.includes(searchValue)) {
              found = true;
              break;
            }
          }

          if (found) {
            tableRows[i].style.display = '';
          } else {
            tableRows[i].style.display = 'none';
          }

        }
      });
    }
    function showLoading() {
      var loadingOverlay = document.getElementById("loadingOverlay");
      loadingOverlay.style.display = "flex";

      // 로딩 완료 후 일정 시간 후 로딩 창 숨기기 (테스트용)
      setTimeout(function () {
        loadingOverlay.style.display = "none";
      }, 1000);
    }

    function New() {
      $('#accountcode-save').val('')
      $('#accountname-save').val('')
      $('#representativename-save').val('')
      $('#phone-save').val('')
      $('#adress-save').val('')
      $('#popupOverlay').fadeIn();
    }



    function Dataedit() {
      if (confirm("단가정보를 수정하시겠습니까?") == true) {

        $.ajax({
          type: 'POST',
          url: server + '/api/priceupdate',
          dataType: 'json',
          contentType: 'application/json',
          data: JSON.stringify({


            itemprice: $('#itemprice-edit').val(),

            id: $('#id-edit').val(),




          }),
          success: function (result) {
            console.log(result)
          }
        })
        var currentDate = new Date();
        var year = currentDate.getFullYear();
        var month = (currentDate.getMonth() + 1).toString().padStart(2, '0');
        var day = currentDate.getDate().toString().padStart(2, '0');

        var formattedDate = year + '-' + month + '-' + day;

        $.ajax({
          type: 'POST',
          url: server + '/api/pricechange',
          dataType: 'json',
          contentType: 'application/json',
          data: JSON.stringify({


            bomno: $('#bomno-edit').val(),
            modelname: $('#modelname-edit').val(),
            itemname: $('#itemname-edit').val(),
            customer: $('#customer-edit').val(),
            price: $('#itemprice-edit').val(),
            savedate: formattedDate


          }),
          success: function (result) {
            console.log(result)
          }
        })

        alert("수정이 완료 되었습니다.");
        $('#popupOverlay1').fadeOut();
        load()

      } else {
        return false;
      }
    }

    function load() {
      $('#Datatbody').empty()
      $.ajax({
        type: 'POST',
        url: server + '/api/iteminfo',
        dataType: 'json',
        success: function (data) {
          for (var i = 0; i < data.length; i++) {
            var rowData = data[i];

            // NULL 값 처리
            var bomno = rowData.bomno ? rowData.bomno : '';
            var modelname = rowData.modelname ? rowData.modelname : '';
            var itemname = rowData.itemname ? rowData.itemname : '';
            var customer = rowData.customer ? rowData.customer : '';
            var itemprice = rowData.itemprice ? rowData.itemprice : '';
            var cost = rowData.cost ? rowData.cost : '';
            var costpg = rowData.costpg ? rowData.costpg : '';
            var etc = rowData.etc ? rowData.etc : '';
            // itemprice - cost 계산
            var itemPriceMinusCost = parseFloat(itemprice) - parseFloat(cost);

            $('#datatable').append(
              '<tr>' +
              '<td>' + bomno + '</td>' +
              '<td>' + modelname + '</td>' +
              '<td>' + itemname + '</td>' +
              '<td>' + customer + '</td>' +
              '<td style="text-align:right;">' + itemprice.toLocaleString() + '</td>' +
              '<td style="text-align:right;">' + cost.toLocaleString() + '</td>' +
              '<td style="text-align:right;">' + itemPriceMinusCost.toLocaleString() + '</td>' +
              '<td style="text-align:right;">' + costpg.toLocaleString() + '</td>' +
              '<td >' + etc + '</td>' +
              '<td><a class="data-edit" style="cursor:pointer; color:navy;">수정</a></td>' +
              '<td class="data-id">' + rowData.id + '</td>' +
              '</tr>'
            );

            $("td.data-id").hide();
          }
        }
      });
    }



  </script>
  <script>
    function s2ab(s) {
      var buf = new ArrayBuffer(s.length); //convert s to arrayBuffer
      var view = new Uint8Array(buf);  //create uint8array as viewer
      for (var i = 0; i < s.length; i++) view[i] = s.charCodeAt(i) & 0xFF; //convert to octet
      return buf;
    }
    function exportExcel() {
      // step 1. workbook 생성
      var wb = XLSX.utils.book_new();

      // step 2. 시트 만들기 
      var newWorksheet = excelHandler.getWorksheet();

      // step 3. workbook에 새로만든 워크시트에 이름을 주고 붙인다.  
      XLSX.utils.book_append_sheet(wb, newWorksheet, excelHandler.getSheetName());

      // step 4. 엑셀 파일 만들기 
      var wbout = XLSX.write(wb, { bookType: 'xlsx', type: 'binary' });

      // step 5. 엑셀 파일 내보내기 
      saveAs(new Blob([s2ab(wbout)], { type: "application/octet-stream" }), excelHandler.getExcelFileName());
    }
  </script>
  <script>
    var excelHandler = {
      getExcelFileName: function () {
        return '품목정보리스트.xlsx';
      },
      getSheetName: function () {
        return 'Table Test Sheet';
      },
      getExcelData: function () {
        return document.getElementById('datatable');
      },
      getWorksheet: function () {
        return XLSX.utils.table_to_sheet(this.getExcelData());
      }
    }
  </script>
</body>

</html>