<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>자재 기초정보</title>
    <link rel="stylesheet" href="https://uicdn.toast.com/tui.grid/latest/tui-grid.css">
    <link rel="stylesheet" href="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.js"></script>
    <script src="https://uicdn.toast.com/tui.grid/latest/tui-grid.js"></script>
    <link rel="stylesheet" href="../css/mescss.css">


</head>

<body>
    <div class="menu-title">
        <i class="fas fa-dollar-sign"></i>단가 등록 및 조회
    </div>
    <div class="search-container">
        <label for="search" class="search-label"> 검색 :</label>
        <div class="search-input-wrapper">
            <input type="text" id="search" placeholder="검색어를 입력하세요...">
            <i class="fas fa-search search-icon"></i>
        </div>
    </div>
    <div id="grid" style="width:100%;"></div>

    <script>
        var server = '';
        var tui;
        var gridData;
        var grid; // Declare grid variable.

        if (window.location.hostname == 'localhost') {
            server = 'http://localhost:8080';
        } else {
            server = 'http://techonmes.co.kr';
        }

        $(document).ready(function () {
            setTimeout(function () {
                load();
            }, 500);

        });
        function initializeGrid() {
            grid = new tui.Grid({
                el: document.getElementById('grid'),
                data: [],
                scrollX: false,
                scrollY: false,
                autoHeight: true,
                pageOptions: {
                    useClient: true,
                    perPage: 50
                },
                usageStatistics: false,
                usageStatisticsData: null,
                columnOptions: {
                    resizable: true
                },
                rowHeaders: ['rowNum'],
                // Use onGridDblclick event to capture double-click
                onGridDblclick: function (ev) {
                    // Log the row data to the console on double-click
                    console.log('Double-clicked row data:', ev.rowKey, grid.getRow(ev.rowKey));
                },
                columns: [
                    {
                        header: 'BOMNO',
                        name: 'bomno',
                        filter: 'select',
                        sortable: true,
                        resizable: true
                    },
                    {
                        header: '구분',
                        name: 'part',
                        filter: 'select',
                        sortable: true,
                        resizable: true,
                        width: 100
                    },
                    {
                        header: '모델명',
                        name: 'modelname',
                        filter: 'select',
                        sortable: true,
                        resizable: true
                    },
                    {
                        header: '제품명',
                        name: 'itemname',
                        filter: 'select',
                        sortable: true,
                        resizable: true
                    },
                    {
                        header: '고객사',
                        name: 'customer',
                        filter: 'select',
                        sortable: true,
                        resizable: true
                    },
                    {
                        header: '고객사코드',
                        name: 'itemcode',
                        filter: 'select',
                        sortable: true,
                        resizable: true
                    },
                    {
                        header: '제품군',
                        name: 'class',
                        filter: 'select',
                        sortable: true,
                        resizable: true,
                        width: 120
                    },
                    {
                        header: '판매단가(￦)',
                        name: 'itemprice',
                        filter: 'select',
                        sortable: true,
                        resizable: true,
                        width: 120,
                        align: 'right',
                        formatter: function (value) {
                            return parseFloat(value.value).toLocaleString();
                        },
                    },
                    {
                        header: '원가(￦)',
                        name: 'cost',
                        filter: 'select',
                        sortable: true,
                        resizable: true,
                        align: 'right',
                        formatter: function (value) {
                            return parseFloat(value.value).toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 2 });
                        },
                        width: 120,




                    },

                    {
                        header: '재료비율(%)',
                        name: 'costPriceRatio',
                        filter: 'select',
                        sortable: true,
                        resizable: true,
                        align: 'right',
                        width: 140
                    },


                ]

            });

            grid.on('beforeRequest', function (ev) {
                const pagination = ev.pagination;
                load(pagination.page, pagination.perPage);
            });
        }




        function load(pageNumber, pageSize) {


            $.ajax({
                type: 'POST',
                url: server + '/api/iteminfobom',
                dataType: 'json',
                data: {
                    page: pageNumber,
                    pageSize: pageSize
                },
                success: function (data) {
                    gridData = data;
                    grid.resetData(data);

                }
            });

            $('#search').on('input', function () {
                var keyword = $(this).val().toLowerCase();

                // Filter the data based on the search keyword
                var filteredData = gridData.filter(function (item) {
                    return Object.values(item).some(function (value) {
                        return typeof value === 'string' && value.toLowerCase().includes(keyword);
                    });
                });

                grid.resetData(filteredData);
            });
            initializeGrid();
        }

    </script>

</body>

</html>