<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="loadHtml" style="margin-left:-100px">
        <img src="/img/테크온로고.PNG" style="margin-left: 40%; margin-top: 15%; ;">
        <br>
        <h1 style="text-align: center;">Techon MES System</h1>
        <!-- <hr> -->
        <br>

        <h2 style="text-align: center;">Manufacturing Execution System</h2>
    </div>
</body>

</html>