<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">

<style>
    body {
        font-family: 'Noto Sans KR', sans-serif;
        margin: 0 auto;
        padding: 0 auto;
    }

    .top {
        margin-top: 10px;
    }

    .left-menu {
        margin-top: 64px;
        background-color: rgb(31, 36, 76);
        width: 300px;
        height: 95.5%;
        border: 1px solid silver;
        overflow-y: auto;
        /* 스크롤 기능 유지 */
        overflow-x: hidden;
        position: fixed;
        top: 0;
        left: 0;
        color: white;
    }

    .left-menu1 {
        /* margin-top:14px; */
        margin-bottom: 8px;
        display: flex;
        padding-left: 10px;
    }

    .content_name {
        /* margin-top: 29px; */
        flex-grow: 1;
        height: 50px;
        /* margin-left: 280px; */
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: right;
        font-size: 20px;
        margin-right: 30px;
    }

    .content_name .user_part {
        background-color: rgb(239, 252, 246);
        color: rgb(85, 182, 133);
        margin-left: 18px;
        padding-left: 18px;
        padding-right: 18px;
        border-radius: 10px;
    }

    .content_name .user_name_sub {
        font-weight: 300;
        color: gray;
    }

    .content_name .user_name {
        font-weight: 300;
        margin-right: 4px;
    }

    .logout_img {
        margin-left: 20px;
        width: 30px;
    }

    #loadHtml {
        flex-grow: 1;
        margin-left: 300px;
        /* border: 1px solid silver; */
        height: calc(100vh - 70px);
    }

    .highlight-text {
        display: inline-block;
        padding: 13px 19px;

        width: 100%;
        /* margin-bottom:10px; */
        background-color: rgb(67, 70, 165);
        border-radius: 20px 0 0 20px;

    }

    .highlight {
        width: 100%;
        background-color: rgb(71, 73, 93);
        font-weight: bold;
    }

    .highlight-text1 {
        display: inline-block;
    }

    .highlight1 {
        width: 100%;
        /* background-color: rgb(198, 243, 237); */
    }
</style>
<style>
    body {
        margin: 0 auto;
        padding: 0 auto;
    }

    #wrapper {
        font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    }

    .side-menu {
        top: 50px;
        width: 45px;
        z-index: 10;
        background: #ff5858;
        border-right: 1px solid rgba(0, 0, 0, 0.07);
        bottom: 50px;
        height: 80%;
        margin-bottom: -70px;
        margin-top: 0px;
        padding-bottom: 70px;
        position: fixed;
        box-shadow: 0 0px 24px 0 rgb(0 0 0 / 6%), 0 1px 0px 0 rgb(0 0 0 / 2%);
    }

    .sidebar-inner {
        height: 100%;
        padding-top: 30px;
    }

    #sidebar-menu,
    #sidebar-menu ul,
    #sidebar-menu li,
    #sidebar-menu a {
        border: 0;
        font-weight: normal;
        line-height: 1;
        list-style: none;
        margin: 0;
        padding: 0;
        position: relative;
        text-decoration: none;
    }

    #sidebar-menu>ul>li a {
        color: #fff;
        font-size: 20px;
        display: block;
        padding: 14px 0px;
        margin: 0px 0px 0px 8px;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        border-bottom: 1px solid rgba(255, 255, 255, 0.05);
        width: 28px;
        cursor: pointer;
    }

    #sidebar-menu .fas {
        padding-left: 6px;
    }

    /* 사이드 메뉴 */
    input[type="search"] {
        width: 180px;
        margin: 0 auto;
        margin-left: 9px;
        border: 2px solid #797979;
        font-size: 14px;
        margin-top: 10px;
        padding: 4px 0 4px 14px;
        border-radius: 50px;
    }

    .left_sub_menu {
        position: fixed;
        top: 68px;
        left: 0;
        width: 282px;
        z-index: 10;
        /* left: 45px; */
        background: #1E244F;
        border-right: 1px solid rgba(0, 0, 0, 0.07);
        bottom: 50px;
        height: 94%;
        margin-bottom: -70px;
        margin-top: 0px;
        padding-bottom: 0px;
        box-shadow: 0 0px 24px 0 rgb(0 0 0 / 6%), 0 1px 0px 0 rgb(0 0 0 / 2%);
        color: black;
        scrollbar-width: none;
        -ms-overflow-style: none;
        overflow: -moz-scrollbars-none;
        overflow: scroll;
    }

    .left_sub_menu::-webkit-scrollbar {
        display: none;
    }

    .sub_menu {
        margin-top: 10px;
    }

    /* .left_sub_menu>.sub_menu li:hover {
        color: ff5858;
        background-color: #e1e1e1;
    } */

    .left_sub_menu>.sub_menu li {
        /* color: #333; */
        font-size: 18px;
        font-weight: 400;
        padding: 14px 0px 14px 14px;
        /* border-bottom: 1px solid #e1e1e1; */
    }

    .sub_menu>h2 {
        padding-bottom: 4px;
        border-bottom: 3px solid #797979;
        margin-top: 30px;
        font-size: 21px;
        font-weight: 600;
        color: #333;
        margin-left: 10px;
        margin-right: 10px;
        font-family: 'NotoKrB';
        line-height: 35px;
    }

    .sub_menu .fas {
        color: #ff5858;
        font-size: 20px;
        line-height: 20px;
        float: right;
        margin-right: 20px;
    }

    .sub_menu>.big_menu>.small_menu li {
        color: white;
        font-size: 17px;
        /* font-weight: 600; */
        border-bottom: 0px solid #e1e1e1;
        padding-top: 14px;
        padding-bottom: 14px;

    }

    .big_menu {
        cursor: pointer;
    }

    #wrapper ul {
        padding-inline-start: 0px;
    }

    #wrapper a {
        color: white;
        text-decoration: none;
        background-color: transparent;
        font-weight: 400;
    }

    #wrapper ul {
        list-style: none;
    }

    #wrapper ol,
    #wrapper ul {
        margin-top: 0;
        margin-bottom: 10px;
    }

    .has_sub {
        width: 100%;
    }

    .overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
    }

    .hide_sidemenu {
        display: none;
    }

    .big_menu {
        margin-left: 10px;
        border-radius: 20px 0px 0px 20px;
    }

    .big_menu_sub {
        color: white;

    }

    .small_menu_sub a {
        font-weight: 400;
    }

    .down_menu {
        display: none;
        /* 초기에는 숨김 */
        background-color: #1E244F;
        color: white;
        border-radius: 0px 0px 0px 20px;
        margin-left: 38px;
        /* 이 값은 자유롭게 조절하세요 */
    }

    .down_menu_sub {
        display: flex;
        /* Flex 컨테이너로 설정 */
        align-items: center;
        /* 수직 중앙 정렬 */
        margin-top: 10px;
        font-size: 14px;
        padding: 10px 0;
        /* 좌우 패딩을 0으로 설정 */
    }

    .down_menu_sub_select {
        margin-left: auto;
        /* 오른쪽으로 이동 */
        margin-right: 10px;
    }

    .down_menu_sub a {
        color: white;
        text-decoration: none;
        font-size: 16px;
    }

    .down_menu_sub:hover {
        background-color: #545988;
        /* 호버 상태에서 배경색 변경 (원하는 색상으로 변경 가능) */
    }

    .down_menu_sub:last-child:hover {
        border-radius: 0px 0px 0px 20px;
        /* 마지막 요소인 경우에만 border-radius 적용 */
    }

    .fa-angle-right {

        width: 15px;
        height: 15px;
        filter: invert(100%);

    }

    .down_menu_sub_select {
        width: 4px;
        height: 12px;
        background: #FFE179;
        display: none;
    }
</style>

<body>

    <div class="top" style="display: flex;">
        <div class="left-menu1">
            <img src="../img/테크온로고.PNG" style="width: 150px; height: 50px;float: left;">
            <h4 id="countdown"></h4>
        </div>

        <div id="wrapper">

            <div class="left_sub_menu">
                <div class="sub_menu">

                    <ul class="big_menu">
                        <li class="big_menu_sub">기초정보<img class="arrow fas fa-angle-right" src="../img/down.png" /></li>
                        <ul class="small_menu">
                            <li onclick="customerinformationHtml()" class="small_menu_sub">
                                <a>거래처정보/조회</a>
                            </li>
                            <li onclick="houseHtml()" class="small_menu_sub">
                                <a>창고정보/조회</a>
                            </li>
                            <li onclick="equipmentHtml()" class="small_menu_sub">
                                <a>설비정보/조회</a>
                            </li>

                        </ul>

                    </ul>

                    <ul class="big_menu">
                        <li class="big_menu_sub">영업팀<img class="arrow fas fa-angle-right" src="../img/down.png" /></li>
                        <ul class="small_menu">
                            <li class="small_menu_sub">
                                <a>단가등록</a>
                                <ul class="down_menu">
                                    <li onclick="iteminfoHtml()" class="down_menu_sub"><a>단가 등록 및 조회</a>
                                        <div class="down_menu_sub_select"></div>
                                    </li>
                                    <li onclick="pricechangeHtml()" class="down_menu_sub"><a>단가 변경이력 조회</a>
                                        <div class="down_menu_sub_select"></div>
                                    </li>
                                </ul>
                            </li>
                            <li class="small_menu_sub">
                                <a>주문서등록</a>
                                <ul class="down_menu">
                                    <li onclick="salesHtml()" class="down_menu_sub"><a>수주 등록 및 조회</a>
                                        <div class="down_menu_sub_select"></div>
                                    </li>
                                  
                                </ul>
                            </li>
                            <li class="small_menu_sub">
                                <a>출하계획등록</a>
                                <ul class="down_menu">
                                    <li onclick="shipmentplanHtml()" class="down_menu_sub"><a>출하계획 등록 및 조회</a>
                                        <div class="down_menu_sub_select"></div>
                                    </li>
                                    <li onclick="toomuchHtml()" class="down_menu_sub"><a>출하계획 대비 완제품 과부족 현황</a>
                                        <div class="down_menu_sub_select"></div>
                                    </li>
                                </ul>
                            </li>
                            <li class="small_menu_sub">
                                <a>출하등록(판매)</a>
                                <ul class="down_menu">
                                    <li onclick="shipmentsiljokinputHtml()" class="down_menu_sub"><a>판매 등록 및 조회</a>
                                        <div class="down_menu_sub_select"></div>
                                    </li>
                                </ul>
                            </li>
                            <li class="small_menu_sub">
                                <a>판매 계획</a>
                                <ul class="down_menu">
                                    <li onclick="shipmentplaninputHtml()" class="down_menu_sub"><a>판매 계획 등록</a>
                                        <div class="down_menu_sub_select"></div>
                                    </li>
                                    <li onclick="shipmentplaninput1Html()" class="down_menu_sub"><a>3개월 판매 계획 등록</a>
                                        <div class="down_menu_sub_select"></div>
                                    </li>
                                    <li onclick="plansiljokHtml()" class="down_menu_sub"><a>판매 계획 조회</a>
                                        <div class="down_menu_sub_select"></div>
                                    </li>
                                    <li onclick="businessplanHtml()" class="down_menu_sub"><a>사업 계획 등록</a>
                                        <div class="down_menu_sub_select"></div>
                                    </li>
                                </ul>
                            </li>
                            <li class="small_menu_sub">
                                <a>보고자료</a>
                                <ul class="down_menu">
                                    <li onclick="businessplanyearHtml()" class="down_menu_sub"><a>사업계획 대비 매출 현황</a>
                                        <div class="down_menu_sub_select"></div>
                                    </li>
                                </ul>
                                <ul class="down_menu">
                                    <li onclick="businessplanrevHtml()" class="down_menu_sub"><a>주차별 영업 판매 계획</a>
                                        <div class="down_menu_sub_select"></div>
                                    </li>
                                </ul>
                            </li>

                        </ul>
                    </ul>

                    <ul class="big_menu">
                        <li class="big_menu_sub">개발팀<img class="arrow fas fa-angle-right" src="../img/down.png" /></li>
                        <ul class="small_menu">
                            <li class="small_menu_sub">
                                <a>양산 BOM</a>
                                <ul class="down_menu">
                                    <li onclick="bommassinformationHtml()" class="down_menu_sub"><a>양산 BOM 등록</a>
                                        <div class="down_menu_sub_select"></div>
                                    </li>


                                </ul>

                            </li>
                            <li class="small_menu_sub">
                                <a>샘플 BOM</a>
                                <ul class="down_menu">

                                    <li onclick="" class="down_menu_sub"><a>샘플 BOM 등록</a>
                                        <div class="down_menu_sub_select"></div>
                                    </li>

                                    <li onclick="sampleorderHtml()" class="down_menu_sub"><a>샘플 발주접수 및 생산 지시</a>
                                        <div class="down_menu_sub_select"></div>
                                    </li>

                                </ul>


                            </li>
                            <li class="small_menu_sub">
                                <a>TOOL관리</a>
                                <ul class="down_menu">


                                    <li onclick="samplepinacleHtml()" class="down_menu_sub"><a>TOOL 기초등록</a>
                                        <div class="down_menu_sub_select"></div>
                                    </li>
                                    <li onclick="bomtoolorderHtml()" class="down_menu_sub"><a>TOOL 발주등록</a>
                                        <div class="down_menu_sub_select"></div>
                                    </li>

                                </ul>


                            </li>
                            <li class="small_menu_sub">
                                <a>BOM 이력관리 및 견적서</a>
                                <ul class="down_menu">
                                    <li onclick="" class="down_menu_sub"><a>견적 작성 및 조회</a>
                                        <div class="down_menu_sub_select"></div>
                                    </li>
                                    <li onclick="bomchangeHtml()" class="down_menu_sub"><a>BOM 변경 이력 관리 및 조회</a>
                                        <div class="down_menu_sub_select"></div>
                                    </li>
                                </ul>


                            </li>
                            <li class="small_menu_sub">
                                <a>보고자료</a>
                                <ul class="down_menu">
                                    <li onclick="bomsheet1Html()" class="down_menu_sub"><a>마감내역(매입)</a>
                                        <div class="down_menu_sub_select"></div>
                                    </li>
                                    <li onclick="bomsheet2Html()" class="down_menu_sub"><a>마감내역(매출)</a>
                                        <div class="down_menu_sub_select"></div>
                                    </li>
                                </ul>


                            </li>

                        </ul>
                    </ul>

                    <ul class="big_menu">
                        <li class="big_menu_sub">자재팀<img class="arrow fas fa-angle-right" src="../img/down.png" /></li>
                        <ul class="small_menu">
                            <li class="small_menu_sub">
                                <a>자재등록</a>
                                <ul class="down_menu">
                                    <li onclick="materialinfoHtml()" class="down_menu_sub"><a>자재 기초정보</a>
                                        <div class="down_menu_sub_select"></div>
                                    </li>

                                </ul>
                            </li>
                            <li class="small_menu_sub">
                                <a>자재입고</a>
                                <ul class="down_menu">
                                    <li onclick="materialinputinformationHtml()" class="down_menu_sub"><a>자재 입고 조회</a>
                                        <div class="down_menu_sub_select"></div>
                                    </li>
                                    <li onclick="materialinputsaveHtml()" class="down_menu_sub"><a>자재 입고 등록</a>
                                        <div class="down_menu_sub_select"></div>
                                    </li>
                                    <li onclick="qrprintHtml()" class="down_menu_sub"><a>자재 QR</a>
                                        <div class="down_menu_sub_select"></div>
                                    </li>

                                </ul>
                            </li>
                            <li class="small_menu_sub">
                                <a>자재슬리팅</a>
                                <ul class="down_menu">

                                    <li onclick="sltmaterial()" class="down_menu_sub"><a>자재 슬리팅 작업지시</a>
                                        <div class="down_menu_sub_select"></div>
                                    </li>
                                    <li onclick="sltmaterialtest()" class="down_menu_sub"><a>자재 슬리팅 실적등록 및 조회</a>
                                        <div class="down_menu_sub_select"></div>
                                    </li>
                                </ul>
                            </li>
                            <li class="small_menu_sub">
                                <a>외주슬리팅</a>
                                <ul class="down_menu">

                                    <li onclick="" class="down_menu_sub"><a>자재 슬리팅 작업지시</a>
                                        <div class="down_menu_sub_select"></div>
                                    </li>
                                    <li onclick="" class="down_menu_sub"><a>자재 슬리팅 실적등록 및 조회</a>
                                        <div class="down_menu_sub_select"></div>
                                    </li>
                                </ul>
                            </li>
                            <li class="small_menu_sub">
                                <a>자재출고</a>
                                <ul class="down_menu">
                                    <li onclick="materialoutputHtml()" class="down_menu_sub"><a>자재 출고 등록 및 조회</a>
                                        <div class="down_menu_sub_select"></div>
                                    </li>
                                    <li onclick="" class="down_menu_sub"><a>생산 잔량 등록 및 조회</a>
                                        <div class="down_menu_sub_select"></div>
                                    </li>
                                </ul>
                            </li>
                            <li class="small_menu_sub">
                                <a>재고 통합조회</a>
                                <ul class="down_menu">

                                    <li onclick="stocksearching()" class="down_menu_sub"><a>재고통합조회</a>
                                        <div class="down_menu_sub_select"></div>
                                    </li>
                                    <li onclick="stocksearching()" class="down_menu_sub"><a>완제품 통합조회</a>
                                        <div class="down_menu_sub_select"></div>
                                    </li>
                                </ul>
                            </li>
                            <li class="small_menu_sub">
                                <a>보고자료</a>
                                <ul class="down_menu">

                                    <li onclick="" class="down_menu_sub"><a>자재 증감현황(분류별)</a>
                                        <div class="down_menu_sub_select"></div>
                                    </li>
                                    <li onclick="" class="down_menu_sub"><a>자재 증감현황(모델별)</a>
                                        <div class="down_menu_sub_select"></div>
                                    </li>
                                    <li onclick="" class="down_menu_sub"><a>자재 슬리팅 현황</a>
                                        <div class="down_menu_sub_select"></div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </ul>
                    <ul class="big_menu">
                        <li class="big_menu_sub">구매팀<img class="arrow fas fa-angle-right" src="../img/down.png" /></li>
                        <ul class="small_menu">
                            <li class="small_menu_sub">
                                <a>자재 기초정보</a>
                                <ul class="down_menu">
                                    <li onclick="" class="down_menu_sub"><a>자재 품목정보 등록</a>
                                        <div class="down_menu_sub_select"></div>
                                    </li>
                                    <li onclick="" class="down_menu_sub"><a>자재 이력관리 등록</a>
                                        <div class="down_menu_sub_select"></div>
                                    </li>
                                    <li onclick="materialinfoclassificationHtml()" class="down_menu_sub"><a>자재 분류코드
                                            등록</a>
                                        <div class="down_menu_sub_select"></div>
                                    </li>
                                </ul>
                            </li>
                            <li class="small_menu_sub">
                                <a>구매발주</a>
                                <ul class="down_menu">
                                    <li onclick="purchaseorderHtml()" class="down_menu_sub"><a>자재 구매 발주 등록 및 조회</a>
                                        <div class="down_menu_sub_select"></div>
                                    </li>
                                    <li onclick="" class="down_menu_sub"><a>자재 입고 등록 및 조회</a>
                                        <div class="down_menu_sub_select"></div>
                                    </li>
                                    <li onclick="" class="down_menu_sub"><a>발주 잔량</a>
                                        <div class="down_menu_sub_select"></div>
                                    </li>
                                </ul>
                            </li>
                            <li class="small_menu_sub">
                                <a>외주 자재 판매</a>
                                <ul class="down_menu">
                                    <li onclick="" class="down_menu_sub"><a>★미미포함 원단계산</a>
                                        <div class="down_menu_sub_select"></div>
                                    </li>

                                </ul>
                            </li>
                            <li class="small_menu_sub">
                                <a>보고자료</a>
                                <ul class="down_menu">
                                    <li onclick="" class="down_menu_sub"><a>구매 현황(고객사별)</a>
                                        <div class="down_menu_sub_select"></div>
                                    </li>
                                </ul>
                                <ul class="down_menu">
                                    <li onclick="purchasestatusmodelHtml()" class="down_menu_sub"><a>구매 현황(모델별)</a>
                                        <div class="down_menu_sub_select"></div>
                                    </li>
                                </ul>
                                <ul class="down_menu">
                                    <li onclick="" class="down_menu_sub"><a>매출 대비 매입율 현황<br>(주차별)</a>
                                        <div class="down_menu_sub_select"></div>
                                    </li>
                                </ul>
                                <ul class="down_menu">
                                    <li onclick="" class="down_menu_sub"><a>매출 대비 매입율 현황<br>(고객사별)</a>
                                        <div class="down_menu_sub_select"></div>
                                    </li>
                                </ul>
                                <ul class="down_menu">
                                    <li onclick="" class="down_menu_sub"><a>매출 대비 매입율 현황<br>(모델별)</a>
                                        <div class="down_menu_sub_select"></div>
                                    </li>
                                </ul>
                                <ul class="down_menu">
                                    <li onclick="" class="down_menu_sub"><a>재료비 현황<br>(모델별)</a>
                                        <div class="down_menu_sub_select"></div>
                                    </li>
                                </ul>
                                <ul class="down_menu">
                                    <li onclick="" class="down_menu_sub"><a>베트남 매입/매출 현황<br>(모델별)</a>
                                        <div class="down_menu_sub_select"></div>
                                    </li>
                                </ul>
                                <ul class="down_menu">
                                    <li onclick="" class="down_menu_sub"><a>베트남 매입/매출 현황<br>(고객사별)</a>
                                        <div class="down_menu_sub_select"></div>
                                    </li>
                                </ul>
                                <ul class="down_menu">
                                    <li onclick="" class="down_menu_sub"><a>베트남 패킹리스트</a>
                                        <div class="down_menu_sub_select"></div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </ul>

                    <ul class="big_menu">
                        <li class="big_menu_sub">생산팀<img class="arrow fas fa-angle-right" src="../img/down.png" /></li>
                        <ul class="small_menu">
                            <li class="small_menu_sub">
                                <a>생산CAPA</a>
                                <ul class="down_menu">
                                    <li onclick="productcapaHtml()" class="down_menu_sub"><a>생산 CAPA 분석</a>
                                        <div class="down_menu_sub_select"></div>
                                    </li>
                                    <li onclick="" class="down_menu_sub"><a>사내 생산 및 외주 구분</a>
                                        <div class="down_menu_sub_select"></div>
                                    </li>
                                </ul>
                            </li>
                            <li class="small_menu_sub">
                                <a>생산작업지시</a>
                                <ul class="down_menu">
                                    <li onclick="productorderlistHtml()" class="down_menu_sub"><a>영업수주대비 완제품 <br /> 재고반영
                                            작업지시
                                            LOT발행</a>
                                        <div class="down_menu_sub_select"></div>
                                    </li>
                                    <li onclick="productorderHtml()" class="down_menu_sub"><a>영업수주대비 완제품 <br /> 재고반영
                                            작업지시
                                            LOT발행</a>
                                        <div class="down_menu_sub_select"></div>
                                    </li>
                                    <li onclick="" class="down_menu_sub"><a>사내 생산 및 외주 구분</a>
                                        <div class="down_menu_sub_select"></div>
                                    </li>
                                </ul>
                            </li>
                            <li class="small_menu_sub">
                                <a>생산계획등록</a>
                                <ul class="down_menu">
                                    <li onclick="planhtml()" class="down_menu_sub"><a>생산 LOT별 생산 계획 등록 및 조회</a>
                                        <div class="down_menu_sub_select"></div>
                                    </li>
                                    <li onclick="" class="down_menu_sub"><a>양산 및 샘플 별도 구분</a>
                                        <div class="down_menu_sub_select"></div>
                                    </li>
                                    <li onclick="" class="down_menu_sub"><a>비가동조회</a>
                                        <div class="down_menu_sub_select"></div>
                                    </li>
                                    <li onclick="" class="down_menu_sub"><a>작업표준서 등록</a>
                                        <div class="down_menu_sub_select"></div>
                                    </li>
                                    <li onclick="productplanhtml()" class="down_menu_sub"><a>생산현황</a>
                                        <div class="down_menu_sub_select"></div>
                                    </li>
                                </ul>
                            </li>
                            <li class="small_menu_sub">
                                <a>생산실적</a>
                                <ul class="down_menu">
                                    <li onclick="productionsiljokHtml()" class="down_menu_sub"><a>생산 실적 입력 및 조회</a>
                                        <div class="down_menu_sub_select"></div>
                                    </li>
                                    <li onclick="productplanhtml()" class="down_menu_sub"><a>생산 LOT별 진행 현황</a>
                                        <div class="down_menu_sub_select"></div>
                                    </li>
                                    <li onclick="productplanhtml()" class="down_menu_sub"><a>총 작업지시대비 진도율 현황</a>
                                        <div class="down_menu_sub_select"></div>
                                    </li>
                                    <li onclick="productplanhtml()" class="down_menu_sub"><a>생산계획대비 실적 관리</a>
                                        <div class="down_menu_sub_select"></div>
                                    </li>
                                </ul>
                            </li>
                            <li class="small_menu_sub">
                                <a>생산설비가동율</a>
                                <ul class="down_menu">
                                    <li onclick="productionpauseHtml()" class="down_menu_sub"><a>설비별 가동율 조회</a>
                                        <div class="down_menu_sub_select"></div>
                                    </li>
                                    <li class="down_menu_sub"><a>설비 비가동/정지 사유 ISSUE 관리</a>
                                        <div class="down_menu_sub_select"></div>
                                    </li>
                                </ul>
                            </li>
                            <li class="small_menu_sub">
                                <a>검사</a>
                                <ul class="down_menu">
                                    <li onclick="alltestHtml()" class="down_menu_sub"><a>최종 전수검사 불량조회</a>
                                        <div class="down_menu_sub_select"></div>
                                    </li>
                                </ul>
                            </li>
                            <li class="small_menu_sub">
                                <a>생산수율</a>
                                <ul class="down_menu">
                                    <li onclick="transferenceHtml()" class="down_menu_sub"><a>생산 LOT 생산수율 조회</a>
                                        <div class="down_menu_sub_select"></div>
                                    </li>
                                    <li class="down_menu_sub"><a>모델별 생산수율 조회</a>
                                        <div class="down_menu_sub_select"></div>
                                    </li>
                                    <li class="down_menu_sub"><a>생산 설비 불량 수율</a>
                                        <div class="down_menu_sub_select"></div>
                                    </li>
                                    <li onclick="" class="down_menu_sub" id="openNewWindow"><a>생산 작업자 생산
                                            수율</a>
                                        <div class="down_menu_sub_select"></div>
                                    </li>
                                </ul>
                            </li>
                            <li onclick="productionHtml()" class="down_menu_sub"><a>생산현장</a>
                                <div class="down_menu_sub_select"></div>
                            </li>
                        </ul>

                    </ul>
                    <ul class="big_menu">
                        <li class="big_menu_sub">생산기술팀<img class="arrow fas fa-angle-right" src="../img/down.png" /></li>
                        <ul class="small_menu">
                            <li class="small_menu_sub">
                                <a>설비이력관리</a>
                                <ul class="down_menu">
                                    <li onclick="" class="down_menu_sub"><a>설비관리대장</a>
                                        <div class="down_menu_sub_select"></div>
                                    </li>
                                </ul>
                            </li>
                            <li class="small_menu_sub">
                                <a>금형기초정보</a>
                                <ul class="down_menu">
                                    <li onclick="" class="down_menu_sub"><a>금형 연마주기/유수명 <br>관리</a>
                                        <div class="down_menu_sub_select"></div>
                                    </li>
                                    <li onclick="" class="down_menu_sub"><a>피나클/목형 유수명<br>관리</a>
                                        <div class="down_menu_sub_select"></div>
                                    </li>
                                    <li onclick="" class="down_menu_sub"><a>금형 위치 등록 및 조회</a>
                                        <div class="down_menu_sub_select"></div>
                                    </li>
                                </ul>
                            </li>
                            <li class="small_menu_sub">
                                <a>금형 타수관리</a>
                                <ul class="down_menu">
                                    <li onclick="" class="down_menu_sub"><a>금형 누적 타수/연마</a>
                                        <div class="down_menu_sub_select"></div>
                                    </li>
                                    <li onclick="" class="down_menu_sub"><a>피나클 누적 타수</a>
                                        <div class="down_menu_sub_select"></div>
                                    </li>
                                    <li onclick="" class="down_menu_sub"><a>목형 누적 타수</a>
                                        <div class="down_menu_sub_select"></div>
                                    </li>
                                   
                                </ul>
                            </li>
                            <li class="small_menu_sub">
                                <a>TOOL 사용현황</a>
                                <ul class="down_menu">
                                    <li onclick="" class="down_menu_sub"><a>금형 누적 사용</a>
                                        <div class="down_menu_sub_select"></div>
                                    </li>
                                    <li onclick="" class="down_menu_sub"><a>금형 사용/미사용 구분 조회</a>
                                        <div class="down_menu_sub_select"></div>
                                    </li>
                                    <li onclick="" class="down_menu_sub"><a>피나클 목형 누적 사용 조회</a>
                                        <div class="down_menu_sub_select"></div>
                                    </li>
                                    <li onclick="" class="down_menu_sub"><a>피나클 목형 사용중/미사용 조회</a>
                                        <div class="down_menu_sub_select"></div>
                                    </li>
                                   
                                </ul>
                            </li>
                            <li class="small_menu_sub">
                                <a>작업표준서</a>
                                <ul class="down_menu">
                                    <li onclick="" class="down_menu_sub"><a>모델별 작업 표준서</a>
                                        <div class="down_menu_sub_select"></div>
                                    </li>
                                    
                                </ul>
                            </li>

                        </ul>
                    </ul>
                    <ul class="big_menu">
                        <li class="big_menu_sub">품질팀<img class="arrow fas fa-angle-right" src="../img/down.png" /></li>
                        <ul class="small_menu">
                            <li class="small_menu_sub">
                                <a>수입검사</a>
                                <ul class="down_menu">
                                    <li onclick="materialinspectionHtml()" class="down_menu_sub"><a>수입검사 기초 정보</a>
                                        <div class="down_menu_sub_select"></div>
                                    </li>
                                    <li onclick="" class="down_menu_sub"><a>수입검사 대기 현황</a>
                                        <div class="down_menu_sub_select"></div>
                                    </li>
                                    <li onclick="materialinspectionfinishHtml()" class="down_menu_sub"><a>수입검사 완료 현황</a>
                                        <div class="down_menu_sub_select"></div>
                                    </li>
                                </ul>
                            </li>
                            <li class="small_menu_sub">
                                <a>출하검사</a>
                                <ul class="down_menu">
                                    <li onclick="" class="down_menu_sub"><a>출하검사</a>
                                        <div class="down_menu_sub_select"></div>
                                    </li>
                                </ul>
                            </li>

                        </ul>
                    </ul>

                </div>
            </div>
            <!-- <div class="overlay"></div> -->
        </div>
        <div class="content_name">
            <div class="user_name"></div>
            <div class="user_name_sub">님 안녕하세요</div>
            <div class="user_part"></div>
            <img class="logout_img" src="../img/power-off.png" onclick="logout()" />
        </div>

    </div>

    </div>
    <div id="loadHtml" style="overflow-y: auto;">
        <img src="../img/테크온로고.PNG" style="margin-left: 40%; margin-top: 15%; ;">
        <br>
        <h1 style="text-align: center;">Techon</h1>


        <br>

        <h2 style="text-align: center;">Manufacturing Execution System</h2>
    </div>
</body>
<script>
    function deleteCookie(cookieName) {
        document.cookie = `${cookieName}=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;`;
    }
    function logout() {
        deleteCookie('userName');
        deleteCookie('partName');

        // 로그아웃 또는 다른 로직 수행
        // 예: 로그아웃 후 홈페이지로 리디렉션
        window.location.href = '/'; // 홈페이지 URL을 적절히 변경하세요.
    }
</script>
<script>
    function getCookie(cookieName) {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.startsWith(cookieName + '=')) {
                return decodeURIComponent(cookie.substring(cookieName.length + 1));
            }
        }
        return null; // 해당 쿠키 이름을 찾지 못한 경우
    }

    const contentName = document.querySelector('.user_name');
    const contentPart = document.querySelector('.user_part');

    const userNameCookieValue = getCookie('userName');
    const partNameCookieValue = getCookie('partName');

    if (userNameCookieValue && partNameCookieValue) {
        contentName.textContent = `${userNameCookieValue}`;
        contentPart.textContent = `${partNameCookieValue}`;
    }

</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const summaryElements = document.querySelectorAll("li.parent details summary");

        summaryElements.forEach(function (summaryElement) {
            summaryElement.addEventListener("click", function () {
                const detailsElement = summaryElement.parentElement;
                const parentLi = detailsElement.closest("li.parent");
                const allDetailsElements = parentLi.querySelectorAll("details");
                // console.log('allDetailsElements', allDetailsElements);
                allDetailsElements.forEach(function (otherDetailsElement) {
                    // console.log('otherDetailsElement', otherDetailsElement);
                    if (otherDetailsElement !== detailsElement) {
                        // otherDetailsElement.open = false;
                    }
                });
            });
        });
    });
</script>
<script>
    function toggleDetails(detailsElement) {
        const ulElement = detailsElement.nextElementSibling;
        if (detailsElement.open) {
            console.log('ulElement', ulElement);
            ulElement.style.height = ulElement.scrollHeight + "px";
        } else {
            console.log('ulElement', ulElement);
            ulElement.style.height = "0";
        }
    }

    document.addEventListener("DOMContentLoaded", function () {
        const detailsElements = document.querySelectorAll("details");

        detailsElements.forEach(function (detailsElement) {
            detailsElement.addEventListener("toggle", function () {
                const parentLi = detailsElement.closest("li.parent");
                // console.log('parentLi', parentLi)
                if (detailsElement.open) {
                    const ulElement = detailsElement.querySelector("ul");
                    // console.log('ulElement', parentLi.offsetHeight);
                    // console.log('ulElement', detailsElement.querySelector("ul").offsetHeight);
                    // parentLi.style.height = (parentLi.offsetHeight + ulElement.offsetHeight) + "px";
                    parentLi.style.height = (parentLi.offsetHeight + detailsElement.querySelector("ul").offsetHeight) + "px"
                } else {
                    // console.log('ulElement', parentLi.offsetHeight);
                    // console.log('ulElement', detailsElement.querySelector("ul").offsetHeight);
                    parentLi.style.height = "auto";
                }
            });
        });
    });

</script>
<script>


    function customerinformationHtml() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("/html/customerinformation.html");
    }
    function purchaseorderHtml() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("/html/purchaseorder.html");
    }
    function materialinputinformationHtml() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("/html/materialinputinformation.html");
    }
    function materialinputsaveHtml() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("/html/materialinputsave.html");
    }
    function purchasestatusmodelHtml() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("/html/purchasestatusmodel.html");
    }
    function bommassinformationHtml() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("/html/bommassinformation.html");
    }
    function materialinfoclassificationHtml() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("/html/materialinfoclassification.html");
    }
    function productcapaHtml() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("/html/productcapainformation.html");
    }
    function materialinspectionHtml() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("/html/insepectioninformation.html");
    }
    function materialinspectionfinishHtml() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("/html/materialinspectionfinish.html");
    }
    function productorderHtml() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("/html/productionwait.html");
    }


    function qrprintHtml() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("/html/testtest.html");
    }
    function houseHtml() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("/html/houseinformation.html");
    }

    function equipmentHtml() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("/html/equipmentinformation.html");
    }

    function moldfoundationHtml() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("/html/moldfoundation.html");
    }

    function salesHtml() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("/html/salesinfomation.html");
    }
    function salesHtml1() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("/html/salesinformation.html");
    }

    function iteminfoHtml() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("/html/iteminformation.html");
    }

    function pricechangeHtml() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("/html/pricechangeinformation.html");
    }

    function bomHtml() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("/html/bommass.html");
    }

    function bomchangeHtml() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("/html/bomchange.html");
    }

    function materialinfoHtml() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("/html/materialinformation.html");
    }

    function materialinput1Html() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("/html/test1112.html");
    }

    function materialoutputHtml() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("/html/test1115.html");
    }

    function materialhouseHtml() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("/html/materialhousegroup.html");
    }

    function productorderlistHtml() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("/html/productorderlist2.html");
    }

    function toomuchHtml() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("/html/toomuch.html");
    }

    function shipmentplanHtml() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("/html/shipmentplan.html");
    }

    function plansiljokHtml() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("/html/shipmentoutput.html");
    }

    function gamriHtml() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("/html/gamri1.html");
    }

    function gamri2Html() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("/html/gamri2.html");
    }

    function settingHtml() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("/html/setting.html");
    }

    function setting2Html() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("/html/setting2.html");
    }

    function setting3Html() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("/html/setting3.html");
    }

    function gamri4Html() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("/html/gamri4.html");
    }

    function gamri3Html() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("/html/gamri3.html");
    }

    function materialclassificationHtml() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("/html/materialclassification.html");
    }

    function materialnosearchstockHtml() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("/html/stockmaterailnosearch.html");
    }

    function itemstockHtml1() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("/html/itemstock.html");
    }

    function transferenceHtml() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("/html/finalpercent.html");
    }

    function alltestHtml() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("/html/alltest.html");
    }

    function itemstockHtml2() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("/html/itemstock0.html");
    }

    function slitingHtml() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("/html/sliting.html");
    }

    function sltmaterial() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("/html/sltmaterial.html");
    }
    function sltmaterialtest() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("/html/sltmaterialtest.html");
    }

    function stocksearching() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("/html/stocksearching.html");
    }

    function planhtml() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("/html/000000.html");
    }

    function productplanhtml() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("/html/0000.html");
    }

    function productionpauseHtml() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("/html/productionpause.html");
    }
    function productionsiljokHtml() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("/html/productionpause.html");
    }
    function productionHtml() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("/html/production.html");
    }
    function shipmentfinalHtml() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("/html/shipmentfinal.html");
    }
    function shipmentplaninputHtml() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("/html/shipmentplaninput.html");
    }
    function businessplanHtml() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("/html/businessplan.html");
    }
    function businessplanrevHtml() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("/html/businessplanrev.html");
    }
    function shipmentplaninput1Html() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("/html/shipmentplaninput1.html");
    }
    function shipmentsiljokinputHtml() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("/html/shipmentsiljokinput.html");
    }
    function businessplanyearHtml() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("/html/businessplanyear.html");
    }
    function samplepinacleHtml() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("/html/samplepinacle.html");
    }
    function sampleorderHtml() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("/html/sampleorder.html");
    }

    function bomsheet1Html() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("/html/bomsheet1.html");
    }
    function bomsheet2Html() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("/html/bomsheet2.html");
    }
    function bomtoolorderHtml() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("/html/bomtoolorder.html");
    }
    // 버튼 클릭 시 새 창 열기
    document.getElementById('openNewWindow').addEventListener('click', function () {
        var newWindow = window.open('/html/prductionplan.html', 'Production Plan', 'fullscreen=yes');
    });
    //
</script>
<script>
    $(function () {
        // 변수를 사용하여 현재 열려있는 big_menu를 추적합니다.
        var currentBigMenu = null;

        // $(".left_sub_menu").hide();
        $(".has_sub").click(function () {
            $(".left_sub_menu").fadeToggle(200);
        });

        // 왼쪽메뉴 드롭다운
        $(".sub_menu ul.small_menu").hide();
        $(".sub_menu ul.big_menu").click(function (e) {
            $(".big_menu_sub").not(this).css('background', ''); // 다른 메뉴의 배경을 초기화
            $(".big_menu_sub").not(this).css('color', 'white'); // 다른 메뉴의 배경을 초기화
            $(".big_menu_sub").not(this).css('fontWeight', '400')
            $(".big_menu_sub", this).css('borderRadius', '0 0 0 0')
            $(".fa-angle-right", this).attr("src", '../img/up.png');
            $(".fa-angle-right").not(this).css('filter', 'invert(100%)')
            // $(".fa-angle-right", this).css()
            // 클릭한 big_menu가 이미 열려있다면 초기화
            if (this === currentBigMenu) {
                $(this).css('background', ''); // 클릭한 big_menu의 배경 초기화
                $(".fa-angle-right").attr("src", '../img/down.png');
                $(".fa-angle-right").css('filter', 'invert(100%)')
                $("ul", this).slideUp(200);
                currentBigMenu = null;
            } else {

                // 다른 열려있는 big_menu를 닫음
                if (currentBigMenu) {
                    $(currentBigMenu).css('background', ''); // 이전 big_menu의 배경 초기화
                    $(currentBigMenu).css('fontWeight', '400');
                    $(".fa-angle-right").not(this).attr("src", '../img/down.png');
                    $("ul", currentBigMenu).slideUp(200);
                }

                // 클릭한 big_menu 열기
                $(this).css('background', '#41477B')
                $(".big_menu_sub", this).css('background', '#F8FAFF')
                $(".big_menu_sub", this).css('color', '#282D56')
                $(".big_menu_sub", this).css('fontWeight', '700')
                $(".big_menu_sub", this).css('borderRadius', '20px 0px 0px 20px')
                $(".fa-angle-right", this).attr("src", '../img/up.png');
                $(".fa-angle-right", this).css('filter', 'invert(0%)')
                $(".small_menu", this).slideDown(200);
                currentBigMenu = this; // 현재 열린 big_menu를 추적
            }
        });

        // small_menu_sub 클릭 이벤트 처리
        $(".sub_menu ul.small_menu li").click(function (e) {
            e.stopPropagation(); // 부모 요소에 대한 클릭 이벤트 전파 중지
            // $("ul.down_menu", this).slideDown(200);
            $(this).find(".down_menu").slideToggle(200);
        });

        $(".down_menu_sub").click(function (e) {
            e.stopPropagation(); // 부모 요소에 대한 클릭 이벤트 전파 중지

            // 다른 모든 down_menu_sub_select 숨김
            $(".down_menu_sub_select").hide();

            // 클릭한 down_menu_sub의 하위 down_menu_sub_select 표시
            $(this).find(".down_menu_sub_select").show();
        });
    });




</script>
<script>
    // Set the target date and time
    var targetDate = new Date("December 29, 2023 10:00:00").getTime();

    // Update the countdown every second
    var countdownInterval = setInterval(updateCountdown, 1000);

    function updateCountdown() {
        // Get the current date and time
        var currentDate = new Date().getTime();

        // Calculate the remaining time
        var remainingTime = targetDate - currentDate;

        // Check if the target date has passed
        if (remainingTime <= 0) {
            clearInterval(countdownInterval); // Stop the countdown when the target date is reached
            document.getElementById("countdown").innerHTML = "Event has started!";
        } else {
            // Calculate days, hours, minutes, and seconds
            var days = Math.floor(remainingTime / (1000 * 60 * 60 * 24));
            var hours = Math.floor((remainingTime % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((remainingTime % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((remainingTime % (1000 * 60)) / 1000);

            // Display the countdown
            document.getElementById("countdown").innerHTML = "연말따뜻하게 보낼시간 : D-" + days + " " + hours + ":" + minutes + ":" + seconds;
        }
    }
</script>

</html>