<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <script src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="../css/mesmain.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../js/sorttable.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />


</head>

<style>
    #datatable th {
        text-align: center;
    }
</style>

<body>
    <div class="main_header">
        <img src="/img/테크온로고.PNG" style="width: 100px;" class="loadingImage">
        <a style="margin-left: 20px;">수입검사 완료 현황</a>
    </div>
    <div id="loadingOverlay">
        <img src="/img/테크온로고.PNG" alt="로딩 이미지" class="loadingImage">

    </div>


    <div id="overlay"></div>
    <table class="styled-table" id="datatable" style="width:100%;">
        <thead id="tableHead">
            <tr>
                <th rowspan="3">검사일자</th>
                <th rowspan="3">검사자</th>
                <th rowspan="3">자재<br>Type</th>
                <th rowspan="3">제조사</th>
                <th rowspan="3">공급처</th>
                <th rowspan="3">자재명</th>
                <th rowspan="3">자재코드</th>
                <th rowspan="3">LOT NO</th>
                <th rowspan="3">입고<br>수량<br>(Roll)</th>
                <th rowspan="3">검사<br>수량<br>(Roll)</th>
                <th colspan="6">자재두께 (㎛)</th>
                <th colspan="12">점착력 (gf/25mm)</th>
                <th colspan="12">표면저항 (Ω)</th>

            </tr>
            <tr>
                <th colspan="6">DATA</th>
                <th colspan="6">in(롤 내측)</th>
                <th colspan="6">OUT(롤 외측)</th>
                <th colspan="6">in(롤 내측)</th>
                <th colspan="6">OUT(롤 외측)</th>

            </tr>
            <tr>
                <th>SPEC</th>
                <th>#1</th>
                <th>#2</th>
                <th>#3</th>
                <th>#4</th>
                <th>#5</th>
                <th>SPEC</th>
                <th>#1</th>
                <th>#2</th>
                <th>#3</th>
                <th>#4</th>
                <th>#5</th>
                <th>SPEC</th>
                <th>#1</th>
                <th>#2</th>
                <th>#3</th>
                <th>#4</th>
                <th>#5</th>
                <th>SPEC</th>
                <th>#1</th>
                <th>#2</th>
                <th>#3</th>
                <th>#4</th>
                <th>#5</th>
                <th>SPEC</th>
                <th>#1</th>
                <th>#2</th>
                <th>#3</th>
                <th>#4</th>
                <th>#5</th>
            </tr>
        </thead>
        <tbody id="Datatbody">

        </tbody>

    </table>

    <script>
        var server = '';

        if (window.location.hostname == 'localhost') {
            server = 'http://localhost:8080';
        } else {
            server = 'http://techonmes.co.kr';
        }
        $(document).ready(function () {

            showLoading()
            load()
            $('#Datatbody').on('dblclick', 'tr', function () {
                openEditModal(this); // Pass the clicked row to the function
            });

        });

        // Function to close edit modal and overlay
        function closeModal() {
            $('#overlay').fadeOut();
            $('#editModal').fadeOut();
        }

        function showLoading() {
            var loadingOverlay = document.getElementById("loadingOverlay");
            loadingOverlay.style.display = "flex";
            setTimeout(function () {
                loadingOverlay.style.display = "none";
            }, 1000);
        }



        function Datasave() {
            if (confirm("샘플 발주 정보를 등록 하시겠습니까??") == true) {

                var insertdate = new Date().toISOString().slice(0, 10);

                var toolcode = $('#toolcode').val();
                var madedate = $('#datepicker1').val();
                var bomno = $('#bomno').val();
                var customer = $('#customer').val();
                var modelname = $('#modelname').val();
                var itemname = $('#itemname').val();
                var char = $('#char').val();
                var part = $('#part').val();
                var inputprice = $('#inputprice').val();
                var outputprice = $('#outputprice').val();

                $.ajax({
                    type: 'POST',
                    url: server + '/api/insertpinacle',
                    dataType: 'json',
                    contentType: 'application/json',
                    data: JSON.stringify({

                        "insertdate": insertdate,
                        "toolcode": toolcode,
                        "madedate": madedate,
                        "bomno": bomno,
                        "customer": customer,
                        "modelname": modelname,
                        "itemname": itemname,
                        "char": char,
                        "part": part,
                        "inputprice": inputprice,
                        "outputprice": outputprice




                    }),
                    success: function (result) {


                    }
                })

                $('#popupOverlay').fadeOut();
                setTimeout(function () {
                    load()
                }, 50); // 3초 후에 알림을 사라지게 설정
                var notification = $('<div class="notification"><img src="/img/테크온로고.PNG" alt="Notification Icon"><span class="notification-message" style="color:navy;">피나클 정보 등록 완료</span></div>');
                $('body').append(notification);
                setTimeout(function () {
                    notification.fadeOut(function () {
                        $(this).remove();
                    });
                }, 3000);
            } else {
                return false;
            }
        }

        function Dataedit() {
            if (confirm("고객사 정보를 수정 하시겠습니까??") == true) {

                $.ajax({
                    type: 'POST',
                    url: server + '/api/accountupdatedata',
                    dataType: 'json',
                    contentType: 'application/json',
                    data: JSON.stringify({

                        id: $('#id-edit').val(),
                        accountcode: $('#accountcode-edit').val(),
                        accountname: $('#accountname-edit').val(),
                        representativename: $('#representativename-edit').val(),
                        phone: $('#phone-edit').val(),
                        adress: $('#adress-edit').val(),
                        number: $('#number-edit').val(),
                        mobile: $('#mobile-edit').val(),
                        fax: $('#fax-edit').val(),
                        email: $('#email-edit').val(),
                        etc: $('#etc-edit').val()




                    }),
                    success: function (result) {
                        console.log(result)
                    }
                })

                $('#popupOverlay1').fadeOut();
                setTimeout(function () {
                    load()
                }, 50); // 3초 후에 알림을 사라지게 설정
                var notification = $('<div class="notification"><img src="/img/테크온로고.PNG" alt="Notification Icon"><span class="notification-message" style="color:navy;">거래처 수정 완료</span></div>');
                $('body').append(notification);
                setTimeout(function () {
                    notification.fadeOut(function () {
                        $(this).remove();
                    });
                }, 3000);
            } else {
                return false;
            }
        }



        function load() {
            $('#Datatbody').empty();
            $.ajax({
                type: 'POST',
                url: server + '/api/inspectionfinish',
                dataType: 'json',
                success: function (data) {
                    if (data.length === 0) {
                        // Handle case where data is empty
                    } else {
                        for (var i = 0; i < data.length; i++) {
                            // Determine the color for each thickness value
                            var thicknessColor = getColorForThicknessRange(data[i].thickness);
                            var thickness1Color = getColorForThicknessRange(data[i].thickness1);
                            var thickness2Color = getColorForThicknessRange(data[i].thickness2);
                            var thickness3Color = getColorForThicknessRange(data[i].thickness3);
                            var thickness4Color = getColorForThicknessRange(data[i].thickness4);
                            var thickness5Color = getColorForThicknessRange(data[i].thickness5);

                            // Append row to the table with colored thickness values
                            $('#Datatbody').append(
                                '<tr>' +
                                '<td>' + (data[i].inspectiondate || '') + '</td>' +
                                '<td>' + (data[i].inspectionpeople || '') + '</td>' +
                                '<td>' + (data[i].typecategory || '') + '</td>' +
                                '<td>' + (data[i].manufacterer || '') + '</td>' +
                                '<td>' + (data[i].supplier || '') + '</td>' +
                                '<td>' + (data[i].materialname || '') + '</td>' +
                                '<td>' + (data[i].materialinput_codenumber || '') + '</td>' +
                                '<td>' + (data[i].lotno || '') + '</td>' +
                                '<td>' + (data[i].roll || '') + '</td>' +
                                '<td>' + (data[i].inspectionrollroll || '') + '</td>' +
                                '<td>' + (data[i].thickness || '') + '</td>' +
                                '<td style="color:' + thickness1Color + ';">' + (data[i].thickness1 || '') + '</td>' +
                                '<td style="color:' + thickness2Color + ';">' + (data[i].thickness2 || '') + '</td>' +
                                '<td style="color:' + thickness3Color + ';">' + (data[i].thickness3 || '') + '</td>' +
                                '<td style="color:red;">' + (data[i].thickness4 || '') + '</td>' +
                                '<td style="color:red;">' + (data[i].thickness5 || '') + '</td>' +
                                '</tr>'
                            );
                        }
                    }
                }
            });
        }

        function getColorForThicknessRange(thickness) {
            // Check if thickness is a non-null string
            if (typeof thickness === 'string' && thickness.trim() !== '') {
                // Extract the central value and tolerance from the format "A±B"
                var match = thickness.match(/(\d+)±(\d+)/);

                if (match && match.length === 3) {
                    var centralValue = parseInt(match[1], 10);
                    var tolerance = parseInt(match[2], 10);

                    // Check if the central value and tolerance are valid numbers
                    if (!isNaN(centralValue) && !isNaN(tolerance)) {
                        // Define the lower and upper bounds
                        var lowerBound = centralValue - tolerance;
                        var upperBound = centralValue + tolerance;

                        // Check if the thickness falls outside the specified range
                        var numericValue = parseFloat(thickness); // Use parseFloat to handle decimal values
                        if (isNaN(numericValue) || numericValue > upperBound || numericValue < lowerBound) {
                            return 'red'; // Red color for values outside the range or invalid format
                        }
                    }
                }
            }

            return 'blue'; // Blue color for values within the range or invalid format
        }





    </script>


</body>

</html>