<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <title>원자재입고</title>
    <link rel="stylesheet" href="/css/materialinput.css">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/config.json" type="text/javascript"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
        integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
        crossorigin="anonymous"></script>
</head>

<body>



    <!-- 상단 바 정보 -->
    <div class="account-header">
        <div class="title">
            <h3 class="title-htag"> 원자재 입고 등록
        </div>

    </div>
    <div class="open_search_div">
        <div>

        </div>
        <div style="float: right ;text-align: right; padding-top: 7px; margin-right: 4px;">
            <input type="button" value="저장" class="sales-bottom-insert" onclick="saveclear()" data-bs-toggle="modal"
                data-bs-target="#exampleModal" data-bs-whatever="@mdo" style="cursor: pointer;">
            <input type="button" value="선택삭제" onclick="removeCheck()" class="sales-bottom-delete"
                style="cursor: pointer;">

            <!-- <input type="button" value="Print" data-bs-toggle="modal" data-bs-target="#qrprint" data-bs-whatever="@mdo"
                style="cursor: pointer;"> -->
        </div>
    </div>
    
    <div>
        <table id='myTable' class="sales-table">
            <thead>
                <tr>
                    <th>
                        <div>
                            <input type="checkbox">
                        </div>
                    </th>
                    <th>품목코드</th>
                    <th>자재명</th>
                    <th>분류</th>
                    <th>자재폭</th>
                    <th>거래처</th>
                    <th>SQM단가</th>
                    <th>롤단가</th>
                    <th>자재분류</th>
                    <th>롤(개수)</th>
                    <th>LOT</th>
                    <th>유수명</th>
                    <th>제조일자</th>
                    <th>만료일자</th>
                </tr>
            </thead>
            <tbody class="table_first">
                <tr>
                    <td>
                        <input type="checkbox" id="cb1" class="cb">
                        <!--  -->
                    </td>
                    <td width="170" class="colresize1" ondblclick="modalShow()">
                        <input id="row_codenumber1" type="text" class="tdTextStyle" style="outline: none;">
                    </td>
                    <td class="colresize">
                        <input type="text" id="row_Itemname1" class="tdTextStyle">
                    </td>
                    <td class="colresize">
                        <input type="text" id="row_Classfication1" class="tdTextStyle">
                    </td>
                    <td class="colresize">
                        <input type="text" id="row_Materialwidth1" class="tdTextStyle">
                    </td>
                    <td class="colresize">
                        <input type="text" id="row_customer1" class="tdTextStyle">
                    </td>
                    <td class="colresize">
                        <input type="text" id="row_sqmprice1" class="tdTextStyle">
                    </td>
                    <td class="colresize">
                        <input type="text" id="row_Rollprice1" class="tdTextStyle">
                    </td>
                    <td class="colresize">
                        <input type="text" id="row_Widthclassficaiton1" class="tdTextStyle">
                    </td>
                    <td class="colresize">
                        <input type="text" id="row_roll1" class="tdTextStyle">
                    </td>
                    <td class="colresize">
                        <input type="text" id="row_lot1" class="tdTextStyle">
                    </td>
                    <td class="colresize">
                        <input type="text" id="row_day1" class="tdTextStyle">
                    </td>
                    <td class="colresize">
                        <input type="date" id="row_manufacturedate1" value="" onchange="changeDate()">
                    </td>
                    <td class="colresize">
                        <input type="date" id="row_expirationdate1" value="">
                    </td>
                </tr>

            </tbody>
            <tfoot>

            </tfoot>
        </table>
    </div>

    <div class="sales-table1" id="myTable1">
        <table width="1000" cellpadding="3" cellspacing="1" backcolor="#B8B8B8">
        </table>
    </div>





    <div class="popup" id="pop1">

        <a class="popup_title">자재검색</a>


        <input type="button" class="close_button" value="닫기" onclick="modalClose()">
        <hr>

        <div class="pop_content" id="pop2">
            <div>

                <input type="text" id="myInput" onkeyup="myFunction()" placeholder="자재명을 입력해 주세요.">
            </div>
            <div class="content" style=" height: 95%; overflow-x:scroll; overflow: auto">
                <table>
                    <thead>
                        <tr">
                            <th>선택</th>
                            <th>품목코드</th>
                            <th>자재명</th>
                            <th>분류</th>
                            <th>자재폭</th>
                            <th>거래처</th>
                            <th>SQM단가</th>
                            <th>롤단가</th>
                            <th>자재분류</th>
                            <th>유수명</th>

                            </tr>

                    </thead>
                    <tbody class="abcd">

                    </tbody>

                </table>
            </div>

        </div>


    </div>

    <div class="popup-customer" id="pop-customer">

        <a class="popup_customer">거래처검색</a>


        <input type="button" class="customer-close" value="닫기" onclick="customerclose()">
        <hr>

        <div class="pop_content" id="pop2">
            <div class="search">
                <input type="text" class="search_textbox" placeholder="거래처검색">
                <input type="button" class="search_button" value="Search">
            </div>
            <div class="content" style=" height: 95%; overflow-x:scroll; overflow: auto">
                <table>
                    <thead>
                        <tr">

                            <th>거래처코드</th>
                            <th>거래처명</th>
                            </tr>

                    </thead>
                    <tbody class="table-customer">

                    </tbody>

                </table>
            </div>

        </div>


    </div>

    <div class="loading_pop">
        <img src="/img/테크온로고.PNG"><br>
        <h3>잠시만 기다려주세요...</h3>
    </div>



</body>
<script>
    var server = '';

    $.getJSON("config.json", function (data) {
        console.log(data[0].Ipconfig)

        server = data[0].Ipconfig;
        if (server == 'techonmes.cafe24app.com') {
            server = '';
        } else {
            server = 'http://localhost:8080';
        }


    }).fail(function (e) {
        console.log("An error has occurred.");
        console.log(e)
    });

    //시간 지나고 작동코드


    function loading() {
        setTimeout(() => $('.loading_pop').css("display", "block"), 1500);
    }



    const date = new Date();

    var day = date.getDate();
    var month = date.getMonth() + 1;
    var year = date.getFullYear();

    console.log((month).length, day.length)

    if (month === 1 || month === 2 || month === 3 || month === 4 || month === 5 || month === 6 || month === 7 || month === 8 || month === 9) {
        month = '0' + month
        // console.log(month)
    }

    if (day === 1 || day === 2 || day === 3 || day === 4 || day === 5 || day === 6 || day === 7 || day === 8 || day === 9) {
        day = '0' + day
        // console.log(day)
    }

    // This arrangement can be altered based on how we want the date's format to appear.
    let currentDate = `${year}-${month}-${day}`;
    // console.log(currentDate); // "17-6-2022"

    $('#row_manufacturedate1').val(currentDate);
    // $('#datepicker2').val(currentDate);
    // $('#datepicker3').val(currentDate);
    $('#pop1').css("display", "none");
    $('#pop-customer').css("display", "none");

    ////SQL 서버데이터 불러오기
    function modalShow() {

        $('.popup').css("display", "block");
        $.ajax({
            type: 'POST',
            url: 'http://localhost:8080/api/baseinfolow',

            dataType: 'json',
            ///datatype text 인이유 : string
            success: function (data) {

                $('.abcd tr').remove()
                for (var i = 0; i < data.length; i++) {
                    $('.abcd').append(
                        '<tr >' +
                        '<td style="border: 1px solid silver ;"><input type="checkbox" class="' + i + '" name="user_CheckBox" onclick="add1()" style="border: 1px solid silver;"></td>' +
                        '<td class="no1" style="border: 1px solid silver;">' + data[i].codenumber + '</td>' + //
                        '<td style="border: 1px solid silver; ">' + data[i].itemname + '</td>' +
                        '<td style="border: 1px solid silver; ">' + data[i].classfication + '</td>' +
                        '<td style="border: 1px solid silver; text-align : right;">' + data[i].materialwidth + '</td>' +
                        '<td style="border: 1px solid silver; ">' + data[i].koreancustomer + '</td>' +
                        '<td style="border: 1px solid silver; text-align : right;">' + data[i].sqmprice + '</td>' +
                        '<td style="border: 1px solid silver; text-align : right;">' + data[i].rollprice + '</td>' +
                        '<td class="aa" style="border: 1px solid silver; ">' + data[i].widthclassfication + '</td>' +
                        '<td style="border: 1px solid silver; text-align : right;">' + data[i].day + '</td>' +

                        '</tr>'
                    )
                }
            }
        })
    }
    ///******************* 필터링************************
    function myFunction() {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("abcd");
        tr = table.getElementsByTagName("abcd tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[2];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

    function customerShow() {

        $('.popup-customer').css("display", "block");
        $.ajax({
            type: 'POST',
            url: 'http://localhost:8080/api/accountmanagement',

            dataType: 'json',
            ///datatype text 인이유 : string
            success: function (data) {


                for (var i = 0; i < data.length; i++) {
                    $('.table-customer').append(
                        '<tr ">' +
                        '<td style="border: 1px solid silver;">' + data[i].accountcode + '</td>' + //
                        '<td style="border: 1px solid silver; ">' + data[i].accountname + '</td>' +

                        '</tr>'
                    )
                }
            }
        })
    }

    function add1(cb, value) {
        // console.log('this',cb.checked,cb)
        // if(cb.checked === true) {
        // console.log('cb.className',cb.className)

        // const CN = cb.className;

        const table = document.getElementById('myTable');
        const totalRowCnt = table.rows.length;
        // result.innerText = '전체 행 개수: ' + totalRowCnt + '\n'

        var count = totalRowCnt;
        var today = new Date();
        var dd = String(today.getDate()).padStart(2, '0');
        var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
        var yyyy = today.getFullYear();

        let date = new Date(yyyy, mm, dd);

        today = yyyy + '-' + mm + '-' + dd
        $('.table_first').append(
            '<tr>' +
            '<td>' +
            '<div>' +
            '<input type="checkbox">' +
            '</div>' +
            '</td>' +
            '<td><input ondblclick="modalShow()" class="tdTextStyle" type="text" id="row_codenumber' + count + '"></td>' +
            '<td><input type="text" class="tdTextStyle" id="row_Itemname' + count + '"></td>' +
            '<td><input type="text" class="tdTextStyle" id="row_Classfication' + count + '"></td>' +
            '<td><input type="text" class="tdTextStyle" id="row_Materialwidth' + count + '"></td>' +
            '<td><input type="text" class="tdTextStyle" id="row_customer' + count + '"></td>' +
            '<td><input type="text" class="tdTextStyle" id="row_sqmprice' + count + '"></td>' +
            '<td><input type="text" class="tdTextStyle" id="row_Rollprice' + count + '"></td>' +
            '<td><input type="text" class="tdTextStyle" id="row_Widthclassficaiton' + count + '"></td>' +
            '<td><input type="text" class="tdTextStyle" id="row_roll' + count + '"></td>' +
            '<td><input type="text" class="tdTextStyle" id="row_lot' + count + '"></td>' +
            '<td><input type="text" class="tdTextStyle" id="row_day' + count + '"></td>' +
            '<td><input type="date" id="row_manufacturedate' + count + '" value="' + today + '"></td>' +
            '<td><input type="date" id="row_expirationdate' + count + '" value=""></td>' +
            '</tr>'
        )

        var rowData = new Array();
        var tdArr = new Array();
        var checkbox = $("input[name=user_CheckBox]:checked");


        // 체크된 체크박스 값을 가져온다
        checkbox.each(function (i) {

            // checkbox.parent() : checkbox의 부모는 <td>이다.
            // checkbox.parent().parent() : <td>의 부모이므로 <tr>이다.
            var tr = checkbox.parent().parent().eq(i);
            // console.log('tr',tr)
            var td = tr.children();
            var addcount = count - 1;


            // 체크된 row의 모든 값을 배열에 담는다.
            rowData.push(tr.text());

            // console.log('td', td.eq(1).text())

            // td.eq(0)은 체크박스 이므로  td.eq(1)의 값부터 가져온다.
            var codenumber = td.eq(1).text();
            var Itemname = td.eq(2).text();
            var Classfication = td.eq(3).text();
            var Materialwidth = td.eq(4).text();
            var customer = td.eq(5).text();
            var sqmprice = td.eq(6).text();
            var Rollprice = td.eq(7).text();
            var Widthclassficaiton = td.eq(8).text();
            var day = td.eq(9).text();

            // 가져온 값을 배열에 담는다.
            tdArr.push(codenumber);
            tdArr.push(Itemname);
            tdArr.push(Classfication);
            tdArr.push(Materialwidth);
            tdArr.push(customer);
            tdArr.push(sqmprice);
            tdArr.push(Rollprice);
            tdArr.push(Widthclassficaiton);
            tdArr.push(day);

            var sumdate = new Date(Date.parse(today) + parseInt(day) * 1000 * 60 * 60 * 24);
            var sumdd = String(sumdate.getDate()).padStart(2, '0');
            var summm = String(sumdate.getMonth() + 1).padStart(2, '0'); //January is 0!
            var sumyyyy = sumdate.getFullYear();

            var resultdate = sumyyyy + '-' + summm + '-' + sumdd

            console.log('결과1', new Date(Date.parse(today) + parseInt(day) * 1000 * 60 * 60 * 24))



            console.log(totalRowCnt)
            console.log("codenumber : " + codenumber);
            console.log("Itemname : " + Itemname);
            console.log("Classfication : " + Classfication);
            console.log("Materialwidth : " + Materialwidth);
            console.log("customer : " + customer);
            console.log("sqmprice : " + sqmprice);
            console.log("Rollprice : " + Rollprice);
            console.log("Widthclassficaiton : " + Widthclassficaiton);
            console.log("day : " + parseInt(day));
            // document.getElementById('InputCusomerID').value = this.cells[0].innerHTML
            // document.getElementById('InputCusomerName').value = this.cells[1].innerHTML
            // document.getElementById('InputItemID').value = this.cells[2].innerHTML


            // for (var i = 0; i < 1; i++) {
            $('#row_codenumber' + addcount + '').val(codenumber);
            $('#row_Itemname' + addcount + '').val(Itemname);
            $('#row_Classfication' + addcount + '').val(Classfication);
            $('#row_Materialwidth' + addcount + '').val(Materialwidth);
            $('#row_customer' + addcount + '').val(customer);
            $('#row_sqmprice' + addcount + '').val(sqmprice);
            $('#row_Rollprice' + addcount + '').val(Rollprice);
            $('#row_Widthclassficaiton' + addcount + '').val(Widthclassficaiton);
            $('#row_expirationdate' + addcount + '').val(resultdate);
            $('#row_day' + addcount + '').val(day);
        });


    };



    function modalClose() {
        $('.popup').css("display", "none");
    }
    function customerclose() {
        $('.popup-customer').css("display", "none");
    }


    // <p class="chk_box">
    //                             <input type="checkbox" id="chk_top"/>
    //                             <label for="chk_top"></label>
    //                           </p>

    var mousedown = false;
    var td = "";
    var td_width;
    var x = 0;

    function TCstartColResize(obj) {
        mousedown = true;
        td = obj;
        td_width = td.width;
        x = event.clientX;
    }
    function TCColResize() {
        if (mousedown) {
            var distX = event.x - x;
            td.width = parseInt(td_width) + parseInt(distX);
        }
    }
    function TCstopColResize() {
        mousedown = false;
        td = '';
    }

    function cell_left(obj) {
        if (event.offsetX < 5 && obj.cellIndex != 0)
            return true;
        else
            return false;
    }
    function cell_right(obj) {
        if (event.offsetX > obj.width - 4)
            return true;
        else
            return false;
    }


    document.onmousedown = function () {
        try {
            var now_mousedown = window.event.srcElement;
            if (now_mousedown.className.toUpperCase() == "COLRESIZE") {
                if (cell_left(now_mousedown)) {
                    now_mousedown = now_mousedown.parentNode.childNodes[now_mousedown.cellIndex - 1];
                } else if (!cell_right(now_mousedown)) {
                    return true;
                }
                TCstartColResize(now_mousedown);
            }
        } catch (e) { return true; }
    }


    document.onmousemove = function () {
        try {
            var now_mousemove = window.event.srcElement;
            if (now_mousemove.className.toUpperCase() == "COLRESIZE" || td != "") {


                if (cell_left(now_mousemove) || cell_right(now_mousemove)) {
                    now_mousemove.style.cursor = "col-resize";
                } else {
                    now_mousemove.style.cursor = "";
                }

                TCColResize(now_mousemove);
            } else {
                now_mousemove.style.cursor = "";
            }
        } catch (e) { return true; }
    }


    document.onmouseup = function () {
        try {
            var now_mouseup = window.event.srcElement;
            //if(now_mouseup.className=="colResize"){
            TCstopColResize(now_mouseup);
            //}
        } catch (e) { return true; }
    }


    document.onselectstart = function () {
        try {
            if (td != "") {
                return false;
            }
        } catch (e) { return true; }
    }

    function changeDate() {
        console.log(this)
    }

    // $(function () {
    //     //input을 datepicker로 선언
    //     $("#datepicker1").datepicker({
    //         dateFormat: 'yy-mm-dd' //달력 날짜 형태
    //     });

    //     //초기값을 오늘 날짜로 설정해줘야 합니다.
    //     $('#datepicker1').datepicker('setDate', 'today'); //(-1D:하루전, -1M:한달전, -1Y:일년전), (+1D:하루후, -1M:한달후, -1Y:일년후)
    // });
    //    $(function () {
    //        //input을 datepicker로 선언
    //        $("#datepicker2").datepicker({
    //            dateFormat: 'yy-mm-dd' //달력 날짜 형태
    //        });

    //     //초기값을 오늘 날짜로 설정해줘야 합니다.
    //     $('#datepicker2').datepicker('setDate', 'today'); //(-1D:하루전, -1M:한달전, -1Y:일년전), (+1D:하루후, -1M:한달후, -1Y:일년후)
    // });

    function save_material() {
        const table = document.getElementById('myTable');
        const totalRowCnt = table.rows.length;
        var today = new Date();
        var dd = String(today.getDate()).padStart(2, '0');
        var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
        var yyyy = today.getFullYear();

        today = yyyy + '-' + mm + '-' + dd
        var datepicker = today;
        // result.innerText = '전체 행 개수: ' + totalRowCnt + '\n'

        var count = totalRowCnt;
        var addcount = count - 1;
        var addcount1 = count - 3;
        // console.log(addcount);
        // console.log(addcount1);
        for (var i = 1; i < addcount; i++) {

            var materialname = $('#row_Itemname' + i + '').val();
            var codenumber = $('#row_codenumber' + i + '').val();
            var materialwidth = $('#row_Materialwidth' + i + '').val();
            var price = $('#row_sqmprice' + i + '').val();
            var quantity = $('#row_sqmprice' + i + '').val();
            var roll = $('#row_roll' + i + '').val();
            var sum = $('#row_Widthclassficaiton' + i + '').val();
            var manufacturedate = $('#row_manufacturedate' + i + '').val();
            var expirationdate = $('#row_expirationdate' + i + '').val();
            var lot = $('#row_lot' + i + '').val();

            for (var j = 0; j < parseInt(roll); j++) {

                $.ajax({
                    type: 'POST',
                    url: 'http://localhost:8080/api/materialinputinsertdata',
                    dataType: 'json',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        "date": datepicker,
                        "input": "입고",
                        "materialname": materialname,
                        "codenumber": codenumber,
                        "lotno": lot,
                        "manufacturedate": manufacturedate,
                        "expirationdate": expirationdate,
                        "materialwidth": materialwidth,
                        "quantity": price,
                        "roll": 1,
                        "sum": materialwidth * roll,
                        "price": materialwidth * price / 1000 * 750,
                        "accountnumber": yyyy + mm + dd + '-' + addcount,
                        "contents": $('#row_Itemname1').val() + " 외 " + addcount1 + "건"
                    }),
                    success: function (result) {

                    }
                })
            }
        }
        alert("저장이 완료 되었습니다.");



    }
</script>


</html>