<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta charset="UTF-8">
    <title>원자재입고</title>

    <link rel="stylesheet" href="/css/accountinformation.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdn.datatables.net/buttons/2.0.1/css/buttons.dataTables.min.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.dataTables.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.3.4/css/select.dataTables.min.css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.7.1/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript"
        src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/select/1.3.4/js/dataTables.select.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.66/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.66/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.0.1/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.print.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.colVis.min.js"></script>


    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="qrcode.js"></script>

</head>

<style>
    #input {
        width: 100%;
        /* padding: 2px 2px; */
        height: 30px;
        /* border: none; */
        border-radius: 4px;
        padding: auto;
        background-color: white;
    }
</style>

<body>




    <!-- 모달등록창 -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="width: 1800px;">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">원자재 검색</h4>


                </div>
                <table id="fileinfo3" class="display" style="width: 100%; table-layout: auto;">
                    <thead style="width: 100%;">
                        <tr>


                            <th> </th>
                            <th>원자재명</th>
                            <th>원자재코드</th>
                            <th>분류</th>
                            <th>자재폭(mm)</th>
                            <th>고객사</th>
                            <th>유수명</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
             
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="취소">
                </div>
            </div>
        </div>
    </div>

    <!-- 모달수정창 -->
    <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">원자재 입고 추가</h4>
                    <!-- <button onclick="ssss()">adss</button> -->

                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label>원자재명:</label>
                        <input type="text" class="form-control" id="materialname" readonly required>
                    </div>
                    <div class="form-group">
                        <label>원자재코드:</label>
                        <input type="text" class="form-control" id="materialcode" readonly required>
                    </div>
                    <div class="form-group">
                        <label>분류:</label>
                        <input type="text" class="form-control" id="classification" readonly required>
                    </div>
                    <div class="form-group">
                        <label>거래처:</label>
                        <input type="text" class="form-control" id="customer" readonly required>
                    </div>
                    <div class="form-group">
                        <label>유수명(일):</label>
                        <input type="text" class="form-control" id="day" readonly required>
                    </div>
                    <div class="form-group">
                        <label>자재폭(mm):</label>
                        <input type="text" class="form-control" id="materialwidth" readonly required>
                    </div>
                    <div class="form-group">
                        <label>수입검사유무:</label>
                        <input type="text" class="form-control" id="inspection" readonly required>
                    </div>
                    <div class="form-group">
                        <label>구분:</label>
                        <select id="input">
                            <option value="원자재입고">원자재입고</option>
                            <option value="슬리팅입고">슬리팅입고</option>
                            <option value="생산반품입고">생산반품입고</option>
                            <option value="기타입고">기타입고</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>LOTNO.:</label>
                        <input type="text" class="form-control" id="lotno" required>
                    </div>
                    <div class="form-group">
                        <label>수량(M):</label>
                        <input type="text" class="form-control" id="quantity" required>
                    </div>
                    <div class="form-group">
                        <label>롤(Roll):</label>
                        <input type="text" class="form-control" id="roll" required>
                    </div>
                    <div class="form-group">
                        <label>제조일자:</label>
                        <input type="date" class="form-control" id="datepicker1" required>
                    </div>


                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="취소">
                    <input type="button" data-dismiss="modal" id="dataadd" class="btn btn-success" value="저장">
                </div>
            </div>
        </div>
    </div>

    <!-- 모달삭제창 -->
    <div class="modal fade" id="datadelte" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <form>
                    <div class="modal-header">
                        <h4 class="modal-title">원자재 입고정보 삭제</h4>

                    </div>
                    <div class="modal-body">
                        <p>정말로 원자재 입고정보를 삭제하시겠습니까?</p>
                        <p class="text-warning"><small>이 작업은 취소할 수 없습니다.</small></p>
                    </div>
                    <input type="text" class="form-control" id="id-delete" style="visibility: hidden;" required>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="취소">
                        <input type="button" data-dismiss="modal" id="delete" class="btn btn-danger" value="삭제">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div style="height: 100px;">
        <p style="margin-left: 20px; margin-top: 20px; font-size: 20px; font-weight: bold;">
            원자재입고
        </p>

        <div style="display: flex; align-items: center; margin-left: 20px;">
            <label for="datepicker1" style="margin-right: 10px;">입고날짜:</label>
            <input type="date" class="form-control" id="datepicker2" style="width: 150px;" required>
            <input type="date" class="form-control" id="datepicker3" style="width: 150px;" required>
            <button onclick="searching()" type="button" class="btn btn-primary" id="searchButton"
                style="margin-left: 10px; width: 80px;;">조회</button>
        </div>

        <button type="button" class="btn btn-primary" id="openModal"
            style="float: right; width: 150px; margin-right: 10px; background-color: navy;">입고추가</button>
        <button type="button" class="btn btn-primary"
            style="float: right; width: 150px; margin-right: 10px; background-color: rgb(96, 96, 168);">인쇄</button>
        <button type="button" class="btn btn-primary"
            style="float: right; width: 150px; margin-right: 10px; background-color: green;">Excel</button>
        <button type="button" class="btn btn-primary"
            style="float: right; width: 150px; margin-right: 10px; background-color: rgb(216, 24, 24);">Pdf</button>
    </div>

   

    <div style="border: 1px solid whitesmoke;">
        <table id="fileinfo" class="display" style="width:100%">
            <thead>
                <tr>
                    <th> </th>
                    <th>구분</th>
                    <th>입고날짜</th>
                    <th>자재명</th>
                    <th>LOTNO.</th>
                    <th>제조일자</th>
                    <th>만료일자</th>
                    <th>자재폭(mm)</th>
                    <th>수량(M)</th>
                    <th>입고상태</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>


    <!-- 모달수정창 -->
    <div class="modal fade" id="editt" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">인쇄</h4>


                </div>
                <div class="modal-body">
                    <div class="page1">
                        <label style="font-size: 18px;">입고날짜:</label>
                        <input type="text" class="form-control" id="qrcode-date"
                            style="border: none; width:200px; font-size: 18px; " required>
                        <br>

                        <label style="font-size: 18px;">원자재명:</label>
                        <input type="text" class="form-control" id="qrcode-materialname"
                            style="border: none;  width:200px; font-size: 18px;" required>
                        <br>

                        <label style="font-size: 18px;">자재폭:</label>
                        <input type="text" class="form-control" id="qrcode-materialwidth"
                            style="border: none;  width:200px; font-size: 18px;" required>
                        <br>

                        <label style="font-size: 18px;">수량:</label>
                        <input type="text" class="form-control" id="qrcode-quantity"
                            style="border: none;  width:200px; font-size: 18px;" required>
                        <br>

                        <label style="font-size: 18px;">제조일자:</label>
                        <input type="text" class="form-control" id="qrcode-manufacturedate"
                            style="border: none;  width:200px; font-size: 18px;" required>
                        <br>

                        <label style="font-size: 18px;">만료일자:</label>
                        <input type="text" class="form-control" id="qrcode-expirationdate"
                            style="border: none; width:200px; font-size: 18px;" required>
                        <br>

                        <label style="font-size: 18px;">LOTNO:</label>
                        <input type="text" class="form-control" id="qrcode-lot"
                            style="border: none; width:200px; font-size: 18px;" required>

                        <div id="qrcode" style="margin-left: 120px; width: 500px; margin-top: -160px; "></div>
                    </div>


                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="취소">
                    <input type="button" data-dismiss="modal" onclick="printpage()" class="btn btn-success" value="인쇄">
                </div>
            </div>
        </div>
    </div>


    <div id="loading-screen">
        <div class="spinner"></div>
        <p style="color: black;">잠시만 기다려주세요...</p>
    </div>

    <script>

        var server = '';
        console.log(window.location.hostname)

        if (window.location.hostname == 'localhost') {
            server = 'http://localhost:8080';
            // server = 'http://techonmes.co.kr';

        } else {
            server = 'http://techonmes.co.kr';
        }

        function ssss() {
            if ($('#input').val() == "원자재입고" && $('#inspection').val() == "Y") {
                alert('yyyy')
            }

        }


        $("#qrcode > img").css({ "margin": "auto" });

        // 시작부분
        $(document).ready(function () {
            settingDate()
            // 로딩 창을 보이게 한다
            const loadingScreen = document.getElementById("loading-screen");
            loadingScreen.style.display = "block";
            $("#openModal").click(function () {

                $("#myModal").modal();
            });

            $('#fileinfo').on('click', '#openModaledit', function () {


            });

            $('#fileinfo').on('click', '#openModaldelete', function () {
                table1 = $('#fileinfo').DataTable();
                var data1 = table1.row($(this).parents('tr')).data(); // getting 

                $('#id-delete').val(data1.id);
                $("#datadelte").modal();

            });
            $('#fileinfo3').on('click', '#materialadd', function () {
                var str = "";
                var tdArr = new Array();// 배열 선언            
                var checkBtn = $(this);

                var tr = checkBtn.parent().parent();
                var td = tr.children();

                var materialname = td.eq(0).text();
                var materialcode = td.eq(1).text();
                var classification = td.eq(2).text();
                var materialwidth = td.eq(3).text();
                var customer = td.eq(4).text();
                var day = td.eq(5).text();
                var inspection = td.eq(6).text();

                $('#materialname').val(materialname);
                $('#inspection').val(inspection);
                $('#materialcode').val(materialcode);
                $('#classification').val(classification);
                $('#materialwidth').val(materialwidth);
                $('#customer').val(customer);
                $('#day').val(day);
                $('#lotno').val('');
                $('#roll').val('');
                $('#quantity').val('');

                $("#edit").modal();

            });
            $.ajax({
                url: server + '/api/materialoption',
                method: 'post',
                dataType: 'json',
                success: function (data) {
                    $('#fileinfo').DataTable({
                        deferLoading: [0, 10],
                        paging: true,
                        destroy: true,
                        sort: true,
                        pageLength: 10,
                        searching: true,
                        data: data,
                        responsive: true,
                        columnResize: true,
                        processing: true,
                        columns: [
                            { "data": "id" },
                            { "data": "input" },
                            { "data": "date" },
                            { "data": "materialname" },
                            { "data": "lotno" },
                            { "data": "manufacturedate" },
                            { "data": "expirationdate" },
                            { "data": "materialwidth" },
                            { "data": "quantity" },
                            { "data": "part" }

                        ],

                       
                        createdRow: function (row, data, index) {



                        },
                        columnDefs: [
                            {
                                targets: 0, visible: false, searchable: false
                            },
                            {
                                targets: 7, className: 'alRight'
                            },
                            {
                                targets: 8, className: 'alRight'
                            },
                            {
                                targets: 10,
                                data: null,
                                defaultContent: '<button id="openModaledit" class="btn btn-primary" > 인쇄 </button>',
                                width: 50
                            },
                            {
                                targets: 11,
                                data: null,
                                defaultContent: '<button id="openModaldelete" class="btn btn-primary" style="background-color:red;"  > 삭제 </button>',

                                width: 50
                            }

                        ],

                        language: {
                            emptyTable: "데이터가 없습니다.",
                            lengthMenu: "페이지당 _MENU_ 개씩 보기",
                            info: "현재 _START_ - _END_ / _TOTAL_건",
                            infoEmpty: "데이터 없음",
                            infoFiltered: "( _MAX_건의 데이터에서 필터링됨 )",
                            search: "검색:",
                            zeroRecords: "일치하는 데이터가 없습니다.",
                            loadingRecords: "로딩중...",
                            processing: "잠시만 기다려 주세요.",
                            paginate: {
                                next: "다음",
                                previous: "이전"
                            }
                        },


                    });
                    // 컬럼 헤더 셀을 가운데 정렬하는 CSS를 추가
                    $('.sorting').css('text-align', 'center');
                },
                error: function () {
                    alert("다시 시도해 주십시요.");
                },

                complete: setTimeout(function () {
                    const loadingScreen = document.getElementById("loading-screen");
                    loadingScreen.style.display = "none";
                }, 1500)
            });
            $.ajax({
                url: server + '/api/materialoption',
                method: 'post',
                dataType: 'json',
                success: function (data) {
                    $('#fileinfo').DataTable({
                        deferLoading: [0, 10],
                        paging: true,
                        destroy: true,
                        sort: true,
                        pageLength: 10,
                        searching: true,
                        data: data,
                        responsive: true,
                        columnResize: true,
                        processing: true,
                        columns: [
                            { "data": "id" },
                            { "data": "input" },
                            { "data": "date" },
                            { "data": "materialname" },
                            { "data": "lotno" },
                            { "data": "manufacturedate" },
                            { "data": "expirationdate" },
                            { "data": "materialwidth" },
                            { "data": "quantity" },
                            { "data": "part" }

                        ],

                     
                        columnDefs: [
                            {
                                targets: 0, visible: false, searchable: false
                            },
                            {
                                targets: 7, className: 'alRight'
                            },
                            {
                                targets: 8, className: 'alRight'
                            },
                            {
                                targets: 10,
                                data: null,
                                defaultContent: '<button id="openModaledit" class="btn btn-primary" > 인쇄 </button>',
                                width: 50
                            },
                            {
                                targets: 11,
                                data: null,
                                defaultContent: '<button id="openModaldelete" class="btn btn-primary" style="background-color:red;"  > 삭제 </button>',

                                width: 50
                            }

                        ],

                        language: {
                            emptyTable: "데이터가 없습니다.",
                            lengthMenu: "페이지당 _MENU_ 개씩 보기",
                            info: "현재 _START_ - _END_ / _TOTAL_건",
                            infoEmpty: "데이터 없음",
                            infoFiltered: "( _MAX_건의 데이터에서 필터링됨 )",
                            search: "검색:",
                            zeroRecords: "일치하는 데이터가 없습니다.",
                            loadingRecords: "로딩중...",
                            processing: "잠시만 기다려 주세요.",
                            paginate: {
                                next: "다음",
                                previous: "이전"
                            }
                        },


                    });
                    // 컬럼 헤더 셀을 가운데 정렬하는 CSS를 추가
                    $('.sorting').css('text-align', 'center');
                },
                error: function () {
                    alert("다시 시도해 주십시요.");
                },

                complete: setTimeout(function () {
                    const loadingScreen = document.getElementById("loading-screen");
                    loadingScreen.style.display = "none";
                }, 1500)
            });
            $.ajax({
                url: server + '/api/materialbase',
                method: 'post',
                dataType: 'json',
                success: function (data) {
                    $('#fileinfo3').dataTable({
                        deferLender: true,
                        lengthMenu: false,
                        autoWidth: false,
                        paging: true,
                        sort: true,
                        pageLength: 10,
                        searching: true,
                        data: data,
                        responsive: true,
                        deferLoading: [0, 10],

                        columns: [



                            { "data": "id" },
                            { "data": "materialname" },
                            { "data": "codenumber" },
                            { "data": "classification" },
                            { "data": "fullwidth" },
                            { "data": "customer" },
                            { "data": "day" },
                            { "data": "inspection" },

                        ],
                        columnDefs: [

                            {
                                targets: 0,
                                visible: false
                            },
                            {
                                targets: 4, className: 'alRight'
                            },
                            {
                                targets: 6, className: 'alRight'
                            },
                            {
                                targets: 8,
                                data: null,
                                defaultContent: '<button id="materialadd" class="btn btn-primary" style="background-color:navy;"  > 추가 </button>',
                                width: 40
                            }

                        ],
                        createdRow: function (row, data, index) {


                        },
                        "language": {
                            emptyTable: "데이터가 없습니다.",
                            lengthMenu: "페이지당 _MENU_ 개씩 보기",
                            info: "현재 _START_ - _END_ / _TOTAL_건",
                            infoEmpty: "데이터 없음",
                            infoFiltered: "( _MAX_건의 데이터에서 필터링됨 )",
                            search: "검색:",
                            zeroRecords: "일치하는 데이터가 없습니다.",
                            loadingRecords: "로딩중...",
                            processing: "잠시만 기다려 주세요.",
                            paginate: {
                                next: "다음",
                                previous: "이전",
                            },
                        },
                        destroy: true,
                    });
                }, error: function (response) {
                    alert(response.responseText);
                }
            });
        });

        // 숫자 컴마표시
        function inputNumberFormat(obj) {
            obj.value = comma(uncomma(obj.value));
        }
        // 숫자 컴마 제거후 int 변경
        function comma(str) {
            str = String(str);
            return str.replace(/(\d)(?=(?:\d{3})+(?!\d))/g, '$1,');
        }
        function uncomma(str) {
            str = String(str);
            return str.replace(/[^\d]+/g, '');
        }
        ///////=====================

        // 등록부분
        document.getElementById("dataadd").addEventListener('click', add);

        function add() {
            if (confirm("원자재입고를 등록 하시겠습니까??") == true) {
                // printpage()
                const date = new Date();

                var day = date.getDate();
                var month = date.getMonth() + 1;
                var year = date.getFullYear();

                console.log((month).length, day.length)

                if (month === 1 || month === 2 || month === 3 || month === 4 || month === 5 || month === 6 || month === 7 || month === 8 || month === 9) {
                    month = '0' + month
                    console.log(month)
                }

                if (day === 1 || day === 2 || day === 3 || day === 4 || day === 5 || day === 6 || day === 7 || day === 8 || day === 9) {
                    day = '0' + day
                    console.log(day)
                }


                // This arrangement can be altered based on how we want the date's format to appear.
                let currentDate = `${year}-${month}-${day}`;

                var materialname = $('#materialname').val();
                var materialcode = $('#materialcode').val();
                var materialwidth = $('#materialwidth').val();
                var materialwidthcomma = materialwidth.replace(/,/g, "");

                var manufacturedate = $('#datepicker1').val();
                var input = $('#input').val();
                var materialday = $('#day').val();
                var customer = $('#customer').val();
                var lotno = $('#lotno').val();
                var roll = $('#roll').val();
                var quantity = $('#quantity').val();
                var sum = $('#quantity').val() * $('#roll').val();;

                var today = new Date();
                var dd = String(today.getDate()).padStart(2, '0');
                var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
                var yyyy = today.getFullYear();

                today = yyyy + '-' + mm + '-' + dd

                var sumdate = new Date(Date.parse(manufacturedate) + parseInt(materialday) * 1000 * 60 * 60 * 24);
                var sumdd = String(sumdate.getDate()).padStart(2, '0');
                var summm = String(sumdate.getMonth() + 1).padStart(2, '0'); //January is 0!
                var sumyyyy = sumdate.getFullYear();

                var expirationdate = sumyyyy + '-' + summm + '-' + sumdd


                if ($('#input').val() == "원자재입고" && $('#inspection').val() == "Y") {
                    $.ajax({
                        type: 'POST',
                        url: server + '/api/inspection',
                        dataType: 'json',
                        contentType: 'application/json',
                        data: JSON.stringify({

                            "inputdate": currentDate,
                            "materialname": materialname,
                            "manufacturedate": manufacturedate,
                            "expirationdate": expirationdate,
                            "materialwidth": materialwidthcomma,
                            "lotno": lotno,
                            "quantity": quantity,



                        }),
                        success: function (result) {
                            // tableInsert();

                        }
                    })

                    for (i = 0; i < roll; i++) {
                        $.ajax({
                            type: 'POST',
                            url: server + '/api/materialinputsave',
                            dataType: 'json',
                            contentType: 'application/json',
                            data: JSON.stringify({

                                "materialname": materialname,
                                "input": input,
                                "codenumber": materialcode,
                                "manufacturedate": manufacturedate,
                                "expirationdate": resultdate,
                                "materialwidth": materialwidthcomma,
                                "date": currentDate,
                                "lotno": lotno,
                                "quantity": quantity,
                                "part": '수입검사대기'

                            }),
                            success: function (result) {


                            }
                        })

                    }
                    alert("입고가 완료 되었습니다.");
                } else {
                    for (i = 0; i < roll; i++) {
                        $.ajax({
                            type: 'POST',
                            url: server + '/api/materialinputsave',
                            dataType: 'json',
                            contentType: 'application/json',
                            data: JSON.stringify({

                                "materialname": materialname,
                                "input": input,
                                "codenumber": materialcode,
                                "manufacturedate": manufacturedate,
                                "expirationdate": expirationdate,
                                "materialwidth": materialwidthcomma,
                                "date": currentDate,
                                "lotno": lotno,
                                "quantity": quantity,
                                "roll": roll,
                                "sum": sum,
                                "part": '입고완료'


                            }),
                            success: function (result) {


                            }
                        })

                    }
                }



                alert("입고가 완료 되었습니다.");
            } else {
                return false;
            }

            $.ajax({
                url: server + '/api/materialoption',
                method: 'post',
                dataType: 'json',
                success: function (data) {
                    $('#fileinfo').DataTable({
                        deferLoading: [0, 10],
                        paging: true,
                        destroy: true,
                        sort: true,
                        pageLength: 10,
                        searching: true,
                        data: data,
                        responsive: true,
                        columnResize: true,
                        processing: true,
                        columns: [
                            { "data": "id" },
                            { "data": "input" },
                            { "data": "date" },
                            { "data": "materialname" },
                            { "data": "lotno" },
                            { "data": "manufacturedate" },
                            { "data": "expirationdate" },
                            { "data": "materialwidth" },
                            { "data": "quantity" },
                            { "data": "part" }

                        ],

                        columnDefs: [
                            {
                                targets: 0, visible: false, searchable: false
                            },
                            {
                                targets: 7, className: 'alRight'
                            },
                            {
                                targets: 8, className: 'alRight'
                            },
                            {
                                targets: 10,
                                data: null,
                                defaultContent: '<button id="openModaledit" class="btn btn-primary" > 인쇄 </button>',
                                width: 50
                            },
                            {
                                targets: 11,
                                data: null,
                                defaultContent: '<button id="openModaldelete" class="btn btn-primary" style="background-color:red;"  > 삭제 </button>',

                                width: 50
                            }

                        ],
                        // createdRow: function (row, data, index) {

                        //     if (data.input === '원자재입고') {
                        //         $('td:eq(0)', row).css('background-color', 'orange');  //Original Date\
                        //     } else {

                        //     }


                        // },
                        language: {
                            emptyTable: "데이터가 없습니다.",
                            lengthMenu: "페이지당 _MENU_ 개씩 보기",
                            info: "현재 _START_ - _END_ / _TOTAL_건",
                            infoEmpty: "데이터 없음",
                            infoFiltered: "( _MAX_건의 데이터에서 필터링됨 )",
                            search: "검색:",
                            zeroRecords: "일치하는 데이터가 없습니다.",
                            loadingRecords: "로딩중...",
                            processing: "잠시만 기다려 주세요.",
                            paginate: {
                                next: "다음",
                                previous: "이전"
                            }
                        },


                    });
                    // 컬럼 헤더 셀을 가운데 정렬하는 CSS를 추가
                    $('.sorting').css('text-align', 'center');
                },
                error: function () {
                    alert("다시 시도해 주십시요.");
                },

                complete: setTimeout(function () {
                    const loadingScreen = document.getElementById("loading-screen");
                    loadingScreen.style.display = "none";
                }, 1500)
            });
        }



        $(document).on('click', "#deleted", function (e) {

            table1 = $('#fileinfo').DataTable();
            var data1 = table1.row($(this).parents('tr')).data(); // getting 

            $('#id-delete').val(data1.id);

        })


        // 삭제부분
        document.getElementById("delete").addEventListener('click', deleted);

        function deleted() {




            $.ajax({
                type: 'POST',
                url: server + '/api/materialinputdeletedata',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify({

                    "id": $('#id-delete').val()




                }),
                success: function (result) {
                    console.log(result)
                }
            })


            alert("삭제가 완료 되었습니다.");


            $.ajax({
                url: server + '/api/materialoption',
                method: 'post',
                dataType: 'json',
                success: function (data) {
                    $('#fileinfo').DataTable({
                        deferLoading: [0, 10],
                        paging: true,
                        destroy: true,
                        sort: true,
                        pageLength: 10,
                        searching: true,
                        data: data,
                        responsive: true,
                        columnResize: true,
                        processing: true,
                        columns: [
                            { "data": "id" },
                            { "data": "input" },
                            { "data": "date" },
                            { "data": "materialname" },
                            { "data": "lotno" },
                            { "data": "manufacturedate" },
                            { "data": "expirationdate" },
                            { "data": "materialwidth" },
                            { "data": "quantity" },
                            { "data": "part" }

                        ],

                     
                        columnDefs: [
                            {
                                targets: 0, visible: false, searchable: false
                            },
                            {
                                targets: 7, className: 'alRight'
                            },
                            {
                                targets: 8, className: 'alRight'
                            },
                            {
                                targets: 10,
                                data: null,
                                defaultContent: '<button id="openModaledit" class="btn btn-primary" > 인쇄 </button>',
                                width: 50
                            },
                            {
                                targets: 11,
                                data: null,
                                defaultContent: '<button id="openModaldelete" class="btn btn-primary" style="background-color:red;"  > 삭제 </button>',

                                width: 50
                            }

                        ],
                        // createdRow: function (row, data, index) {

                        //     if (data.input === '원자재입고') {
                        //         $('td:eq(0)', row).css('background-color', 'orange');  //Original Date\
                        //     } else {

                        //     }


                        // },
                        language: {
                            emptyTable: "데이터가 없습니다.",
                            lengthMenu: "페이지당 _MENU_ 개씩 보기",
                            info: "현재 _START_ - _END_ / _TOTAL_건",
                            infoEmpty: "데이터 없음",
                            infoFiltered: "( _MAX_건의 데이터에서 필터링됨 )",
                            search: "검색:",
                            zeroRecords: "일치하는 데이터가 없습니다.",
                            loadingRecords: "로딩중...",
                            processing: "잠시만 기다려 주세요.",
                            paginate: {
                                next: "다음",
                                previous: "이전"
                            }
                        },


                    });
                    // 컬럼 헤더 셀을 가운데 정렬하는 CSS를 추가
                    $('.sorting').css('text-align', 'center');
                },
                error: function () {
                    alert("다시 시도해 주십시요.");
                },

                complete: setTimeout(function () {
                    const loadingScreen = document.getElementById("loading-screen");
                    loadingScreen.style.display = "none";
                }, 1500)
            });

        }
        // 수정부분
        document.getElementById("dataedit").addEventListener('click', edtited);

        function edtited() {




            $.ajax({
                type: 'POST',
                url: server + '/api/accountupdatedata',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify({

                    id: $('#id-edit').val(),
                    accountcode: $('#accountcode-edit').val(),
                    accountname: $('#accountname-edit').val(),
                    representativename: $('#accountrepresentname-edit').val(),
                    phone: $('#phone-edit').val(),
                    adress: $('#adress-edit').val()




                }),
                success: function (result) {
                    console.log(result)
                }
            })


            alert("수정이 완료 되었습니다.");


            $.ajax({
                url: server + '/api/accountmanagement',
                method: 'post',
                dataType: 'json',
                success: function (data) {
                    $('#fileinfo').DataTable({
                        deferLoading: [0, 10],
                        paging: true,
                        destroy: true,
                        sort: true,
                        pageLength: 10,
                        searching: true,
                        data: data,
                        responsive: true,
                        columnResize: true,
                        processing: true,
                        columns: [
                            { "data": "id" },
                            { "data": "accountcode" },
                            { "data": "accountname" },
                            { "data": "representativename" },
                            { "data": "phone" },
                            { "data": "adress" },

                        ],


                        columnDefs: [
                            {
                                targets: 0, visible: false, searchable: false
                            },
                            {
                                targets: 6,
                                data: null,
                                defaultContent: '<button id="openModaledit" class="btn btn-primary" > 수정 </button>',
                                width: 50
                            },
                            {
                                targets: 7,
                                data: null,
                                defaultContent: '<button id="openModaldelete" class="btn btn-primary" style="background-color:red;"  > 삭제 </button>',

                                width: 50
                            }

                        ],

                        language: {
                            emptyTable: "데이터가 없습니다.",
                            lengthMenu: "페이지당 _MENU_ 개씩 보기",
                            info: "현재 _START_ - _END_ / _TOTAL_건",
                            infoEmpty: "데이터 없음",
                            infoFiltered: "( _MAX_건의 데이터에서 필터링됨 )",
                            search: "검색:",
                            zeroRecords: "일치하는 데이터가 없습니다.",
                            loadingRecords: "로딩중...",
                            processing: "잠시만 기다려 주세요.",
                            paginate: {
                                next: "다음",
                                previous: "이전"
                            }
                        },


                    });
                    // 컬럼 헤더 셀을 가운데 정렬하는 CSS를 추가
                    $('.sorting').css('text-align', 'center');
                },
                error: function () {
                    alert("다시 시도해 주십시요.");
                },

                complete: setTimeout(function () {
                    const loadingScreen = document.getElementById("loading-screen");
                    loadingScreen.style.display = "none";
                }, 1500)
            });

        }

    </script>

    <script type="text/javascript">



        function modalsave() {
            $('#accountcode-save').val('');
            $('#accountname-save').val('');
            $('#representativename-save').val('');
            $('#phone-save').val('');
            $('#adress-save').val('');


            $("#myModalsave").modal("show");
        }

        $('#find').click(function () {


        });

        function settingDate() {
            const date = new Date();

            var day = date.getDate();
            var month = date.getMonth() + 1;
            var year = date.getFullYear();

            console.log((month).length, day.length)

            if (month === 1 || month === 2 || month === 3 || month === 4 || month === 5 || month === 6 || month === 7 || month === 8 || month === 9) {
                month = '0' + month
                console.log(month)
            }

            if (day === 1 || day === 2 || day === 3 || day === 4 || day === 5 || day === 6 || day === 7 || day === 8 || day === 9) {
                day = '0' + day
                console.log(day)
            }


            // This arrangement can be altered based on how we want the date's format to appear.
            let currentDate = `${year}-${month}-${day}`;
            console.log(currentDate); // "17-6-2022"


            $('#datepicker11').val(currentDate);
            $('#datepicker2').val(currentDate);
            $('#datepicker1').val(currentDate);
            $('#datepicker3').val(currentDate);
        }
    </script>
    <script>
        $('#search').click(function () {
            console.log(11)
            $.ajax({
                type: 'POST',
                url: server + '/api/materialoptiondate',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify({


                    start: $('#datetimepicker1').val(),
                    finish: $('#datetimepicker2').val(),





                }),
                success: function (result) {
                    $('#fileinfo').DataTable({
                        deferLoading: [0, 10],
                        paging: true,
                        destroy: true,
                        sort: true,
                        pageLength: 10,
                        searching: true,
                        data: data,
                        responsive: true,
                        columnResize: true,
                        processing: true,
                        columns: [
                            { "data": "id" },
                            { "data": "date" },
                            { "data": "materialname" },
                            { "data": "lotno" },
                            { "data": "manufacturedate" },
                            { "data": "expirationdate" },
                            { "data": "materialwidth" },
                            { "data": "quantity" }

                        ],

                     

                        columnDefs: [
                            {
                                targets: 0, visible: false, searchable: false
                            },
                            {
                                targets: 8,
                                data: null,
                                defaultContent: '<button id="openModaledit" class="btn btn-primary" > 수정 </button>',
                                width: 50
                            },
                            {
                                targets: 9,
                                data: null,
                                defaultContent: '<button id="openModaldelete" class="btn btn-primary" style="background-color:red;"  > 삭제 </button>',

                                width: 50
                            }

                        ],

                        language: {
                            emptyTable: "데이터가 없습니다.",
                            lengthMenu: "페이지당 _MENU_ 개씩 보기",
                            info: "현재 _START_ - _END_ / _TOTAL_건",
                            infoEmpty: "데이터 없음",
                            infoFiltered: "( _MAX_건의 데이터에서 필터링됨 )",
                            search: "검색:",
                            zeroRecords: "일치하는 데이터가 없습니다.",
                            loadingRecords: "로딩중...",
                            processing: "잠시만 기다려 주세요.",
                            paginate: {
                                next: "다음",
                                previous: "이전"
                            }
                        },


                    });
                    // 컬럼 헤더 셀을 가운데 정렬하는 CSS를 추가
                    $('.sorting').css('text-align', 'center');
                },
                error: function () {
                    alert("다시 시도해 주십시요.");
                },

                complete: setTimeout(function () {
                    const loadingScreen = document.getElementById("loading-screen");
                    loadingScreen.style.display = "none";
                }, 1500)
            });
        }
        )






    </script>
    <!-- <script>
        var obj = null;
        var value = obj.prop;

        function printpage() {
            var date = document.getElementById("qrcode-date").value;
            var materialname = document.getElementById("qrcode-materialname").value;
            var materialwidth = document.getElementById("qrcode-materialwidth").value;
            var quantity = document.getElementById("qrcode-quantity").value;
            var manufacturedate = document.getElementById("qrcode-manufacturedate").value;
            var expirationdate = document.getElementById("qrcode-expirationdate").value;
            var lot = document.getElementById("qrcode-lot").value;

            var url = "/qrprint?date=" + date + "&materialname=" + materialname + "&materialwidth=" + materialwidth + "&quantity=" + quantity + "&manufacturedate=" + manufacturedate + "&expirationdate=" + expirationdate + "&lot=" + lot;

            var newWindow = window.open(url);
            newWindow.onload = function () {
                newWindow.print();
                // newWindow.close();
            };
        }
    </script> -->

</html>