<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <script src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="../css/mesmain.css">
    <link rel="stylesheet" href="../css/mesopenmodal.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../js/sorttable.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />


</head>
<style>
    input {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        /* margin-bottom: 16px; */
        border: 1px solid #cccccc;
        border-radius: 4px;
        font-size: 15px;
        font-weight: bold;
    }
</style>


<body>
    <div class="main_header">
        <img src="/img/테크온로고.PNG" style="width: 100px;" class="loadingImage">
        <a style="margin-left: 20px;">자재 기초정보</a>
    </div>
    <div id="loadingOverlay">
        <img src="/img/테크온로고.PNG" alt="로딩 이미지" class="loadingImage">

    </div>

    <fieldset>
        <legend>검색조건</legend>
        <input type="text" id="myInput" placeholder="검색어를 입력하세요" onclick="search()" style="width:600px;" autocomplete="off">
        <button class="saveButton" onclick="openEditModal()">신규추가</button>

    </fieldset>
    <div id="overlay"></div>
    <table class="styled-table" id="datatable">
        <thead id="tableHead">
            <tr>
                <th style="text-align:center;" onclick="sortTable(0)">품목코드</th>
                <th style="text-align:center;" onclick="sortTable(1)">자재명</th>
                <th style="text-align:center;" onclick="sortTable(2)">전폭(mm)</th>
                <th style="text-align:center;" onclick="sortTable(3)">길이(M)</th>
                <th style="text-align:center;" onclick="sortTable(4)">SQM단가</th>
                <th style="text-align:center;" onclick="sortTable(5)">롤단가</th>
                <th style="text-align:center;" onclick="sortTable(6)">단위</th>
                <th style="text-align:center;" onclick="sortTable(7)">적용<br>순번</th>
                <th style="text-align:center;" onclick="sortTable(8)">제조사</th>
                <th style="text-align:center;" onclick="sortTable(9)">공급사</th>
                <th style="text-align:center;" onclick="sortTable(10)">사용별</th>
                <th style="text-align:center;" onclick="sortTable(11)">유형별</th>
                <th style="text-align:center;" onclick="sortTable(12)">업체별</th>
                <th style="text-align:center;" onclick="sortTable(13)">자재TYPE</th>
                <th style="text-align:center;" onclick="sortTable(14)">색상</th>
                <th style="text-align:center;" onclick="sortTable(15)">두께</th>
                <th style="text-align:center;" onclick="sortTable(16)">점착력</th>
                <th style="text-align:center;" onclick="sortTable(17)">점착제</th>
                <th style="text-align:center;" onclick="sortTable(18)">원단무게<br>(KG)</th>
                <th style="text-align:center;" onclick="sortTable(19)">요청자</th>
                <th style="text-align:center;" onclick="sortTable(20)">최초수정날짜</th>
                <th style="text-align:center;" onclick="sortTable(21)">등록사유</th>
                <th style="text-align:center;" onclick="sortTable(22)">고객사</th>
                <th style="text-align:center;" onclick="sortTable(23)">모델</th>


            </tr>
        </thead>
        <tbody id="Datatbody">

        </tbody>

    </table>






    <!-- 등록창 -->
    <div id="popupOverlay" style="display: none; ">
        <div id="popupContent" style="width: 30%;">
            <div class="form-group">
                <table style="width:100%;">
                    <tr>
                        <td colspan="2" class="popup_title">샘플 발주 추가</td>
                    </tr>
                </table>
                <fieldset>
                    <legend>
                        입력정보
                    </legend>

                    <label class="rev">접수날짜:</label>
                    <input type="date" id="datepicker1" style="font-size: 14px; font-weight: bold;">
                    <label class="rev">출하날짜:</label>
                    <input type="date" id="datepicker2" style="font-size: 14px; font-weight: bold;">
                    <label class="rev">BOMNO:</label><br>
                    <div class="bomno-container">
                        <input type="text" class="bomno-input" id="bomno" autocomplete="off">
                        <button class="bomno-button" onclick="searchbomno()">조회</button>
                    </div>
                    <label class="rev">고객사:</label>
                    <input type="text" id="customer" readonly autocomplete="off">
                    <label class="rev">모델명:</label>
                    <input type="text" id="modelname" readonly autocomplete="off">
                    <label class="rev">품목명:</label>
                    <input type="text" id="itemname" readonly autocomplete="off">
                    <label class="rev">고객사코드:</label>
                    <input type="text" id="revison" readonly autocomplete="off">
                    <label class="rev">수량:</label>
                    <input type="text" id="ordercount" autocomplete="off">
                    <label class="rev">작업구분:</label>
                    <input type="text" id="part" autocomplete="off">
                    <label class="rev">입고상태:</label>
                    <select id="status">
                        <option value="완료">완료</option>
                        <option value="미완료">미완료</option>
                    </select>
                    <label class="rev">출고시간:</label>
                    <select id="outtime">
                        <option value="오전">오전</option>
                        <option value="오후">오후</option>
                    </select>
                    <label class="rev">사양구분:</label>
                    <input type="text" id="specification" autocomplete="off">
                    <label class="rev">작성자:</label>
                    <input type="text" id="employee" autocomplete="off">

                </fieldset>
            </div>
            <button id="popupCloseBtn-save-close">취소</button>
            <button id="popupCloseBtn-save" onclick="Datasave()">저장</button>
        </div>
    </div>







    <script>
        var server = '';

        if (window.location.hostname == 'localhost') {
            server = 'http://localhost:8080';
        } else {
            server = 'http://techonmes.co.kr';
        }
        $(document).ready(function () {

            showLoading()
            load()
            $('#Datatbody').on('dblclick', 'tr', function () {
                openEditModal(this); // Pass the clicked row to the function
            });

        });
        function openEditModal(row) {
            var rowData = $(row).find('td').map(function () {
                return $(this).text();
            }).get();
            // $('#editForm').html(
            //     '작성자: <input type="text" id="editAuthor" value="' + rowData[30] + '"><br>' +
            //     '날짜: <input type="text" id="editDate" value="' + rowData[31] + '"><br>' +
            //     '<button onclick="saveChanges()">Save Changes</button>'
            // );

            $('#editModal').fadeIn()
        }
        function openEditModal(row) {
            var rowData = $(row).find('td').map(function () {
                return $(this).text();
            }).get();

            // Display overlay
            $('#overlay').fadeIn();

            // Populate and display edit modal
            // $('#editForm').html(
            //     '작성자: <input type="text" id="editAuthor" value="' + rowData[30] + '"><br>' +
            //     '날짜: <input type="text" id="editDate" value="' + rowData[31] + '"><br>' +
            //     '<button onclick="saveChanges()">Save Changes</button>'
            // );

            $('#editModal').fadeIn();
        }

        // Function to close edit modal and overlay
        function closeModal() {
            $('#overlay').fadeOut();
            $('#editModal').fadeOut();
        }

        function showLoading() {
            var loadingOverlay = document.getElementById("loadingOverlay");
            loadingOverlay.style.display = "flex";
            setTimeout(function () {
                loadingOverlay.style.display = "none";
            }, 1000);
        }



        function Datasave() {
            if (confirm("샘플 발주 정보를 등록 하시겠습니까??") == true) {

                var insertdate = new Date().toISOString().slice(0, 10);

                var toolcode = $('#toolcode').val();
                var madedate = $('#datepicker1').val();
                var bomno = $('#bomno').val();
                var customer = $('#customer').val();
                var modelname = $('#modelname').val();
                var itemname = $('#itemname').val();
                var char = $('#char').val();
                var part = $('#part').val();
                var inputprice = $('#inputprice').val();
                var outputprice = $('#outputprice').val();

                $.ajax({
                    type: 'POST',
                    url: server + '/api/insertpinacle',
                    dataType: 'json',
                    contentType: 'application/json',
                    data: JSON.stringify({

                        "insertdate": insertdate,
                        "toolcode": toolcode,
                        "madedate": madedate,
                        "bomno": bomno,
                        "customer": customer,
                        "modelname": modelname,
                        "itemname": itemname,
                        "char": char,
                        "part": part,
                        "inputprice": inputprice,
                        "outputprice": outputprice




                    }),
                    success: function (result) {


                    }
                })

                $('#popupOverlay').fadeOut();
                setTimeout(function () {
                    load()
                }, 50); // 3초 후에 알림을 사라지게 설정
                var notification = $('<div class="notification"><img src="/img/테크온로고.PNG" alt="Notification Icon"><span class="notification-message" style="color:navy;">피나클 정보 등록 완료</span></div>');
                $('body').append(notification);
                setTimeout(function () {
                    notification.fadeOut(function () {
                        $(this).remove();
                    });
                }, 3000);
            } else {
                return false;
            }
        }

        function Dataedit() {
            if (confirm("고객사 정보를 수정 하시겠습니까??") == true) {

                $.ajax({
                    type: 'POST',
                    url: server + '/api/accountupdatedata',
                    dataType: 'json',
                    contentType: 'application/json',
                    data: JSON.stringify({

                        id: $('#id-edit').val(),
                        accountcode: $('#accountcode-edit').val(),
                        accountname: $('#accountname-edit').val(),
                        representativename: $('#representativename-edit').val(),
                        phone: $('#phone-edit').val(),
                        adress: $('#adress-edit').val(),
                        number: $('#number-edit').val(),
                        mobile: $('#mobile-edit').val(),
                        fax: $('#fax-edit').val(),
                        email: $('#email-edit').val(),
                        etc: $('#etc-edit').val()




                    }),
                    success: function (result) {
                        console.log(result)
                    }
                })

                $('#popupOverlay1').fadeOut();
                setTimeout(function () {
                    load()
                }, 50); // 3초 후에 알림을 사라지게 설정
                var notification = $('<div class="notification"><img src="/img/테크온로고.PNG" alt="Notification Icon"><span class="notification-message" style="color:navy;">거래처 수정 완료</span></div>');
                $('body').append(notification);
                setTimeout(function () {
                    notification.fadeOut(function () {
                        $(this).remove();
                    });
                }, 3000);
            } else {
                return false;
            }
        }

        function load() {
            $('#Datatbody').empty()
            $.ajax({
                type: 'POST',
                url: server + '/api/selectmaterialinformation',
                dataType: 'json',
                success: function (data) {
                    var tableFoot = $('#dataCount');
                    if (data.length === 0) {
                        tableFoot.text('총 데이터 개수: 0');
                    } else {
                        var sequenceNumber = 1;
                        for (var i = 0; i < data.length; i++) {
                            $('#Datatbody').append(
                                '<tr>' +
                                '<td>' + (data[i].codenumber || '') + '</td>' +
                                '<td>' + (data[i].materialname || '') + '</td>' +
                                '<td style="text-align:right;">' + (data[i].width.toLocaleString() || '') + '</td>' +
                                '<td style="text-align:right;">' + (data[i].length.toLocaleString() || '') + '</td>' +
                                '<td style="text-align:right;">' + (data[i].sqmprice || '') + '</td>' +
                                '<td style="text-align:right;">' + (data[i].rollprice || '') + '</td>' +
                                '<td>' + (data[i].unit || '') + '</td>' +
                                '<td>' + (data[i].num || '') + '</td>' +
                                '<td>' + (data[i].manufacterer || '') + '</td>' +
                                '<td>' + (data[i].supplier || '') + '</td>' +
                                '<td>' + (data[i].usagecategory || '') + '</td>' +
                                '<td>' + (data[i].typecategory || '') + '</td>' +
                                '<td>' + (data[i].companycategory || '') + '</td>' +
                                '<td>' + (data[i].materialtype || '') + '</td>' +
                                '<td>' + (data[i].color || '') + '</td>' +
                                '<td>' + (data[i].thickness || '') + '</td>' +
                                '<td>' + (data[i].adhesionstrength || '') + '</td>' +
                                '<td>' + (data[i].adhesive || '') + '</td>' +
                                '<td>' + (data[i].fabricweight || '') + '</td>' +
                                '<td>' + (data[i].requester || '') + '</td>' +
                                '<td>' + (data[i].modificationdate || '') + '</td>' +
                                '<td>' + (data[i].registrationreason || '') + '</td>' +
                                '<td>' + (data[i].customer || '') + '</td>' +
                                '<td>' + (data[i].modelname || '') + '</td>' +

                                '<td id="data-id">' + (data[i].id || '') + '</td>' +
                                '</tr>'
                            )
                            $("td#data-id").hide();
                        }


                    }
                }
            });
        }


        function search() {
            const searchInput = document.getElementById('myInput');
            const dataTable = document.getElementById('datatable');
            const tableRows = dataTable.getElementsByTagName('tr');
            const dataCountCell = document.getElementById('dataCount');

            searchInput.addEventListener('input', function () {
                const searchValue = this.value.toLowerCase();
                let count = 0;

                for (let i = 1; i < tableRows.length; i++) {
                    const rowData = tableRows[i].getElementsByTagName('td');
                    let found = false;

                    for (let j = 0; j < rowData.length; j++) {
                        const cellData = rowData[j].textContent.toLowerCase();

                        if (cellData.includes(searchValue)) {
                            found = true;
                            break;
                        }
                    }

                    if (found) {
                        tableRows[i].style.display = '';
                        count++;
                    } else {
                        tableRows[i].style.display = 'none';
                    }
                }

                dataCountCell.textContent = `검색 결과 개수: ${count - 1}`;
            });
        }

    </script>


</body>

</html>