<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta charset="UTF-8">
    <title>BOM관리</title>
    <link rel="stylesheet" href="/css/bompopup.css">
    <link rel="stylesheet" href="/css/accountinformation.css">
    <link rel="stylesheet" href="/css/css.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdn.datatables.net/buttons/2.0.1/css/buttons.dataTables.min.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.dataTables.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.3.4/css/select.dataTables.min.css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" defer></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js" defer></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" defer></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.7.1/jszip.min.js" defer></script>
    <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"
        defer></script>
    <script type="text/javascript" src="https://cdn.datatables.net/select/1.3.4/js/dataTables.select.min.js"
        defer></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.66/pdfmake.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.66/vfs_fonts.js" defer></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.0.1/js/dataTables.buttons.min.js"
        defer></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.html5.min.js"
        defer></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.print.min.js"
        defer></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.colVis.min.js"
        defer></script>




</head>
<style>
    /* 모달 창 스타일 */


    .modal-content {
        background-color: #fefefe;
        margin: 5% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 90%;
        height: 80%;
        border-radius: 10px;
    }

    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    #myInput {
        padding: 10px;
        border: 2px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        height: 10px;
    }

    .myLink {
        display: inline-block;
        padding: 10px;
        color: black;
        text-decoration: none;
        font-size: 16px;
        border-radius: 4px;

    }

    /* 모달 창 스타일 */
    .modal3 {
        display: none;
        /* 초기에는 모달 창을 숨깁니다. */
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.4);
    }

    .dataTables_length {
        display: none;
    }

    .modal3-content {
        background-color: #fefefe;
        margin: 5% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 30%;
        height: 30%;
        border-radius: 10px;
        border-color: black;
    }



    td:nth-child(2) {
        position: relative;
    }

    input[type="text"] {

        border: none;
        padding: 5px;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        width: 95%;

    }

    #tool {
        width: 100%;
        padding: 4px 4px;
        border: none;
        border-radius: 4px;
        background-color: white;
    }

    #production {
        width: 100%;

        border: none;
        border-radius: 4px;
        background-color: white;
    }

    #abcd_wrapper {
        margin-top: 50px;
    }
</style>


<!-- unitprice -->

<body>

    <div class="popup" id="pop1">
        <a class="popup_title">자재출고</a>

        <button class="close-button" style=" float: right; margin-top: -10px; margin-right: 10px;" id="close_button"
            onclick="modalClose()"> 닫기 </button>

        <button class="save-button" style=" float: right; margin-top: -10px; margin-right: 10px;" id="save_button"
            onclick="save()"> 저장 </button>


        <br>
        <hr>


        <div style="width: 99%; height: 86px; margin-top: 0px; border: 1px solid navy; ">


            <div style="width: 99.9%; height: 100%;">
                <div style="width: 50%; height: 100%; float: left;">
                    <table>
                        <tr>
                            <td style="width: 200px">모델명</td>
                            <td><input type="text" id="modelname" readonly></td>

                        </tr>
                        <tr>
                            <td style="width: 200px">제품명</td>
                            <td><input type="text" id="partname" readonly></td>

                        </tr>
                    </table>
                </div>

                <div style="width: 25%; height: 100%; float: left;">
                    <table>
                        <tr>
                            <td style="width: 200px">자재주문번호</td>
                            <td><input type="text" id="orderid" readonly></td>

                        </tr>
                        <tr>
                            <td style="width: 200px">생산Lot </td>
                            <td><input type="text" id="lotno" readonly></td>

                        </tr>
                    </table>
                </div>
                <div style="width: 25%; height: 100%;  float: right;">
                    <table id="">
                        <tr>
                            <td style="width:200px">BOMNO.</td>
                            <td><input type="text" id="bomno" readonly></td>

                        </tr>
                        <tr>
                            <td style="width:200px">수량합계</td>
                            <td><input type="text" value="0" id="sumquantity" readonly></td>

                        </tr>
                    </table>

                </div>

            </div>

        </div>

        <div style="width: 25%; height: 535px;  border: 1px solid navy;  float: left; ">
            <div style="width: 100%; height: 6%;  border: 1px solid rgb(112, 112, 112);  background-color: #4d4a4a;">
                <a
                    style="margin-top:0px; font-size:18px; display: flex; justify-content: center; align-items: center; color: white;">생산필요재고</a>
            </div>
            <table id="fileinfo3" class="display" style="width:100%;">
                <thead>
                    <tr>
                        <th>자재명</th>
                        <th>자재폭(mm)</th>
                        <th>자재필요(M)</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>

        </div>
        <div style="width: 40%; height: 535px;  border: 1px solid navy;  float: left; ">
            <div style="width: 100%; height: 6%;  border: 1px solid rgb(112, 112, 112);  background-color: #4d4a4a;">
                <a
                    style="margin-top:px; font-size:18px; display: flex; justify-content: center; align-items: center; color: white;">자재재고정보</a>
            </div>
            <table id="abcd" class="display" style="width:100%;">
                <thead>
                    <tr>
                        <th>자재명</th>
                        <th>자재폭</th>
                        <th>lot</th>
                        <th>제조일자</th>
                        <th>만료일자</th>
                        <th>수량</th>

                    </tr>
                </thead>
                <tbody id="abcdbody">

                </tbody>
            </table>
            <!-- <input type="button" id="bomid"> -->
        </div>
        <div style="width: 34%; height: 535px;  border: 1px solid navy;  float: left; ">
            <div style="width: 100%; height: 6%;  border: 1px solid rgb(112, 112, 112);  background-color: #4d4a4a;">
                <a
                    style="margin-top:0px; font-size:18px; display: flex; justify-content: center; align-items: center; color: white;">자재출고대기</a>
            </div>
            <table id="fileinfo1" class="display" style="width:100%;">

                <thead style="background-color:#0b0b0e;font-weight:bold;color:#FFFFFF;">
                    <tr>
                        <th>자재명</th>
                        <th>자재폭</th>
                        <th>lot</th>
                        <th>제조일자</th>
                        <th>만료일자</th>
                        <th>수량</th>

                    </tr>

                </thead>
                <tbody>

                </tbody>


            </table>
        </div>

    </div>





    <!-- 모달수정창 -->
    <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">소요 자재 추가</h4>
                </div>

                <table>
                    <tr>
                        <td style="width:150px">자재명</td>
                        <td><input type="text" id="materialname-save"></td>
                    </tr>
                    <tr>
                        <td>자재폭(mm)</td>
                        <td><input type="text" id="materialwidth-save"></td>
                    </tr>
                    <tr>
                        <td>D피딩(mm)</td>
                        <td><input type="text" id="dpidding-save" value="0"></td>
                    </tr>
                    <tr>
                        <td>SQM단가(원)</td>
                        <td><input type="text" id="sqmprice-save" readonly></td>
                    </tr>

                </table>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="취소">
                    <input type="button" data-dismiss="modal" id="add" class="btn btn-success" value="추가">
                </div>
            </div>
        </div>
    </div>


    <div style="height:50px; ">
        <p style="margin-left:20px; margin-top:20px; font-size: 20px; font-weight: bold;">
            자재발주대기



        </p>


    </div>


    <div style="border: 1px solid whitesmoke;">
        <table id="fileinfo" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>자재주문번호</th>
                    <th>생산계획날짜</th>
                    <th>생산lot</th>
                    <th>BOMNO.</th>
                    <th>모델명</th>
                    <th>제품명</th>
                    <th>상태</th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <div id="loading-screen">
        <div class="spinner"></div>
        <p style="color: black;">잠시만 기다려주세요...</p>
    </div>
    <script type="text/javascript">
        // 시작부분
        // 시작부분
        var server = '';
        console.log(window.location.hostname)

        if (window.location.hostname == 'localhost') {
            server = 'http://localhost:8080';
            // server = 'http://techonmes.co.kr';

        } else {
            server = 'http://techonmes.co.kr';
        }
        $(document).ready(function () {



            const loadingScreen = document.getElementById("loading-screen");
            loadingScreen.style.display = "block";





            $('#fileinfo').on('click', '#openModaldelete', function () {
                table1 = $('#fileinfo').DataTable();
                var data1 = table1.row($(this).parents('tr')).data(); // getting 

                $('#id-delete').val(data1.id);
                $("#datadelte").modal();

            });
            $.ajax({
                url: server + '/api/materialouput',
                method: 'post',
                dataType: 'json',
                success: function (data) {
                    $('#fileinfo').DataTable({
                        deferLoading: [0, 10],
                        paging: true,
                        destroy: true,
                        sort: true,
                        pageLength: 10,
                        searching: true,
                        data: data,
                        responsive: true,
                        columnResize: true,

                        processing: true,
                        columns: [

                            { "data": "orderid" },
                            { "data": "productdate" },
                            { "data": "lotno" },
                            { "data": "bomno" },
                            { "data": "modelname" },
                            { "data": "itemname" },
                            { "data": "materialstatus" }


                        ],

                        columnDefs: [

                            {
                                targets: 7,
                                data: null,
                                defaultContent: '<button id="openModaledit1" class="edit-button" style="font-size:11px;" > 출고 </button>',
                                width: 65
                            }


                        ],

                        language: {
                            emptyTable: "데이터가 없습니다.",
                            lengthMenu: "페이지당 _MENU_ 개씩 보기",
                            info: "현재 _START_ - _END_ / _TOTAL_건",
                            infoEmpty: "데이터 없음",
                            infoFiltered: "( _MAX_건의 데이터에서 필터링됨 )",
                            search: "검색:",
                            zeroRecords: "일치하는 데이터가 없습니다.",
                            loadingRecords: "로딩중...",
                            processing: "잠시만 기다려 주세요.",
                            paginate: {
                                next: "다음",
                                previous: "이전"
                            }
                        },


                    });
                    // 컬럼 헤더 셀을 가운데 정렬하는 CSS를 추가
                    $('.sorting').css('text-align', 'center');
                },
                error: function () {
                    alert("다시 시도해 주십시요.");
                },

                complete: setTimeout(function () {
                    const loadingScreen = document.getElementById("loading-screen");
                    loadingScreen.style.display = "none";
                }, 1500)
            });

            $.ajax({
                url: server + '/api/materialsoyo',
                method: 'post',
                dataType: 'json',
                contentType: 'application/json',
                success: function (data) {

                    for (var i = 0; i < data.length; i++) {
                        $('#fileinfo3').append(
                            '<tr>' +


                            '<td >' + data[i].materialname + '</td>' +
                            '<td >' + data[i].swidth + '</td>' +
                            '<td >' + data[i].soyo + '</td>' +



                            '</tr>'

                        )
                    }



                },
                error: function () {
                    alert("다시 시도해 주십시요.");
                },

                complete: setTimeout(function () {
                    const loadingScreen = document.getElementById("loading-screen");
                    loadingScreen.style.display = "none";
                }, 1500)
            });





        });




        // 등록부분
        document.getElementById("add").addEventListener('click', add);

        function add() {

            var one = parseInt($('#onepid').val())
            var two = parseInt($('#twopid').val())
            var cavity = parseInt($('#cavity').val())
            var onepid = parseInt($('#twopid1').val())
            var twopid = parseInt($('#twopid2').val())
            var dpid = parseInt($('#dpidding-save').val())
            var sqm = parseInt($('#sqmprice-save').val())
            var unitprice = parseInt($('#unitprice').val())

            // 1/(CV+2차계산1)*((1차피딩+D피딩)+2차계산2)*0.001*1.03
            var soyo = 1 / (cavity + onepid) * (one + dpid + twopid) * 0.001 * 1.03
            var soyodata = soyo.toFixed(2);
            var costdata = soyodata * sqm
            var cost = costdata.toFixed(2);
            $('#abcd1').append(
                '<tr>' +
                '<td><input type="radio" class="chkRadio" name="chkRadio"  onClick="checkeRowColorChange(this);"></td>' +
                '<td>' + $('#materialname-save').val() + '</td>' +
                '<td class="alRight">' + $('#materialwidth-save').val() + '</td>' + //
                '<td class="alRight">' + soyodata + '</td>' +
                '<td class="alRight">' + $('#dpidding-save').val() + '</td>' +
                '<td class="alRight" id="costsum">' + cost + '</td>' +
                '<td style="text-align:center width:80px;"> <button class="delete-button" style="font-size:11px; background-color:red;"> 삭제 </button></td>' +
                '</tr>'
            )
            var costa = $('#cost').val()
            var costsum = parseFloat($('#cost').val()) + parseFloat(cost)
            $('#cost').val(costsum)

            var percent = (unitprice / costsum * 100).toFixed(2)
            $('#percent').val(percent)

        }


        $(document).on('click', "#deleted", function (e) {

            table1 = $('#fileinfo').DataTable();
            var data1 = table1.row($(this).parents('tr')).data(); // getting 

            $('#id-delete').val(data1.id);

        })

        $(document).on('click', '#abcd tr', function () {
            var materialname = $(this).find('td:eq(0)').text();
            var materialwidth = $(this).find('td:eq(1)').text();
            var lot = $(this).find('td:eq(2)').text();
            var m1 = $(this).find('td:eq(3)').text();
            var m2 = $(this).find('td:eq(4)').text();
            var quantity = $(this).find('td:eq(5)').text();
            // var materialwidth = $(this).find('td:second').text();
            // var lot = $(this).find('td:third').text();
            console.log(materialname)
            $('#fileinfo1').append(
                '<tr>' +
                '<td >' + materialname + '</td>' +
                '<td >' + materialwidth + '</td>' +
                '<td >' + lot + '</td>' +
                '<td >' + m1 + '</td>' +
                '<td >' + m2 + '</td>' +
                '<td >' + quantity + '</td>' +

                '</tr>'

            )
            const $table = document.getElementById('fileinfo1'); // table 엘리먼트 취득
            const trGroup = Array.from(document.querySelectorAll('#fileinfo1 tr'));

            const textGroup = trGroup.map(tr => {
                return Array.from(tr.children).map(input => input.textContent);
            });
            for (var i = 0; i < $table.rows.length - 1; i++) {
                var sum = textGroup[i + 1][5];
            }
            var currentSum = parseFloat($('#sumquantity').val()); // Get the current sum value and convert it to a number

            var newSum = parseFloat(currentSum) + parseFloat(sum); // Calculate the updated sum value

            $('#sumquantity').val(newSum); // Assign the new sum value to the input element

            $(this).closest('tr').remove();

        });

        $(document).on('click', '#fileinfo3 tr', function () {
            var materialname = $(this).find('td:first').text();

            $.ajax({
                url: server + '/api/materialinputwhere',
                method: 'post',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify({
                    materialname: materialname
                }),
                success: function (data) {
                    $('#abcdbody').empty()

                    for (var i = 0; i < data.length; i++) {


                        $('#abcd').append(
                            '<tr>' +


                            '<td >' + data[i].materialname + '</td>' +
                            '<td >' + data[i].materialwidth + '</td>' +
                            '<td >' + data[i].lotno + '</td>' +
                            '<td >' + data[i].manufacturedate + '</td>' +
                            '<td >' + data[i].expirationdate + '</td>' +
                            '<td >' + data[i].quantity + '</td>' +


                            '</tr>'

                        )
                    }



                },
                error: function () {
                    alert("다시 시도해 주십시요.");
                },

                complete: setTimeout(function () {
                    const loadingScreen = document.getElementById("loading-screen");
                    loadingScreen.style.display = "none";
                }, 1500)
            });

        });


        // 삭제부분
        document.getElementById("delete").addEventListener('click', deleted);

        function deleted() {




            $.ajax({
                type: 'POST',
                url: server + '/api/accountinfodeletedata',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify({

                    "id": $('#id-delete').val()




                }),
                success: function (result) {
                    console.log(result)
                }
            })


            alert("삭제가 완료 되었습니다.");




        }

    </script>

    <script type="text/javascript">
        $('#fileinfo3').on('mouseenter', 'tr', function () {
            $(this).css('background-color', 'whitesmoke');
            $(this).css('cursor', 'pointer');
        });

        $('#fileinfo3').on('mouseleave', 'tr', function () {
            $(this).css('background-color', ''); // 기본 배경색으로 변경하려면 빈 문자열을 할당합니다.
        });

        $('#abcd').on('mouseenter', 'tr', function () {
            $(this).css('background-color', 'whitesmoke');
            $(this).css('cursor', 'pointer');
        });

        $('#abcd').on('mouseleave', 'tr', function () {
            $(this).css('background-color', ''); // 기본 배경색으로 변경하려면 빈 문자열을 할당합니다.
        });



        function modalsave() {
            $('#accountcode-save').val('');
            $('#accountname-save').val('');
            $('#representativename-save').val('');
            $('#phone-save').val('');
            $('#adress-save').val('');


            $("#myModalsave").modal("show");
        }


        function newbtn() {
            $('#save_button').val('신규등록')
            $("#modelname").val('');
            $("#partname").val('');
            $("#cost").val('0');
            $("#unitprice").val('0');
            $("#percent").val('0');
            $("#customer").val('');
            $("#bomno").val('');
            $("#customercode").val('');
            $("#allcode").val('');
            $("#tool").val('1');
            $("#toolmain").val('');
            $("#cavity").val('');
            $("#onepid").val('');
            $("#twopid").val('');
            $("#loss").val('3');
            $("#twopid1").val('');
            $("#twopid2").val('');

            $('#abcd1 > tbody').empty();
            $('.popup').css("display", "block");
            $.ajax({
                type: 'POST',
                url: server + '/api/materialbase'
            }).done(function (d) {

                table = $('#abcd').DataTable({
                    deferLoading: [0, 10],
                    paging: true,
                    destroy: true,
                    sort: true,
                    pageLength: 6,
                    searching: true,
                    data: d,
                    responsive: true,
                    columnResize: true,
                    processing: true,


                    "columns": [

                        { "data": "materialname" },
                        { "data": "sqmprice" }

                    ],
                    columnDefs: [

                        {
                            targets: 2,
                            data: null,
                            defaultContent: '<button id="btnadd" class="edit-button" style="font-size:11px;" > 추가 </button>',
                            className: 'alCenter',
                            // width: 50

                        },
                        {
                            targets: 0,
                            className: 'alLeft'
                        },
                        {
                            targets: 1,
                            visible: false
                        },


                    ],
                    rowCallback: function (row, data) {
                        $(row).find('td:eq(4)').addClass('text-center');
                    },

                    //언어 변경
                    "language": {
                        emptyTable: "데이터가 없습니다.",
                        lengthMenu: "페이지당 _MENU_ 개씩 보기",
                        info: "현재 _START_ - _END_ / _TOTAL_건",
                        infoEmpty: "데이터 없음",
                        infoFiltered: "( _MAX_건의 데이터에서 필터링됨 )",
                        search: "검색:",
                        zeroRecords: "일치하는 데이터가 없습니다.",
                        loadingRecords: "로딩중...",
                        processing: "잠시만 기다려 주세요.",
                        paginate: {
                            next: "다음",
                            previous: "이전",
                        },
                    },

                }
                );
            })
        }
        $('#abcd2').on('click', 'tr', function () {
            $('#abcd').DataTable().destroy();
            var materialname = $(this).find('td:first').text();


            $.ajax({
                type: 'POST',
                url: server + '/api/materialoptiongroup1',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify({


                    materialname: materialname

                }),
                success: function (data) {
                    $('#abcd').DataTable({
                        deferLoading: [0, 10],
                        paging: true,
                        destroy: true,
                        sort: true,
                        pageLength: 10,
                        searching: true,
                        data: data,
                        responsive: true,
                        columnResize: true,
                        processing: true,
                        columns: [
                            { "data": "materialname" },
                            { "data": "materialwidth" },
                            { "data": "lotno" },
                            { "data": "manufacturedate" },
                            { "data": "expirationdate" },
                            { "data": "quantity" }

                        ],



                        columnDefs: [
                            {
                                targets: 6,
                                data: null,
                                defaultContent: '<button id="btnadd" class="edit-button" style="font-size:11px;" > 추가 </button>',
                                className: 'alCenter'
                            },

                        ],

                        language: {
                            emptyTable: "데이터가 없습니다.",
                            lengthMenu: "페이지당 _MENU_ 개씩 보기",
                            info: "현재 _START_ - _END_ / _TOTAL_건",
                            infoEmpty: "데이터 없음",
                            infoFiltered: "( _MAX_건의 데이터에서 필터링됨 )",
                            search: "검색:",
                            zeroRecords: "일치하는 데이터가 없습니다.",
                            loadingRecords: "로딩중...",
                            processing: "잠시만 기다려 주세요.",
                            paginate: {
                                next: "다음",
                                previous: "이전"
                            }
                        },


                    });
                    // 컬럼 헤더 셀을 가운데 정렬하는 CSS를 추가
                    $('.sorting').css('text-align', 'center');
                },
                error: function () {
                    alert("다시 시도해 주십시요.");
                },

                complete: setTimeout(function () {
                    const loadingScreen = document.getElementById("loading-screen");
                    loadingScreen.style.display = "none";
                }, 1500)
            });
        });
        $('#fileinfo').on('click', '#openModaledit1', function () {
            table1 = $('#fileinfo').DataTable();
            var data1 = table1.row($(this).parents('tr')).data(); // getting 
            // $('#bomnum').val(data1.bomno);
            var percent = parseFloat(data1.cost) / parseFloat(data1.itemprice) * 100
            var percent1 = percent.toFixed(2);
            $('#bomno').val(data1.bomno);
            // $('#bomid').val(data1.bomid);
            $('#modelname').val(data1.modelname);
            $('#partname').val(data1.itemname);
            $('#orderid').val(data1.orderid);
            $('#lotno').val(data1.lotno);
            $('#customercode').val(data1.rev);
            $('#twopid1').val(data1.one);
            $('#twopid2').val(data1.two);
            $('#toolmain').val(data1.working);
            $('#loss').val(data1.minus);
            $('#cost').val(data1.cost);
            $('#allcode').val(data1.itemcode);
            $('#unitprice').val(data1.itemprice);
            $('#percent').val(percent1);
            $('#save_button').val('수정')
            $('.popup').css("display", "block");
            var editor; // use a global for the submit and return data rendering in the examples

            var table;

            var str = "";
            var tdArr = new Array();// 배열 선언            
            var checkBtn = $(this);

            var tr = checkBtn.parent().parent();
            var td = tr.children();

            var bomno1 = td.eq(0).text();
            var onepid = td.eq(8).text();
            var twopid = td.eq(9).text();
            var dpid = td.eq(10).text();
            var one = td.eq(11).text();
            var two = td.eq(12).text();
            var cavity = td.eq(7).text();

            $('#onepid').val(data1.onepidding);
            $('#twopid').val(data1.twopidding);
            $('#dpid').val(data1.dpidding);
            $('#one').val(data1.one);
            $('#two').val(data1.two);
            $('#cavity').val(data1.cavity);
            $('#amodel').val(data1.modelname);
            $('#aitemname').val(data1.itemname);


            console.log(bomno1)

            //중요




            table1 = $('#fileinfo').DataTable();
            var data2 = table1.row($(this).parents('tr')).data();





        })



        function save() {
            if (confirm("자재출고 정보를 등록 하시겠습니까??") == true) {
                $.ajax({
                    type: 'POST',
                    url: server + '/api/orderlistupdate',
                    dataType: 'json',
                    contentType: 'application/json',
                    data: JSON.stringify({

                        orderid: $('#orderid').val(),
                        materialinput: $('#sumquantity').val()
                    }),
                    success: function (data) {
                    }

                })

                const $table = document.getElementById('fileinfo1'); // table 엘리먼트 취득

                console.log($table.rows.length);  // 3, 행 갯수 출력

                const trGroup = Array.from(document.querySelectorAll('#fileinfo1 tr'));

                const textGroup = trGroup.map(tr => {
                    return Array.from(tr.children).map(input => input.textContent);
                });

                for (var i = 0; i < $table.rows.length - 1; i++) {
                    var materialname = textGroup[i + 1][0];
                    var materialwidth = textGroup[i + 1][1];
                    var lotno = textGroup[i + 1][2];
                    var manufacturedate =  textGroup[i + 1][3];
                    var expirationdate =  textGroup[i + 1][4];
                 
                    var quantity = $('#sumquantity').val();
                    var contents = $('#lotno').val();
                    var sum = $('#sumquantity').val();
                    $.ajax({
                        type: 'POST',
                        url: server + '/api/outputmaterialinput',
                        dataType: 'json',
                        contentType: 'application/json',
                        data: JSON.stringify({

                            date: '2023-05-25',
                            input: '원자재출고',
                            materialname: materialname,
                            lotno: lotno,
                            manufacturedate: manufacturedate,
                            expirationdate: expirationdate,
                            materialwidth: materialwidth,
                            quantity: quantity,
                            roll: '1',
                            sum: sum,
                            contents: contents,
                            part: '출고대기',

                        }),
                        success: function (data) {
                        }

                    })


                }


                $('.popup').css("display", "none");
            }

            window.open('/html/sheet.html', '_blank');
        };
        function modalClose() {

            $('.popup').css("display", "none");
        }

        function rowMoveEvent(direction) {


            var checkbox1 = $("input[name=chkradio]:checked");

            // 체크된 행(row)의 존재 여부를 파악한다.

            if (jQuery(".chkRadio:checked").val()) {



                // 체크된 라디오 박스의 행(row)을 변수에 담는다.

                var row = jQuery(".chkRadio:checked").parent().parent();



                // 체크된 행(row)의 이동 한계점을 파악하기 위해 인덱스를 파]악한다.

                var num = row.index();



                // 전체 행의 개수를 구한다.

                var max = (jQuery(".chkRadio").length - 1);	   // index는 0부터 시작하기에 -1을 해준다.



                if (direction == "up") {
                    if (num == 0) {
                        // 체크된 행(row)의 위치가 최상단에 위치해 있을경우 더이상 올라갈 수 없게 막는다.
                        alert("첫번째로 지정되어 있습니다.\n더이상 순서를 변경할 수 없습니다.");
                        return false;
                    } else {
                        // 체크된 행(row)을 한칸 위로 올린다.
                        row.prev().before(row);
                    }
                } else if (direction == "down") {
                    if (num >= max) {
                        // 체크된 행(row)의 위치가 최하단에 위치해 있을경우 더이상 내려갈 수 없게 막는다.

                        alert("마지막으로 지정되어 있습니다.\n더이상 순서를 변경할 수 없습니다.");

                        return false;

                    } else {



                        // 체크된 행(row)을 한칸 아래로 내린다.

                        row.next().after(row);

                    }

                }



            } else {

                alert("선택된 행이 존재하지 않습니다\n위치를 이동시킬 행을 하나 선택해 주세요.");

            }

        }
    </script>
    <script>
        function sumsum() {
            var one = parseInt($('#one').val())
            var two = parseInt($('#two').val())
            var cavity = parseInt($('#cavity').val())
            var onepid = parseInt($('#onepid').val())
            var twopid = parseInt($('#twopid').val())
            var dpid = parseInt($('#dpid').val())
            var soyo = 1 / (one + cavity) * (onepid + dpid + two) * 0.001 * 1.03
            var data = soyo.toFixed(4);



            console.log(data)
        }
    </script>
    <script>
        function bomsave() {
            if ($('#save_button').val() == "신규등록") {
                if ($('#toolmain').val() === "" || $('#allcode').val() === "" || $('#customercode').val() === "" || $('#customer').val() === "" || $('#partname').val() === "" || $('#modelname').val() === "" || $('#cavity').val() === "" || $('#bomno').val() === "" || $('#onepid').val() === "" || $('#twopid').val() === "" || $('#loss').val() === "" || $('#twopid1').val() === "" || $('#twopid2').val() === "") {

                    alert('누락된 정보가 있습니다. 확인바랍니다.');
                } else {
                    if (confirm("BOM 정보를 저장 하시겠습니까??") == true) {

                        const $table = document.getElementById('abcd1'); // table 엘리먼트 취득

                        console.log($table.rows.length);  // 3, 행 갯수 출력

                        const trGroup = Array.from(document.querySelectorAll('#abcd1 tr'));

                        const textGroup = trGroup.map(tr => {
                            return Array.from(tr.children).map(input => input.textContent);
                        });
                        var today = new Date();
                        var now = new Date();	// 현재 날짜 및 시간
                        var year = today.getFullYear();
                        var month = ('0' + (today.getMonth() + 1)).slice(-2);
                        var day = ('0' + today.getDate()).slice(-2);
                        var hours = now.getHours();	// 시간
                        var minutes = now.getMinutes();	// 분
                        var seconds = now.getSeconds();	// 초

                        var bomno = textGroup[1][1];


                        var today = new Date();
                        var year = today.getFullYear();
                        var month = ('0' + (today.getMonth() + 1)).slice(-2);
                        var day = ('0' + today.getDate()).slice(-2);


                        var modelname = $('#modelname').val();
                        var itemname = $('#partname').val();
                        var bomno = $('#bomno').val();
                        var itemcode = $('#allcode').val();
                        var customer = $('#customer').val();
                        var working = $('#tool').val();
                        var cost = $('#cost').val();
                        var cavity = $('#cavity').val();
                        var onepidding = $('#onepid').val();
                        var twopidding = $('#twopid').val();
                        var one = $('#twopid1').val();
                        var two = $('#twopid2').val();
                        var rev = $('#customercode').val();
                        var minus = $('#loss').val();
                        var part = $('#production').val();
                        var itemprice = '0'

                        $.ajax({
                            type: 'POST',
                            url: server + '/api/iteminfoinsertdata',
                            dataType: 'json',
                            contentType: 'application/json',
                            data: JSON.stringify({

                                "modelname": modelname,
                                "itemname": itemname,
                                "itemcode": itemcode,
                                "bomno": bomno,
                                "customer": customer,
                                "working": working,
                                "cost": cost,
                                "cavity": cavity,
                                "onepidding": onepidding,
                                "twopidding": twopidding,
                                "one": one,
                                "two": two,
                                "rev": rev,
                                "insertdate": year + '-' + month + '-' + day,
                                "minus": minus,
                                "part": part,
                                "itemprice": itemprice






                            }),
                            success: function (result) {
                                console.log(result)
                            }
                        })

                        for (var i = 0; i < $table.rows.length - 2; i++) {



                            var model = $('#modelname').val();
                            var itemname = $('#partname').val();
                            // var bomno = textGroup[i + 1][1];
                            var materialname = textGroup[i + 1][1];
                            var swidth = textGroup[i + 1][2];
                            var mwidth = textGroup[i + 1][3];
                            var dpid = textGroup[i + 1][4];
                            var cost = textGroup[i + 1][5];


                            $.ajax({
                                // bomno,,,,,,,
                                type: 'POST',
                                url: server + '/api/updatebom',
                                dataType: 'json',
                                contentType: 'application/json',
                                data: JSON.stringify({

                                    "bomno": bomno,
                                    "model": model,
                                    "itemname": itemname,
                                    "materialname": materialname,
                                    "swidth": swidth,
                                    "mwidth": mwidth,
                                    "savedate": year + '-' + month + '-' + day,
                                    "status": "true",
                                    "dpid": dpid,
                                    "cost": cost

                                }),
                                success: function (result) {
                                    console.log(result)
                                }
                            })

                        }

                        alert("저장이 완료 되었습니다.");

                        $('#pop1').css("display", "none");


                        $.ajax({
                            url: server + '/api/iteminfobom',
                            method: 'post',
                            dataType: 'json',
                            success: function (data) {
                                $('#fileinfo').DataTable({
                                    deferLoading: [0, 10],
                                    paging: true,
                                    destroy: true,
                                    sort: true,
                                    pageLength: 10,
                                    searching: true,
                                    data: data,
                                    responsive: true,
                                    columnResize: true,

                                    processing: true,
                                    columns: [




                                        { "data": "id" },
                                        { "data": "bomno" },
                                        { "data": "part" },
                                        { "data": "modelname" },
                                        { "data": "itemname" },
                                        { "data": "customer" },
                                        { "data": "itemcode" },
                                        { "data": "working" },
                                        { "data": "cavity" },
                                        { "data": "onepidding" },
                                        { "data": "twopidding" },
                                        { "data": "one" },
                                        { "data": "two" },
                                        { "data": "rev" },
                                        { "data": "insertdate" },
                                        { "data": "updatedate" },
                                        { "data": "cost" },
                                        { "data": "minus" },
                                        { "data": "itemprice" }


                                    ],

                                    // dom: 'flrtBip',

                                    // buttons: [
                                    //     'copy', 'csv', 'excel', 'pdf', 'print'
                                    // ],

                                    columnDefs: [
                                        {
                                            targets: 0, visible: false, searchable: false
                                        },


                                        {
                                            targets: 7, visible: false, searchable: false
                                        },
                                        {
                                            targets: 8, visible: false, searchable: false
                                        },
                                        {
                                            targets: 9, visible: false, searchable: false
                                        },
                                        {
                                            targets: 10, visible: false, searchable: false
                                        },
                                        {
                                            targets: 11, visible: false, searchable: false
                                        },
                                        {
                                            targets: 12, visible: false, searchable: false
                                        },
                                        {
                                            targets: 13, visible: false, searchable: false
                                        },
                                        {
                                            targets: 16, visible: false, searchable: false
                                        },
                                        {
                                            targets: 17, visible: false, searchable: false
                                        },
                                        {
                                            targets: 18, visible: false, searchable: false
                                        },
                                        {
                                            targets: 19,
                                            data: null,
                                            defaultContent: '<button id="openModaledit1" class="btn btn-primary" > 상세 </button>',
                                            width: 50
                                        },

                                        {
                                            targets: 20,
                                            data: null,
                                            defaultContent: '<button id="openModaldelete" class="btn btn-primary" style="background-color:red; font-size:11px;"  > 삭제 </button>',

                                            width: 50
                                        }

                                    ],

                                    language: {
                                        emptyTable: "데이터가 없습니다.",
                                        lengthMenu: "페이지당 _MENU_ 개씩 보기",
                                        info: "현재 _START_ - _END_ / _TOTAL_건",
                                        infoEmpty: "데이터 없음",
                                        infoFiltered: "( _MAX_건의 데이터에서 필터링됨 )",
                                        search: "검색:",
                                        zeroRecords: "일치하는 데이터가 없습니다.",
                                        loadingRecords: "로딩중...",
                                        processing: "잠시만 기다려 주세요.",
                                        paginate: {
                                            next: "다음",
                                            previous: "이전"
                                        }
                                    },


                                });
                                // 컬럼 헤더 셀을 가운데 정렬하는 CSS를 추가
                                $('.sorting').css('text-align', 'center');
                            },
                            error: function () {
                                alert("다시 시도해 주십시요.");
                            },

                            complete: setTimeout(function () {
                                const loadingScreen = document.getElementById("loading-screen");
                                loadingScreen.style.display = "none";
                            }, 1500)
                        });


                    } else {
                        return false;
                    }


                }
            }
            if ($('#save_button').val() == "수정") {

                const $table = document.getElementById('abcd1'); // table 엘리먼트 취득

                console.log($table.rows.length);  // 3, 행 갯수 출력

                const trGroup = Array.from(document.querySelectorAll('#abcd1 tr'));

                const textGroup = trGroup.map(tr => {
                    return Array.from(tr.children).map(input => input.textContent);
                });
                var today = new Date();
                var now = new Date();	// 현재 날짜 및 시간
                var year = today.getFullYear();
                var month = ('0' + (today.getMonth() + 1)).slice(-2);
                var day = ('0' + today.getDate()).slice(-2);
                var hours = now.getHours();	// 시간
                var minutes = now.getMinutes();	// 분
                var seconds = now.getSeconds();	// 초

                var bomno = textGroup[1][1];


                var today = new Date();
                var year = today.getFullYear();
                var month = ('0' + (today.getMonth() + 1)).slice(-2);
                var day = ('0' + today.getDate()).slice(-2);


                var modelname = $('#modelname').val();
                var itemname = $('#partname').val();
                var bomno = $('#bomno').val();
                var itemcode = $('#allcode').val();
                var customer = $('#customer').val();
                var working = $('#tool').val();
                var cost = $('#cost').val();
                var cavity = $('#cavity').val();
                var onepidding = $('#onepid').val();
                var twopidding = $('#twopid').val();
                var one = $('#twopid1').val();
                var two = $('#twopid2').val();
                var rev = $('#customercode').val();
                var minus = $('#loss').val();
                var part = $('#production').val();
                var itemprice = $('#unitprice').val();

                if (confirm("BOM 정보를 수정 하시겠습니까??") == true) {

                    $.ajax({
                        // bomno,,,,,,,
                        type: 'POST',
                        url: server + '/api/falsebom',
                        dataType: 'json',
                        contentType: 'application/json',
                        data: JSON.stringify({

                            "bomno": $('#bomno').val(),
                            "status": 'false',


                        }),
                        success: function (result) {
                            console.log(result)
                        }
                    })


                    table1 = $('#fileinfo').DataTable();
                    var data2 = table1.row($(this).parents('tr')).data();

                    $.ajax({
                        type: 'POST',
                        url: server + '/api/updatebominput',
                        dataType: 'json',
                        contentType: 'application/json',
                        data: JSON.stringify({

                            "modelname": modelname,
                            "itemname": itemname,
                            "itemcode": itemcode,
                            "bomno": bomno,
                            "customer": customer,
                            "working": working,
                            "cost": cost,
                            "cavity": cavity,
                            "onepidding": onepidding,
                            "twopidding": twopidding,
                            "one": one,
                            "two": two,
                            "rev": rev,
                            "updatedate": year + '-' + month + '-' + day,
                            "minus": minus,
                            "part": part,
                            "itemprice": itemprice






                        }),
                        success: function (result) {
                            console.log(result)
                        }
                    })
                    for (var i = 0; i < $table.rows.length - 2; i++) {



                        var model = $('#modelname').val();
                        var itemname = $('#partname').val();
                        // var bomno = textGroup[i + 1][1];
                        var materialname = textGroup[i + 1][1];
                        var swidth = textGroup[i + 1][2];
                        var mwidth = textGroup[i + 1][3];
                        var dpid = textGroup[i + 1][4];
                        var cost = textGroup[i + 1][5];


                        $.ajax({
                            // bomno,,,,,,,
                            type: 'POST',
                            url: server + '/api/updatebom',
                            dataType: 'json',
                            contentType: 'application/json',
                            data: JSON.stringify({

                                "bomno": bomno,
                                "model": model,
                                "itemname": itemname,
                                "materialname": materialname,
                                "swidth": swidth,
                                "mwidth": mwidth,
                                "savedate": year + '-' + month + '-' + day,
                                "status": "true",
                                "dpid": dpid,
                                "cost": cost

                            }),
                            success: function (result) {
                                console.log(result)
                            }
                        })

                    }
                    alert("수정이 완료 되었습니다.");
                }




            }


        }
    </script>
    <script>
        $('#abcd').on('click', '#btnadd', function () {

            if ($('#cavity').val() === "" || $('#bomno').val() === "" || $('#onepid').val() === "" || $('#twopid').val() === "" || $('#loss').val() === "" || $('#twopid1').val() === "" || $('#twopid2').val() === "") {
                alert('제품 상세정보를 입력바랍니다.');
            } else {
                table1 = $('#abcd').DataTable();
                var data1 = table1.row($(this).parents('tr')).data();

                $('#sqmprice-save').val(data1.sqmprice);
                $('#materialname-save').val(data1.materialname);
                $('#materialwidth-save').val('');
                $("#edit").modal();

                $('#materialwidth-save').focus();


            }




        });
    </script>
    <script>
        function openNewWindow() {

        }
    </script>


</html>