<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <script src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="../css/mesmain.css">
    <link rel="stylesheet" href="../css/mesmaterialinput.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../js/sorttable.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />


</head>

<style>
    legend {
        font-size: 1.2em;
        font-weight: bold;
        color: #333;
    }

    label {
        display: block;
        margin-top: 10px;
        color: #333;
    }

    input {
        width: 50%;
        padding: 8px;
        margin-top: 5px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    label,
    select,
    input,
    button {
        display: inline-block;
        margin-bottom: 10px;
    }

    #rev-select,
    #price-select,
    #date-select,
    #customer-select {
        /* position: relative;
        display: block; */
        margin-left: 20px;
        width: 250px;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
</style>
<div id="overlay"></div>

<body>
    <div class="main_header">
        <img src="/img/테크온로고.PNG" style="width: 100px;" class="loadingImage">
        <a style="margin-left: 20px;">자재 입고 등록</a>
    </div>
    <div id="loadingOverlay">
        <img src="/img/테크온로고.PNG" alt="로딩 이미지" class="loadingImage">

    </div>

    <fieldset style="height: auto;">
        <legend>검색조건</legend>
        <label for="datepicker">일자</label>
        <input type="date" id="date-select">


        <label for="customer">거래처</label>
        <input type="text" id="customer-select" style="cursor: pointer; background-color: whitesmoke;" readonly
            ondblclick="handleDoubleClick()">

    </fieldset>
    <div id="overlay"></div>
    <table class="styled-table" id="datatable">
        <thead id="tableHead">
            <tr>
                <th style="text-align:center;">품목코드</th>
                <th style="text-align:center;">품목명</th>
                <th style="text-align:center;">자재폭</th>
                <th style="text-align:center;">길이</th>
                <th style="text-align:center;">수량</th>
                <th style="text-align:center;">롤단가</th>
                <th style="text-align:center;">공급가액</th>
                <th style="text-align:center;">부가세</th>
                <th style="text-align:center;">적요</th>
                <th style="text-align:center;">발주구분</th>
                <th style="text-align:center;">BOMNO</th>
            </tr>
        </thead>
        <tbody id="Datatbody">

        </tbody>

    </table>
    <div id="editModal">
        <div class="mainheader">
            <h1>자재정보</h1>
            <!-- <button class="saveButton" onclick="opentool()">TOOL</button> -->

            <span class="close" onclick="closeModal()">&times;</span>
        </div>
        <table class="styled-table" id="datatable">

            <tr>
                <td style="width:30px;">자재</td>
                <td colspan="3">ESL-025(ZC)</td>
            </tr>
            <tr>
                <td>폭</td>
                <td></td>
                <td style="width:30px;">길이</td>
                <td></td>
            </tr>
            <tr>
                <td>LOT NO.</td>
                <td></td>
                <td rowspan="3" colspan="2">
                    <!-- Example QR code: Replace the URL with your QR code data -->
                    <img style="width: 100px; height: 100px; float: right;"
                        src="https://api.qrserver.com/v1/create-qr-code/?data=example" alt="QR Code">
                </td>
            </tr>
            <tr>
                <td>제조일자</td>
                <td></td>
            </tr>
            <tr>
                <td>만료일자</td>
                <td></td>
            </tr>
            <tr>
                <td rowspan="3" colspan="2"></td>
            </tr>
            <button onclick="printTable()">Print Table</button>

        </table>
    </div>


    <div id="customernamesearch">
        <div class="mainheader">
            <h1>고객사 검색</h1>
            <span class="close" onclick="customercloseModal()">&times;</span>
            <input type="text" id="numericPart" style="width: 20px; visibility: hidden;">
        </div>
        <input type="text" id="customernameinput" placeholder="고객사명을 입력 후 Enter를 누르세요"
            style="font-size: 16px; font-weight: bold;" onkeydown="handleEnterKey1(event)" autocomplete="off">

        <div style="height:600px; max-height: 600px; overflow-y: auto;">
            <table class="styled-table" id="datatable">
                <thead>
                    <tr>
                        <th style="width: auto; text-align: center;" onclick="sortTable(0)">고객사명</th>

                    </tr>
                </thead>
                <tbody id="searchingcustomernameinfobody">

                </tbody>
            </table>
        </div>

    </div>









    <script>
        var server = '';

        if (window.location.hostname == 'localhost') {
            server = 'http://localhost:8080';
        } else {
            server = 'http://techonmes.co.kr';
        }
        $(document).ready(function () {
            settingDate()
            showLoading()
            // load()
            $('#Datatbody').on('dblclick', 'tr', function () {
                openEditModal(this); // Pass the clicked row to the function
            });

        });
        function openEditModal(row) {
            var rowData = $(row).find('td').map(function () {
                return $(this).text();
            }).get();
            // $('#editForm').html(
            //     '작성자: <input type="text" id="editAuthor" value="' + rowData[30] + '"><br>' +
            //     '날짜: <input type="text" id="editDate" value="' + rowData[31] + '"><br>' +
            //     '<button onclick="saveChanges()">Save Changes</button>'
            // );

            $('#editModal').fadeIn()
        }
        function openEditModal(row) {
            var rowData = $(row).find('td').map(function () {
                return $(this).text();
            }).get();

            // Display overlay
            $('#overlay').fadeIn();

            // // Populate and display edit modal
            // $('#editForm').html(
            //     '작성자: <input type="text" id="editAuthor" value="' + rowData[30] + '"><br>' +
            //     '날짜: <input type="text" id="editDate" value="' + rowData[31] + '"><br>' +
            //     '<button onclick="saveChanges()">Save Changes</button>'
            // );

            $('#editModal').fadeIn();
        }

        // Function to close edit modal and overlay
        function closeModal() {
            $('#overlay').fadeOut();
            $('#editModal').fadeOut();
        }

        function showLoading() {
            var loadingOverlay = document.getElementById("loadingOverlay");
            loadingOverlay.style.display = "flex";
            setTimeout(function () {
                loadingOverlay.style.display = "none";
            }, 1000);
        }



        function Datasave() {
            if (confirm("샘플 발주 정보를 등록 하시겠습니까??") == true) {

                var insertdate = new Date().toISOString().slice(0, 10);

                var toolcode = $('#toolcode').val();
                var madedate = $('#datepicker1').val();
                var bomno = $('#bomno').val();
                var customer = $('#customer').val();
                var modelname = $('#modelname').val();
                var itemname = $('#itemname').val();
                var char = $('#char').val();
                var part = $('#part').val();
                var inputprice = $('#inputprice').val();
                var outputprice = $('#outputprice').val();

                $.ajax({
                    type: 'POST',
                    url: server + '/api/insertpinacle',
                    dataType: 'json',
                    contentType: 'application/json',
                    data: JSON.stringify({

                        "insertdate": insertdate,
                        "toolcode": toolcode,
                        "madedate": madedate,
                        "bomno": bomno,
                        "customer": customer,
                        "modelname": modelname,
                        "itemname": itemname,
                        "char": char,
                        "part": part,
                        "inputprice": inputprice,
                        "outputprice": outputprice




                    }),
                    success: function (result) {


                    }
                })

                $('#popupOverlay').fadeOut();
                setTimeout(function () {
                    load()
                }, 50); // 3초 후에 알림을 사라지게 설정
                var notification = $('<div class="notification"><img src="/img/테크온로고.PNG" alt="Notification Icon"><span class="notification-message" style="color:navy;">피나클 정보 등록 완료</span></div>');
                $('body').append(notification);
                setTimeout(function () {
                    notification.fadeOut(function () {
                        $(this).remove();
                    });
                }, 3000);
            } else {
                return false;
            }
        }

        function Dataedit() {
            if (confirm("고객사 정보를 수정 하시겠습니까??") == true) {

                $.ajax({
                    type: 'POST',
                    url: server + '/api/accountupdatedata',
                    dataType: 'json',
                    contentType: 'application/json',
                    data: JSON.stringify({

                        id: $('#id-edit').val(),
                        accountcode: $('#accountcode-edit').val(),
                        accountname: $('#accountname-edit').val(),
                        representativename: $('#representativename-edit').val(),
                        phone: $('#phone-edit').val(),
                        adress: $('#adress-edit').val(),
                        number: $('#number-edit').val(),
                        mobile: $('#mobile-edit').val(),
                        fax: $('#fax-edit').val(),
                        email: $('#email-edit').val(),
                        etc: $('#etc-edit').val()




                    }),
                    success: function (result) {
                        console.log(result)
                    }
                })

                $('#popupOverlay1').fadeOut();
                setTimeout(function () {
                    load()
                }, 50); // 3초 후에 알림을 사라지게 설정
                var notification = $('<div class="notification"><img src="/img/테크온로고.PNG" alt="Notification Icon"><span class="notification-message" style="color:navy;">거래처 수정 완료</span></div>');
                $('body').append(notification);
                setTimeout(function () {
                    notification.fadeOut(function () {
                        $(this).remove();
                    });
                }, 3000);
            } else {
                return false;
            }
        }

        function load() {
            $('#Datatbody').empty()
            $.ajax({
                type: 'POST',
                url: server + '/api/selectmaterialinputinformation',
                dataType: 'json',
                success: function (data) {
                    var tableFoot = $('#dataCount');
                    if (data.length === 0) {
                        tableFoot.text('총 데이터 개수: 0');
                    } else {
                        var sequenceNumber = 1;
                        for (var i = 0; i < data.length; i++) {
                            $('#Datatbody').append(
                                '<tr>' +
                                '<td>' + (data[i].input || '') + '</td>' +
                                '<td>' + (data[i].date || '') + '</td>' +
                                '<td>' + (data[i].materialname || '') + '</td>' +
                                '<td>' + (data[i].classification || '') + '</td>' +
                                '<td>' + (data[i].customer || '') + '</td>' +
                                '<td>' + (data[i].codenumber || '') + '</td>' +
                                '<td>' + (data[i].lotno || '') + '</td>' +
                                '<td>' + (data[i].manufacturedate || '') + '</td>' +
                                '<td>' + (data[i].expirationdate || '') + '</td>' +
                                '<td style="text-align:right;">' + (data[i].materialwidth || '') + '</td>' +
                                '<td style="text-align:right;">' + (data[i].price || '0') + '</td>' +
                                '<td style="text-align:right;">' + (data[i].roll || '0') + '</td>' +
                                '<td style="text-align:right;">' + (data[i].quantity || '0') + '</td>' +
                                '<td style="text-align:right;">' + (data[i].sum || '0') + '</td>' +
                                '<td>' + (data[i].house || '0') + '</td>' +
                                '<td>' + (data[i].part || '0') + '</td>' +


                                '<td id="data-id">' + (data[i].id || '') + '</td>' +
                                '</tr>'
                            )
                            $("td#data-id").hide();
                        }


                    }
                }
            });
        }

        function printTable() {
            window.print();
        }

        function settingDate() {
            const date = new Date();

            var day = date.getDate();
            var month = date.getMonth() + 1;
            var year = date.getFullYear();


            if (month === 1 || month === 2 || month === 3 || month === 4 || month === 5 || month === 6 || month === 7 || month === 8 || month === 9) {
                month = '0' + month
            }

            if (day === 1 || day === 2 || day === 3 || day === 4 || day === 5 || day === 6 || day === 7 || day === 8 || day === 9) {
                day = '0' + day
            }


            // This arrangement can be altered based on how we want the date's format to appear.
            let currentDate = `${year}-${month}-${day}`;


            $('#date-select').val(currentDate);

        }
        function handleDoubleClick() {
            $("#overlay").fadeIn()
            document.getElementById('customernamesearch').style.display = 'block';
            $('#searchingcustomernameinfobody').empty()
            $("#customernameinput").val('')
            $("#customernameinput").focus()


        }
        function customercloseModal() {
            $("#overlay").fadeOut()

            $('#customernamesearch').fadeOut();
        }
        function handleEnterKey1(event) {
            if (event.key === 'Enter') {
                var inputValue = document.getElementById("customernameinput").value.trim();

                document.getElementById("customernameinput").value = "";
                $('#searchingcustomernameinfobody').empty();
                $.ajax({
                    type: 'POST',
                    url: server + '/api/searchingcustomer',
                    dataType: 'json',
                    contentType: 'application/json',
                    data: JSON.stringify({

                        supplier: inputValue

                    }),
                    success: function (result) {
                        console.log(result)
                        for (var i = 0; i < result.length; i++) {


                            $('#searchingcustomernameinfobody').append(
                                '<tr style="cursor:pointer;" onclick="insertmaterialdata1(this)">' +
                                '<td>' + result[i].supplier + '</td>' +


                                '</tr>'
                            );


                        }
                    }
                });
            }
        }
        function insertmaterialdata1(row) {
            document.getElementById('customernamesearch').style.display = 'none';
            var rowData = $(row).find('td').map(function () {
                return $(this).text();
            }).get();
            $('#customer-select').val(rowData[0])
            $('#overlay').fadeOut()
        }
    </script>


</body>

</html>