<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Material Information</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th,
        td {
            border: 1px solid black;
            padding: 8px;
            text-align: center;
        }

        th {
            background-color: #4CAF50;
            color: white;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
</head>

<body>

    <h2>Material Information</h2>

    <table>
        <tr>
            <th rowspan="3">검사일자</th>
            <th rowspan="3">검사자</th>
            <th rowspan="3">자재<br>구분</th>
            <th rowspan="3">자재<br>Type</th>
            <th rowspan="3">제조사</th>
            <th rowspan="3">공급처</th>
            <th rowspan="3">자재명</th>
            <th rowspan="3">LOT NO</th>
            <th rowspan="3">입고<br>수량<br>(Roll)</th>
            <th rowspan="3">검사<br>수량<br>(Roll)</th>
            <th colspan="6">자재두께 (㎛)</th>
            <th colspan="12">점착력 (gf/25mm)</th>
            <th colspan="12">표면저항 (Ω)</th>

        </tr>
        <tr>
            <th colspan="6">DATA</th>
            <th colspan="6">in(롤 내측)</th>
            <th colspan="6">OUT(롤 외측)</th>
            <th colspan="6">in(롤 내측)</th>
            <th colspan="6">OUT(롤 외측)</th>

        </tr>
        <tr>
            <th>SPEC</th>
            <th>#1</th>
            <th>#2</th>
            <th>#3</th>
            <th>#4</th>
            <th>#5</th>
            <th>SPEC</th>
            <th>#1</th>
            <th>#2</th>
            <th>#3</th>
            <th>#4</th>
            <th>#5</th>
            <th>SPEC</th>
            <th>#1</th>
            <th>#2</th>
            <th>#3</th>
            <th>#4</th>
            <th>#5</th>
            <th>SPEC</th>
            <th>#1</th>
            <th>#2</th>
            <th>#3</th>
            <th>#4</th>
            <th>#5</th>
            <th>SPEC</th>
            <th>#1</th>
            <th>#2</th>
            <th>#3</th>
            <th>#4</th>
            <th>#5</th>
        </tr>
        <!-- Add more rows as needed -->
    </table>

</body>

</html>