<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.14.3/xlsx.full.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
        integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
        crossorigin="anonymous"></script>


    <title>원자재정보</title>
    <link rel="stylesheet" href="/css/materialinfo.css">
    <script src="/config.json" type="text/javascript"></script>
</head>

<body>
    <!-- <input type="file" id="fileUpload" /> -->
    <!-- 추가 -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel" style="font-size: 17px; font-weight: bold;">
                        원자재추가</h1>

                </div>

                <div class="modal-body">

                    <form>

                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">자재명</label>
                            <select class="materialgroup" style="width: 200px;" id="itemname-save" class="form-control">

                            </select>

                        </div>
                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">자재폭(M)</label>
                            <!-- <datalist >

                            </select> -->
                            <select class="materialwidthgroup" style="width: 200px;" id="materialwidth-save"
                                class="form-control">

                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">자재채번</label>
                            <input type="text" class="form-control" id="codenumber-save">
                        </div>
                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">분류</label>
                            <input type="text" class="form-control" id="classfication-save">
                        </div>

                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">가로폭(M)</label>
                            <input type="text" class="form-control" id="fullwidth-save">
                        </div>
                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">세로폭(M)</label>
                            <input type="text" class="form-control" id="length-save">
                        </div>
                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">거래처</label>
                            <input type="text" class="form-control" id="koreancustomer-save">
                        </div>
                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">SQM단가</label>
                            <input type="text" class="form-control" id="sqmprice-save">
                        </div>
                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">롤단가</label>
                            <input type="text" class="form-control" id="rollprice-save">
                        </div>
                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">전폭구분</label>
                            <input type="text" class="form-control" id="widthclassfication-save">
                        </div>
                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">유수명</label>
                            <input type="text" class="form-control" id="day-save">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                    <button type="button" class="btn btn-primary" onclick="save_materialinfo()">저장</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 수정 -->
    <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel" style="font-size: 17px; font-weight: bold;">
                        원자재수정</h1>
                    <a id="edit-id" style="color: white;">202</a>
                </div>

                <div class="modal-body">

                    <form>
                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">자재코드</label>
                            <input type="text" class="form-control" id="codenumber-edit">
                        </div>
                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">자재명</label>
                            <input type="text" class="form-control" id="itemname-edit">
                        </div>
                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">분류</label>
                            <input type="text" class="form-control" id="classfication-edit">
                        </div>
                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">자재폭</label>
                            <input type="text" class="form-control" id="materialwidth-edit">
                        </div>
                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">가로폭(M)</label>
                            <input type="text" class="form-control" id="fullwidth-edit">
                        </div>
                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">세로폭(M)</label>
                            <input type="text" class="form-control" id="length-edit">
                        </div>
                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">거래처</label>
                            <input type="text" class="form-control" id="koreancustomer-edit">
                        </div>
                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">SQM단가</label>
                            <input type="text" class="form-control" id="sqmprice-edit">
                        </div>
                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">롤단가</label>
                            <input type="text" class="form-control" id="rollprice-edit">
                        </div>
                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">전폭구분</label>
                            <input type="text" class="form-control" id="widthclassfication-edit">
                        </div>
                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">유수명</label>
                            <input type="text" class="form-control" id="day-edit">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                    <button type="button" class="btn btn-primary" onclick="edit_materialinfo()">수정</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 상단 바 정보 -->
    <div class="materialinfo-header">
        <div class="title">
            <h3 class="title-htag"> 원자재정보
        </div>

    </div>


    <div class="open_search_div">
        <div>
            <p>원자재명</p>
            <input type="text" id="myInput" onkeyup="myFunction()" placeholder="원자재명을 입력해 주세요.">
        </div>
        <div style="float: right ;text-align: right; padding-top: 7px; margin-right: 4px;">
            <input type="button" value="신규추가" class="sales-bottom-insert" onclick="saveclear()" data-bs-toggle="modal"
                data-bs-target="#exampleModal" data-bs-whatever="@mdo" style="cursor: pointer;">
            <input type="button" value="선택삭제" onclick="removeCheck()" class="sales-bottom-delete"
                style="cursor: pointer;">



        </div>
    </div>
    <div class="materialinfo-body">
        <table id="tableData" class="tablebody">
            <thead>
                <tr>
                    <th>
                        <div>
                            <input id="select-all" type="checkbox" name="chk_header">
                        </div>
                    </th>

                    <th style="text-align: center;">자재코드</th>
                    <th style="text-align: center;">자재명</th>
                    <th style="text-align: center;">분류</th>
                    <th style="text-align: center;">자재폭</th>
                    <th style="text-align: center;">가로폭(M)</th>
                    <th style="text-align: center;">세로폭(M)</th>
                    <th style="text-align: center;">거래처</th>
                    <th style="text-align: center;">SQM단가</th>
                    <th style="text-align: center;">롤단가</th>
                    <th style="text-align: center;">전폭구분</th>
                    <th style="text-align: center;">유수명</th>
                    <th style="text-align: center;">수입검사여부</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="materialinfo">

            </tbody>
        </table>

    </div>
    <div class="col-md-12 text-center">
        <ul class="pagination pagination-lg pager" id="myPager"></ul>
    </div>
    <div class="materialinfo-table">

    </div>
    <div class="materialinfo-bottom">

    </div>
    <!-- <div class="loading_pop">
        <img src="/img/테크온로고.PNG"><br>
        <h3>잠시만 기다려주세요...</h3>
    </div> -->
</body>
<script type="text/javascript">
    // function allCheck() {
    $('#select-all').click(function (event) {
        console.log(this.checked)
        if (this.checked) {
            // Iterate each checkbox
            $(':checkbox').each(function () {
                this.checked = true;
            });
        } else {
            $(':checkbox').each(function () {
                this.checked = false;
            });
        }
    });
            // }



</script>
<script>
    var server = '';

    $.getJSON("config.json", function (data) {
        console.log(data[0].Ipconfig)

        server = data[0].Ipconfig;
        if (server == 'techonmes.cafe24app.com') {
            server = '';
        } else {
            server = 'http://techonmes.co.kr';
        }


    }).fail(function (e) {
        console.log("An error has occurred.");
        console.log(e)
    });

    //시간 지나고 작동코드

    function loading() {
        setTimeout(() => $('.loading_pop').css("display", "block"), 1500);
    }
    //*************************엑셀 export(S)
    function s2ab(s) {
        var buf = new ArrayBuffer(s.length); //convert s to arrayBuffer
        var view = new Uint8Array(buf);  //create uint8array as viewer
        for (var i = 0; i < s.length; i++) view[i] = s.charCodeAt(i) & 0xFF; //convert to octet
        return buf;
    }
    function exportExcel() {
        // step 1. workbook 생성
        var wb = XLSX.utils.book_new();

        // step 2. 시트 만들기 
        var newWorksheet = excelHandler.getWorksheet();

        // step 3. workbook에 새로만든 워크시트에 이름을 주고 붙인다.  
        XLSX.utils.book_append_sheet(wb, newWorksheet, excelHandler.getSheetName());

        // step 4. 엑셀 파일 만들기 
        var wbout = XLSX.write(wb, { bookType: 'xlsx', type: 'binary' });

        // step 5. 엑셀 파일 내보내기 
        saveAs(new Blob([s2ab(wbout)], { type: "application/octet-stream" }), excelHandler.getExcelFileName());
    }
    var excelHandler = {
        getExcelFileName: function () {
            return '부서정보.xlsx';
        },
        getSheetName: function () {
            return 'Table Test Sheet';
        },
        getExcelData: function () {
            return document.getElementById('tableData');
        },
        getWorksheet: function () {
            return XLSX.utils.table_to_sheet(this.getExcelData());
        }
    }
    $("#excelFileExport").click(function () {
        exportExcel();
    });
    //*************************엑셀 export(F)   
    ///******************* 필터링************************
    function myFunction() {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("tableData");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[2];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

    (function($){
        $.fn.pageMe = function(opts){
        var $this = this,
            defaults = {
                perPage: 7,
                showPrevNext: false,
                hidePageNumbers: false
            },
            settings = $.extend(defaults, opts);
        
        var listElement = $this;
        var perPage = settings.perPage; 
        console.log('no()', listElement.children);
        console.log('()', listElement);
        var children = listElement.children();
        var pager = $('.pager');
        
        if (typeof settings.childSelector!="undefined") {
            children = listElement.find(settings.childSelector);
        }
        
        if (typeof settings.pagerSelector!="undefined") {
            pager = $(settings.pagerSelector);
        }
        console.log('chinl',children)
        var numItems = children.length;
        var numPages = Math.ceil(numItems/perPage);

        pager.data("curr",0);
        
        if (settings.showPrevNext){
            $('<li><a href="#" class="prev_link">«</a></li>').appendTo(pager);
        }
        
        var curr = 0;
        while(numPages > curr && (settings.hidePageNumbers==false)){
            $('<li><a href="#" class="page_link">'+(curr+1)+'</a></li>').appendTo(pager);
            curr++;
        }
        
        if (settings.showPrevNext){
            $('<li><a href="#" class="next_link">»</a></li>').appendTo(pager);
        }
        
        pager.find('.page_link:first').addClass('active');
        pager.find('.prev_link').hide();
        if (numPages<=1) {
            pager.find('.next_link').hide();
        }
        pager.children().eq(1).addClass("active");
        
        children.hide();
        children.slice(0, perPage).show();
        
        pager.find('li .page_link').click(function(){
            var clickedPage = $(this).html().valueOf()-1;
            goTo(clickedPage,perPage);
            return false;
        });
        pager.find('li .prev_link').click(function(){
            previous();
            return false;
        });
        pager.find('li .next_link').click(function(){
            next();
            return false;
        });
        
        function previous(){
            var goToPage = parseInt(pager.data("curr")) - 1;
            goTo(goToPage);
        }
        
        function next(){
            goToPage = parseInt(pager.data("curr")) + 1;
            goTo(goToPage);
        }
        
        function goTo(page){
            var startAt = page * perPage,
                endOn = startAt + perPage;
            
            children.css('display','none').slice(startAt, endOn).show();
            
            if (page>=1) {
                pager.find('.prev_link').show();
            }
            else {
                pager.find('.prev_link').hide();
            }
            
            if (page<(numPages-1)) {
                pager.find('.next_link').show();
            }
            else {
                pager.find('.next_link').hide();
            }
            
            pager.data("curr",page);
            pager.children().removeClass("active");
            pager.children().eq(page+1).addClass("active");
        
        }
    };
    })(jQuery);

    $(window).ready(function () {
        $.ajax({
            type: 'POST',
            url: 'http://techonmes.co.kr/api/baseinfolow',

            dataType: 'json',
            ///datatype text 인이유 : string
            success: function (data) {


                for (var i = 0; i < data.length; i++) {
                    $('.materialinfo').append(
                        '<tr>' +
                        '<td style="border: 1px solid silver ;"><input type="checkbox" name="user_CheckBox" style="border: 1px solid silver;"></td>' +
                        '<td style="border: 1px solid silver; ">' + data[i].codenumber + '</td>' + //
                        '<td style="border: 1px solid silver; ">' + data[i].itemname + '</td>' +
                        '<td style="border: 1px solid silver; ">' + data[i].classfication + '</td>' + //
                        '<td style="border: 1px solid silver; text-align: right;  ">' + data[i].materialwidth + '</td>' +
                        '<td style="border: 1px solid silver; text-align: right;  ">' + data[i].fullwidth + '</td>' + //
                        '<td style="border: 1px solid silver; text-align: right;  ">' + data[i].length + '</td>' +
                        '<td style="border: 1px solid silver; ">' + data[i].koreancustomer + '</td>' + //
                        '<td style="border: 1px solid silver; text-align: right;  ">' + data[i].sqmprice + '</td>' +
                        '<td style="border: 1px solid silver; text-align: right;  ">' + data[i].rollprice + '</td>' + //
                        '<td style="border: 1px solid silver; ">' + data[i].widthclassfication + '</td>' +
                        '<td style="border: 1px solid silver; text-align: right;  ">' + data[i].day + '</td>' +
                        '<td style="border: 1px solid silver; text-align: center;  ">' + data[i].chk + '</td>' +
                        '<td  style="border: 1px solid silver; "> <input type="button"  value="수정" id="aa" class="sales-bottom-insert" data-bs-toggle="modal" data-bs-target="#exampleModal1" data-bs-whatever="@mdo" style="cursor: pointer;"></td>' +

                        '<td style="border: 1px solid silver; " id="data-id">' + data[i].id + '</td>' +
                        '</tr>'

                    )
                    $("td#data-id").hide();
                }
                $('.materialinfo').pageMe({pagerSelector:'#myPager',showPrevNext:true,hidePageNumbers:false,perPage:10});
            }
        })
        //combobox group 쿼리 ajax
        $.ajax({
            type: 'POST',
            url: 'http://techonmes.co.kr/api/materialgroup',

            dataType: 'json',

            success: function (data) {


                for (var i = 0; i < data.length; i++) {
                    $('.materialgroup').append(
                        '<option>' + data[i].itemname + '</option>'
                    )

                }
            }
        })

    })
    // dtload
    function dtload() {
        $(".materialinfo").empty();
        $.ajax({
            type: 'POST',
            url: 'http://techonmes.co.kr/api/baseinfolow',

            dataType: 'json',
            ///datatype text 인이유 : string
            success: function (data) {


                for (var i = 0; i < data.length; i++) {
                    $('.materialinfo').append(
                        '<tr>' +
                        '<td style="border: 1px solid silver ;"><input type="checkbox" name="user_CheckBox" style="border: 1px solid silver;"></td>' +
                        '<td style="border: 1px solid silver; ">' + data[i].codenumber + '</td>' + //
                        '<td style="border: 1px solid silver; ">' + data[i].itemname + '</td>' +
                        '<td style="border: 1px solid silver; ">' + data[i].classfication + '</td>' + //
                        '<td style="border: 1px solid silver; text-align: right; ">' + data[i].materialwidth + '</td>' +
                        '<td style="border: 1px solid silver; text-align: right; ">' + data[i].fullwidth + '</td>' + //
                        '<td style="border: 1px solid silver; text-align: right; ">' + data[i].length + '</td>' +
                        '<td style="border: 1px solid silver; ">' + data[i].koreancustomer + '</td>' + //
                        '<td style="border: 1px solid silver; text-align: right; ">' + data[i].sqmprice + '</td>' +
                        '<td style="border: 1px solid silver; text-align: right; ">' + data[i].rollprice + '</td>' + //
                        '<td style="border: 1px solid silver; ">' + data[i].widthclassfication + '</td>' +
                        '<td style="border: 1px solid silver; text-align: right; ">' + data[i].day + '</td>' +
                        '<td style="border: 1px solid silver; text-align: center;">' + data[i].chk + '</td>' +
                        '<td  style="border: 1px solid silver; "> <input type="button"  value="수정" id="aa" class="sales-bottom-insert" data-bs-toggle="modal" data-bs-target="#exampleModal1" data-bs-whatever="@mdo" style="cursor: pointer;"></td>' +
                        '<td style="border: 1px solid silver; " id="data-id">' + data[i].id + '</td>' +
                        '</tr>'

                    )
                    $("td#data-id").hide();
                }
                
            }
        })
    }
    // 등록
    function save_materialinfo() {

        var codenumber = $('#codenumber-save').val();
        var itemname = $('#itemname-save').val();
        var classfication = $('#classfication-save').val();
        var materialwidth = $('#materialwidth-save').val();
        var fullwidth = $('#fullwidth-save').val();
        var length = $('#length-save').val();
        var koreancustomer = $('#koreancustomer-save').val();
        var sqmprice = $('#sqmprice-save').val();
        var rollprice = $('#rollprice-save').val();
        var widthclassfication = $('#widthclassfication-save').val();
        var day = $('#day-save').val();

        if (confirm("원자재 정보를 등록 하시겠습니까??") == true) {
            $.ajax({
                type: 'POST',
                url: 'http://techonmes.co.kr/api/materialinfoinsertdata',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify({
                    "codenumber": codenumber,
                    "itemname": itemname,
                    "classfication": classfication,
                    "materialwidth": materialwidth,
                    "fullwidth": fullwidth,
                    "length": length,
                    "koreancustomer": koreancustomer,
                    "sqmprice": sqmprice,
                    "rollprice": rollprice,
                    "widthclassfication": widthclassfication,
                    "day": day,
                }),
                success: function (result) {
                    console.log(result)
                }
            })
            alert("등록이 완료 되었습니다.");
            $('#exampleModal').modal('hide')
            dtload()

        } else {
            return false;
        }
    }
    //창띄우기 클리어
    function saveclear() {
        $('#codenumber-save').val('');
        $('#itemname-save').val('');
        $('#classfication-save').val('');
        $('#materialwidth-save').val('');
        $('#fullwidth-save').val('');
        $('#length-save').val('');
        $('#koreancustomer-save').val('');
        $('#sqmprice-save').val('');
        $('#rollprice-save').val('');
        $('#widthclassfication-save').val('');
        $('#day-save').val('');



    }
    //수정버튼 클릭시 데이터 수정창에 옮기기
    $(document).on('click', "#aa", function (e) {

        var str = "";
        var tdArr = new Array();// 배열 선언            
        var checkBtn = $(this);

        var tr = checkBtn.parent().parent();
        var td = tr.children();

        var codenumber = td.eq(1).text();
        var itemname = td.eq(2).text();
        var classfication = td.eq(3).text();
        var materialwidth = td.eq(4).text();
        var fullwidth = td.eq(5).text();
        var length = td.eq(6).text();
        var koreancustomer = td.eq(7).text();
        var sqmprice = td.eq(8).text();
        var rollprice = td.eq(9).text();
        var widthclassfication = td.eq(10).text();
        var day = td.eq(11).text();
        var id = td.eq(14).text();

        $('#codenumber-edit').val(codenumber);
        $('#itemname-edit').val(itemname);
        $('#classfication-edit').val(classfication);
        $('#materialwidth-edit').val(materialwidth);
        $('#fullwidth-edit').val(fullwidth);
        $('#length-edit').val(length);
        $('#koreancustomer-edit').val(koreancustomer);
        $('#sqmprice-edit').val(sqmprice);
        $('#rollprice-edit').val(rollprice);
        $('#widthclassfication-edit').val(widthclassfication);
        $('#day-edit').val(day);
        $('#edit-id').val(id);
    })
    //체크박스 클릭 아이디찾기
    $(document).on('click', "#user_CheckBox", function (e) {
        var str = "";
        var tdArr = new Array();// 배열 선언            
        var checkBtn = $(this);

        var tr = checkBtn.parent().parent();
        var td = tr.children();

        // tr.text()는 클릭된 Row 즉 tr에 있는 모든 값을 가져온다.

        // 반복문을 이용해서 배열에 값을 담아 사용할 수 도 있다.
        td.each(function (i) {
            tdArr.push(td.eq(i).text());
        });



        // td.eq(index)를 통해 값을 가져올 수도 있다.
        var id = td.eq(13).text();
        console.log(id);
    })
    // 수정
    function edit_materialinfo() {


        var id = $('#edit-id').val();
        var codenumber = $('#codenumber-edit').val();
        var itemname = $('#itemname-edit').val();
        var classfication = $('#classfication-edit').val();
        var materialwidth = $('#materialwidth-edit').val();
        var fullwidth = $('#fullwidth-edit').val();
        var length = $('#length-edit').val();
        var koreancustomer = $('#koreancustomer-edit').val();
        var sqmprice = $('#sqmprice-edit').val();
        var rollprice = $('#rollprice-edit').val();
        var widthclassfication = $('#widthclassfication-edit').val();
        var day = $('#day-edit').val();


        if (confirm("선택된 정보를 수정하시겠습니까??") == true) {
            $.ajax({
                type: 'POST',
                url: 'http://techonmes.co.kr/api/materialinfoupdatedata',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify({

                    "id": id,
                    "codenumber": codenumber,
                    "itemname": itemname,
                    "classfication": classfication,
                    "materialwidth": materialwidth,
                    "fullwidth": fullwidth,
                    "length": length,
                    "koreancustomer": koreancustomer,
                    "sqmprice": sqmprice,
                    "rollprice": rollprice,
                    "widthclassfication": widthclassfication,
                    "day": day,




                }),
                success: function (result) {

                }
            })


            alert("수정이 완료 되었습니다.");

            $('#exampleModal1').modal('hide')
            dtload()

        } else {
            return false;
        }
    }
    //삭제
    function removeCheck() {

        var checkbox = $("input[name='user_CheckBox']:checked");//체크된거 가져오기

        //체크가 되지도 않았는데 이벤트 실행되면 안되니

        if (checkbox.length == 0) { //체크된게 0개 이니까 

            alert('선택 항목이 없습니다.');

        } else {
            if (confirm("선택된 정보를 삭제하시겠습니까??") == true) {    //확인

                for (var i = 0; i < checkbox.length; i++) {

                    const table = document.getElementById('tableData');
                    const totalRowCnt = table.rows.length;
                    var count = totalRowCnt;


                    var rowData = new Array();
                    var tdArr = new Array();
                    var checkbox = $("input[name=user_CheckBox]:checked");


                    // 체크된 체크박스 값을 가져온다
                    checkbox.each(function (i) {

                        // checkbox.parent() : checkbox의 부모는 <td>이다.
                        // checkbox.parent().parent() : <td>의 부모이므로 <tr>이다.
                        var tr = checkbox.parent().parent().eq(i);
                        // console.log('tr',tr)
                        var td = tr.children();
                        var addcount = count - 1;


                        // 체크된 row의 모든 값을 배열에 담는다.
                        rowData.push(tr.text());

                        var id = td.eq(14).text();



                        // 가져온 값을 배열에 담는다.
                        tdArr.push(id);

                        $.ajax({
                            type: 'POST',
                            url: 'http://techonmes.co.kr/api/materialinfodeletedata',
                            dataType: 'json',
                            contentType: 'application/json',
                            data: JSON.stringify({
                                "id": id

                            }),
                            success: function (result) {

                            }
                        })
                    });
                }

                alert("삭제 완료 되었습니다.");
                dtload()
            } else {   //취소
                return false;

            }
        }

    }
    //combobox 클릭 데이터 찾기
    $(document).on('click', ".materialgroup", function (e) {
        var comboboxdata = $('.materialgroup').val();
        console.log(comboboxdata);
    })




    // searchdtload
    function searchdtload() {

        var itemname = $('.materialgroup').val();
        $(".materialinfo").empty();
        $.ajax({
            type: 'POST',
            url: 'http://techonmes.co.kr/api/itemnamesearch',
            dataType: 'json',
            contentType: 'application/json',
            data: JSON.stringify({

                "itemname": itemname,

            }),
            success: function (result) {
                console.log(result)
                for (var i = 0; i < result.length; i++) {
                    $('.materialinfo').append(
                        '<tr>' +
                        '<td style="border: 1px solid silver ;"><input type="checkbox" name="user_CheckBox" style="border: 1px solid silver;"></td>' +
                        '<td style="border: 1px solid silver; ">' + result[i].codenumber + '</td>' + //
                        '<td style="border: 1px solid silver; ">' + result[i].itemname + '</td>' +
                        '<td style="border: 1px solid silver; ">' + result[i].classfication + '</td>' + //
                        '<td style="border: 1px solid silver; text-align: right; ">' + result[i].materialwidth + '</td>' +
                        '<td style="border: 1px solid silver; text-align: right; ">' + result[i].fullwidth + '</td>' + //
                        '<td style="border: 1px solid silver; text-align: right; ">' + result[i].length + '</td>' +
                        '<td style="border: 1px solid silver; ">' + result[i].koreancustomer + '</td>' + //
                        '<td style="border: 1px solid silver; text-align: right; ">' + result[i].sqmprice + '</td>' +
                        '<td style="border: 1px solid silver; text-align: right; ">' + result[i].rollprice + '</td>' + //
                        '<td style="border: 1px solid silver; ">' + result[i].widthclassfication + '</td>' +
                        '<td style="border: 1px solid silver; text-align: right; ">' + result[i].day + '</td>' +
                        '<td style="border: 1px solid silver; text-align: center;">' + result[i].chk + '</td>' +
                        '<td  style="border: 1px solid silver; "> <input type="button"  value="수정" id="aa" class="sales-bottom-insert" data-bs-toggle="modal" data-bs-target="#exampleModal1" data-bs-whatever="@mdo" style="cursor: pointer;"></td>' +
                        '<td style="border: 1px solid silver; " id="data-id">' + result[i].id + '</td>' +
                        '</tr>'

                    )
                    $("td#data-id").hide();
                }

            }
        })
    }
    // searchdtload
    function textboxsearch() {

        var itemname = $('.materialgroup').val();

        $.ajax({
            type: 'POST',
            url: 'http://techonmes.co.kr/api/itemnamesearch',
            dataType: 'json',
            contentType: 'application/json',
            data: JSON.stringify({

                "itemname": itemname,

            }),
            success: function (result) {
                console.log(result)
                $('.textbox1').val(result[1].codenumber);
                $('.textbox2').val(result[1].classfication);
                $('.textbox3').val(result[1].materialwidth);
                $('.textbox4').val(result[1].fullwidth);
                $('.textbox5').val(result[1].length);





            }
        })
    }
    //itemname 바뀌었을때 group 쿼리 ajax
    $('#itemname-save').change(function () {



        $('#codenumber-save').val('');
        $('#classfication-save').val('');
        $('#fullwidth-save').val('');
        $('#length-save').val('');
        $('#koreancustomer-save').val('');
        $('#sqmprice-save').val('');
        $('#rollprice-save').val('');
        $('#widthclassfication-save').val('');
        $('#day-save').val('');
        var itemname = $('#itemname-save').val();

        $.ajax({
            type: 'POST',
            url: 'http://techonmes.co.kr/api/itemnamematerialwidthgroup',
            dataType: 'json',
            contentType: 'application/json',
            data: JSON.stringify({
                "itemname": itemname,

            }),
            success: function (result) {

                for (var i = 0; i < result.length; i++) {
                    $('.materialwidthgroup').append(
                        '<option>' + result[i].materialwidth + '</option>'
                    )

                }
            }
        })
        $('#materialwidth-save').val('');
        Reset()
    })

    // itemnamematerialwidthgroup combobox
    function itemnamematerialwidthgroup() {

        var itemname = $('.itemname-save').val();

        $.ajax({
            type: 'POST',
            url: 'http://techonmes.co.kr/api/itemnamematerialwidthgroup',
            dataType: 'json',
            contentType: 'application/json',
            data: JSON.stringify({

                "itemname": itemname,

            }),
            success: function (result) {
                console.log(result)
                $('.textbox1').val(result[1].codenumber);
                $('.textbox2').val(result[1].classfication);
                $('.textbox3').val(result[1].materialwidth);
                $('.textbox4').val(result[1].fullwidth);
                $('.textbox5').val(result[1].length);





            }
        })
    }
    // searchdtload 
    function itemnamematerialwidthsearch() {

        var itemname = $('.itemname-save').val();
        var materialwidth = $('.materialwidth-save').val();

        $.ajax({
            type: 'POST',
            url: 'http://techonmes.co.kr/api/itemnamematerialwidthsearch',
            dataType: 'json',
            contentType: 'application/json',
            data: JSON.stringify({

                "itemname": itemname,
                "materialwidth": materialwidth,

            }),
            success: function (result) {
                console.log(result)
                $('#codenumber-save').val(result[1].codenumber);
                $('#classfication-save').val(result[1].classfication);
                $('#length-save').val(result[1].length);
                $('#fullwidth-save').val(result[1].fullwidth);
                $('#length-save').val(result[1].length);





            }
        })
    }

    // material tablerow 
    function materialwidthtablerow() {

        var itemname = $('#itemname-save').val();
        var materialwidth = $('#materialwidth-save').val();

        $.ajax({
            type: 'POST',
            url: 'http://techonmes.co.kr/api/materialwidthtablerow',
            dataType: 'json',
            contentType: 'application/json',
            data: JSON.stringify({

                "itemname": itemname,
                "materialwidth": materialwidth,

            }),
            success: function (data) {
                console.log(data)
                $('#codenumber-save').val(data[0].codenumber);
                $('#classfication-save').val(data[0].classfication);
                $('#length-save').val(data[0].length);
                $('#fullwidth-save').val(data[0].fullwidth);
                $('#koreancustomer-save').val(data[0].koreancustomer);
                $('#sqmprice-save').val(data[0].sqmprice);
                $('#rollprice-save').val(data[0].rollprice);
                $('#widthclassfication-save').val(data[0].widthclassfication);
                $('#day-save').val(data[0].day);


            }
        })
    }
    //materialwidth 바뀌었을때 group 쿼리 ajax
    $('#materialwidth-save').change(function () {
        materialwidthtablerow()
    })
    //window open
    // $('.sales-excel1').click(function () {
    //     openwin.$('.aa').val('11');
    //     openWin = window.open("http://localhost:3000/qrprint",
    //         "childForm", "width=570, height=350, resizable = no, scrollbars = no");

    //     openwin.$('.aa').val('11');
    //         // openWin.document.getElementById("#materialwidth").value ="11";


    // })

    //     function ClearOptionsFast(id)
    // {
    // 	var selectObj = document.getElementById(id);
    // 	var selectParentNode = selectObj.parentNode;
    // 	var newSelectObj = selectObj.cloneNode(false); // Make a shallow copy
    // 	selectParentNode.replaceChild(newSelectObj, selectObj);
    // 	return newSelectObj;
    // }
    function Reset() {
        var dropDown = document.getElementById("materialwidth-save");
        dropDown.selectedIndex = 0;
    }
</script>

</html>