<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="/css/menu.css">


<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>

<body>
    <div
        style="width: 100%; background-color:#1a1a1c; height:76px; padding-top: 5px; padding-left: 20px; padding-bottom: 7px;">
        <img src="/img/테크온로고.PNG" style="width: 100px; height: 30px; margin-right: 10px; margin-top: 20px;"
            id="img_logo" onclick="mainHtml()">
        <div style="text-align: center; margin-top: -30px;">
            <a style="color: white; text-align: center; font-size: 22px; padding-bottom: 10px;">Techon
                Mes System</a>
            <!-- <button onclick="accountHtml()">menu</button> -->
        </div>


        <div style="float: right; margin-top: -40px; padding-right: -100px;">
         

        </div>

    </div>
    <div style="width: 100%;">


        <div
            style="float: left; width:261px; height: 90vh; box-shadow: 1px 0px 0px rgb(216, 216, 216); background-color: white;">
            <ul class="menu">
                <li class="list"><a style="font-weight: bold; color: navy;">기초정보</a>
                    <ul class="items">

                        <li><a onclick="accountHtml()"> 거래처정보</a></li>
                        <li><a onclick="houseHtml()"> 창고정보</a></li>
                        <li><a onclick="iteminfoHtml()"> 품목정보</a></li>
                        <li><a onclick="equipmentHtml()"> 생산설비정보</a></li>
                   
                    </ul>
                </li>
                <li class="list"><a style="font-weight: bold; color: navy;">영업TEAM</a>
                    <ul class="items">

                        <li><a onclick="salesHtml()"> 영업수주등록</a></li>
                        <li><a onclick="salessearchHtml()"> 영업공정현황(진행)</a></li>
                        <li><a onclick="salesfinishHtml()"> 영업완료조회</a></li>
                        <li><a onclick="finalHtml()"> FINAL PROCESS</a></li>
                    </ul>
                </li>
                <li class="list"><a style="font-weight: bold; color: navy;">개발TEAM</a>
                    <ul class="items">
                        <li><a onclick="bomHtml()"> BOM관리</a></li>
                        <li><a onclick="bomchangeHtml()"> BOM이력관리</a></li>
               
                    </ul>
                </li>
              
                <li class="list"><a style="font-weight: bold; color: navy;">자재TEAM</a>
                    <ul class="items">
                        <li><a onclick="materialinfoHtml()"> 원자재정보</a></li>

                        <li><a onclick="materialinput1Html()"> 원자재입고</a></li>
                      
                        <li><a onclick="materialsoyoHtml()"> 자재발주대기리스트</a></li>

                  
                        <li><a> 자재출고조회</a></li>
                        <li><a onclick="materialstockHtml()"> 자재재고정보</a></li>
                        <li><a onclick="itemstockHtml1()"> 제품재고정보</a></li>
                      
                    </ul>
                </li>
                <li class="list"><a style="font-weight: bold; color: navy;">생산TEAM</a>
                    <ul class="items">
                        <li><a onclick="productorderlistHtml()"> 생산발주 대기리스트</a></li>
                        <!-- <li><a onclick="productorderHtml()"> 생산발주정보</a></li> -->
                        <!-- <li><a> 생산발주현황</a></li> -->
                        <!-- <li><a> 생산지시</a></li> -->
                        <li><a onclick="operatingrateHtml()"> 생산설비가동율</a></li>
                        <li><a onclick="transferenceHtml()"> 생산수율관리</a></li>
                        <li><a onclick="alltestHtml()"> 최종검사</a></li>
                        <li><a onclick="startproductHtml()"> 생산현황</a></li>
                    </ul>
                </li>
                <li class="list"><a style="font-weight: bold; color: navy;">품질TEAM</a>
                    <ul class="items">
                        <li><a> 수입검사</a></li>
                        <li><a> 공정검사</a></li>


                    </ul>
                </li>
                <li class="list"><a style="font-weight: bold; color: navy;">관리TEAM</a>
                    <ul class="items">
                        <li><a onclick="employeeHtml()"> 사원관리</a></li>


                    </ul>
                </li>
                <!-- <li class="list"><a style="font-weight: bold; color: navy;">데이터 집계</a>
                    <ul class="items">
                        <li><a onclick="testHtml()"> 단가-원가 Graph</a></li>
                        <li><a onclick="test1Html()">설비가동율 Graph</a></li>

                    </ul>
                </li> -->

            </ul>

        </div>
        <div>

            <div id="loadHtml" style=" height: 88vh; overflow-x:scroll; overflow: auto;">
                <img src="/img/테크온로고.PNG" style="margin-left: 40%; margin-top: 15%; opacity: 0.9;">
                <br><br><br><br>
                <a style="margin-left: 43%; margin-top: 20%; font-size: 30px; font-weight: bold;">Techon MES System</a>
                <footer id="footer_main">
                    <p>
                        <span>저자 : 피스웰</span><br />
                        <span>이메일 : Pswel@naver.com</span><br /><br />
                        <span>Copyright 2023. PSWEL. All Rights Reserved.</span>
                    </p>
                </footer>

            </div>

        </div>
    </div>
</body>
<script>
    function getCookie(cookie_name) {
        var x, y;
        var val = document.cookie.split(';');

        for (var i = 0; i < val.length; i++) {
            x = val[i].substr(0, val[i].indexOf('='));
            y = val[i].substr(val[i].indexOf('=') + 1);
            x = x.replace(/^\s+|\s+$/g, ''); // 앞과 뒤의 공백 제거하기
            if (x == cookie_name) {
                return unescape(y); // unescape로 디코딩 후 값 리턴
            }
        }

    }
    function cookie1() {
        $("#login-team").val(getCookie('userName'));
    }


    const list = document.querySelectorAll('.list');

    function accordion(e) {
        e.stopPropagation();
        if (this.classList.contains('active')) {
            // this.classList.remove('active');
        }
        else if (this.parentElement.parentElement.classList.contains('active')) {
            this.classList.add('active');
        }
        else {
            for (i = 0; i < list.length; i++) {
                list[i].classList.remove('active');
            }
            this.classList.add('active');
        }


    }
    for (i = 0; i < list.length; i++) {
        list[i].addEventListener('click', accordion);
    }
    function otherHtml() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("/html/open.html");
    }
    // function accountHtml() {
    //     $("#loadHtml").removeClass();
    //     $("#loadHtml").load("/html/accountinformation.html");
    // }

    // function accountHtml() {
    //     $.ajax({
    //         url: '/html/accountinformation.html',
    //         type: 'GET',
    //         success: function (data) {
    //             $('#loadHtml').html(data);
    //         },
    //         error: function (xhr, status, error) {
    //             console.error(error);
    //         }
    //     });
    // }


    function accountHtml() {
        fetch("/html/accountinformation.html")
            .then(response => response.text())
            .then(data => $("#loadHtml").html(data))
            .catch(error => console.log(error));
    }
    function houseHtml() {
        fetch("/html/house.html")
            .then(response => response.text())
            .then(data => $("#loadHtml").html(data))
            .catch(error => console.log(error));
    }
    function departmentHtml() {
        fetch("/html/departmentinformation.html")
            .then(response => response.text())
            .then(data => $("#loadHtml").html(data))
            .catch(error => console.log(error));
    }
    function managementtopicsHtml() {
        fetch("/html/managementtopics.html")
            .then(response => response.text())
            .then(data => $("#loadHtml").html(data))
            .catch(error => console.log(error));
    }
   
    function iteminfoHtml() {
        fetch("/html/iteminfo.html")
            .then(response => response.text())
            .then(data => $("#loadHtml").html(data))
            .catch(error => console.log(error));
    }
 
    function mainHtml() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("loadHtml");
    }
    function materialinputHtml() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("/html/materialinput1.html");
    }
    function materialinputsearchHtml() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("/html/materialinput1.html");
    }
    function materialinfoHtml() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("/html/materialbaseall.html");
    }
    function productorderHtml() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("/html/productorder.html");
    }
    function productorderlistHtml() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("/html/productorderlist2.html");
    }
    function materialstockHtml() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("/html/materialstock.html");
    }
    function salessearchHtml() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("/html/salessearch.html");
    }
    function bomHtml() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("/html/bominformation2.html");
    }
    function employeeHtml() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("/html/employee.html");
    }
    function equipmentHtml() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("/html/equipment.html");
    }
    function testHtml() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("/html/test3.html");
    }
    function salesfinishHtml() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("/html/salesfinish.html");
    }
    function accountmaterialHtml() {
        $("#loadHtml").removeClass(); 2
        $("#loadHtml").load("/html/accountmaterial.html");
    }
    function productmaterialHtml() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("/html/productmaterial.html");
    }
    function outputwaitmaterialHtml() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("/html/outputwaitmaterial.html");
    }

    function bommagementHtml() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("/html/bommanagement.html");
    }


    function materialbaseHtml() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("/html/materialbase.html");
    }
    function datatableHtml() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("/html/test3.html");
    }

    function salesHtml() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("/html/salesinformation.html");
    }
    function materialinput1Html() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("/html/materialinputdata.html");
    }
    function itemstockHtml1() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("/html/itemstock1.html");
    }
    function productorderlist2Html() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("/html/productlist2.html");
    }
    function operatingrateHtml() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("/html/operatingrate.html");
    }
    function transferenceHtml() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("/html/finalpercent.html");
    }

    function materialsoyoHtml() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("/html/materialsoyo.html");
    }
    function alltestHtml() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("/html/alltest.html");
    }
    function bomchangeHtml() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("/html/bomchange.html");
    }
    function test2Html() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("/html/test2.html");
    }

    function finalHtml() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("/html/all.html");
    }
    function startproductHtml() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("/html/startproduct.html");
    }


    // 로딩 창을 표시하는 함수
    function showLoading() {
        // 로딩 창을 보여주는 코드
    }

    // HTML 파일을 가져오는 함수
    function getHTML(url, successCallback, errorCallback) {
        var xhr = new XMLHttpRequest();
        xhr.open('GET', url, true);
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4) {
                if (xhr.status === 200) {
                    successCallback(xhr.responseText);
                } else {
                    errorCallback(xhr.statusText);
                }
            }
        };
        xhr.send();
    }

    // 로딩 창을 표시하고 HTML 파일을 가져오는 함수
    function loadHTML(url) {
        showLoading();
        getHTML(url, function (html) {
            // 가져온 HTML을 사용하여 작업을 수행하는 코드
        }, function (error) {
            // 오류 처리 코드
        });
    }

    function loadPage(url) {
        showLoading(); // 로딩창 표시
        getHTML(url, function (html) {
            document.body.innerHTML = html; // 가져온 HTML 적용
        }, function (error) {
            // 오류 처리 코드
        });
    }
</script>


</html>