<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="/css/menu.css">
<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>

<body>
    <div
        style="width: 100%; background-color:#1a1a1c; height:76px; padding-top: 5px; padding-left: 20px; padding-bottom: 7px;">
        <img src="/img/테크온로고.PNG" style="width: 100px; height: 35px; margin-right: 10px; margin-top: 20px;"
            id="img_logo" onclick="mainHtml()">
        <!-- <a style="color: white; font-size: 12px; margin-right: 10px; ">부서명 : 개발팀 </a><br>
        <a style="color: white; font-size: 12px; margin-right: 10px; ">홍길동님이 로그인 하였습니다.</a> -->
    </div>
    <div>


        <div
            style="float: left; width:261px; height: 90vh; box-shadow: 1px 0px 0px rgb(216, 216, 216); background-color: white;">
            <ul class="menu">
                <li class="list"><a>기초정보</a>
                    <ul class="items">
                        <li><a onclick="accountHtml()"> 거래처정보</a></li>
                        <li><a onclick="houseHtml()"> 창고정보</a></li>
                        <li><a onclick="departmentHtml()"> 부서정보</a></li>
                        <li><a onclick="iteminfoHtml()"> 품목정보</a></li>
                        <li><a onclick="managementtopicsHtml()"> 관리항목정보</a></li>
                    </ul>
                </li>
                <li class="list"><a>영업TEAM</a>
                    <ul class="items">
                        <li><a onclick="otherHtml()"> 영업수주등록</a></li>
                        <li><a> 영업수주조회</a></li>
                        <li><a> 영업완료현황</a></li>
                    </ul>
                </li>
                <li class="list"><a>개발TEAM</a>
                    <ul class="items">
                        <li><a> BOM관리</a></li>
                        <li><a> 칼구매정보</a></li>
                        <li><a> BOM이력관리</a></li>
                    </ul>
                </li>
                <li class="list"><a>구매TEAM</a>
                    <ul class="items">
                        <li><a> 자재구매등록</a></li>
                        <li><a> 자재구매조회</a></li>
                    </ul>
                </li>
                <li class="list"><a>자재TEAM</a>
                    <ul class="items">
                        <li><a onclick="materialinfoHtml()"> 원자재정보</a></li>
                        <li><a onclick="materialinputHtml()"> 자재입고등록</a></li>
                        <li><a onclick="materialinputsearchHtml()"> 자재입고조회</a></li>
                        <li><a onclick="productorderlistHtml()"> 생산발주리스트</a></li>
                        <li><a> 자재출고등록</a></li>
                        <li><a> 자재출고조회</a></li>
                        <li><a onclick="materialstockHtml()"> 자재재고정보</a></li>
                    </ul>
                </li>
                <li class="list"><a>생산TEAM</a>
                    <ul class="items">
                        <li><a onclick="productorderHtml()"> 생산발주정보</a></li>
                        <li><a> 생산발주현황</a></li>
                        <li><a> 생산지시</a></li>
                    </ul>
                </li>
                <li class="list"><a>품질TEAM</a>
                    <ul class="items">
                        <li><a> 검사대기현황</a></li>
                        <li><a> 검사완료현황</a></li>
                        <li><a> 검사품목현황</a></li>
                      
                    </ul>
                </li>
                <li class="list"><a>관리TEAM</a>
                    <ul class="items">
                        <li><a> 사원관리</a></li>
                        <li><a> 로그관리</a></li>
                        <li><a> 시스템관리</a></li>
                    </ul>
                </li> 
            </ul>

        </div>
        <div>

            <div id="loadHtml" style=" height: 88vh; overflow-x:scroll; overflow: auto">
                <img src="/img/테크온로고.PNG" style="margin-left: 40%; margin-top: 15%; opacity: 0.9;">
                <br><br><br><br>
                <a style="margin-left: 43%; margin-top: 20%; font-size: 30px; font-weight: bold;">Techon MES System</a>
                <footer id="footer_main">
                    <p>
                        <span>저자 : 피스웰</span><br />
                        <span>이메일 : Pswel@naver.com</span><br /><br />
                        <span>Copyright 2022. PSWEL. All Rights Reserved.</span>
                    </p>
                </footer>

            </div>

        </div>
    </div>
</body>
<script>
    const list = document.querySelectorAll('.list');

    function accordion(e) {
        e.stopPropagation();
        if (this.classList.contains('active')) {
            // this.classList.remove('active');
        }
        else if (this.parentElement.parentElement.classList.contains('active')) {
            this.classList.add('active');
        }
        else {
            for (i = 0; i < list.length; i++) {
                list[i].classList.remove('active');
            }
            this.classList.add('active');
        }


    }
    for (i = 0; i < list.length; i++) {
        list[i].addEventListener('click', accordion);
    }
    function otherHtml() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("/html/open.html");
    }
    function accountHtml() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("/html/accountinfo.html");
    }
    function houseHtml() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("/html/house.html");
    }
    function departmentHtml() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("/html/department.html");
    }
    function managementtopicsHtml() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("/html/managementtopics.html");
    }
    function iteminfoHtml() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("/html/iteminfo.html");
    }
    function mainHtml() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("loadHtml");
    }
    function materialinputHtml() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("/html/materialinput.html");
    }
    function materialinputsearchHtml() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("/html/materialinputsearch.html");
    }
    function materialinfoHtml() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("/html/materialinfo.html");
    }
    function productorderHtml() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("/html/productorder.html");
    }
    function productorderlistHtml() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("/html/productorderlist.html");
    }
    function materialstockHtml() {
        $("#loadHtml").removeClass();
        $("#loadHtml").load("/html/materialstock.html");
    }
</script>


</html>