<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/page.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.14.3/xlsx.full.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.min.js"></script>
    <title>Document</title>
</head>

<body>

    <div class="row">

        <button type="button" class="btn btn-outline btn-primary pull-right" id="selectBtn">선택</button>
        

        <table id='myTable' class="sales-table">
            <thead>
                <tr>
                    <th>
                        <div>
                            <input type="checkbox" name="user_CheckBox">
                        </div>
                    </th>
                    <th>품목코드</th>
                    <th>자재명</th>
                    <th>분류</th>
                    <th>자재폭</th>
                    <th>거래처</th>
                    <th>SQM단가</th>
                    <th>롤단가</th>
                    <th>자재분류</th>
                </tr>
            </thead>
            <tbody class="table_first">
                <tr>
					<td >
                        <input type="checkbox" name="user_CheckBox" >
                    </td>
					<td width="170" class="colresize1" ondblclick="modalShow()">
                        <input ondblclick="modalShow()" id="row_codenumber1" type="text" class="tdTextStyle" style="outline: none;" >
                    </td>
                    <td class="colresize">
                        <input type="text" id="row_Itemname1" class="tdTextStyle">
                    </td>
                    <td class="colresize">
                        <input type="text" id="row_Classfication1" class="tdTextStyle">
                    </td>
                    <td class="colresize">
                        <input type="text" id="row_Materialwidth1" class="tdTextStyle">
                    </td>
                    <td class="colresize">
                        <input type="text" id="row_Koreancustomer1" class="tdTextStyle">
                    </td>
                    <td class="colresize">
                        <input type="text" id="row_Sqmprice1" class="tdTextStyle">
                    </td>
                    <td class="colresize">
                        <input type="text" id="row_Rollprice1" class="tdTextStyle">
                    </td>
                    <td class="colresize">
                        <input type="text" id="row_Widthclassficaiton1" class="tdTextStyle">
                    </td>
				
				</tr>
				<tr>
					<td><input type="checkbox" name="user_CheckBox" ></td>
					<td>3</td>
					<td>user09</td>
					<td>넷마블</td>
					<td>net@gmail.com</td>
				</tr>

            </tbody>
        </table>
    </div>
</body>
<script>
    $("#selectBtn").click(function () {

        var rowData = new Array();
        var tdArr = new Array();
        var checkbox = $("input[name=user_CheckBox]:checked");

        // 체크된 체크박스 값을 가져온다
        checkbox.each(function (i) {

            // checkbox.parent() : checkbox의 부모는 <td>이다.
            // checkbox.parent().parent() : <td>의 부모이므로 <tr>이다.
            var tr = checkbox.parent().parent().eq(i);
            var td = tr.children();

            // 체크된 row의 모든 값을 배열에 담는다.
            rowData.push(tr.text());
            console.log(rowData)
            console.log(tdArr)
            console.log(checkbox)
            // td.eq(0)은 체크박스 이므로  td.eq(1)의 값부터 가져온다.
            var codenumber = td.eq(1).text();
            var Itemname = td.eq(2).text();
            var Classfication = td.eq(3).text();
            var Materialwidth = td.eq(4).text();
            var customer = td.eq(5).text();
            var sqmprice = td.eq(6).text();
            var Rollprice = td.eq(7).text();
            var Widthclassficaiton = td.eq(8).text();

            // 가져온 값을 배열에 담는다.
            tdArr.push(codenumber);
            tdArr.push(Itemname);
            tdArr.push(Classfication);
            tdArr.push(Materialwidth);
            tdArr.push(customer);
            tdArr.push(sqmprice);
            tdArr.push(Rollprice);
            tdArr.push(Widthclassficaiton);

            // console.log("codenumber : " + codenumber);
            // console.log("Itemname : " + Itemname);
            // console.log("Classfication : " + Classfication);
            // console.log("Materialwidth : " + Materialwidth);
            // console.log("customer : " + customer);
            // console.log("sqmprice : " + sqmprice);
            // console.log("Rollprice : " + Rollprice);
            // console.log("Widthclassficaiton : " + Widthclassficaiton);
        });

       
    });


</script>

</html>