<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.2.61/jspdf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
    <link rel="stylesheet" href="/css/pdf.css">
</head>

<div id="main" class="paper-div-main">
    <div id="paper-main" class="paper-main">
        <div class="paper-header">
           
        </div>
       
    </div>    
</div>

<!-- <button id="savePdfBtn" value="pdf다운로드" onclick="downloadPdf()">pdf다운로드</button> --> -->


<script>
    function saveAs(uri, fileName) {
      const link = document.createElement("a");
      link.href = uri;
      link.download = fileName;
    
      document.body.appendChild(link);
    
      link.click();
    
      document.body.removeChild(link);
    }
    function downloadPdf() {
        html2canvas(document.querySelector("#paper-main")).then(canvas => {
        saveAs(canvas.toDataURL(), 'fileName.png');
    });
    }
    
    </script>
</html>