<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>생산 계획</title>
<script src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="../css/main.css">
<link rel="stylesheet" href="../css/calendar.css">

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<head>
    <title>Table Data Move</title>
    <style>
        /* CSS 스타일링 */


        table {
            border-collapse: collapse;
            width: 80%;
            margin: 10px auto;
        }

        #sourceTable td,
        #targetTable td {
            padding: 18px;
        }

        th,
        td {
            border: 1px solid #ddd;
            padding: 10px;
            text-align: center;

        }

        th {
            background-color: #f2f2f2;
        }

        th:hover {
            cursor: pointer;
            background-color: #050505;
        }


        /* Source Table, Target Table에 각각 헤더와 데이터를 구분하는 색상 추가 */
        #sourceTable th {
            background-color: #007bff;
            color: white;
        }

        #targetTable th {
            background-color: #dc3545;
            color: white;
        }

        #sourceTable td {
            background-color: #ecf3f8;
        }

        #targetTable td {
            background-color: #fcebec;
        }

        .container {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            width: 100%;
            /* 최대 너비를 1200px로 설정 */
            margin: 20px auto;
        }

        #sourceTable {
            width: 60%;
            /* 50% 너비로 설정 */
        }

        #targetTable {
            width: 38%;
            /* 45% 너비로 설정 */
        }

        #sourceTable th:first-child,
        #sourceTable td:first-child,
        #targetTable th:first-child,
        #targetTable td:first-child {
            width: 10%;
            /* 설비명 컬럼의 너비를 10%로 설정 */
        }


        h2 {
            width: 97%;
            text-align: center;
            font-size: 24px;
            margin: 20px;
            padding: 10px;
            background-color: #f2f2f2;
            border-radius: 5px;
            position: relative;
            border: 1px solid silver;
        }

        .arrow {
            font-size: 24px;
            cursor: pointer;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            color: #07090a;
        }

        .arrow.left {
            left: 10px;
        }

        .arrow.right {
            right: 10px;
        }

        #house-select {
            display: block;
            width: 100%;
            padding: 10px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        /* 테이블 전체 영역 */
        #datatable-container {
            width: 68%;
            float: left;
            overflow-x: auto;
            /* 가로 스크롤이 필요한 경우 스크롤 표시 */
        }

        /* 테이블 스타일 */
        .styled-table {
            border-collapse: collapse;
            width: 100%;
        }

        /* 고정된 헤더 스타일 */
        thead {
            position: sticky;
            top: 0;
            /* 헤더가 스크롤 상단에 고정됨 */
            z-index: 1;
            /* 다른 콘텐츠 위에 표시되도록 함 */
            background-color: white;
            /* 헤더 배경색 지정 */
        }

        /* 테이블 셀 스타일 */
        th,
        td {
            border: 1px solid rgb(231, 228, 228);
            padding: 8px;
            text-align: center;
            white-space: nowrap;
            font-weight: bold;
            /* 텍스트가 길어지면 줄바꿈 대신 가로 스크롤 표시 */
        }
    </style>
</head>

<body>
    <!-- <div id="popupOverlay1" style="display: none;">
        <div id="popupContent1" style="width: 700px; height: auto;">
            <div class="form-group">
                <table style="width:100%;">
                    <tr>
                        <td style="background-color: black; color: white;">생산계획 확정</td>
                        <td style="visibility: hidden;"><input type="text" id="id-edit" class="data" autocomplete="off"
                                style="width:100%; border:1px solid silver; "></td>

                    </tr>
                    <tr>
                        <td style="width: 200px; background-color: whitesmoke; ">설비호기</td>
                        <td><select id="house-select">
                                <option>고속 1호기</option>
                                <option>고속 2호기</option>
                                <option>고속 3호기</option>
                                <option>고속 4호기</option>
                                <option>고속 5호기</option>
                                <option>고속 6호기</option>
                                <option>고속 7호기(1)</option>
                                <option>고속 7호기(2)</option>
                                <option>고속 8호기(1)</option>
                                <option>고속 8호기(2)</option>
                                <option>고속 9호기(1)</option>
                                <option>고속 9호기(2)</option>
                                <option>고속 10호기(1)</option>
                                <option>고속 10호기(2)</option>
                                <option>고속 11호기(1)</option>
                                <option>고속 11호기(2)</option>
                                <option>고속 12호기(1)</option>
                                <option>고속 12호기(2)</option>
                                <option>고속 13호기(1)</option>
                                <option>고속 13호기(2)</option>
                                <option>고속 14호기(1)</option>
                                <option>고속 14호기(2)</option>
                                <option>고속 15호기(1)</option>
                                <option>고속 15호기(2)</option>
                                <option>유압 1호기</option>
                                <option>유압 2호기</option>
                                <option>유압 3호기</option>
                                <option>유압 4호기</option>
                                <option>유압 5호기</option>


                            </select></td>
                    </tr>


                </table>
            </div>
            <button id="popupCloseBtn-edit-close">취소</button>
            <button id="popupCloseBtn-edit" onclick="Dataedit()">저장</button>
        </div>
    </div> -->
    <div id="popupOverlay" style="display: none;">

        <div id="popupContent">
            <div class="form-group">
                <table style="width:100%;">
                    <tr>
                        <td colspan="2" class="popup_title">생산계획 확정</td>
                    <tr>
                        <td style="width: 200px">생산확정날짜</td>
                        <td>
                            <input type="text" id="plandate-save" class="data" autocomplete="off"
                                style="width: 200px; border: 1px solid silver;" readonly>
                            <label id="days-left-label"></label>
                        </td>
                    </tr>

                    <tr>
                        <td style="width: 200px">BOM NO.</td>
                        <td><input type="text" id="bomno-save" class="data" autocomplete="off"
                                style="width:auto; border:1px solid silver;" readonly></td>
                    </tr>
                    <tr>
                        <td style="width: 200px">모델명</td>
                        <td><input type="text" id="modelname-save" class="data" autocomplete="off"
                                style="width:auto; border:1px solid silver;" readonly></td>
                    </tr>
                    <tr>
                        <td style="width: 200px">품명</td>
                        <td><input type="text" id="itemname-save" class="data" autocomplete="off"
                                style="width:auto; border:1px solid silver;" readonly></td>
                    </tr>
                    <tr>
                        <td style="width: 200px">생산LOT</td>
                        <td><input type="text" id="lotno-save" class="data" autocomplete="off"
                                style="width:auto; border:1px solid silver;" readonly></td>
                    </tr>
                    <tr>
                        <td style="width: 200px">수량</td>
                        <td><input type="text" id="quantity-save" class="data" autocomplete="off"
                                style="width:auto; border:1px solid silver;"></td>
                    </tr>
                    <tr>
                        <td style="width: 200px">설비호기</td>
                        <td>
                            <select id="equipment-select" class="form-select">
                                <option value=""></option>
                            </select>
                        </td>

                    </tr>


                </table>
            </div>
            <button id="popupCloseBtn-save-close">취소</button>
            <button id="popupCloseBtn-save" onclick="Datasave()">저장</button>
        </div>
    </div>
    <div class="calendar">
        <div class="month">
            <button class="prev-month">
                <img style="cursor:pointer;" src="../img/left-arrow.png" />
            </button>
            <h1 id="month-year">2023년 9월</h1>
            <button class="next-month">
                <img style="cursor:pointer;" src="../img/right-arrow.png" />
            </button>
        </div>
        <div class="dates">
            <!-- 여기에 날짜 버튼이 생성됩니다. -->
        </div>
    </div>


    <div id="datatable-container" style="width: 100%; float: left;">
        <table class="styled-table" id="datatable">
            <thead>
                <tr>
                    <th colspan="15" style="width: auto; font-weight: bold; border: 1px solid rgb(231, 228, 228);"
                        id="plandate"></th>
                </tr>
                <tr>
                    <th rowspan="2"
                        style="width: auto; font-weight: bold; font-size: 15px; border: 1px solid rgb(231, 228, 228);">
                        호기(설비명)
                    </th>
                    <th rowspan="2"
                        style="width: auto; font-weight: bold; font-size: 15px; border: 1px solid rgb(231, 228, 228);">
                        BOM NO.
                    </th>
                    <th rowspan="2"
                        style="width: auto; font-weight: bold; font-size: 15px; border: 1px solid rgb(231, 228, 228);">
                        고객사</th>
                    <th rowspan="2"
                        style="width: auto; font-weight: bold; font-size: 15px; border: 1px solid rgb(231, 228, 228);">
                        모델명</th>
                    <th rowspan="2"
                        style="width: auto; font-weight: bold; font-size: 15px; border: 1px solid rgb(231, 228, 228);">
                        품명</th>
                    <th rowspan="2"
                        style="width: auto; font-weight: bold; font-size: 15px; border: 1px solid rgb(231, 228, 228);">
                        총작업<br>차수</th>
                    <th rowspan="2"
                        style="width: auto; font-weight: bold;  font-size: 15px; border: 1px solid rgb(231, 228, 228);">
                        라인계획<br>작업차수</th>
                    <th rowspan="2"
                        style="width: auto; font-weight: bold; font-size: 15px; border: 1px solid rgb(231, 228, 228);">
                        생산LOT
                    </th>
                    <th rowspan="2"
                        style="width: auto; font-weight: bold; font-size: 15px; border: 1px solid rgb(231, 228, 228);">
                        작업지시<br>수량(PO)</th>
                    <th rowspan="2"
                        style="width: auto; font-weight: bold; font-size: 15px; border: 1px solid rgb(231, 228, 228);">
                        누적
                        생산<br>실적</th>
                    <th rowspan="2"
                        style="width: auto; font-weight: bold;  font-size: 15px; border: 1px solid rgb(231, 228, 228);">
                        작업지시<br>생산 잔량<br>(PO)
                    </th>
                    <th colspan="2"
                        style="width: auto; font-weight: bold; font-size: 15px; border: 1px solid rgb(231, 228, 228);">
                        반제품 계획실적
                    </th>
                    <th colspan="2"
                        style="width: auto; font-weight: bold; font-size: 15px; border: 1px solid rgb(231, 228, 228);">
                        완제품 계획실적
                    </th>
                </tr>
                <tr>
                    <th style="width: auto; font-size: 15px; font-weight: bold; border: 1px solid rgb(231, 228, 228);">
                        금일계획</th>
                    <th style="width: auto; font-size: 15px; font-weight: bold; border: 1px solid rgb(231, 228, 228);">
                        금일실적</th>
                    <th style="width: auto; font-size: 15px; font-weight: bold; border: 1px solid rgb(231, 228, 228);">
                        금일계획</th>
                    <th style="width: auto; font-size: 15px; font-weight: bold; border: 1px solid rgb(231, 228, 228);">
                        금일실적</th>
                </tr>
            </thead>
            <tbody id="Datatbody">
                <!-- 여기에 데이터 행 추가 -->
            </tbody>
        </table>
    </div>
    <!-- <div id="datatable-container" style="width: 31%; float: right;">
        <table class="styled-table" id="planstauts">
            <thead>
                <tr>
                    <th colspan="8" rowspan="1"
                        style="width: auto; font-size: 15px; border: 1px solid rgb(231, 228, 228);">생산확정리스트</th>

                </tr>
                <tr>


                </tr>

                <tr>
                    <th style="width: auto; font-size: 15px; border: 1px solid rgb(231, 228, 228);">BOM NO.</th>
                    <th style="width: auto; font-size: 15px; border: 1px solid rgb(231, 228, 228);">생산계획날짜</th>
                    <th style="width: auto; font-size: 15px; border: 1px solid rgb(231, 228, 228);">모델명</th>
                    <th style="width: auto; font-size: 15px; border: 1px solid rgb(231, 228, 228);">품명</th>
                    <th style="width: auto; font-size: 15px; border: 1px solid rgb(231, 228, 228);">생산LOT</th>
                    <th style="width: auto; font-size: 15px; border: 1px solid rgb(231, 228, 228);">수량</th>
                    <th style="width: auto; font-size: 15px; border: 1px solid rgb(231, 228, 228);"></th>
                    <th style="width: auto; font-size: 15px; border: 1px solid rgb(231, 228, 228);"></th>

                </tr>

            </thead>
            <tbody id="planstatustbody">
            </tbody>
        </table>
    </div> -->




    <script>

        // $(document).ready(function () {

        //     load()
        //     if (dataTd.id === '7' && dataTd.value === '생산대기') {
        //         td.classList.add('blink');
        //     }
        // })
        function load() {
            $('#planstatustbody').empty()
            $.ajax({
                type: 'POST',
                url: server + '/api/productorderlist',
                dataType: 'json',
                success: function (data) {
                    var tableBody = $('#planstatustbody');
                    if (data.length === 0) {
                        // 데이터가 없을 때 "데이터가 없습니다" 문구 추가
                    } else {
                        for (var i = 0; i < data.length; i++) {
                            tableBody.append(
                                '<tr draggable="true">' +
                                '<td>' + data[i].bomno + '</td>' +
                                '<td style="font-weight:bold;">' + data[i].productdate + '</td>' +
                                '<td>' + data[i].modelname + '</td>' +
                                '<td>' + data[i].itemname + '</td>' +
                                '<td>' + data[i].lotno + '</td>' +
                                '<td style="text-align:right;">' + data[i].quantity.toLocaleString() + '</td>' +
                                '<td><a class="savebutton" style="cursor: pointer; color: navy;">등록</a></td>' +
                                '<td><a class="datadelete" style="cursor:pointer; color:red;">삭제</a></td>' +
                                '<td class="data-id">' + data[i].id + '</td>' +
                                '</tr>'
                            );
                        }
                    }
                    $('.data-id').hide();
                }
            });
        }




        function planload() {
            $('#Datatbody').empty();
            $.ajax({
                type: 'POST',
                url: server + '/api/equipmentname',
                dataType: 'json',
                success: function (data) {
                    var tableBody = $('#Datatbody');
                    if (data.length === 0) {
                    } else {
                        for (var i = 0; i < data.length; i++) {
                            var numRows = 8; // 각 설비당 행 수 지정
                            for (var j = 0; j < numRows; j++) {
                                tableBody.append(
                                    '<tr>' +
                                    (j === 0 ? '<td style="width:8%; font-size: 20px; border: 1px solid rgb(231, 228, 228); background-color:white; font-weight:bold;" rowspan="' + numRows + '" id="' + data[i].codenumber + '">' + data[i].equipmentname + '</td>' : '') +
                                    '<td style="width: auto; font-weight:bold; font-size: 15px; border: 1px solid rgb(231, 228, 228);" id="' + j + 'bomno' + data[i].codenumber + $('#plandate').text() + '"></td>' +
                                    '<td style="width: auto; font-weight:bold; font-size: 15px; border: 1px solid rgb(231, 228, 228);" id="' + j + 'customer' + data[i].codenumber + $('#plandate').text() + '"></td>' +
                                    '<td style="width: auto; font-weight:bold; font-size: 15px; border: 1px solid rgb(231, 228, 228);" id="' + j + 'modelname' + data[i].codenumber + $('#plandate').text() + '" ></td > ' +
                                    '<td style="width: auto; font-weight:bold; font-size: 15px; border: 1px solid rgb(231, 228, 228);" id="' + j + 'itemname' + data[i].codenumber + $('#plandate').text() + '" ></td > ' +
                                    '<td style="width: auto; font-weight:bold; font-size: 15px; border: 1px solid rgb(231, 228, 228);" id="' + j + 'part' + data[i].codenumber + $('#plandate').text() + '" ></td > ' +
                                    '<td style="width: auto; font-weight:bold; font-size: 15px; border: 1px solid rgb(231, 228, 228);" id="' + j + 'linepart' + data[i].codenumber + $('#plandate').text() + '" ></td > ' +
                                    '<td style="width: auto; font-weight:bold; font-size: 15px; border: 1px solid rgb(231, 228, 228);" id="' + j + 'lotno' + data[i].codenumber + $('#plandate').text() + '" ></td > ' +
                                    '<td style="width: auto; font-weight:bold; font-size: 15px; border: 1px solid rgb(231, 228, 228);" id="' + j + 'pono' + data[i].codenumber + $('#plandate').text() + '" ></td > ' +
                                    '<td style="width: auto; font-weight:bold; font-size: 15px; border: 1px solid rgb(231, 228, 228);" id="' + j + 'accumulate' + data[i].codenumber + $('#plandate').text() + '" ></td > ' +
                                    '<td style="width: auto; font-weight:bold; font-size: 15px; border: 1px solid rgb(231, 228, 228);" id="' + j + 'remaining' + data[i].codenumber + $('#plandate').text() + '" ></td > ' +
                                    '<td style="width: auto; font-weight:bold; font-size: 15px; border: 1px solid rgb(231, 228, 228);" id="' + j + 'planone' + data[i].codenumber + $('#plandate').text() + '" ></td > ' +
                                    '<td style="width: auto; font-weight:bold; font-size: 15px; border: 1px solid rgb(231, 228, 228);" id="' + j + 'siljokone' + data[i].codenumber + $('#plandate').text() + '" ></td > ' +
                                    '<td style="width: auto; font-weight:bold; font-size: 15px; border: 1px solid rgb(231, 228, 228);" id="' + j + 'plantwo' + data[i].codenumber + $('#plandate').text() + '" ></td > ' +
                                    '<td style="width: auto; font-weight:bold; font-size: 15px; border: 1px solid rgb(231, 228, 228);" id="' + j + 'siljoktwo' + data[i].codenumber + $('#plandate').text() + '" ></td > ' +
                                    '</tr>'
                                );
                            }
                        }
                    }
                }
            });
        }


        function plansearch() {
            $.ajax({
                type: 'POST',
                url: server + '/api/equipmentname',
                dataType: 'json',
                success: function (data1) {
                    console.log(data1);

                    // 데이터1이 비어있는지 확인
                    if (data1.length === 0) {
                        console.log("데이터1이 비어 있습니다.");
                        return;
                    }

                    for (var s = 0; s < data1.length; s++) {
                        (function (s) {
                            $.ajax({
                                type: 'POST',
                                url: server + '/api/plansearch',
                                dataType: 'json',
                                contentType: 'application/json',
                                data: JSON.stringify({
                                    "plandate": $('#plandate').text(),
                                    "equipmentname": data1[s].codenumber
                                }),
                                success: function (data) {

                                    for (var i = 0; i < data.length; i++) {
                                        var bomno = 'bomno' + data1[s].codenumber + data[i].plandate;
                                        var customer = 'customer' + data1[s].codenumber + data[i].plandate;
                                        var modelname = 'modelname' + data1[s].codenumber + data[i].plandate;
                                        var itemname = 'itemname' + data1[s].codenumber + data[i].plandate;
                                        var part = 'part' + data1[s].codenumber + data[i].plandate;
                                        var linepart = 'linepart' + data1[s].codenumber + data[i].plandate;
                                        var lotno = 'lotno' + data1[s].codenumber + data[i].plandate;
                                        var pono = 'pono' + data1[s].codenumber + data[i].plandate;
                                        var accumulate = 'accumulate' + data1[s].codenumber + data[i].plandate;
                                        var remaining = 'remaining' + data1[s].codenumber + data[i].plandate;
                                        var planone = 'planone' + data1[s].codenumber + data[i].plandate;
                                        var siljokone = 'siljokone' + data1[s].codenumber + data[i].plandate;
                                        var plantwo = 'plantwo' + data1[s].codenumber + data[i].plandate;
                                        var siljoktwo = 'siljoktwo' + data1[s].codenumber + data[i].plandate;


                                        $('#' + i + bomno).text(data[i].bomno);
                                        $('#' + i + customer).text(data[i].customer);
                                        $('#' + i + modelname + '').text(data[i].modelname);
                                        $('#' + i + itemname + '').text(data[i].itemname);
                                        $('#' + i + part + '').text(data[i].part);
                                        $('#' + i + linepart + '').text(data[i].linepart);
                                        $('#' + i + lotno + '').text(data[i].lotno);
                                        $('#' + i + pono + '').text(data[i].pono);
                                        $('#' + i + accumulate + '').text(data[i].accumulate);
                                        $('#' + i + remaining + '').text(data[i].remaining);
                                        $('#' + i + planone + '').text(data[i].planone);
                                        $('#' + i + siljokone + '').text(data[i].siljokone);
                                        $('#' + i + plantwo + '').text(data[i].plantwo);
                                        $('#' + i + siljoktwo + '').text(data[i].siljoktwo);
                                    }
                                }
                            });
                        })(s);
                    }
                },
                error: function (error) {
                    console.error(error);
                }
            });
        }


        $(document).ready(function () {

            if (window.location.hostname == 'localhost') {
                server = 'http://localhost:8080';
            } else {
                server = 'http://techonmes.co.kr';
            }
            $('#popupCloseBtn-save-close').click(function () {
                $('#popupOverlay').fadeOut();
            });
            var today = new Date();

            // 년, 월, 일을 추출
            var year = today.getFullYear();
            var month = (today.getMonth() + 1).toString().padStart(2, '0'); // 월은 0부터 시작하므로 1을 더하고 2자리로 표시
            var day = today.getDate().toString().padStart(2, '0'); // 일도 2자리로 표시

            // "plandate" 엘리먼트를 가져와서 내용을 업데이트
            var plandateElement = document.getElementById("plandate");
            if (plandateElement) {
                plandateElement.textContent = year + "-" + month + "-" + day;
            }

            load()
            planload()
            plansearch()
            const selectElement1 = document.getElementById("equipment-select");
            if (selectElement1) {

                $.ajax({
                    type: 'POST',
                    url: server + '/api/equipmentname',
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function (result) {
                        for (let i = 0; i < result.length; i++) {
                            const option = document.createElement("option");
                            option.text = result[i].codenumber;
                            option.value = result[i].codenumber;
                            selectElement1.add(option);
                        }
                    },
                });
            }
            $(document).on("click", ".savebutton", function () {
                var str = "";
                var tdArr = new Array();// 배열 선언            
                var checkBtn = $(this);

                var tr = checkBtn.parent().parent();
                var td = tr.children();

                var plandate = $('#plandate').text()
                var bomno = td.eq(0).text();
                var modelname = td.eq(2).text();
                var itemname = td.eq(3).text();
                var lotno = td.eq(4).text();
                var quantity = td.eq(5).text();


                $('#plandate-save').val(plandate)
                $('#bomno-save').val(bomno)
                $('#modelname-save').val(modelname)
                $('#itemname-save').val(itemname)
                $('#lotno-save').val(lotno)
                $('#quantity-save').val(quantity)


                $('#popupOverlay').fadeIn();
                $('#equipment-select').val('')
                updateDaysLeftLabel();

            });
            plansearch()
        });



    </script>
    <script>

        // "남은 일수"를 계산하여 라벨에 추가하는 함수
        function updateDaysLeftLabel() {
            var plandateSaveValue = $("#plandate-save").val();
            var currentDate = new Date();
            var plandateDate = new Date(plandateSaveValue);
            var timeDiff = plandateDate - currentDate;
            var daysRemaining = Math.ceil(timeDiff / (1000 * 60 * 60 * 24));

            var labelElement = $("#days-left-label");



            // 남은 일수가 1일인 경우 스타일을 변경할 수 있습니다.
            if (daysRemaining === 0) {
                labelElement.css("color", "blue"); // 남은 일수가 1일인 경우 빨간색으로 변경
                labelElement.text("금일생산 예정입니다.");
            } else {
                labelElement.text(daysRemaining + "일 뒤에 생산예정입니다.");
                labelElement.css("color", "red"); // 그 외의 경우 기본 색상으로 변경
            }
            if (daysRemaining < 0) {
                labelElement.text("생산 계획을 내릴수 없습니다");
                labelElement.css("color", "red"); // 그 외의 경우 기본 색상으로 변경
            }
        }
        function Datasave() {
            var bomno = $('#bomno-save').val()
            var equipment = $('#equipment-select').val()
            var plandate = $('#plandate-save').val()
            var td = '#bomno' + equipment + plandate
            $('#bomno\\고속\\ 1호기2023-09-22').val('12');
            // $('#popupOverlay').fadeOut();
        }


    </script>
    <script src="../js/calendar.js"></script>


</body>

</html>