<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <script src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="../css/mesmain.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../js/sorttable.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />


</head>



<body>
    <div class="main_header">
        <img src="/img/테크온로고.PNG" style="width: 100px;" class="loadingImage">
        <a style="margin-left: 20px;">단가 변경 이력 및 조회</a>
    </div>
    <div id="loadingOverlay">
        <img src="/img/테크온로고.PNG" alt="로딩 이미지" class="loadingImage">

    </div>

    <fieldset>
        <legend>검색조건</legend>

        <label for="month">연 :</label>
        <select id="searchselect1">
            <option value="2024">2024년</option>
            <option value="2023">2023년</option>



        </select>
        <label for="month">월 :</label>
        <select id="searchselect2">
            <option value="1월">1월</option>
            <option value="2월">2월</option>
            <option value="3월">3월</option>
            <option value="4월">4월</option>
            <option value="5월">5월</option>
            <option value="6월">6월</option>
            <option value="7월">7월</option>
            <option value="8월">8월</option>
            <option value="9월">9월</option>
            <option value="10월">10월</option>
            <option value="11월">11월</option>
            <option value="12월">12월</option>


        </select>
        <!-- <input type="text" style="width: 100px;" class="author-cell"> -->
        <button onclick="searchData()">조회</button>
    </fieldset>
    <div id="overlay"></div>
    <table class="styled-table" id="datatable">
        <thead id="tableHead">
            <tr>
                <th style="text-align:center;" onclick="sortTable(0)">BOMNO</th>
                <th style="text-align:center;" onclick="sortTable(1)">모델명</th>
                <th style="text-align:center;" onclick="sortTable(2)">품목명</th>
                <th style="text-align:center;" onclick="sortTable(3)">거래처</th>
                <th style="text-align:center;" onclick="sortTable(4)">변경일자</th>
                <th style="text-align:center;" onclick="sortTable(5)">기존판매단가(원)</th>
                <th style="text-align:center;" onclick="sortTable(6)">차이(원)</th>
                <th style="text-align:center;" onclick="sortTable(7)">변경율(%)</th>
            </tr>
        </thead>
        <tbody id="Datatbody">

        </tbody>

    </table>

    <script>
        var server = '';

        if (window.location.hostname == 'localhost') {
            server = 'http://localhost:8080';
        } else {
            server = 'https://mestechon.com';
        }
        $(document).ready(function () {

            showLoading()
            load()
            $('#Datatbody').on('dblclick', 'tr', function () {
                openEditModal(this); // Pass the clicked row to the function
            });

        });

        // Function to close edit modal and overlay
        function closeModal() {
            $('#overlay').fadeOut();
            $('#editModal').fadeOut();
        }

        function showLoading() {
            var loadingOverlay = document.getElementById("loadingOverlay");
            loadingOverlay.style.display = "flex";
            setTimeout(function () {
                loadingOverlay.style.display = "none";
            }, 1000);
        }



        function Datasave() {
            if (confirm("샘플 발주 정보를 등록 하시겠습니까??") == true) {

                var insertdate = new Date().toISOString().slice(0, 10);

                var toolcode = $('#toolcode').val();
                var madedate = $('#datepicker1').val();
                var bomno = $('#bomno').val();
                var customer = $('#customer').val();
                var modelname = $('#modelname').val();
                var itemname = $('#itemname').val();
                var char = $('#char').val();
                var part = $('#part').val();
                var inputprice = $('#inputprice').val();
                var outputprice = $('#outputprice').val();

                $.ajax({
                    type: 'POST',
                    url: server + '/api/insertpinacle',
                    dataType: 'json',
                    contentType: 'application/json',
                    data: JSON.stringify({

                        "insertdate": insertdate,
                        "toolcode": toolcode,
                        "madedate": madedate,
                        "bomno": bomno,
                        "customer": customer,
                        "modelname": modelname,
                        "itemname": itemname,
                        "char": char,
                        "part": part,
                        "inputprice": inputprice,
                        "outputprice": outputprice




                    }),
                    success: function (result) {


                    }
                })

                $('#popupOverlay').fadeOut();
                setTimeout(function () {
                    load()
                }, 50); // 3초 후에 알림을 사라지게 설정
                var notification = $('<div class="notification"><img src="/img/테크온로고.PNG" alt="Notification Icon"><span class="notification-message" style="color:navy;">피나클 정보 등록 완료</span></div>');
                $('body').append(notification);
                setTimeout(function () {
                    notification.fadeOut(function () {
                        $(this).remove();
                    });
                }, 3000);
            } else {
                return false;
            }
        }

        function Dataedit() {
            if (confirm("고객사 정보를 수정 하시겠습니까??") == true) {

                $.ajax({
                    type: 'POST',
                    url: server + '/api/accountupdatedata',
                    dataType: 'json',
                    contentType: 'application/json',
                    data: JSON.stringify({

                        id: $('#id-edit').val(),
                        accountcode: $('#accountcode-edit').val(),
                        accountname: $('#accountname-edit').val(),
                        representativename: $('#representativename-edit').val(),
                        phone: $('#phone-edit').val(),
                        adress: $('#adress-edit').val(),
                        number: $('#number-edit').val(),
                        mobile: $('#mobile-edit').val(),
                        fax: $('#fax-edit').val(),
                        email: $('#email-edit').val(),
                        etc: $('#etc-edit').val()




                    }),
                    success: function (result) {
                        console.log(result)
                    }
                })

                $('#popupOverlay1').fadeOut();
                setTimeout(function () {
                    load()
                }, 50); // 3초 후에 알림을 사라지게 설정
                var notification = $('<div class="notification"><img src="/img/테크온로고.PNG" alt="Notification Icon"><span class="notification-message" style="color:navy;">거래처 수정 완료</span></div>');
                $('body').append(notification);
                setTimeout(function () {
                    notification.fadeOut(function () {
                        $(this).remove();
                    });
                }, 3000);
            } else {
                return false;
            }
        }


        // function load() {
        //     $('#Datatbody').empty()
        //     $.ajax({
        //         type: 'POST',
        //         url: server + '/api/houseinformation',
        //         dataType: 'json',
        //         success: function (data) {
        //             if (data.length === 0) {

        //             } else {
        //                 for (var i = 0; i < data.length; i++) {

        //                     $('#Datatbody').append(
        //                         '<tr>' +
        //                         '<td>' + (data[i].housecode || '') + '</td>' +
        //                         '<td>' + (data[i].housename || '') + '</td>' +
        //                         '<td>' + (data[i].part || '') + '</td>' +
        //                         '<td>' + (data[i].partname || '') + '</td>' +
        //                         '<td id="data-id">' + data[i].id + '</td>' +
        //                         '</tr>'

        //                     )
        //                     $("td#data-id").hide();

        //                 }
        //             }
        //         }

        //     })
        // }
        function load() {
            $('#Datatbody').empty();
            $.ajax({
                type: 'POST',
                url: server + '/api/selectpricechange',
                dataType: 'json',
                success: function (data) {
                    var tableFoot = $('#dataCount');
                    if (data.length === 0) {
                        // 데이터가 없을 때 "데이터가 없습니다" 문구 추가
                        tableFoot.text('총 데이터 개수: 0');
                    } else {
                        var groupData = groupByBomNo(data);

                        for (var i = 0; i < groupData.length; i++) {
                            var group = groupData[i];
                            var rowspan = group.length;

                            for (var j = 0; j < rowspan; j++) {
                                var rowData = group[j];
                                var bomno = rowData.bomno || '';
                                var modelname = rowData.modelname || '';
                                var itemname = rowData.itemname || '';
                                var customer = rowData.customer || '';
                                var savedate = rowData.savedate || '';
                                var price = rowData.price || '';
                                var previousprice = rowData.previousprice || '';
                                var pricedifference = rowData.pricedifference || '';
                                var pricechangepercentage = rowData.pricechangepercentage || '';

                                // pricechangepercentage가 음수인 경우 텍스트의 색상을 빨간색으로 변경
                                var pricechangepercentageColor = pricechangepercentage < 0 ? 'color: red;' : '';

                                if (j === 0) {
                                    $('#datatable').append(
                                        '<tr>' +
                                        '<td rowspan="' + rowspan + '">' + bomno + '</td>' +
                                        '<td>' + modelname + '</td>' +
                                        '<td>' + itemname + '</td>' +
                                        '<td>' + customer + '</td>' +
                                        '<td>' + savedate + '</td>' +
                                        '<td style="text-align:right;">' + price + '</td>' +
                                        // '<td style="text-align:right;">' + previousprice + '</td>' +
                                        '<td style="text-align:right;' + pricechangepercentageColor + '">' + pricedifference + '</td>' +
                                        '<td style="text-align:right;' + pricechangepercentageColor + '">' + pricechangepercentage + '</td>' +
                                        '<td id="data-id">' + rowData.id + '</td>' +
                                        '</tr>'
                                    );
                                } else {
                                    $('#datatable').append(
                                        '<tr>' +
                                        '<td>' + modelname + '</td>' +
                                        '<td>' + itemname + '</td>' +
                                        '<td>' + customer + '</td>' +
                                        '<td>' + savedate + '</td>' +
                                        '<td style="text-align:right;">' + price + '</td>' +
                                        // '<td style="text-align:right;">' + previousprice + '</td>' +
                                        '<td style="text-align:right;' + pricechangepercentageColor + '">' + pricedifference + '</td>' +
                                        '<td style="text-align:right;' + pricechangepercentageColor + '">' + pricechangepercentage + '</td>' +
                                        '<td id="data-id">' + rowData.id + '</td>' +
                                        '</tr>'
                                    );
                                }
                            }
                        }

                        $("td#data-id").hide();
                        tableFoot.text('총 데이터 개수: ' + data.length);
                    }
                }
            });
        }

        function groupByBomNo(data) {
            var groupedData = {};
            data.forEach(function (rowData) {
                var bomno = rowData.bomno;
                if (!groupedData[bomno]) {
                    groupedData[bomno] = [];
                }
                groupedData[bomno].push(rowData);
            });

            return Object.values(groupedData);
        }

    </script>


</body>

</html>