<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>단가 변경 이력 조회</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.5/xlsx.full.min.js"></script>
    <link rel="stylesheet" href="https://uicdn.toast.com/tui.grid/latest/tui-grid.css">

    <script src="https://uicdn.toast.com/tui.grid/latest/tui-grid.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <link rel="stylesheet" href="../css/mescss.css">
    <link rel="stylesheet" href="../css/houseinfor.css">


</head>
<style>
    #grid {
        min-height: 300px;
        /* 높이를 300px로 설정합니다. */
    }

    .tui-grid-header-area {
        position: sticky;
        top: 0;
        z-index: 10;
        background-color: white;
    }

    /* 열 헤더 내부의 각 열을 고정하는 CSS */
    .tui-grid-header {
        overflow: hidden;
    }

    /* 그리드 스크롤 영역을 조정하기 위한 CSS */
    .tui-grid-body-area {
        overflow-y: auto !important;
        max-height: calc(100vh - 40px);
        /* 그리드의 최대 높이 지정 (헤더의 높이만큼 빼줍니다) */
    }
</style>

<body>
    <div class="menu-title">
        <i class="fas fa-history"></i> 단가 변경 이력 조회
    </div>
    <div class="search-container">
        <label for="search" class="search-label"> 검색 :</label>
        <div class="search-input-wrapper">
            <input type="text" id="search" placeholder="검색어를 입력하세요...">
            <i class="fas fa-search search-icon"></i>
        </div>
        <button class="new-registration-button" onclick="opennew()">신규등록</button>

    </div>

    <div id="grid"></div>


    <script>

        var server = '';
        var tui;
        var gridData;

        if (window.location.hostname == 'localhost') {
            server = 'http://localhost:8080';
        } else {
            server = 'http://techonmes.co.kr';
        }


        $(document).ready(function () {
            setTimeout(function () {
                load();
            }, 500);

        });

        function initializeGrid() {
            grid = new tui.Grid({
                el: document.getElementById('grid'),
                data: [],
                scrollX: true, // 가로 스크롤 활성화
                scrollY: 300, // 세로 스크롤 높이 설정 (여기서는 300px)
                autoHeight: true,
                columns: [
                    {
                        header: 'BOMNO',
                        name: 'bomno',
                        filter: 'select',
                        sortable: true,
                        resizable: true

                    },
                    {
                        header: '모델명',
                        name: 'modelname',
                        filter: 'select',
                        sortable: true,
                        resizable: true

                    },
                    {
                        header: '제품명',
                        name: 'itemname',
                        filter: 'select',
                        sortable: true,
                        resizable: true

                    },
                    {
                        header: '고객사',
                        name: 'customer',
                        filter: 'select',
                        sortable: true,
                        resizable: true
                    },
                    {
                        header: '등록일자',
                        name: 'savedate',
                        filter: 'select',
                        sortable: true,
                        resizable: true
                    },
                    {
                        header: '단가(￦)',
                        name: 'previousprice',
                        filter: 'select',
                        sortable: true,
                        resizable: true,
                        align: 'right',
                        width: 120
                    },
                    {
                        header: '차이(￦)',
                        name: 'pricedifference',
                        filter: 'select',
                        sortable: true,
                        resizable: true,
                        align: 'right',
                        width: 120

                    },
                    {
                        header: '변경율(%)',
                        name: 'pricechangepercentage',
                        filter: 'select',
                        sortable: true,
                        resizable: true,
                        align: 'right',
                        width: 120

                    }
                ],

            });

            grid.on('dblclick', async (ev) => {
                const rowIndex = ev.rowKey;
                const rowData = await grid.getRow(rowIndex);
                console.log('Row Data:', rowData['bomno']);
            });

        }



    </script>

    <script>
        function load() {
            $.ajax({
                type: 'POST',
                url: server + '/api/selectpricechange',
                dataType: 'json',
                success: function (data) {
                    gridData = data;
                    grid.resetData(data);
                },

            });



            // Add event listener for the search input
            // $('#search').on('input', function () {
            //     var keyword = $(this).val().toLowerCase();

            //     // Filter the data based on the search keyword
            //     var filteredData = gridData.filter(function (item) {
            //         return Object.values(item).some(function (value) {
            //             return typeof value === 'string' && value.toLowerCase().includes(keyword);
            //         });
            //     });

            //     grid.resetData(filteredData);
            // });
            initializeGrid();
        }
    </script>
</body>

</html>