<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>거래처정보</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>
    <link rel="stylesheet" href="../css/main.css">
</head>
<style>
    #datatable-container {
        max-height: 1000px;
        /* Adjust the maximum height as needed */
        overflow-y: auto;
        /* Add vertical scrollbars if the content exceeds the container height */
    }

    #datatable {
        width: 100%;
        /* Other table styles */
    }
</style>

<body>
    <div class="main_header">
        <a>생산타발이력</a>
        <div class="buttons" style="display: flex; justify-content: flex-end;">
            <!-- <button >신규</button> -->
        </div>

    </div>
    <div id="loadingOverlay">
        <img src="/img/테크온로고.PNG" alt="로딩 이미지" class="loadingImage">

    </div>

    <canvas id="lineChart" width="800" height="400"></canvas>
    <div id="datatable-container">

        <table class="styled-table" id="datatable">
            <thead>
                <tr>
                    <th style="width: auto;" onclick="sortTable(0)">작업날짜</th>
                    <th style="width: auto;" onclick="sortTable(1)">작업지시번호</th>
                    <th style="width: auto;" onclick="sortTable(2)">LOTNO.</th>
                    <th style="width: auto;" onclick="sortTable(3)">BOMNO.</th>
                    <th style="width: auto;" onclick="sortTable(4)">모델명</th>
                    <th style="width: auto;" onclick="sortTable(5)">품명</th>
                    <th style="width: auto;" onclick="sortTable(6)">설비호기</th>
                    <th style="width: auto;" onclick="sortTable(7)">정지시간</th>
                    <th style="width: auto;" onclick="sortTable(8)">해제시간</th>
                    <th style="width: auto;" onclick="sortTable(9)">정지(초)</th>
                    <th style="width: auto;" onclick="sortTable(10)">원인</th>
                    <th style="width:80px;"></th>
                    <th style="width:80px;"></th>
                </tr>
            </thead>
            <tbody id="Datatbody">
            </tbody>
            <tfoot>
                <tr>
                    <td style="border: 1px solid silver;" colspan="13" id="dataCount"></td>
                </tr>
            </tfoot>
        </table>

    </div>


    <script>
        var server = '';

        if (window.location.hostname == 'localhost') {
            server = 'http://localhost:8080';
        } else {
            server = 'https://mestechon.com';
        }
        $(document).ready(function () {
            showLoading()
            load()



        });




        function showLoading() {
            var loadingOverlay = document.getElementById("loadingOverlay");
            loadingOverlay.style.display = "flex";

            // 로딩 완료 후 일정 시간 후 로딩 창 숨기기 (테스트용)
            setTimeout(function () {
                loadingOverlay.style.display = "none";
            }, 1000);
        }



        function load() {
            $('#Datatbody').empty();
            $.ajax({
                type: 'POST',
                url: server + '/api/productionpause',
                dataType: 'json',
                success: function (data) {
                    var tableFoot = $('#dataCount');
                    var totalPauseTime = calculateTotalPauseTime(data);
                    var operatingTime = calculateOperatingTime(data);

                    if (data.length === 0) {
                        // 데이터가 없을 때 "데이터가 없습니다" 문구 추가
                        tableFoot.text('총 데이터 개수: 0');
                    } else {
                        for (var i = 0; i < data.length; i++) {
                            var downtime = data[i].downtime;
                            var restarttime = data[i].restarttime;
                            var timeDifferenceInSeconds = calculateTimeDifferenceInSeconds(downtime, restarttime);
                            if (isLunchBreakTime(downtime) || isLunchBreakTime(restarttime)) {
                                timeDifferenceInSeconds = 0;
                            }


                            $('#datatable').append(
                                '<tr>' +
                                '<td>' + data[i].registrationdate + '</td>' +
                                '<td>' + data[i].productionordernumber + '</td>' +
                                '<td>' + data[i].lotno + '</td>' +
                                '<td>' + data[i].bomno + '</td>' +
                                '<td>' + data[i].modelname + '</td>' +
                                '<td>' + data[i].productname + '</td>' +
                                '<td>' + data[i].equipment + '</td>' +
                                '<td>' + downtime + '</td>' +
                                '<td>' + restarttime + '</td>' +
                                '<td style="color:red;">' + timeDifferenceInSeconds + '초</td>' + // 시간 차이를 초로 표시
                                '<td>' + data[i].DowntimeReason + '</td>' +
                                '<td><a class="data-edit" style="cursor:pointer; color:navy;">수정</a></td>' +
                                '<td><a class="data-delete"style="cursor:pointer; color:red;">삭제</a></td>' +
                                '<td id="data-id">' + data[i].id + '</td>' +
                                '</tr>'
                            );

                            $("td#data-id").hide();
                        }
                        createLineChart(data);
                    }
                }
            });
        }

        function isLunchBreakTime(time) {
            var lunchBreakStartTime = "12:30:00";
            var lunchBreakEndTime = "13:30:00";

            // 시간 문자열을 Date 객체로 변환합니다.
            var timeDate = new Date("2000-01-01T" + time);
            var lunchBreakStartDate = new Date("2000-01-01T" + lunchBreakStartTime);
            var lunchBreakEndDate = new Date("2000-01-01T" + lunchBreakEndTime);

            // 시간이 점심시간 내에 속하는지 확인합니다.
            return timeDate >= lunchBreakStartDate && timeDate <= lunchBreakEndDate;
        }


        function calculateTimeDifferenceInSeconds(startTime, endTime) {
            var start = new Date("2000-01-01T" + startTime);
            var end = new Date("2000-01-01T" + endTime);

            var timeDifferenceInSeconds = (end - start) / 1000; // Difference in seconds
            if (timeDifferenceInSeconds < 0) {
                timeDifferenceInSeconds += 86400; // Add 24 hours to account for overnight time
            }
            return timeDifferenceInSeconds;
        }


        function timeStringToSeconds(timeString) {
            const timeParts = timeString.split(':');
            const hours = parseInt(timeParts[0], 10);
            const minutes = parseInt(timeParts[1], 10);
            const seconds = parseInt(timeParts[2], 10);
            const totalSeconds = hours * 3600 + minutes * 60 + seconds;
            return totalSeconds;
        }

        function calculateTotalPauseTime(data) {
            var totalPauseTime = 0;

            for (var i = 0; i < data.length; i++) {
                // data[i]에서 정지시간을 추출하여 totalPauseTime에 더해준다
                totalPauseTime += parseInt(data[i].pauseDuration);
            }

            return totalPauseTime;
        }

        function calculateOperatingTime(data) {
            var operatingTime = 0;
            var workingStartTime = 9 * 60; // 9:00를 분으로 변환
            var workingEndTime = 18 * 60; // 18:00를 분으로 변환

            for (var i = 0; i < data.length; i++) {
                // data[i]에서 가동시간을 추출하여 workingStartTime과 workingEndTime 사이에 포함되는 경우 operatingTime에 더해준다
                var startTime = parseInt(data[i].startTime);
                var endTime = parseInt(data[i].endTime);

                if (startTime >= workingStartTime && endTime <= workingEndTime) {
                    operatingTime += endTime - startTime;
                } else if (startTime < workingStartTime && endTime > workingStartTime) {
                    operatingTime += endTime - workingStartTime;
                } else if (startTime < workingEndTime && endTime > workingEndTime) {
                    operatingTime += workingEndTime - startTime;
                }
            }

            return operatingTime;
        }
        function createLineChart(data) {
            var ctx = document.getElementById('lineChart').getContext('2d');

            var chartData = {
                labels: data.map(item => moment(item.registrationdate)),
                datasets: [{
                    label: 'Time Difference (seconds)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    data: data.map(item => calculateTimeDifferenceInSeconds(item.downtime, item.restarttime)),
                    fill: false,
                }]
            };

            // var chartOptions = {
            //     scales: {
            //         x: {
            //             type: 'time',
            //             time: {
            //                 unit: 'time',
            //             }
            //         },
            //         y: {
            //             beginAtZero: true
            //         }
            //     }
            // };

            var lineChart = new Chart(ctx, {
                type: 'line',
                data: chartData,
                // options: chartOptions
            });
        }
    </script>
</body>

</html>