<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.14.3/xlsx.full.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.min.js"></script>
    <title>생산발주리스트(출고대기)</title>
    <link rel="stylesheet" href="/css/productorderlist.css">
      <script src="/config.json" type="text/javascript"></script>
</head>

<body>
    <div class="account-header">
        <div class="title" ><h3 class="title-htag">&nbsp&nbsp 생산발주리스트(출고대기) </div>
        
    </div>
    <div style="height: 40px;">
        <input type="button" value="신규추가" class="sales-bottom-insert" onclick="save_material()">
        <input type="button" value="선택삭제" class="sales-bottom-delete">
        <input type="button" value="EXCEL" class="sales-excel" id="excelFileExport">
    </div>
    <div class="account-body" >
      
        <table>
            <thead>
                <tr>
                    <th>
                        <div>
                            <input type="checkbox">
                        </div>
                    </th>

                    <th>발주날짜</th>
                    <th>모델명</th>
                    <th>제품명</th>
                    <th>BOMNO.</th>
                    <th>LOTNO.</th>
                    <th>발주번호</th>
                    <th>발주수량</th>
                    <th>상태</th>
                </tr>
            </thead>
            <tbody class="accountinfo">

            </tbody>
        </table>
        

    </div>
    <div class="account-table">

    </div>
    <div class="account-bottom">

    </div>
   
    <div class="loading_pop">
        <img src="/img/테크온로고.PNG"><br>
        <h3>잠시만 기다려주세요...</h3>
    </div>
</body>
<script>
     var server = '';

$.getJSON("config.json", function (data) {
    console.log(data[0].Ipconfig)
   
    server = data[0].Ipconfig;
    if (server == 'techonmes.cafe24app.com') {
        server = '';
    } else {
        server = 'http://localhost:8001';
    }


}).fail(function (e) {
    console.log("An error has occurred.");
    console.log(e)
});

//시간 지나고 작동코드

    function loading() {
        setTimeout(() => $('.loading_pop').css("display", "block") , 1500);
    }


    $(window).ready(function () {
        $.ajax({
            type: 'POST',
            url: 'http://localhost:8001/api/productorder',

            dataType: 'json',
            ///datatype text 인이유 : string
            success: function (data) {

                console.log(data)

                for (var i = 0; i < data.length; i++) {
                    $('.accountinfo').append(
                        '<tr>' +
                        '<td style="border: 1px solid silver ;"><input type="checkbox" name="user_CheckBox" style="border: 1px solid silver;"></td>' +
                        '<td style="border: 1px solid silver; ">' + data[i].productdate + '</td>' + //
                        '<td style="border: 1px solid silver; ">' + data[i].modelname + '</td>' +
                        '<td style="border: 1px solid silver; ">' + data[i].productname + '</td>' +
                        '<td style="border: 1px solid silver; ">' + data[i].bomno + '</td>' + //
                        '<td style="border: 1px solid silver; ">' + data[i].lotno + '</td>' +
                        '<td style="border: 1px solid silver; ">' + data[i].productnumber + '</td>' +
                        '<td style="border: 1px solid silver; ">' + data[i].productcount + '</td>' +
                        '<td style="border: 1px solid silver; ">' + data[i].status + '</td>' +
                        '</tr>'
                    )
                    if(data[i].status="자재출고대기" ){
                        $('.status'+i).css("background-color","red")
                        $('.status'+i).css("color","white")
                        
                    }else{
                        
                    }
                }
            }
        })
    })

  
</script>

</html>