<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/productlist1.css">

    <!-- <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" type="text/css"
        href="https://cdn.datatables.net/select/1.3.3/css/select.dataTables.min.css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.24/datatables.min.js"></script> -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.3.4/css/select.dataTables.min.css" />

    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.5/jszip.min.js"></script>

    <script type="text/javascript" src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.min.js"></script>

  
</head>

<body>

    <div class="popup" id="pop1">

        <a class="popup_title">생산발주/지시</a>

        <div class="popup-up">
            <input type="text" style="width: 100px; height: 20px;" id="count1"><br>
            <input type="button" class="close_button" value="닫기" onclick="modalClose()">
            <input type="button" class="save_button" value="저장" onclick="save_open()">
        </div>

        <hr>
        <div class="popupcontent" style="width: 100%">

            <a>납기일자 : </a><br>
            <input type="text" style="width: 300px; height: 30px; " id="productdate"><br>

            <a>모델명 : </a><br>
            <input type="text" style="width: 300px; height: 30px;" id="modelname"><br>

            <a>제품명 : </a><br>
            <input type="text" style="width: 300px; height: 30px;" id="itemname"><br>

            <a>lotno : </a><br>
            <input type="text" style="width: 300px; height: 30px;" id="lotno"><br>

            <a>발주번호 : </a><br>
            <input type="text" style="width: 300px; height: 30px;" id="productnumber"><br>

            <a>발주수량 : </a><br>
            <input type="text" style="width: 300px; height: 30px;" id="count" onchange="valuechange()"
                onkeyup="inputNumberFormat(this)"><br>

            <a>생산지시날짜 : </a><br>
            <input type="date" style="width: 300px; height: 30px;" id="productiondate"><br>

            <a>생산설비명 : </a><br>
            <input type="text" style="width: 300px; height: 30px;" id="marchine"><br>

            <a>생산지시수량 : </a><br>
            <input type="text" style="width: 300px; height: 30px;" id="productcount"><br>

            <a>작업자 : </a><br>
            <input type="text" style="width: 300px; height: 30px;" id="people"><br>
        </div>



    </div>

    <div class="title" style="border: 1px solid black;">
        <h3 class="title-htag" style="margin-left:20px;"> 생산발주대기리스트 </h3>

    </div>


    <div style="width:100%; height:50px; border: 1px solid black;">
        <button class="account_save" style="width: 100px;" onclick="save_open()">생산발주/지시</button>

    </div>

    <div class="pop_content" id="pop2" style="width:100%; ">
        <div class="bomleft" style="width:100%; height: 300px; ">
            <table id="fileinfo" class="display" style="width:100%; ">
                <thead>
                    <tr>
                        <th></th>
                        <th>납기일자</th>
                        <th>모델명</th>
                        <th>제품명</th>
                        <th>수량</th>
                        <th>재고확인</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>


    </div>
    <!-- <div class="pop_content" id="pop2" style="width:47%; margin-top: 30px; float :right;">
        <div class="bomleft" style="width:100%; height: 300px; ">
            <table id="fileinfo1" class="display" style="width:100%; ">
                <thead>
                    <tr>

                        <th>모델명</th>
                        <th>제품명</th>
                        <th>제품가격</th>
                        <th>수량합계</th>


                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>


    </div> -->
    <!-- <div class="pop_content" id="pop2" style="width:47%; margin-top: 30px; float :right;">
        <div class="title" style="border: 1px solid black;">
            <h3 class="title-htag" style="margin-left:20px;"> 품목재고 </h3>

        </div>
        <div class="bomleft" style="width:100%; height: 300px; ">
            <table id='myTable' class="sales-table">
                <thead>
                    <tr>


                        <th style="width: 250px;">모델명</th>
                        <th style="width: 250px">제품명</th>
                        <th style="width: 80px;">제품단가(₩)</th>
                        <th style="width: 60px;">수량(개)</th>
                        <th style="width: 60px;">금액(₩)</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="table_first" id="accounttable">

                </tbody>
            </table>

        </div>


    </div> -->

</body>




<script>

    var table;
    $.ajax({
        type: 'POST',
        url: "http://localhost:8080/api/accountmaterial"
    }).done(function (d) {
        settingDate()
        table = $('#fileinfo').DataTable({
            data: d,
            lengthMenu: [8, 10],
            // dom: 'Bfrtip',
            destroy: true, // 이 부분 체크해 주세요!

            "columns": [

                { "data": "id" },
                { "data": "deliverydate" },
                { "data": "MODELNAME" },
                { "data": "ITEMNAME" },
                { "data": "QUANTITY" },
                { "data": "DIFFERENCE" }
            ],
            columnDefs: [
                {
                    targets: 0,
                    visible: false
                },
                {
                    targets: 1,
                    width: 100
                },
                {
                    targets: 4,
                    width: 100,
                    class: "alRight"
                },
                {
                    targets: 5,
                    width: 100,
                    class: "alRight"
                },
                {
                    targets: 6,
                    width: 150,
                    data: null,
                    defaultContent: '<button style="width:100px;">발주/지시</button>'
                }


            ],
            createdRow: function (row, data, index) {

                // Updated Schedule Week 1 - 07 Mar 22

                if (data.DIFFERENCE > data.QUANTITY) {
                    $('td:eq(4)', row).css('background-color', 'lime');  //Original Date\
                    $('td:eq(4)', row).css('color', 'black');  //Original Date
                }
                if (data.DIFFERENCE < data.QUANTITY) {
                    $('td:eq(4)', row).css('background-color', 'red');  //Original Date
                    $('td:eq(4)', row).css('color', 'white');  //Original Date
                }
                if (data.DIFFERENCE == 0) {
                    $('td:eq(4)', row).css('background-color', 'red');  //Original Date
                    $('td:eq(4)', row).css('color', 'white');  //Original Date
                }
            },
           

            //언어 변경
            "language": {
                emptyTable: "데이터가 없습니다.",
                lengthMenu: "페이지당 _MENU_ 개씩 보기",
                info: "현재 _START_ - _END_ / _TOTAL_건",
                infoEmpty: "데이터 없음",
                infoFiltered: "( _MAX_건의 데이터에서 필터링됨 )",
                search: "검색:",
                zeroRecords: "일치하는 데이터가 없습니다.",
                loadingRecords: "로딩중...",
                processing: "잠시만 기다려 주세요.",
                paginate: {
                    next: "다음",
                    previous: "이전",
                },
            },

        }
        );
    });

    var table1;
    $.ajax({
        type: 'POST',
        url: "http://localhost:8080/api/iteminputgroup"
    }).done(function (d) {
        settingDate()
        table1 = $('#fileinfo1').DataTable({
            data: d,
            lengthMenu: [8, 10],
            // dom: 'Bfrtip',
            destroy: true, // 이 부분 체크해 주세요!

            "columns": [

                { "data": "modelname" },
                { "data": "itemname" },
                { "data": "itemprice" },
                { "data": "quantity" }

            ],
            columnDefs: [


            ],
         

            //언어 변경
            "language": {
                emptyTable: "데이터가 없습니다.",
                lengthMenu: "페이지당 _MENU_ 개씩 보기",
                info: "현재 _START_ - _END_ / _TOTAL_건",
                infoEmpty: "데이터 없음",
                infoFiltered: "( _MAX_건의 데이터에서 필터링됨 )",
                search: "검색:",
                zeroRecords: "일치하는 데이터가 없습니다.",
                loadingRecords: "로딩중...",
                processing: "잠시만 기다려 주세요.",
                paginate: {
                    next: "다음",
                    previous: "이전",
                },
            },

        }
        );
    });
    $('#fileinfo tbody').on('click', 'button', function () {
        table1 = $('#fileinfo').DataTable();
        var data1 = table1.row($(this).parents('tr')).data(); // getting 
       
        $("#count1").css("display" ,"none");
        $('#productdate').val(data1.deliverydate);
        $('#size').val(data1.size);
        $('#modelname').val(data1.modelname);
        $('#itemname').val(data1.itemname);
        $('#itemprice').val(data1.itemprice);
        $('.popup').css("display", "block");

    });

    function modalClose() {
        $('.popup').css("display", "none");
    }

    function tableadd() {

        modelname = $('#modelname').val();
        itemname = $('#itemname').val();

        itemprice = $('#itemprice').val();
        itemcount = $('#count').val();
        var number = itemcount.replace(/,/g, "");
        price = number * $('#itemprice').val();

        const table = document.getElementById('myTable');
        const totalRowCnt = table.rows.length;
        var count = totalRowCnt;

        $('.table_first').append(
            '<tr>' +
            '<td><input type="text" class="tdTextStyle" id="row_modelname' + count + '" value="' + modelname + '"></td>' +
            '<td><input type="text" class="tdTextStyle" id="row_itemname' + count + '" value="' + itemname + '"></td>' +

            '<td><input type="text" class="tdTextStyle" style="text-align: right" id="row_itemprice' + count + '" value="' + itemprice + '"></td>' +
            '<td><input type="text" class="tdTextStyle" style="text-align: right" id="row_itemcount' + count + '" value="' + itemcount + '"></td>' +
            '<td><input type="text" class="tdTextStyle" style="text-align: right" id="row_price' + count + '" value="' + price + '"></td>' +
            '<td><input type="button" onclick="deleteRow()" value="삭제">' +
            '</tr>'
        )


        $('#count').val('');

        $('.popup').css("display", "none");
    }


    function deleteRow(row) {
        var d = row.parentNode.parentNode.rowIndex;
        document.getElementById('table_first').deleteRow(d);
    }


    // 숫자 컴마표시
    function inputNumberFormat(obj) {
        obj.value = comma(uncomma(obj.value));
    }
    // 숫자 컴마 제거후 int 변경
    function comma(str) {
        str = String(str);
        return str.replace(/(\d)(?=(?:\d{3})+(?!\d))/g, '$1,');
    }
    function uncomma(str) {
        str = String(str);
        return str.replace(/[^\d]+/g, '');
    }
    ///////=====================

    function valuechange() {
        const table = document.getElementById('myTable');
        const totalRowCnt = table.rows.length;

        // result.innerText = '전체 행 개수: ' + totalRowCnt + '\n'

        var count = totalRowCnt;
        var addcount = count - 1;
        for (var i = 1; i < addcount; i++) {
            var itemprice = $('#row_itemprice' + i + '').val();
            var quantity = $('#row_quantity' + i + '').val()
            var number1 = itemprice.replace(/,/g, "");
            var number = quantity.replace(/,/g, "");

            $('#row_price' + i + '').val(number1 * number)
        }

    }

    function save_open() {




        if (confirm("발주일 :" + $('#productiondate').val() + " 발주 정보를 등록 하시겠습니까??") == true) {
            const date = new Date();

            var day = date.getDate();
            var month = date.getMonth() + 1;
            var year = date.getFullYear();

            console.log((month).length, day.length)

            if (month === 1 || month === 2 || month === 3 || month === 4 || month === 5 || month === 6 || month === 7 || month === 8 || month === 9) {
                month = '0' + month

            }

            if (day === 1 || day === 2 || day === 3 || day === 4 || day === 5 || day === 6 || day === 7 || day === 8 || day === 9) {
                day = '0' + day

            }


            // This arrangement can be altered based on how we want the date's format to appear.
            let currentDate = `${year}-${month}-${day}`;
            
            var productdate = $('#productdate').val();
            var id = $('#count1').val();
            var modelname = $('#modelname').val();
            var itemname = $('#itemname').val();
            var lotno = $('#lotno').val();
            var productnumber = $('#productnumber').val()
            // var number2 = quantity.replace(/,/g, "");
            var productcount = $('#productcount').val();
            // var number3 = price.replace(/,/g, "");

            $.ajax({
                type: 'POST',
                url: 'http://localhost:8080/api/productlistinsertdata',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify({
                    "productdate": productdate,
                    "modelname": modelname,
                    "productname": itemname,
                    "bomno": lotno,
                    "lotno": lotno,
                    "productnumber": productnumber,
                    "productcount": productcount

                    // productdate,modelname,productname,bomno,lotno,productnumber,productcount,status
                }),
                success: function (result) {
                    console.log(result)
                }
            })



            $.ajax({
                type: 'POST',
                url: 'http://localhost:8080/api/accountupdatedata',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify({
                    "id": id,
                    "productionorder": currentDate


                }),
                success: function (result) {
                    console.log(result)
                }
            })

            alert("저장이 완료 되었습니다.");


            $('.popup').css("display", "none");



        } else {
            return false;
        }


    }

    function settingDate() {
        const date = new Date();

        var day = date.getDate();
        var month = date.getMonth() + 1;
        var year = date.getFullYear();

        console.log((month).length, day.length)

        if (month === 1 || month === 2 || month === 3 || month === 4 || month === 5 || month === 6 || month === 7 || month === 8 || month === 9) {
            month = '0' + month
            console.log(month)
        }

        if (day === 1 || day === 2 || day === 3 || day === 4 || day === 5 || day === 6 || day === 7 || day === 8 || day === 9) {
            day = '0' + day
            console.log(day)
        }


        // This arrangement can be altered based on how we want the date's format to appear.
        let currentDate = `${year}-${month}-${day}`;
        console.log(currentDate); // "17-6-2022"


        $('#datepicker2').val(currentDate);

    }
    function accuountsave() {
        $('.table_first').empty();
    }


    $('#fileinfo tbody').on('click', 'button', function () {
        table1 = $('#fileinfo').DataTable();
        var data1 = table1.row($(this).parents('tr')).data(); // getting 
        console.log(data1)
        $('#deliverydate').val(data1.deliverydate);
        $('#modelname').val(data1.MODELNAME);
        $('#itemname').val(data1.ITEMNAME);
        $('#count').val('');
        $('#count1').val(data1.id);

        $('.popup').css("display", "block");

    });



</script>

</html>