<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>거래처정보</title>
<script src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="../css/mesmain.css">
<link rel="stylesheet" href="../css/mesmaterialinput.css">
<link rel="stylesheet" href="../css/calendar.css">

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<head>
    <style>
        tfoot td {
            height: 100px;
        }

        select {
            width: 100%;
            padding: 10px;
            box-sizing: border-box;
            font-size: 15px;
            font-weight: bold;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        input {
            width: 100%;
            padding: 10px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 15px;
            font-weight: bold;
        }

        #datatable th {
            text-align: center;
        }

        #datatable td {
            height: 20px;
        }
    </style>
</head>

<body>
    <div class="main_header">
        <img src="/img/테크온로고.PNG" style="width: 100px;" class="loadingImage">
        <a style="margin-left: 20px;">생산계획등록</a>
    </div>

    <div id="overlay"></div>
    <div id="editModal3" style="max-height: 600px;  overflow-y: auto;">
        <div class="mainheader">
            <h1>생산 계획 등록</h1>
            <span class="close" onclick="closeModal()">&times;</span>
        </div>
        <div id="editForm">
            <fieldset>
                <legend>생산설비정보</legend>
                <div>
                    <b for="equipmentname">설비명 :</b>
                    <input type="text" id="equipmentname" style="width:200px; text-align: center;">

                    <b for="dataid">설비코드 :</b>
                    <input type="text" id="dataid" style="width:200px; text-align: center;">

                    <b for="plandatein">생산계획날짜:</b>
                    <input type="text" id="plandatein" style="width:200px; text-align: center;">

                    <label for="num" style="visibility: hidden;">Number:</label>
                    <input type="text" id="num" style="width:200px; visibility: hidden; text-align: center;">
                </div>
            </fieldset>
            <table class="styled-table" id="planstauts">

                <thead id="tableHead">
                    <tr>
                        <th colspan="9" rowspan="1"
                            style="width: auto; font-size: 20px; font-weight: bold; border: 1px solid rgb(231, 228, 228);">
                            생산확정 리스트
                        </th>
                    </tr>
                    <tr>
                        <th style="width: auto; font-size: 15px; border: 1px solid rgb(231, 228, 228);">고객사</th>
                        <th style="width: auto; font-size: 15px; border: 1px solid rgb(231, 228, 228);">구분</th>
                        <th style="width: auto; font-size: 15px; border: 1px solid rgb(231, 228, 228);">BOM NO.</th>
                        <th style="width: auto; font-size: 15px; border: 1px solid rgb(231, 228, 228);">차수</th>
                        <th style="width: auto; font-size: 15px; border: 1px solid rgb(231, 228, 228);">모델명</th>
                        <th style="width: auto; font-size: 15px; border: 1px solid rgb(231, 228, 228);">품명</th>
                        <th style="width: auto; font-size: 15px; border: 1px solid rgb(231, 228, 228);">생산LOT</th>
                        <th style="width: auto; font-size: 15px; border: 1px solid rgb(231, 228, 228);">수량</th>
                        <th style="width: auto; font-size: 15px; border: 1px solid rgb(231, 228, 228);"></th>


                    </tr>

                </thead>
                <tbody id="planstatustbody">
                </tbody>
            </table>
        </div>
    </div>
    <div id="editModal4" style="width: 800px; height: auto;">
        <div class="mainheader">
            <h1>생산 계획 정보</h1>
            <span class="close" onclick="closeModal4()">&times;</span>
        </div>


        <div id="editForm">
            <table>
                <tr style="height:50px;">
                    <td> <button id="deleteBtn" onclick="accountsave()" class="btn btn-danger"
                            style="background-color: blue;">
                            <i class="fas fa-save"></i> 저장
                        </button>
                        <button id="deleteBtn" onclick="deletedata()" class="btn btn-danger"
                            style="background-color: red;">
                            <i class="fas fa-trash"></i> 삭제
                        </button>
                    </td>
                    <td colspan="1" style="visibility: hidden;">생산계획 정보
                        <input type="text" id="orderid" style=" width:50px;">
                        <input type="text" id="id-edit" style=" width:50px;">
                        <input type="text" id="num-edit" style=" width:50px;">
                    </td>
                </tr>
                <tr>
                    <td><label for="editAuthor">BOMNO</label></td>
                    <td><input type="text" id="bomno-edit" value="" readonly autocomplete="off"></td>
                </tr>
                <tr>
                    <td><label for="editAuthor">고객사</label></td>
                    <td><input type="text" id="customer-edit" value="" readonly autocomplete="off"></td>
                </tr>
                <tr>
                    <td><label for="editAuthor">모델명</label></td>
                    <td><input type="text" id="modelname-edit" value="" readonly autocomplete="off"></td>
                </tr>
                <tr>
                    <td><label for="editAuthor">품명</label></td>
                    <td><input type="text" id="itemname-edit" value="" readonly autocomplete="off"></td>
                </tr>
                <tr>
                    <td><label for="editAuthor">총작업차수</label></td>
                    <td><input type="text" id="part-edit" value="" readonly autocomplete="off"></td>
                </tr>
                <tr>
                    <td><label for="editAuthor">라인계획차수</label></td>
                    <td><input type="text" id="linepart-edit" value="" readonly autocomplete="off"></td>
                </tr>
                <tr>
                    <td><label for="editAuthor">생산LOT</label></td>
                    <td><input type="text" id="lotno-edit" value="" readonly autocomplete="off"></td>
                </tr>
                <tr>
                    <td><label for="editAuthor">작업지시수량</label></td>
                    <td><input type="text" id="pono-edit" value="" readonly autocomplete="off"></td>
                </tr>
                <tr>
                    <td><label for="editAuthor">설비연동</label></td>
                    <td><select id="equipmentname-edit"></select></td>
                    <td><button onclick="datain()">설비연동</button></td>
                </tr>


            </table>


        </div>
    </div>
    <div class="calendar">
        <div class="month">
            <button class="prev-month">
                <img style="cursor:pointer;" src="../img/left-arrow.png" />
            </button>
            <h1 id="month-year">2023년 9월</h1>
            <button class="next-month">
                <img style="cursor:pointer;" src="../img/right-arrow.png" />
            </button>
        </div>
        <div class="dates">
        </div>
    </div>


    <div id="datatable-container" style="width: 100%; float: left;">
        <table class="styled-table" id="datatable">
            <thead id="tableHead">
                <tr>
                    <th colspan="21" style="width: auto;  border: 1px solid rgb(231, 228, 228);;" id="plandate">
                    </th>
                </tr>
                <tr>
                    <th rowspan="2" style="width: auto; font-size: 15px; border: 1px solid rgb(231, 228, 228);  ">
                        호기(설비명)
                    </th>
                    <th rowspan="2" style="width: auto; font-size: 15px; border: 1px solid rgb(231, 228, 228);  ">
                        BOM
                        NO.
                    </th>
                    <th rowspan="2" style="width: auto; font-size: 15px; border: 1px solid rgb(231, 228, 228);  ">
                        고객사
                    </th>
                    <th rowspan="2" style="width: auto; font-size: 15px; border: 1px solid rgb(231, 228, 228); ">
                        모델명
                    </th>
                    <th rowspan="2" style="width: auto; font-size: 15px; border: 1px solid rgb(231, 228, 228); ">
                        품명
                    </th>
                    <th rowspan="2" style="width: auto; font-size: 15px; border: 1px solid rgb(231, 228, 228);">
                        총작업<br>차수
                    </th>
                    <th rowspan="2" style="width: auto; font-size: 15px; border: 1px solid rgb(231, 228, 228); ">
                        라인계획<br>작업차수
                    </th>
                    <th rowspan="2" style="width: auto; font-size: 15px; border: 1px solid rgb(231, 228, 228);">
                        생산LOT
                    </th>
                    <th rowspan="2" style="width: auto; font-size: 15px; border: 1px solid rgb(231, 228, 228);">
                        작업지시<br>수량(PO)
                    </th>
                    <th rowspan="2" style="width: auto; font-size: 15px; border: 1px solid rgb(231, 228, 228);">
                        누적
                        생산<br>실적
                    </th>
                    <th rowspan="2" style="width: 130px; font-size: 15px; border: 1px solid rgb(231, 228, 228);">
                        작업시간
                    </th>
                    <th rowspan="2" style="width: 100px; font-size: 15px; border: 1px solid rgb(231, 228, 228);">
                        셋팅여부
                    </th>
                    <th rowspan="2" style="width: 50px; font-size: 15px; border: 1px solid rgb(231, 228, 228);">
                        셋팅<br>시간<br>(분)
                    </th>
                    <th rowspan="2" style="width: 50px; font-size: 15px; border: 1px solid rgb(231, 228, 228);">
                        예상<br>작업시간<br>(분)
                    </th>
                    <th rowspan="2" style="width: 50px; font-size: 15px; border: 1px solid rgb(231, 228, 228);">
                        작업<br>잔여시간<br>(분)
                    </th>
                    <th colspan="2" style="width: 50px; font-size: 15px; border: 1px solid rgb(231, 228, 228);">
                        반제품 계획실적
                    </th>
                    <th colspan="2" style="width: auto; font-size: 15px; border: 1px solid rgb(231, 228, 228);">
                        완제품 계획실적
                    </th>
                    <th rowspan="2" style="width: 100px; font-size: 15px; border: 1px solid rgb(231, 228, 228);">
                        라인현황
                    </th>
                    <th rowspan="2" style="width: 100px; font-size: 15px; border: 1px solid rgb(231, 228, 228);">
                        비고
                    </th>
                </tr>
                <tr>
                    <th style="width: auto; font-size: 15px; border: 1px solid rgb(231, 228, 228);">
                        금일계획
                    </th>
                    <th style="width: auto; font-size: 15px; border: 1px solid rgb(231, 228, 228);">
                        금일실적
                    </th>
                    <th style="width: auto; font-size: 15px; border: 1px solid rgb(231, 228, 228);">
                        금일계획
                    </th>
                    <th style="width: auto; font-size: 15px; border: 1px solid rgb(231, 228, 228);">
                        금일실적
                    </th>

                </tr>

            </thead>
            <tbody id="Datatbody">
            </tbody>
        </table>
    </div>


    <div id="popupOverlay2" style="display: none;">
        <div id="popupContent">
            <div class="form-group">
                <table style="width:100%;">

                    <tr>
                        <td style="width: 100%;" class="popup_title">생산계획 정보를 삭제하시겠습니까?</td>
                    </tr>

                </table>
            </div>
            <button id="popupCloseBtn-delete-close">취소</button>
            <button id="popupCloseBtn-delete" onclick="Datadelte()">삭제</button>
            <input type="text" id="id-edit" style="visibility: hidden; width: 10px; float: right;" autocomplete="off">
        </div>
    </div>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.14.21/lodash.min.js"></script> -->
    <script>
        $('#popupCloseBtn-delete-close').click(function () {
            $('#popupOverlay2').fadeOut();
        });

    </script>

    <script>
        function load() {
            $('#planstatustbody').empty();
            $.ajax({
                type: 'POST',
                url: server + '/api/productorderlist',
                dataType: 'json',
                success: function (data) {
                    var tableBody = $('#planstatustbody');
                    if (data.length === 0) {
                    } else {
                        loadData = data;

                        for (var i = 0; i < data.length; i++) {
                            tableBody.append(
                                '<tr>' +
                                '<td>' + data[i].customer + '</td>' +
                                '<td>' + data[i].part + '</td>' +
                                '<td>' + data[i].bomno + '</td>' +
                                '<td>' + data[i].char + '</td>' +
                                '<td>' + data[i].modelname + '</td>' +
                                '<td>' + data[i].itemname + '</td>' +
                                '<td>' + data[i].lotno + '</td>' +
                                '<td style="text-align:center;">' + data[i].quantity.toLocaleString() + '</td>' +
                                '<td><button onclick="logRowData(this)">계획등록</button></td>' +
                                '<td class="data-id">' + data[i].id + '</td>' +
                                '<td class="data-capa">' + data[i].capa + '</td>' +

                                '</tr>'
                            );
                        }
                    }
                    $('.data-id').hide();
                    $('.data-capa').hide();
                }
            });
        }

        function logRowData(row) {

            var rowData = $(row).closest('tr').find('td').map(function () {
                return $(this).text();
            }).get();
            console.log(rowData)
            Swal.fire({
                icon: 'info',
                title: '저장',
                text: '생산계획을 저장하시겠습니까??',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: '확인',
                cancelButtonText: '취소',
            }).then((result) => {
                if (result.isConfirmed) {


                    var numCommas = (rowData[1].split(',').length) || 0;
                    var plantime = (numCommas === 0) ? 30 : numCommas * 30;

                    $.ajax({
                        type: 'POST',
                        url: server + '/api/planinsert',
                        dataType: 'json',
                        contentType: 'application/json',
                        data: JSON.stringify({
                            "plandate": $('#plandatein').val(),
                            "customer": rowData[0],
                            "bompart": rowData[1],
                            "bomno": rowData[2],
                            "modelname": rowData[4],
                            "itemname": rowData[5],
                            "lotno": rowData[6],
                            "equipmentname": $('#dataid').val(),
                            "capa": rowData[10],
                            "part": rowData[3],
                            "num": parseFloat($('#num').val()) + 1,
                            "pono": parseFloat(rowData[7].replace(',', '')),
                            "plantime": '0',
                            "slitingstatus": '슬리팅대기',
                            "materialstatus": '자재출고대기',
                            "orderno": rowData[6] + '/' + rowData[3],
                        }),
                        success: function (result) {
                            // Handle success
                        },
                    });

                    $.ajax({
                        type: 'POST',
                        url: server + '/api/updateorderstatus1',
                        dataType: 'json',
                        contentType: 'application/json',
                        data: JSON.stringify({
                            "id": rowData[9],
                        }),
                        success: function (result) {

                        },
                    });

                    $.ajax({
                        type: 'POST',
                        url: server + '/api/updateorderstatustrue',
                        dataType: 'json',
                        contentType: 'application/json',
                        data: JSON.stringify({
                            "id": $('#id-edit').val(),
                            "lotno": $('#lotno-edit').val(),
                        }),
                        success: function (result) {

                        },
                    });

                    $('#editModal3').fadeOut();
                    $('#overlay').fadeOut();
                    Swal.fire({
                        icon: 'success',
                        title: '저장 완료',
                        text: '생산계획 정보가 등록 되었습니다.',
                    }).then((result) => {
                        if (result.isConfirmed) {
                            load()
                            plansearching()

                        }
                    });
                }
            });
        }





        function openmodal(element) {
            var rowData = $(element).closest('tr').find('td').map(function () {
                return $(this).text();
            }).get();
            console.log(rowData)
            $.ajax({
                type: 'POST',
                url: server + '/api/equipmentnamesolt',
                dataType: 'json',
                contentType: 'application/json',
                async: false, // 동기 호출로 변경
                data: JSON.stringify({}),
                success: function (result) {
                    for (var s = 0; s < result.length; s++) {
                        var codenumber = result[s].codenumber;
                        var equipmentname1 = result[s].equipmentname;

                        // Create an option element and append it to the select element
                        $('#equipmentname-edit').append($('<option>', {
                            value: codenumber,
                            text: equipmentname1
                        }));
                    }
                },
            });
            if (rowData[1].length > 0) {
                $('#overlay').fadeIn();
                $('#editModal4').fadeIn();
                if (rowData.length === 30) {
                    $('#id-edit').val(rowData[25]);
                    $('#bomno-edit').val(rowData[1]);
                    $('#customer-edit').val(rowData[2]);
                    $('#modelname-edit').val(rowData[3]);
                    $('#itemname-edit').val(rowData[4]);
                    $('#part-edit').val(rowData[5]);
                    $('#linepart-edit').val(rowData[6]);
                    $('#lotno-edit').val(rowData[7]);
                    $('#pono-edit').val(rowData[8]);

                    $('#num-edit').val(rowData[20]);

                } else {
                    $('#id-edit').val(rowData[24]);
                    $('#bomno-edit').val(rowData[0]);
                    $('#customer-edit').val(rowData[1]);
                    $('#modelname-edit').val(rowData[2]);
                    $('#itemname-edit').val(rowData[3]);
                    $('#part-edit').val(rowData[4]);
                    $('#linepart-edit').val(rowData[5]);
                    $('#lotno-edit').val(rowData[6]);
                    $('#pono-edit').val(rowData[4]);

                    $('#num-edit').val(rowData[18]);

                }
            } else {
                $('#overlay').fadeIn();
                $('#editModal3').fadeIn();
                if (rowData.length === 30) {
                    $('#equipmentname').val(rowData[20]);
                    $('#num').val(rowData[19]);
                    $('#dataid').val(rowData[21]);
                    $('#plandatein').val($('#plandate').text());
                } else {
                    $('#equipmentname').val(rowData[19]);
                    $('#num').val(rowData[18]);
                    $('#dataid').val(rowData[20]);
                    $('#plandatein').val($('#plandate').text());
                }
            }





        }
        function closeModal() {
            $('#overlay').fadeOut();
            $('#editModal3').fadeOut();
        }
        function closeModal4() {
            $('#overlay').fadeOut();
            $('#editModal4').fadeOut();
        }
        function save(row) {
            var rowData = $(row).closest('tr').find('td').map(function () {
                return $(this).text();
            }).get();
        }

    </script>


    <script src="../js/calendar.js"></script>
    <script src="../js/drag.js"></script>

    <script>


        function planload() {
            $('#Datatbody').empty();
            $.ajax({
                type: 'POST',
                url: server + '/api/equipmentname',
                dataType: 'json',
                success: function (data) {
                    var tableBody = $('#Datatbody');
                    if (data.length === 0) {
                    } else {
                        loadTdData = {};

                        for (var i = 0; i < data.length; i++) {
                            loadTdData[data[i].codenumber] = {};
                            var numRows = 4;
                            for (var j = 0; j < numRows; j++) {
                                loadTdData[data[i].codenumber][j] = {
                                    num: '',
                                    bomno: '',
                                    customer: '',
                                    modelname: '',
                                    itemname: '',
                                    part: '',
                                    linepart: '',
                                    lotno: '',
                                    pono: '',
                                    accumulate: '',
                                    remaining: '',
                                    planone: '',
                                    siljokone: '',
                                    plantwo: '',
                                    siljoktwo: '',
                                }


                                tableBody.append(

                                    '<tr>' +
                                    (j === 0 ? '<td style="text-align:center; width:auto;  font-size: 20px; border: 1px solid rgb(231, 228, 228); background-color:white; font-weight:bold;" rowspan="4" id="' + data[i].codenumber + '">' + data[i].equipmentname + '<br>' + data[i].part + '<br>' + data[i].size + '</td>' : '') +
                                    '<td  ondblclick="openmodal(this)" style="width: 80px; font-size: 15px; border: 1px solid rgb(231, 228, 228); border-bottom-color: ' + (j >= 4 ? '#3d3838' : 'rgb(231, 228, 228)') + ';" id="' + j + 'bomno' + data[i].codenumber + '"></td>' +
                                    '<td  ondblclick="openmodal(this)" style="width: auto; font-size: 15px; border: 1px solid rgb(231, 228, 228); border-bottom-color: ' + (j >= 4 ? '#3d3838' : 'rgb(231, 228, 228)') + ';" id="' + j + 'customer' + data[i].codenumber + '"></td>' +
                                    '<td  ondblclick="openmodal(this)" style="width: auto; font-size: 15px; border: 1px solid rgb(231, 228, 228); border-bottom-color: ' + (j >= 4 ? '#3d3838' : 'rgb(231, 228, 228)') + ';" id="' + j + 'modelname' + data[i].codenumber + '" ></td > ' +
                                    '<td  ondblclick="openmodal(this)" style="width: auto; font-size: 15px; border: 1px solid rgb(231, 228, 228); border-bottom-color: ' + (j >= 4 ? '#3d3838' : 'rgb(231, 228, 228)') + ';" id="' + j + 'itemname' + data[i].codenumber + '" ></td > ' +
                                    '<td  ondblclick="openmodal(this)" style="width: auto; text-align:right; font-size: 15px; border: 1px solid rgb(231, 228, 228); border-bottom-color: ' + (j >= 4 ? '#3d3838' : 'rgb(231, 228, 228)') + ';" id="' + j + 'part' + data[i].codenumber + '" ></td > ' +
                                    '<td  ondblclick="openmodal(this)" style="width: auto; text-align:right; font-size: 15px; border: 1px solid rgb(231, 228, 228); border-bottom-color: ' + (j >= 4 ? '#3d3838' : 'rgb(231, 228, 228)') + ';" id="' + j + 'linepart' + data[i].codenumber + '" ></td > ' +
                                    '<td  ondblclick="openmodal(this)" style="width: auto; font-size: 15px; border: 1px solid rgb(231, 228, 228); border-bottom-color: ' + (j >= 4 ? '#3d3838' : 'rgb(231, 228, 228)') + ';" id="' + j + 'lotno' + data[i].codenumber + '" ></td > ' +
                                    '<td  ondblclick="openmodal(this)" style="width: auto; text-align:right; font-size: 15px; border: 1px solid rgb(231, 228, 228); border-bottom-color: ' + (j >= 4 ? '#3d3838' : 'rgb(231, 228, 228)') + ';" id="' + j + 'pono' + data[i].codenumber + '" ></td > ' +
                                    '<td  ondblclick="openmodal(this)" style="width: auto; font-size: 15px; border: 1px solid rgb(231, 228, 228); border-bottom-color: ' + (j >= 4 ? '#3d3838' : 'rgb(231, 228, 228)') + ';" id="' + j + 'accumulate' + data[i].codenumber + '" ></td > ' +
                                    '<td ondblclick="openmodal(this)" style="width: auto; font-size: 15px; border: 1px solid rgb(231, 228, 228); border-bottom-color: ' + (j >= 4 ? '#3d3838' : 'rgb(231, 228, 228)') + ';">' +
                                    (j === 0 ?
                                        '<select id="' + j + 'producttime' + data[i].codenumber + '" onchange="updateSettingTime1(this)"><option value="460">주간 8HR</option><option value="610">잔업10.5HR</option></select>' :
                                        ''
                                    ) +
                                    '</td> ' +
                                    '<td  ondblclick="openmodal(this)" style="width: auto; font-size: 15px; border: 1px solid rgb(231, 228, 228); border-bottom-color: ' + (j >= 4 ? '#3d3838' : 'rgb(231, 228, 228)') + ';" ><select onchange="updateSettingTime(this)" id="' + j + 'settingtime' + data[i].codenumber + '"><option>셋팅X</option><option>셋팅O</option></select></td > ' +
                                    '<td  ondblclick="openmodal(this)" style="width: auto; text-align:right; font-size: 15px; border: 1px solid rgb(231, 228, 228); border-bottom-color: ' + (j >= 4 ? '#3d3838' : 'rgb(231, 228, 228)') + ';" id="' + j + 'settime' + data[i].codenumber + '" ></td > ' +
                                    '<td  ondblclick="openmodal(this)" style="width: auto; text-align:right; font-size: 15px; border: 1px solid rgb(231, 228, 228); border-bottom-color: ' + (j >= 4 ? '#3d3838' : 'rgb(231, 228, 228)') + ';" id="' + j + 'prevproducttime' + data[i].codenumber + '" ></td > ' +
                                    '<td  ondblclick="openmodal(this)" style="width: auto; text-align:right; font-size: 15px; border: 1px solid rgb(231, 228, 228); border-bottom-color: ' + (j >= 4 ? '#3d3838' : 'rgb(231, 228, 228)') + ';" id="' + j + 'subproducttime' + data[i].codenumber + '" ></td > ' +
                                    '<td  ondblclick="openmodal(this)" style="width: auto; text-align:right; font-size: 15px; border: 1px solid rgb(231, 228, 228); border-bottom-color: ' + (j >= 4 ? '#3d3838' : 'rgb(231, 228, 228)') + ';" id="' + j + 'planone' + data[i].codenumber + '" ></td > ' +
                                    '<td  ondblclick="openmodal(this)" style="width: auto; text-align:right; font-size: 15px; border: 1px solid rgb(231, 228, 228); border-bottom-color: ' + (j >= 4 ? '#3d3838' : 'rgb(231, 228, 228)') + ';" id="' + j + 'siljokone' + data[i].codenumber + '" ></td > ' +
                                    '<td  ondblclick="openmodal(this)" style="width: auto; text-align:right; font-size: 15px; border: 1px solid rgb(231, 228, 228); border-bottom-color: ' + (j >= 4 ? '#3d3838' : 'rgb(231, 228, 228)') + ';" id="' + j + 'plantwo' + data[i].codenumber + '" ></td > ' +
                                    '<td  ondblclick="openmodal(this)" style="width: auto; text-align:right; font-size: 15px; border: 1px solid rgb(231, 228, 228); border-bottom-color: ' + (j >= 4 ? '#3d3838' : 'rgb(231, 228, 228)') + ';" id="' + j + 'siljoktwo' + data[i].codenumber + '" ></td > ' +
                                    '<td ondblclick="openmodal(this)" style="display: none; width: auto; font-size: 15px; border: 1px solid rgb(231, 228, 228); border-bottom-color: ' + (j >= 4 ? '#3d3838' : 'rgb(231, 228, 228)') + '; " id="' + j + '">' + j + '</td>' +
                                    '<td style="display:none;  text-align:center; width:8%; font-size: 20px; border: 1px solid rgb(231, 228, 228); background-color:white; font-weight:bold;"  id="' + data[i].codenumber + '">' + data[i].equipmentname + '<br>' + data[i].part + '<br>' + data[i].size + '</td>' +
                                    '<td style="display:none;  text-align:center; width:8%; font-size: 20px; border: 1px solid rgb(231, 228, 228); background-color:white; font-weight:bold;"  >' + data[i].codenumber + '</td>' +
                                    '<td style="display:none; text-align:center; width:8%; font-size: 20px; border: 1px solid rgb(231, 228, 228); background-color:white; font-weight:bold;" id="' + j + 'capa' + data[i].codenumber + '"></td>' +
                                    '<td style="display:none; text-align:center; width:8%; font-size: 20px; border: 1px solid rgb(231, 228, 228); background-color:white; font-weight:bold;" id="' + j + 'ratio' + data[i].codenumber + '"></td>' +
                                    '<td style="display:none; text-align:center; width:8%; font-size: 20px; border: 1px solid rgb(231, 228, 228); background-color:white; font-weight:bold;" id="' + j + 'ratio1' + data[i].codenumber + '"></td>' +
                                    '<td style="display:none; text-align:center; width:8%; font-size: 20px; border: 1px solid rgb(231, 228, 228); background-color:white; font-weight:bold;" id="' + j + 'id' + data[i].codenumber + '"></td>' +
                                    '<td style="display:none; text-align:center; width:8%; font-size: 20px; border: 1px solid rgb(231, 228, 228); background-color:white; font-weight:bold;" id="' + j + 'producttype' + data[i].codenumber + '"></td>' +
                                    '<td style="display:none; text-align:center; width:8%; font-size: 20px; border: 1px solid rgb(231, 228, 228); background-color:white; font-weight:bold;" id="' + j + 'bompart' + data[i].codenumber + '"></td>' +
                                    '<td style="width: auto; text-align:right; font-size: 15px; border: 1px solid rgb(231, 228, 228); border-bottom-color: ' + (j >= 4 ? '#3d3838' : 'rgb(231, 228, 228)') + ';" id="' + j + 'linetest' + data[i].codenumber + '" ></td > ' +
                                    '<td style="width: auto; text-align:right; font-size: 15px; border: 1px solid rgb(231, 228, 228); border-bottom-color: ' + (j >= 4 ? '#3d3838' : 'rgb(231, 228, 228)') + ';" id="' + j + 'issue' + data[i].codenumber + '" ></td > ' +

                                    '</tr>'
                                );
                            }

                        }


                        plansearching()


                    }
                }
            });
        }
        function plansearching() {


            $.ajax({
                type: 'POST',
                url: server + '/api/plansearchAll',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify({
                    "plandate": $('#plandate').text()
                }),
                success: function (data) {
                    planSearchData = data;

                    for (var i = 0; i < data.length; i++) {
                        loadTdData[planSearchData[i].equipmentname][planSearchData[i].num - 1] = {
                            id: data[i].id,
                            equipmentname: planSearchData[i].equipmentname,
                            num: data[i].num,
                            bomno: data[i].bomno,
                            customer: data[i].customer,
                            modelname: data[i].modelname,
                            itemname: data[i].itemname,
                            part: data[i].part,
                            linepart: data[i].lastchar,
                            lotno: data[i].lotno,
                            pono: data[i].pono,
                            accumulate: data[i].accumulate,
                            remaining: data[i].remaining,
                            planone: data[i].planone,
                            siljokone: data[i].siljokone,
                            plantwo: data[i].plantwo,
                            siljoktwo: data[i].siljoktwo,
                            plandate: data[i].plandate,
                            capa: data[i].capa,
                            plantime: data[i].plantime,
                            ratio: data[i].ratio,
                            ratio1: data[i].ratio1,
                            id: data[i].id,
                            producttype: data[i].producttype,
                            bompart: data[i].bompart
                        };
                        // //console.log('data[i].plandate', data[i].plandate);
                    }
                    var loadTdDataKeys = Object.keys(loadTdData);
                    var numKeys = loadTdDataKeys.length;
                    // console.log(numKeys);
                    for (var i = 0; i < numKeys; i++) {


                        for (var j = 0; j < 4; j++) {
                            var match = loadTdData[loadTdDataKeys[i]][j].linepart.match(/\d+$/);

                            var lastNumber = match && match.length > 0 ? match[0] : null;


                            var bomno = 'bomno' + loadTdData[loadTdDataKeys[i]][j].equipmentname;
                            var customer = 'customer' + loadTdData[loadTdDataKeys[i]][j].equipmentname;
                            var modelname = 'modelname' + loadTdData[loadTdDataKeys[i]][j].equipmentname;
                            var itemname = 'itemname' + loadTdData[loadTdDataKeys[i]][j].equipmentname;
                            var part = 'part' + loadTdData[loadTdDataKeys[i]][j].equipmentname;
                            var linepart = 'linepart' + loadTdData[loadTdDataKeys[i]][j].equipmentname;
                            var lotno = 'lotno' + loadTdData[loadTdDataKeys[i]][j].equipmentname;
                            var pono = 'pono' + loadTdData[loadTdDataKeys[i]][j].equipmentname;
                            var accumulate = 'accumulate' + loadTdData[loadTdDataKeys[i]][j].equipmentname;
                            var remaining = 'remaining' + loadTdData[loadTdDataKeys[i]][j].equipmentname;
                            var planone = 'planone' + loadTdData[loadTdDataKeys[i]][j].equipmentname;
                            var siljokone = 'siljokone' + loadTdData[loadTdDataKeys[i]][j].equipmentname;
                            var plantwo = 'plantwo' + loadTdData[loadTdDataKeys[i]][j].equipmentname;
                            var siljoktwo = 'siljoktwo' + loadTdData[loadTdDataKeys[i]][j].equipmentname;
                            var capa = 'capa' + loadTdData[loadTdDataKeys[i]][j].equipmentname;
                            var plantime = 'settime' + loadTdData[loadTdDataKeys[i]][j].equipmentname;
                            var ratio = 'ratio' + loadTdData[loadTdDataKeys[i]][j].equipmentname;
                            var ratio1 = 'ratio1' + loadTdData[loadTdDataKeys[i]][j].equipmentname;
                            var prevproducttime = 'prevproducttime' + loadTdData[loadTdDataKeys[i]][j].equipmentname;
                            var id = 'id' + loadTdData[loadTdDataKeys[i]][j].equipmentname;
                            var subproducttime = 'subproducttime' + loadTdData[loadTdDataKeys[i]][j].equipmentname;
                            var producttime = 'producttime' + loadTdData[loadTdDataKeys[i]][j].equipmentname;
                            var producttype = 'producttype' + loadTdData[loadTdDataKeys[i]][j].equipmentname;
                            var bompart = 'bompart' + loadTdData[loadTdDataKeys[i]][j].equipmentname;



                            $('#' + j + bomno + '').text(loadTdData[loadTdDataKeys[i]][j].bomno);
                            $('#' + j + customer + '').text(loadTdData[loadTdDataKeys[i]][j].customer);
                            $('#' + j + modelname + '').text(loadTdData[loadTdDataKeys[i]][j].modelname);
                            $('#' + j + itemname + '').text(loadTdData[loadTdDataKeys[i]][j].itemname);
                            $('#' + j + part + '').text(lastNumber);
                            $('#' + j + linepart + '').text(loadTdData[loadTdDataKeys[i]][j].part);
                            $('#' + j + lotno + '').text(loadTdData[loadTdDataKeys[i]][j].lotno);
                            $('#' + j + pono + '').text(loadTdData[loadTdDataKeys[i]][j].pono.toLocaleString());
                            $('#' + j + accumulate + '').text(loadTdData[loadTdDataKeys[i]][j].accumulate);
                            $('#' + j + remaining + '').text(loadTdData[loadTdDataKeys[i]][j].remaining);
                            $('#' + j + planone + '').text(loadTdData[loadTdDataKeys[i]][j].planone);
                            $('#' + j + siljokone + '').text(loadTdData[loadTdDataKeys[i]][j].siljokone);
                            $('#' + j + plantwo + '').text(loadTdData[loadTdDataKeys[i]][j].plantwo);
                            $('#' + j + siljoktwo + '').text(loadTdData[loadTdDataKeys[i]][j].siljoktwo);
                            $('#' + j + capa + '').text(loadTdData[loadTdDataKeys[i]][j].capa);
                            $('#' + j + plantime + '').text(loadTdData[loadTdDataKeys[i]][j].plantime);
                            $('#' + j + ratio + '').text(loadTdData[loadTdDataKeys[i]][j].ratio);
                            $('#' + j + ratio1 + '').text(loadTdData[loadTdDataKeys[i]][j].ratio1);
                            $('#' + j + prevproducttime + '').text(loadTdData[loadTdDataKeys[i]][j].ratio);
                            $('#' + j + id + '').text(loadTdData[loadTdDataKeys[i]][j].id);
                            $('#' + j + plantime + '').text(loadTdData[loadTdDataKeys[i]][j].plantime);
                            $('#' + j + producttype + '').text(loadTdData[loadTdDataKeys[i]][j].producttype);
                            $('#' + j + bompart + '').text(loadTdData[loadTdDataKeys[i]][j].bompart);
                            // if ($('#' + j + bomno + '').text() === '') {
                            //     $('#' + (parseInt(j) - 1) + subproducttime + '').text('11');
                            // }



                            if (j === 0) {
                                var calculatedValue = parseFloat($('#' + j + producttime + '').val()) -
                                    parseFloat(loadTdData[loadTdDataKeys[i]][j].ratio) -
                                    parseFloat(loadTdData[loadTdDataKeys[i]][j].plantime);

                                $('#' + j + subproducttime + '').text(calculatedValue)
                                if ($('#' + j + producttype + '').text() === '완제품') {
                                    $('#' + j + plantwo + '').text(
                                        loadTdData[loadTdDataKeys[i]][j].pono.toLocaleString()
                                    );
                                } else {
                                    $('#' + j + planone + '').text(
                                        loadTdData[loadTdDataKeys[i]][j].pono.toLocaleString()
                                    );
                                }
                            } else {
                                var prevSubProductTime = parseFloat($('#' + (j - 1) + subproducttime + '').text());

                                var calculatedValue = prevSubProductTime -
                                    parseFloat(loadTdData[loadTdDataKeys[i]][j].ratio) -
                                    parseFloat(loadTdData[loadTdDataKeys[i]][j].plantime);

                                $('#' + j + subproducttime + '').text(isNaN(calculatedValue) ? 0 : Math.max(calculatedValue, 0));
                                $('#' + j + prevproducttime + '').text(isNaN(calculatedValue) ? 0 : Math.max($('#' + (j - 1) + subproducttime + '').text(), 0));



                                if ($('#' + j + producttype + '').text() === '완제품') {
                                    if (parseFloat($('#' + j + subproducttime + '').text()) === 0) {
                                        $('#' + j + plantwo + '').text(
                                            (parseFloat($('#' + j + capa + '').text()) * parseFloat($('#' + j + prevproducttime + '').text())).toLocaleString()
                                        );
                                        $('#' + j + planone + '').text('');
                                    } else {
                                        $('#' + j + planone + '').text(
                                            (parseFloat(loadTdData[loadTdDataKeys[i]][j].capa) * prevSubProductTime).toLocaleString()
                                        );
                                    }
                                } else if ($('#' + j + producttype + '').text() === '반제품') {
                                    if (parseFloat($('#' + j + subproducttime + '').text()) === 0) {
                                        $('#' + j + plantwo + '').text(
                                            (parseFloat($('#' + j + capa + '').text()) * parseFloat($('#' + j + prevproducttime + '').text())).toLocaleString()
                                        );
                                    } else {
                                        $('#' + j + planone + '').text(
                                            (parseFloat(loadTdData[loadTdDataKeys[i]][j].pono)).toLocaleString()
                                        );
                                    }
                                }


                            }

                            if ($('#' + j + bompart + '').text() === '양산') {
                                $('#' + j + bompart + '').closest('tr').css('background-color', 'lightblue');
                            }

                        }

                    }

                }
            });
        }
        function updateSettingTime1(selectElement) {
            plansearching()
        }
        function updateSettingTime(selectElement) {
            var selectedValue = selectElement.value;
            var settingTimeElementId = selectElement.id.replace('settingtime', 'prevproducttime');
            var settingTimeElement = document.getElementById(settingTimeElementId);

            // Find the closest 'tr' element (row) to the select element
            var row = $(selectElement).closest('tr');

            // Extract data from each cell in the row
            var rowData = $(selectElement).find('td').map(function () {
                return $(this).text();
            }).get();
            // Assuming capa is in the first column (adjust the index if needed)
            // var capaValue = rowData[22];

            // if (selectedValue === '셋팅O') {
            //     settingTimeElement.innerHTML = '' + capaValue + '분';
            // } else if (selectedValue === '셋팅X') {
            //     settingTimeElement.innerHTML = '' + 0 + '분';
            // }
            var rowData = $(selectElement).closest('tr').find('td').map(function () {
                return $(this).text();
            }).get();

            console.log(rowData)
            if (rowData.length === 30) {
                if (selectedValue === '셋팅O') {
                    Swal.fire({
                        icon: 'info',
                        title: '저장',
                        text: '셋팅 정보 저장하시겠습니까??',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: '확인',
                        cancelButtonText: '취소',
                    }).then((result) => {
                        if (result.isConfirmed) {

                            var numCommas = (rowData[6].split(',').length) || 0;
                            var plantime = (numCommas === 0) ? 30 : numCommas * 30;
                            $.ajax({
                                type: 'POST',
                                url: server + '/api/updateplan',
                                dataType: 'json',
                                contentType: 'application/json',
                                data: JSON.stringify({
                                    "id": rowData[25],
                                    "plantime": plantime
                                }),
                                success: function (result) {
                                    // Handle success
                                },
                            });




                            $('#editModal3').fadeOut();
                            $('#overlay').fadeOut();
                            Swal.fire({
                                icon: 'success',
                                title: '저장 완료',
                                text: '셋팅 정보가 등록 되었습니다.',
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    plansearching()

                                }
                            });
                        }
                    });
                } else if (selectedValue === '셋팅X') {
                    Swal.fire({
                        icon: 'info',
                        title: '저장',
                        text: '셋팅 정보 저장하시겠습니까??',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: '확인',
                        cancelButtonText: '취소',
                    }).then((result) => {
                        if (result.isConfirmed) {

                            var numCommas = (rowData[6].split(',').length) || 0;
                            var plantime = (numCommas === 0) ? 30 : numCommas * 30;
                            $.ajax({
                                type: 'POST',
                                url: server + '/api/updateplan',
                                dataType: 'json',
                                contentType: 'application/json',
                                data: JSON.stringify({
                                    "id": rowData[25],
                                    "plantime": '0'
                                }),
                                success: function (result) {
                                    // Handle success
                                },
                            });



                            $('#editModal3').fadeOut();
                            $('#overlay').fadeOut();
                            Swal.fire({
                                icon: 'success',
                                title: '저장 완료',
                                text: '셋팅 정보가 등록 되었습니다.',
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    plansearching()

                                }
                            });
                        }
                    });
                }
            } else {
                if (selectedValue === '셋팅O') {
                    Swal.fire({
                        icon: 'info',
                        title: '저장',
                        text: '셋팅 정보 저장하시겠습니까??',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: '확인',
                        cancelButtonText: '취소',
                    }).then((result) => {
                        if (result.isConfirmed) {

                            var numCommas = (rowData[5].split(',').length) || 0;
                            var plantime = (numCommas === 0) ? 30 : parseFloat(numCommas) * 30;
                            $.ajax({
                                type: 'POST',
                                url: server + '/api/updateplan',
                                dataType: 'json',
                                contentType: 'application/json',
                                data: JSON.stringify({
                                    "id": rowData[24],
                                    "plantime": plantime
                                }),
                                success: function (result) {
                                    // Handle success
                                },
                            });




                            $('#editModal3').fadeOut();
                            $('#overlay').fadeOut();
                            Swal.fire({
                                icon: 'success',
                                title: '저장 완료',
                                text: '셋팅 정보가 등록 되었습니다.',
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    plansearching()

                                }
                            });
                        }
                    });
                } else if (selectedValue === '셋팅X') {
                    Swal.fire({
                        icon: 'info',
                        title: '저장',
                        text: '셋팅 정보 저장하시겠습니까??',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: '확인',
                        cancelButtonText: '취소',
                    }).then((result) => {
                        if (result.isConfirmed) {

                            var numCommas = (rowData[5].split(',').length) || 0;
                            var plantime = (numCommas === 0) ? 30 : numCommas * 30;
                            $.ajax({
                                type: 'POST',
                                url: server + '/api/updateplan',
                                dataType: 'json',
                                contentType: 'application/json',
                                data: JSON.stringify({
                                    "id": rowData[24],
                                    "plantime": '0'
                                }),
                                success: function (result) {
                                    // Handle success
                                },
                            });



                            $('#editModal3').fadeOut();
                            $('#overlay').fadeOut();
                            Swal.fire({
                                icon: 'success',
                                title: '저장 완료',
                                text: '셋팅 정보가 등록 되었습니다.',
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    plansearching()

                                }
                            });
                        }
                    });
                }
            }


        }

        function datain() {
            Swal.fire({
                icon: 'info',
                title: '연동',
                text: '설비를 연동 하시겠습니까??',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: '확인',
                cancelButtonText: '취소',
            }).then((result) => {
                if (result.isConfirmed) {


                    $.ajax({
                        type: 'POST',
                        url: server + '/api/planinsert',
                        dataType: 'json',
                        contentType: 'application/json',
                        data: JSON.stringify({
                            "plandate": $('#plandate').text(),
                            "customer": $('#customer-edit').val(),
                            "bompart": '양산',
                            "bomno": $('#bomno-edit').val(),
                            "modelname": $('#modelname-edit').val(),
                            "itemname": $('#itemname-edit').val(),
                            "lotno": $('#lotno-edit').val(),
                            "equipmentname": $('#equipmentname-edit').val(),
                            "capa": $('#capa-edit').val(),
                            "part": '1,2',
                            "num": parseFloat($('#num-edit').val()) + 1,
                            "pono": parseFloat($('#pono-edit').val().replace(',', '')),
                            "orderno": $('#lotno-edit').val() + '/' + '1,2',

                            "plantime": '0',
                            "num": '1'
                        }),
                        success: function (result) {

                        },
                    });


                    Swal.fire({
                        icon: 'success',
                        title: '저장 완료',
                        text: '생산 정보가 등록 되었습니다.',
                    }).then((result) => {
                        if (result.isConfirmed) {
                            $('#editModal4').fadeOut();
                            $('#overlay').fadeOut();
                            plansearching()
                            load()
                        }
                    });
                }
            });
        }
    </script>
</body>

</html>