<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <script src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="../css/mesmain.css">
    <link rel="stylesheet" href="../css/mespurchaseorder.css">
    <!-- <link rel="stylesheet" href="../css/mesopenmodal.css"> -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../js/sorttable.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />


</head>

<style>
    input {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        /* margin-bottom: 16px; */
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 15px;
        font-weight: bold;
    }
</style>

<body>
    <div class="main_header">
        <img src="/img/테크온로고.PNG" style="width: 100px;" class="loadingImage">
        <a style="margin-left: 20px;">자재 구매 발주 등록 및 조회</a>
    </div>
    <div id="loadingOverlay">
        <img src="/img/테크온로고.PNG" alt="로딩 이미지" class="loadingImage">

    </div>

    <fieldset>
        <legend>검색조건</legend>

        <button onclick="searchData()">조회</button>
        <button onclick="openSaveModal()">신규</button>
    </fieldset>
    <div id="overlay"></div>
    <table class="styled-table" id="datatable">
        <thead id="tableHead">
            <tr>
                <th style="text-align:center;" onclick="sortTable(0)">발주일자</th>
                <th style="text-align:center;" onclick="sortTable(1)">품목명</th>
                <th style="text-align:center;" onclick="sortTable(2)">품목코드</th>
                <th style="text-align:center;" onclick="sortTable(3)">규격명</th>
                <th style="text-align:center;" onclick="sortTable(4)">수량</th>
                <th style="text-align:center;" onclick="sortTable(5)">단가</th>
                <th style="text-align:center;" onclick="sortTable(6)">공급가액</th>
                <th style="text-align:center;" onclick="sortTable(7)">거래처명</th>
                <th style="text-align:center;" onclick="sortTable(8)">BOMNO</th>
                <th style="text-align:center;" onclick="sortTable(9)">발주구분</th>
                <th style="text-align:center;" onclick="sortTable(10)">재단규격</th>
                <th style="text-align:center;" onclick="sortTable(11)">생산확정수량</th>


            </tr>
        </thead>
        <tbody id="Datatbody">

        </tbody>

    </table>



    <div id="editModal">
        <div class="mainheader">
            <h1>생산확정 구매발주</h1>

            <span class="close" onclick="closeModal()">&times;</span>
        </div>
        <div id="editForm">
            <table class="styled-table" style="height: auto; width: 100%; float: left;">
                <tr style="height:50px;">
                    <th style="text-align:center;">BOMNO</th>
                    <th style="text-align:center;">모델명</th>
                    <th style="text-align:center;">품목명</th>
                    <th style="text-align:center;">자재명</th>
                    <th style="text-align:center;">자재폭(mm)</th>
                    <th style="text-align:center;">필요소요량</th>
                    <th style="text-align:center;">현재고</th>
                    <th style="text-align:center;">폭이상재고(M)</th>
                    <th style="text-align:center;">시작LOT</th>
                    <th style="text-align:center;">마지막LOT</th>
         

                    <th style="text-align:center;">1RL컷수</th>
                    <th style="text-align:center;">재단폭</th>
                    <th style="text-align:center;">필요 발주수량(롤)</th>
                    <th style="text-align:center;">발주수량(롤)</th>
                </tr>
                <tbody id="orderlistbombody">
                </tbody>
            </table>
            <!-- <table class="styled-table" style=" width: 50%; float: right;">
                <tr style="height:50px;">

                    <th style="text-align:center;">자재명</th>
                    <th style="text-align:center;">자재폭(mm)</th>
                    <th style="text-align:center;">소요량(M)</th>
                    <th style="text-align:center;">현재고(M)</th>
                    <th style="text-align:center;">이상폭 재고</th>
                    <th style="text-align:center;">필요 발주수량(롤)</th>
                    <th style="text-align:center;">시작LOT</th>
                    <th style="text-align:center;">마지막LOT</th>
                    <th style="text-align:center;">수량(롤)</th>
                </tr>
                <tbody id="orderlistbombody1">
                </tbody>
            </table> -->

        </div>

    </div>







    <script>
        var server = '';

        if (window.location.hostname == 'localhost') {
            server = 'http://localhost:8080';
        } else {
            server = 'http://techonmes.co.kr';
        }
        $(document).ready(function () {

            showLoading()
            load()
            $('#Datatbody').on('dblclick', 'tr', function () {
                openEditModal(this); // Pass the clicked row to the function
            });

        });


        function openSaveModal() {
            document.getElementById('overlay').style.display = 'block';
            document.getElementById('editModal').style.display = 'block';
            load1()
            load2()
        }


        function openEditModal(row) {
            var rowData = $(row).find('td').map(function () {
                return $(this).text();
            }).get();

            $('#editForm').html(
                '발주일자: <input type="text" id="editOrderDate" value="' + rowData[0] + '"><br>' +
                '품목명: <input type="text" id="editItemName" value="' + rowData[1] + '"><br>' +
                '품목코드: <input type="text" id="editItemCode" value="' + rowData[2] + '"><br>' +
                '규격명: <input type="text" id="editSpecification" value="' + rowData[3] + '"><br>' +
                '수량: <input type="text" id="editQuantity" value="' + rowData[4] + '"><br>' +
                '단가: <input type="text" id="editUnitPrice" value="' + rowData[5] + '"><br>' +
                '공급가액: <input type="text" id="editSupplyAmount" value="' + rowData[6] + '"><br>' +
                '거래처명: <input type="text" id="editSupplierName" value="' + rowData[7] + '"><br>' +
                'BOMNO: <input type="text" id="editBOMNO" value="' + rowData[8] + '"><br>' +
                '발주구분: <input type="text" id="editOrderType" value="' + rowData[9] + '"><br>' +
                '재단규격: <input type="text" id="editCuttingSpecification" value="' + rowData[10] + '"><br>' +
                '생산확정수량: <input type="text" id="editConfirmedQuantity" value="' + rowData[11] + '"><br>' +
                '<button onclick="saveChanges()">Save Changes</button>'
            );

            $('#editModal').fadeIn();
        }

        // Function to close edit modal and overlay
        function closeModal() {
            $('#overlay').fadeOut();
            $('#editModal').fadeOut();
        }

        function showLoading() {
            var loadingOverlay = document.getElementById("loadingOverlay");
            loadingOverlay.style.display = "flex";
            setTimeout(function () {
                loadingOverlay.style.display = "none";
            }, 1000);
        }



        function saveData() {
            if (confirm("구매 발주 정보를 등록 하시겠습니까??") == true) {

                var insertdate = new Date().toISOString().slice(0, 10);

                var toolcode = $('#toolcode').val();
                var madedate = $('#datepicker1').val();
                var bomno = $('#bomno').val();
                var customer = $('#customer').val();
                var modelname = $('#modelname').val();
                var itemname = $('#itemname').val();
                var char = $('#char').val();
                var part = $('#part').val();
                var inputprice = $('#inputprice').val();
                var outputprice = $('#outputprice').val();

                $.ajax({
                    type: 'POST',
                    url: server + '/api/insertpurchaseorder',
                    dataType: 'json',
                    contentType: 'application/json',
                    data: JSON.stringify({

                        "orderdate": insertdate,
                        "itemname": toolcode,
                        "codenumber": madedate,
                        "specification": quantity,
                        "quantity": customer,
                        "modelname": modelname,
                        "itemname": itemname,
                        "char": char,
                        "part": part,
                        "inputprice": inputprice,
                        "outputprice": outputprice




                    }),
                    success: function (result) {


                    }
                })

                $('#popupOverlay').fadeOut();
                setTimeout(function () {
                    load()
                }, 50); // 3초 후에 알림을 사라지게 설정
                var notification = $('<div class="notification"><img src="/img/테크온로고.PNG" alt="Notification Icon"><span class="notification-message" style="color:navy;">피나클 정보 등록 완료</span></div>');
                $('body').append(notification);
                setTimeout(function () {
                    notification.fadeOut(function () {
                        $(this).remove();
                    });
                }, 3000);
            } else {
                return false;
            }
        }

        function Dataedit() {
            if (confirm("고객사 정보를 수정 하시겠습니까??") == true) {

                $.ajax({
                    type: 'POST',
                    url: server + '/api/accountupdatedata',
                    dataType: 'json',
                    contentType: 'application/json',
                    data: JSON.stringify({

                        id: $('#id-edit').val(),
                        accountcode: $('#accountcode-edit').val(),
                        accountname: $('#accountname-edit').val(),
                        representativename: $('#representativename-edit').val(),
                        phone: $('#phone-edit').val(),
                        adress: $('#adress-edit').val(),
                        number: $('#number-edit').val(),
                        mobile: $('#mobile-edit').val(),
                        fax: $('#fax-edit').val(),
                        email: $('#email-edit').val(),
                        etc: $('#etc-edit').val()




                    }),
                    success: function (result) {
                        console.log(result)
                    }
                })

                $('#popupOverlay1').fadeOut();
                setTimeout(function () {
                    load()
                }, 50); // 3초 후에 알림을 사라지게 설정
                var notification = $('<div class="notification"><img src="/img/테크온로고.PNG" alt="Notification Icon"><span class="notification-message" style="color:navy;">거래처 수정 완료</span></div>');
                $('body').append(notification);
                setTimeout(function () {
                    notification.fadeOut(function () {
                        $(this).remove();
                    });
                }, 3000);
            } else {
                return false;
            }
        }

        function load() {
            $('#Datatbody').empty()
            $.ajax({
                type: 'POST',
                url: server + '/api/selectpurchaseorder',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify({
                    // revnum : $('#popupOverlay1').val()
                }),

                success: function (data) {
                    var tableFoot = $('#dataCount');
                    if (data.length === 0) {
                        tableFoot.text('총 데이터 개수: 0');
                    } else {
                        var sequenceNumber = 1;
                        for (var i = 0; i < data.length; i++) {
                            $('#Datatbody').append(
                                '<tr>' +
                                '<td>' + (data[i].orderdate || '') + '</td>' +
                                '<td>' + (data[i].itemname || '') + '</td>' +
                                '<td>' + (data[i].codenumber || '') + '</td>' +
                                '<td>' + (data[i].specification || '') + '</td>' +
                                '<td>' + (data[i].quantity || '') + '</td>' +
                                '<td>' + (data[i].unitprice || '') + '</td>' +
                                '<td>' + (data[i].supplyamount || '') + '</td>' +
                                '<td>' + (data[i].suppliername || '') + '</td>' +
                                '<td>' + (data[i].bomno || '') + '</td>' +
                                '<td>' + (data[i].ordertype || '') + '</td>' +
                                '<td>' + (data[i].confirmed || '') + '</td>' +
                                '<td>' + (data[i].cutting.toLocaleString() || '') + '</td>' +


                                '<td id="data-id">' + (data[i].id || '') + '</td>' +
                                '</tr>'
                            )
                            $("td#data-id").hide();
                        }


                    }
                }
            });
        }
        function numberWithCommas(x) {
            return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        }
        function load1() {
            $('#orderlistbombody').empty();
            $.ajax({
                type: 'POST',
                url: server + '/api/selectorderlistinformation',
                dataType: 'json',
                success: function (data) {
                    var tableFoot = $('#dataCount');
                    if (data.length === 0) {
                        tableFoot.text('총 데이터 개수: 0');
                    } else {
                        // Sort data by materialname
                        data.sort(function (a, b) {
                            return a.materialname.localeCompare(b.materialname);
                        });

                        // Iterate through sorted data
                        for (var i = 0; i < data.length; i++) {
                            var rowId = 'TABLEROW' + (i + 1);
                            var isFirstRow = i === 0 || data[i].materialname !== data[i - 1].materialname;

                            if (isFirstRow) {
                                // Add a row for materialname
                                $('#orderlistbombody').append(
                                    '<tr class="material-group">' +
                                    '<td style="background-color:silver;">자재명</td>' +
                                    '<td colspan="5">' + (data[i].materialname || '') + '</td>' +

                                    '</tr>'
                                );
                            }

                            $('#orderlistbombody').append(
                                '<tr id="' + rowId + '">' +
                                '<td>' + (data[i].bomno || '') + '</td>' +
                                '<td>' + (data[i].modelname || '') + '</td>' +
                                '<td>' + (data[i].itemname || '') + '</td>' +
                                '<td>' + (data[i].materialname || '') + '</td>' +
                                '<td style="text-align:right;">' + (data[i].materialwidth || '') + '</td>' +
                                '<td style="text-align:right;">' + numberWithCommas(data[i].totalquantity1 || '') + '</td>' +
                                '<td style="text-align:right;">' + numberWithCommas(data[i].sum_quantity || '0') + '</td>' +
                                '<td style="text-align:right;">' + (data[i].has || '') + '</td>' +
                                '<td style="text-align:right;">' + (data[i].min_lotno || '') + '</td>' +
                                '<td style="text-align:right;">' + (data[i].max_lotno || '') + '</td>' +
                                '<td style="text-align:right;"></td>' +
                                '<td style="text-align:right;"><select><option>5</option><option>1080</option></select></td>' +
                                '<td style="text-align:right;">' + numberWithCommas(data[i].calculated_column1 || '0') + '</td>' +
                                '<td><input type="text" class="editable-field" value="' + numberWithCommas(data[i].calculated_column || '0') + '"></td>' +
                                '</tr>'
                            );
                        }
                    }
                }
            });
        }





        // function load2() {
        //     $('#orderlistbombody').empty();
        //     $.ajax({
        //         type: 'POST',
        //         url: server + '/api/selectorderlistinformation2',
        //         dataType: 'json',
        //         success: function (data) {
        //             var tableFoot = $('#dataCount');
        //             if (data.length === 0) {
        //                 tableFoot.text('총 데이터 개수: 0');
        //             } else {
        //                 for (var i = 0; i < data.length; i++) {
        //                     var rowId = 'TABLEROW' + (i + 1);
        //                     $('#orderlistbombody1').append(
        //                         '<tr id="' + rowId + '">' +

        //                         '<td>' + (data[i].materialname || '') + '</td>' +
        //                         '<td style="text-align:right;">' + (data[i].materialwidth || '') + '</td>' +
        //                         '<td style="text-align:right;">' + numberWithCommas(data[i].totalquantity1 || '') + '</td>' +
        //                         '<td style="text-align:right;">' + numberWithCommas(data[i].sum_quantity || '0') + '</td>' +
        //                         '<td style="text-align:right;">' + (data[i].has || '') + '</td>' +
        //                         '<td style="text-align:right;">' + numberWithCommas(data[i].calculated_column || '0') + '</td>' +
        //                         '<td style="text-align:right;">' + (data[i].min_lotno || '') + '</td>' +
        //                         '<td style="text-align:right;">' + (data[i].max_lotno || '') + '</td>' +
        //                         '<td><input type="text" class="editable-field" value="' + numberWithCommas(data[i].calculated_column || '0') + '"></td>' +
        //                         '</tr>'
        //                     );
        //                 }
        //             }
        //         }
        //     });
        // }


        // Function to retrieve data for a specific row
        function getDataForRow(rowIndex) {
            var rowData = {};

            // Iterate over each <td> in the row
            $('#TABLEROW' + rowIndex + ' td').each(function (index) {
                var columnName = '';
                switch (index) {
                    case 0:
                        columnName = 'bomno';
                        break;
                    case 1:
                        columnName = 'modelname';
                        break;
                    case 2:
                        columnName = 'itemname';
                        break;
                    // Add cases for other columns as needed
                }

                // Store the data in the rowData object
                rowData[columnName] = $(this).text();
            });

            return rowData;
        }









    </script>


</body>

</html>