<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <iframe src="https://docs.google.com/spreadsheets/d/e/your_sheet_id/pubhtml?gid=0"></iframe> -->

</head>

<body>
    <div id="excelContainer"></div>
    <script src="https://handsontable.com/docs/7.4.2/components/handsontable/dist/handsontable.full.js"></script>
    <link rel="stylesheet" type="text/css"
        href="https://handsontable.com/docs/7.4.2/components/handsontable/dist/handsontable.full.css">

</body>
<script>
    var data = [
        ['고객사', '모델명', '제품명' ,''],
        ['A2', 'B2', 'C2'],
        // ...
    ];

    var container = document.getElementById('excelContainer');
    var hot = new Handsontable(container, {
        data: data,
        colHeaders: true,
        rowHeaders: true,
        stretchH: 'all'
    });
    $('#hot-display-license-info').hide()
</script>

</html>