<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <script src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="../css/mesmain.css">
    <link rel="stylesheet" href="../css/mesaccountinput.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../js/sorttable.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">


</head>

<style>
    #datepicker1,
    #datepicker2 {
        width: 10%;
        padding: 10px;
        box-sizing: border-box;
        /* margin-bottom: 16px; */
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 15px;
        font-weight: bold;
    }

    select,
    #checkbox {

        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        /* margin-bottom: 16px; */
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 15px;
        font-weight: bold;
    }

    input {

        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        /* margin-bottom: 16px; */
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 15px;
        font-weight: bold;
    }
</style>

<body>
    <div class="main_header">
        <img src="/img/테크온로고.PNG" style="width: 100px;" class="loadingImage">
        <a style="margin-left: 20px;">영업수주 등록</a>
    </div>
    <div id="loadingOverlay">
        <img src="/img/테크온로고.PNG" alt="로딩 이미지" class="loadingImage">

    </div>
    <fieldset style="height: 40px;">
        <input type="date" id="datepicker1">
        <input type="date" id="datepicker2">
        <button id="newRegistrationBtn" onclick="load()" class="btn btn-primary">
            <i class="fas fa-search"></i> 조회 <!-- Updated text to "조회" -->
        </button>

        <button id="newRegistrationBtn" onclick="newadd()" class="btn btn-primary">
            <i class="fas fa-plus-circle"></i> 신규등록
        </button>
        <button id="deleteBtn" onclick="deletedata()" class="btn btn-danger" style="background-color: red;">
            <i class="fas fa-trash-alt"></i>선택삭제
        </button>
        <button id="exportToExcelBtn" onclick="exportToExcel()" class="btn btn-success"
            style="background-color: green;">
            <i class="fas fa-file-excel"></i> 엑셀로 내보내기
        </button>



    </fieldset>
    <div id="overlay"></div>
    <table class="styled-table" id="datatable">
        <thead id="tableHead">
            <tr>
                <th style="width: 20px; text-align:center;"></th>
                <th style="width: auto; text-align:center;">발주일자</th>
                <th style="width: auto; text-align:center;">고객사</th>
                <th style="width: auto; text-align:center;">품목코드</th>
                <th style="width: auto; text-align:center;">모델명</th>
                <th style="width: auto; text-align:center;">품목명</th>
                <th style="width: auto; text-align:center;">BOM.NO</th>
                <th style="width: auto; text-align:center;">수량(개)</th>
                <th style="width: auto; text-align:center;">단가(원)</th>
                <th style="width: auto; text-align:center;">공급가액(원)</th>
            </tr>
        </thead>
        <tbody id="Datatbody">

        </tbody>

    </table>
    <div id="editModal" style="max-height: 600px;  overflow-y: auto;">
        <div class="mainheader">
            <h1>영업 수주 등록</h1>
            <span class="close" onclick="closeModal()">&times;</span>
        </div>
        <div id="editForm">
            <table class="styled-table" id="Podatatable">
                <thead id="tableHead">
                    <tr>
                        <th style="width:130px; background-color:white;"><button onclick="addnew()">추가</button>
                        </th>
                        <th style="width:auto;">BOMNO</th>
                        <th style="width:auto;">품목코드</th>
                        <th style="width:auto;">모델명</th>
                        <th style="width:auto;">품목명</th>
                        <th style="width:auto;">고객사</th>
                        <th style="width:auto;">단가(원)</th>
                        <th style="width:auto;">PO수량(개)</th>
                        <th style="width:auto;">판매금액(￦)</th>
                        <th style="width:100px;">영업확정</th>
                    </tr>
                </thead>
                <tbody id="accountdatatbody" style="max-height: 500px; overflow-y: auto;">
                </tbody>

            </table>

        </div>
    </div>

    <div id="editModal1" style="max-height: 800px; width: 1000px; overflow-y: auto;">
        <div class="mainheader">
            <h1>품목 검색</h1>
            <span class="close" onclick="closeModal1()">&times;</span>
            <input type="text" id="numericPart" style="width: 200px; visibility: hidden;">
        </div>
        <input type="text" oninput="search()" id="materialnameinput" placeholder="검색어를 입력 하세요"
            style="font-size: 16px; font-weight: bold;" onkeydown="handleEnterKey(event)" autocomplete="off">

        <div>
            <table class="styled-table" id="datatable1">
                <thead id="tableHead">
                    <tr>
                        <th style="width: 20px;"></th>
                        <th style="width: auto; text-align: center;" onclick="sortTable(0)">제품코드</th>
                        <th style="width: auto; text-align: center;" onclick="sortTable(1)">BOMNO</th>
                        <th style="width: auto; text-align: center;" onclick="sortTable(2)">모델명</th>
                        <th style="width: auto; text-align: center;" onclick="sortTable(3)">제품명</th>
                        <th style="width: auto; text-align: center;" onclick="sortTable(4)">고객사</th>
                    </tr>
                </thead>
                <tbody id="searchingmaterialinfobody" style="max-height: 700px; overflow-y: auto;">


                </tbody>
            </table>
        </div>

    </div>
    <script>
        var server = '';

        if (window.location.hostname == 'localhost') {
            server = 'http://localhost:8080';
        } else {
            server = 'http://techonmes.co.kr';
        }
        $(document).ready(function () {
            settingDate()
            showLoading()
            load()
            $('#Datatbody').on('dblclick', 'tr', function () {
                openEditModal(this); // Pass the clicked row to the function
            });

        });

        // Function to close edit modal and overlay
        function closeModal() {
            $('#overlay').fadeOut();
            $('#editModal').fadeOut();
        }
        function closeModal1() {
            // $('#overlay').fadeOut();
            $('#editModal1').fadeOut();
        }

        function showLoading() {
            var loadingOverlay = document.getElementById("loadingOverlay");
            loadingOverlay.style.display = "flex";
            setTimeout(function () {
                loadingOverlay.style.display = "none";
            }, 1000);
        }


        function Datasave() {
            if (confirm("샘플 발주 정보를 등록 하시겠습니까??") == true) {

                var insertdate = new Date().toISOString().slice(0, 10);

                var toolcode = $('#toolcode').val();
                var madedate = $('#datepicker1').val();
                var bomno = $('#bomno').val();
                var customer = $('#customer').val();
                var modelname = $('#modelname').val();
                var itemname = $('#itemname').val();
                var char = $('#char').val();
                var part = $('#part').val();
                var inputprice = $('#inputprice').val();
                var outputprice = $('#outputprice').val();

                $.ajax({
                    type: 'POST',
                    url: server + '/api/insertpinacle',
                    dataType: 'json',
                    contentType: 'application/json',
                    data: JSON.stringify({

                        "insertdate": insertdate,
                        "toolcode": toolcode,
                        "madedate": madedate,
                        "bomno": bomno,
                        "customer": customer,
                        "modelname": modelname,
                        "itemname": itemname,
                        "char": char,
                        "part": part,
                        "inputprice": inputprice,
                        "outputprice": outputprice




                    }),
                    success: function (result) {


                    }
                })

                $('#popupOverlay').fadeOut();
                setTimeout(function () {
                    load()
                }, 50); // 3초 후에 알림을 사라지게 설정
                var notification = $('<div class="notification"><img src="/img/테크온로고.PNG" alt="Notification Icon"><span class="notification-message" style="color:navy;">피나클 정보 등록 완료</span></div>');
                $('body').append(notification);
                setTimeout(function () {
                    notification.fadeOut(function () {
                        $(this).remove();
                    });
                }, 3000);
            } else {
                return false;
            }
        }


        function load() {
            $('#Datatbody').empty();
            var totalQuantity = 0;
            var totalTotalPrice = 0;

            $.ajax({
                type: 'POST',
                url: server + '/api/POaccountinput',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify({
                    start: $('#datepicker1').val(),
                    finish: $('#datepicker2').val()
                }),
                success: function (result) {
                    if (result.length === 0) {
                        // Display a message when there is no data
                        $('#Datatbody').append(
                            '<tr><td colspan="9" style="text-align:center;">데이터가 없습니다.</td></tr>'
                        );
                    } else {
                        for (var i = 0; i < result.length; i++) {
                            totalQuantity += result[i].quantity || 0;
                            totalTotalPrice += result[i].totalprice || 0;

                            $('#Datatbody').append(
                                '<tr>' +
                                '<td><input type="checkbox" name="chk" style="width:18px; height: 18px;"></td>' +
                                '<td>' + (result[i].deliverydate || '') + '</td>' +
                                '<td>' + (result[i].customer || '') + '</td>' +
                                '<td>' + (result[i].itemcode || '') + '</td>' +
                                '<td>' + (result[i].modelname || '') + '</td>' +
                                '<td>' + (result[i].itemname || '') + '</td>' +
                                '<td>' + (result[i].bomno || '') + '</td>' +
                                '<td style="text-align:right;">' + (result[i].quantity.toLocaleString() || '0') + '</td>' +
                                '<td style="text-align:right;">' + (result[i].itemprice.toLocaleString() || '0') + '</td>' +
                                '<td style="text-align:right;">' + (result[i].totalprice.toLocaleString() || '0') + '</td>' +
                                '<td id="data-id">' + (result[i].id || '') + '</td>' +
                                '</tr>'
                            );
                            $('td#data-id').hide()
                        }

                        $('#Datatbody').append(
                            '<tr style="background-color:whitesmoke;">' +
                            '<td colspan="6"><b>' + $('#datepicker1').val() + '~' + $('#datepicker2').val() + '</b></td>' +
                            '<td style="text-align:right;"><b>수주 건수:' + result.length.toLocaleString() + '</b></td>' +
                            '<td style="text-align:right;"><b>' + totalQuantity.toLocaleString() + '</b></td>' +
                            '<td></td>' +
                            '<td style="text-align:right;"><b>' + totalTotalPrice.toLocaleString() + '</b></td>' +
                            '</tr>'
                        );
                    }
                }
            });
        }






        function settingDate() {
            const date = new Date();

            var day = date.getDate();
            var month = date.getMonth() + 1;
            var year = date.getFullYear();


            if (month === 1 || month === 2 || month === 3 || month === 4 || month === 5 || month === 6 || month === 7 || month === 8 || month === 9) {
                month = '0' + month
            }

            if (day === 1 || day === 2 || day === 3 || day === 4 || day === 5 || day === 6 || day === 7 || day === 8 || day === 9) {
                day = '0' + day
            }


            // This arrangement can be altered based on how we want the date's format to appear.
            let currentDate = `${year}-${month}-${day}`;


            $('#datepicker1').val(currentDate);
            $('#datepicker2').val(currentDate);

        }
        function deleteRow(button) {
            // 해당 버튼이 속한 행을 찾아서 삭제
            var row = button.closest('tr');
            row.remove();
        }
        function newadd() {
            document.getElementById('overlay').style.display = 'block';
            document.getElementById('editModal').style.display = 'block';
            var inputValue = document.getElementById("materialnameinput").value.trim();

            document.getElementById("materialnameinput").value = "";
            $('#searchingmaterialinfobody').empty();
            $.ajax({
                type: 'POST',
                url: server + '/api/searchbomno',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify({

                    itemcode: inputValue

                }),
                success: function (result) {
                    for (var i = 0; i < result.length; i++) {


                        $('#searchingmaterialinfobody').append(
                            '<tr>' +

                            '<td><input type="checkbox" onclick="insertmaterialdata(this)"  style="cursor:pointer; width: 20px; height: 20px;"></td>' +
                            '<td>' + result[i].itemcode + '</td>' +
                            '<td>' + result[i].bomno + '</td>' +
                            '<td>' + result[i].modelname + '</td>' +
                            '<td>' + result[i].itemname + '</td>' +
                            '<td>' + result[i].customer + '</td>' +
                            '<td id="data-itemprice">' + result[i].itemprice + '</td>' +
                            '</tr>'
                        );

                        $("td#data-itemprice").hide();


                    }
                }
            });
            $('#accountdatatbody').empty()
            var newRow = $('<tr></tr>');
            newRow.append('<td><button id="deleteRowBtn" onclick="deleteRow(this)" style="background-color: red; color:white; ">삭제</button></td>');

            newRow.append('<td><input type="text" id="bomno-input" style="background-color: whitesmoke; cursor: pointer;" readonly ondblclick="handleDoubleClick();" value="" autocomplete="off"></td>');
            newRow.append('<td><input type="text" id="itemcode-input" readonly value="" autocomplete="off"></td>');
            newRow.append('<td><input type="text" id="modelname-input" readonly value="" autocomplete="off"></td>');
            newRow.append('<td><input type="text" id="itemname-input" readonly value="" autocomplete="off"></td>');
            newRow.append('<td><input type="text" id="customer-input" readonly value="" autocomplete="off"></td>');
            newRow.append('<td><input type="text" style="text-align:right;" id="itemprice-input"  readonly value="" autocomplete="off"></td>');
            newRow.append('<td><input type="text" style="text-align:right;" id="pocount-input" oninput="valuechanged()" value="" autocomplete="off"></td>');
            newRow.append('<td><input type="text" style="text-align:right;" id="price-input" readonly value="" autocomplete="off"></td>');
            newRow.append('<td><input type="checkbox" id="checkbox-input" style="width:20px; height:20px; cursor:pointer;" readonly value="" autocomplete="off"></td>');
            $('#accountdatatbody').append('<tr id="sumRow"><td><button onclick="accountsave()" style="background-color:navy;">저장</button></td><td colspan="6" style="text-align:right;">합계:</td><td id="pocount-sum" style="text-align:right;"></td><td id="price-sum" style="text-align:right;"></td></tr>');

            // $('#accountdatatbody').append(newRow);
            $('#accountdatatbody').append(newRow);
        }
        function searchitem() {
            document.getElementById('overlay').style.display = 'block';
            document.getElementById('editModal1').style.display = 'block';


        }
        function handleDoubleClick() {
            document.getElementById('overlay').style.display = 'block';
            document.getElementById('editModal1').style.display = 'block';
            $('#materialnameinput').focus()

            var currentRow = $(event.target).closest('tr');

            var rowIndex = currentRow.index();



            $("#numericPart").val(rowIndex);
        }



        function insertmaterialdata(row) {
            var rowData = $(row).closest('tr').find('td').map(function () {
                return $(this).text();
            }).get();

            var rowCount = $('#accountdatatbody tr').length - 1;

            $('#accountdatatbody tr:eq(' + rowCount + ') #bomno-input').val(rowData[2]); // BOMNO
            $('#accountdatatbody tr:eq(' + rowCount + ') #itemcode-input').val(rowData[1]); // 품목코드
            $('#accountdatatbody tr:eq(' + rowCount + ') #modelname-input').val(rowData[3]); // 모델명
            $('#accountdatatbody tr:eq(' + rowCount + ') #itemname-input').val(rowData[4]); // 품목명
            $('#accountdatatbody tr:eq(' + rowCount + ') #customer-input').val(rowData[5]); // 고객사
            $('#accountdatatbody tr:eq(' + rowCount + ') #itemprice-input').val(rowData[6]); // 단가
            $('#accountdatatbody tr:eq(' + rowCount + ') #pocount-input').focus();
            addnew();
        }

        function valuechanged() {
            var currentRow = $(event.target).closest('tr');
            var rowIndex = currentRow.index();
            console.log(rowIndex)
            const itempriceValue = parseFloat($('#accountdatatbody tr:eq(' + rowIndex + ') #itemprice-input').val().replace(/,/g, '')) || 0;
            const countValue = parseFloat($('#accountdatatbody tr:eq(' + rowIndex + ') #pocount-input').val().replace(/,/g, '')) || 0;
            const priceValue = itempriceValue * countValue;
            $('#accountdatatbody tr:eq(' + rowIndex + ') #price-input').val(priceValue.toLocaleString());
            let totalPocount = 0;
            let totalPosumprice = 0;
            $('#accountdatatbody input#pocount-input').each(function () {
                const countValue = parseFloat($(this).val().replace(/,/g, '')) || 0;
                totalPocount += countValue;
            });
            $('#accountdatatbody input#price-input').each(function () {
                const priceValue = parseFloat($(this).val().replace(/,/g, '')) || 0;
                totalPosumprice += priceValue;
            });
            // Update the sum in the designated cell
            $('#pocount-input').val()
            $('#price-input').val()
            $('#pocount-sum').text(totalPocount.toLocaleString());
            $('#price-sum').text(totalPosumprice.toLocaleString());
        }
        function addnew() {
            var newRow = $('<tr></tr>');
            newRow.append('<td><button id="deleteRowBtn" onclick="deleteRow(this)" style="background-color: red; color:white; ">삭제</button></td>');

            newRow.append('<td><input type="text" id="bomno-input" style="background-color: whitesmoke; cursor: pointer;" readonly ondblclick="handleDoubleClick();" value="" autocomplete="off"></td>');
            newRow.append('<td><input type="text" id="itemcode-input" readonly value="" autocomplete="off"></td>');
            newRow.append('<td><input type="text" id="modelname-input" readonly value="" autocomplete="off"></td>');
            newRow.append('<td><input type="text" id="itemname-input" readonly value="" autocomplete="off"></td>');
            newRow.append('<td><input type="text" id="customer-input" readonly value="" autocomplete="off"></td>');
            newRow.append('<td><input type="text" style="text-align:right;" id="itemprice-input"  readonly value="" autocomplete="off"></td>');
            newRow.append('<td><input type="text" style="text-align:right;" id="pocount-input" oninput="valuechanged()" value="" autocomplete="off"></td>');
            newRow.append('<td><input type="text" style="text-align:right;" id="price-input" readonly value="" autocomplete="off"></td>');
            newRow.append('<td><input id="checkbox-input" style="width:20px; height:20px; cursor:pointer;" type="checkbox"  readonly value="" autocomplete="off"></td>');
            $('#accountdatatbody').append(newRow);
        }
        function accountsave(row) {
            var isConfirmed = confirm('영업 수주 정보를 저장하시겠습니까?');
            var rowCount = $('#accountdatatbody tr').length;

            if (isConfirmed) {
                var insertdate = new Date().toISOString().slice(0, 10);

                for (var i = 1; i < rowCount; i++) {
                    var bomno = $('#accountdatatbody tr:eq(' + i + ') #bomno-input').val();
                    var pocount = $('#accountdatatbody tr:eq(' + i + ') #pocount-input').val();

                    // Check if bomno is empty or contains only whitespace
                    if (!bomno.trim()) {
                        // Skip to the next iteration if bomno is empty
                        continue;
                    }

                    // Check if pocount is empty or contains only whitespace
                    if (!pocount.trim()) {
                        // Skip to the next iteration if pocount is empty
                        continue;
                    }

                    // Get the value of the checkbox with id=checkbox-input
                    var checkboxChecked = $('#accountdatatbody tr:eq(' + i + ') #checkbox-input').prop('checked');

                    // Set the value of ad based on the checkbox status
                    var adValue = checkboxChecked ? 'A' : 'D';

                    $.ajax({
                        type: 'POST',
                        url: server + '/api/openinsertdata',
                        dataType: 'json',
                        contentType: 'application/json',
                        data: JSON.stringify({
                            "bomno": bomno,
                            "modelname": $('#accountdatatbody tr:eq(' + i + ') #modelname-input').val(),
                            "itemname": $('#accountdatatbody tr:eq(' + i + ') #itemname-input').val(),
                            "customer": $('#accountdatatbody tr:eq(' + i + ') #customer-input').val(),
                            "quantity": $('#accountdatatbody tr:eq(' + i + ') #pocount-input').val(),
                            "itemcode": $('#accountdatatbody tr:eq(' + i + ') #itemcode-input').val(),
                            "itemprice": $('#accountdatatbody tr:eq(' + i + ') #itemprice-input').val(),
                            "num": '1',
                            "status": '생산발주대기',
                            "ad": adValue, // Use the adValue variable here
                            "deliverydate": insertdate,
                            "part": '양산'
                        }),
                        success: function (result) {
                            // 성공했을 때의 처리
                        }
                    });
                }

                $('#editModal').fadeOut();
                $('#overlay').fadeOut();

                setTimeout(function () {
                    load();
                }, 50);

                var notification = $('<div class="notification"><img src="/img/테크온로고.PNG" alt="Notification Icon"><span class="notification-message" style="color:navy;">정보 등록 완료</span></div>');
                $('body').append(notification);
                setTimeout(function () {
                    notification.fadeOut(function () {
                        $(this).remove();
                    });
                }, 3000);
            } else {
                // 사용자가 취소한 경우의 처리
            }
        }

        // 이벤트 핸들러 등록
        $('#accountdatatbody').on('keydown', 'input', function (e) {
            if (e.key === 'Enter') {
                // Enter 키가 눌렸을 때 처리
                e.preventDefault(); // 기본 동작 방지

                var currentRow = $(this).closest('tr'); // 현재 행
                var nextRow = currentRow.next(); // 다음 행

                if (nextRow.length > 0) {
                    var nextInput = nextRow.find('#pocount-input'); // 다음 행의 price-input 클래스를 가진 input

                    if (nextInput.length > 0) {
                        nextInput.focus(); // 다음 행의 price-input에 포커스 설정
                    }
                }
            }
        });


        function search() {
            const searchInput = document.getElementById('materialnameinput');
            const dataTable = document.getElementById('datatable1');
            const tableRows = dataTable.getElementsByTagName('tr');

            searchInput.addEventListener('input', function () {
                const searchValue = this.value.toLowerCase();
                let count = 0;

                for (let i = 1; i < tableRows.length; i++) {
                    const rowData = tableRows[i].getElementsByTagName('td');
                    let found = false;

                    for (let j = 0; j < rowData.length; j++) {
                        const cellData = rowData[j].textContent.toLowerCase();

                        if (cellData.includes(searchValue)) {
                            found = true;
                            break;
                        }
                    }

                    if (found) {
                        tableRows[i].style.display = '';
                        count++;
                    } else {
                        tableRows[i].style.display = 'none';
                    }
                }

            });
        }

        function deletedata() {
            Swal.fire({
                icon: 'info',
                title: '삭제',
                text: '영업정보를 삭제 하시겠습니까?',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: '확인',
                cancelButtonText: '취소',
            }).then((result) => {
                if (result.isConfirmed) {
                    var selectedIds = [];
                    // 선택된 체크박스를 찾아서 ID를 배열에 추가합니다.
                    $('input[name="chk"]:checked').each(function () {
                        selectedIds.push($(this).closest('tr').find('td:eq(10)').text());
                    });

                    // 선택된 ID들을 서버로 한 번에 전송하여 삭제합니다.
                    $.ajax({
                        type: 'POST',
                        url: server + '/api/deleteaccount',
                        dataType: 'json',
                        contentType: 'application/json',
                        data: JSON.stringify({
                            ids: selectedIds // 선택된 ID 배열을 전송합니다.
                        }),

                    });


                    Swal.fire({
                        icon: 'success',
                        title: '삭제 완료',
                        text: '데이터가 삭제 되었습니다.',
                    }).then((result) => {
                        if (result.isConfirmed) {
                            load()
                        }
                    });
                }
            });


        }
    </script>


</body>

</html>