<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/salesinformation.css">
    <link rel="stylesheet" href="/css/accountinformation.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdn.datatables.net/buttons/2.0.1/css/buttons.dataTables.min.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.dataTables.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.3.4/css/select.dataTables.min.css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.7.1/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript"
        src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/select/1.3.4/js/dataTables.select.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.66/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.66/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.0.1/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.print.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.colVis.min.js"></script>

</head>
<style>
    .box1 {
        float: left;
        width: 800px;
        height: 100%;
        background-color: white;
        border: 0.5px rgb(177, 173, 173) solid;
        text-align: center;




    }

    .box2 {
        display: inline-block;
        width: 1000px;
        height: 100%;
        background-color: white;
        border: 0.5px rgb(177, 173, 173) solid;
        text-align: center;
        margin-left: 10px;
    }
</style>


<body>



    <div style="height:50px; border: 1px solid black;">
        <p style="margin-left:20px; margin-top:10px; font-size: 20px; font-weight: bold;">영업-영업수주</p>
        <button onclick="now()">now</button>
    </div>
    <div class="open_search_div">
        <div>
            <p>고객사:</p>
            <select id="accountname" style="width: 170px; height: 30px; margin-left:10px; font-weight: bold; ">
                <option></option>

                <option>글로플렉스</option>
                <option>뉴플렉스</option>
                <option>영풍전자</option>
                <option>넥스플러스</option>
                <option>대현에스티</option>
                <option>베트남</option>
                <option>비에이치플러스</option>
                <option>비전스케이프</option>
                <option>서울바이오시스</option>
                <option>신성델타테크</option>
                <option>써키트라인</option>
                <option>현대플렉스</option>
                <option>파인테크닉스</option>


            </select>
        </div>
        <div>
            <p>납기일자:</p>
            <input type="date" id="datepicker1"
                style="text-align:center; width: 170px; height: 30px; margin-top:-100px; margin-left:10px; font-weight: bold;">
            <!-- <button onclick="save_open()" style="width:80px; height: 30px;"> 저장</button> -->
            <button onclick="save_open()" id="addbtn" style="width:80px; background-color: green;"
                class="btn btn-primary"> 영업저장 </button>
            <!-- <button onclick="aaa()"> console</button> -->

        </div>
    </div>


    <div class="box1">
        <div class="box1-1" style="width: 100%; height:30px; background-color:navy;">
            <a style="color: white; text-align:center; font-size: 24px;">제품정보</a>
        </div>
        <table id="fileinfo" class="display" style="width:100%">
            <thead>
                <tr>
                    <th></th>
                    <th>BOM NO.</th>
                    <th>모델명</th>
                    <th>제품명</th>
                    <th>단가(₩)</th>
                    <th>원가(₩)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="box2">
        <div class="box1-1" style="width: 100%; height:30px; background-color:navy;">
            <a style="color: white; text-align:center; font-size: 24px;">영업 제품 정보 </a>
        </div>
        <div class="open_search_div">
            <div>
                <p>수량 합계(개):</p>
                <input type="text" id="countsum" value="0" style="text-align: right;">
            </div>
            <div>
                <p>금액 합계(₩):</p>
                <input type="text" id="pricesum" value="0" style="text-align: right;">
            </div>
        </div>
        <table id="fileinfo1" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>BOMNO.</th>
                    <th>모델명</th>
                    <th>제품명</th>
                    <th>원가(₩)</th>
                    <th>단가(₩)</th>
                    <th>수량(개)</th>
                    <th>금액(₩)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="fileinfobody">
            </tbody>
        </table>
    </div>


    <div id="addEmployeeModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form>
                    <div class="modal-header">
                        <h4 class="modal-title">제품추가</h4>

                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>BOMNO.:</label>
                            <input type="text" class="form-control" id="bomno" required>
                        </div>
                        <div class="form-group">
                            <label>모델명:</label>
                            <input type="text" class="form-control" id="modelname" required>
                        </div>
                        <div class="form-group">
                            <label>제품명:</label>
                            <input type="text" class="form-control" id="itemname" required>
                        </div>
                        <div class="form-group">
                            <label>단가:</label>
                            <input type="text" class="form-control" id="price" required>
                        </div>
                        <div class="form-group">
                            <label>원가:</label>
                            <input type="text" class="form-control" id="cost" required>
                        </div>
                        <div class="form-group">
                            <label>제품수량:</label>
                            <input type="text" class="form-control" onkeyup="inputNumberFormat(this)" id="count"
                                required>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="취소">
                        <input type="button" data-dismiss="modal" id="addbutton" class="btn btn-success" value="추가">
                    </div>
                </form>
            </div>
        </div>
    </div>





</body>




<script>

</script>
<script type="text/javascript">

    // 시작부분
    var server = '';
    console.log(window.location.hostname)

    if (window.location.hostname == 'localhost') {
        server = 'http://localhost:8080';
        // server = 'http://techonmes.co.kr';

    } else {
        server = 'http://techonmes.co.kr';
    }

    // This code runs when the document is ready
    $(document).ready(function () {

        // $('#fileinfo tbody').on('click', 'button', function () {
        //     table1 = $('#fileinfo').DataTable();
        //     var data1 = table1.row($(this).parents('tr')).data(); // getting 

        //     $('#modelname').val(data1.modelname);
        //     $('#itemname').val(data1.itemname);
        //     $('#price').val(data1.itemprice);
        //     $('#count').val('');
        // });

        $('#fileinfo').on('click', '#addbtn', function () {
            table1 = $('#fileinfo').DataTable();
            var data1 = table1.row($(this).parents('tr')).data(); // getting 
            $('#bomno').val(data1.bomno);
            $('#modelname').val(data1.modelname);
            $('#itemname').val(data1.itemname);
            $('#price').val(data1.itemprice);
            $('#cost').val(data1.cost);
            $('#count').val('');
            $('#addEmployeeModal').modal();

            console.log(11)
        });

        // Call settingDate() function (not defined in this code)
        settingDate()

        // Set two input fields to read-only
        document.getElementById('countsum').readOnly = true;
        document.getElementById('pricesum').readOnly = true;

        // Load data from the server using AJAX
        $.ajax({
            url: server + '/api/iteminfo',
            method: 'post',
            dataType: 'json',
            success: function (data) {
                // Create a DataTable for the data received from the server
                $('#fileinfo').dataTable({
                    deferLender: true,
                    lengthMenu: [2, 4, 6, 8, 10],
                    paging: true,
                    sort: true,
                    pageLength: 10,
                    searching: true,
                    data: data,
                    responsive: true,
                    deferLoading: [0, 10],
                    columns: [
                        { "data": "id" },
                        { "data": "bomno" },
                        { "data": "modelname" },
                        { "data": "itemname" },
                        { "data": "itemprice" },
                        { "data": "cost" }
                    ],
                    columnDefs: [
                        {
                            targets: 0,
                            visible: false
                        },
                        {
                            targets: 6,
                            data: null,
                            // defaultContent: '<a href="#addEmployeeModal"  class="edit" data-toggle="modal"><i class="material-icons"  data-toggle="tooltip" title="추가">&#xE254;</i></a>',
                            defaultContent: '<button id="addbtn" class="btn btn-primary" > 추가 </button>',
                            width: 70
                        }
                    ],
                    "language": {
                        emptyTable: "데이터가 없습니다.",
                        lengthMenu: "페이지당 _MENU_ 개씩 보기",
                        info: "현재 _START_ - _END_ / _TOTAL_건",
                        infoEmpty: "데이터 없음",
                        infoFiltered: "( _MAX_건의 데이터에서 필터링됨 )",
                        search: "검색:",
                        zeroRecords: "일치하는 데이터가 없습니다.",
                        loadingRecords: "로딩중...",
                        processing: "잠시만 기다려 주세요.",
                        paginate: {
                            next: "다음",
                            previous: "이전",
                        },
                    },
                    destroy: true,
                });
            },
            error: function (response) {
                alert(response.responseText);
            }
        });

        // Load data from the server using AJAX (identical to previous call)
        $.ajax({
            url: 'http://techonmes.co.kr/api/iteminfo',
            method: 'post',
            dataType: 'json',
            success: function (data) {
                // Create a second DataTable for the same data
                $('#fileinfo1').dataTable({
                    deferLender: true,
                    paging: true,
                    sort: true,
                    pageLength: 10,
                    searching: true,
                    data: data,
                    responsive: true,
                    deferLoading: [0, 10],
                    columns: [],
                    columnDefs: [],
                    destroy: true,
                });
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    });
</script>
<script type="text/javascript">





    // $('#fileinfo1 tbody').on('click', 'button', function () {
    //     table1 = $('#fileinfo1').DataTable();
    //     var row = table1.row($(this).parents('tr'));
    //     var rowNode = row.node();
    //     row.remove();1

    // });


    function SomeDeleteRowFunction(o) {
        //no clue what to put here?
        var p = o.parentNode.parentNode;
        p.parentNode.removeChild(p);
    }

    function modalsave() {


        $.ajax({
            url: 'http://techonmes.co.kr/api/iteminfo',
            method: 'post',
            dataType: 'json',
            success: function (data) {
                $('#fileinfo').dataTable({
                    deferLender: true,
                    paging: true,
                    sort: true,
                    pageLength: 10,
                    searching: true,
                    data: data,
                    responsive: true,

                    columns: [

                        { "data": "id" },
                        { "data": "bomno" },
                        { "data": "modelname" },
                        { "data": "itemname" },
                        { "data": "size" },
                        { "data": "itemprice" }

                    ],
                    columnDefs: [

                        {
                            targets: 0,
                            visible: false
                        },
                        {
                            targets: 1,
                            width: 200
                        },
                        {
                            targets: 6,
                            width: 50,
                            data: null,
                            defaultContent: '<button" >선택</button>'
                        }

                    ],

                    "language": {
                        emptyTable: "데이터가 없습니다.",
                        lengthMenu: "페이지당 _MENU_ 개씩 보기",
                        info: "현재 _START_ - _END_ / _TOTAL_건",
                        infoEmpty: "데이터 없음",
                        infoFiltered: "( _MAX_건의 데이터에서 필터링됨 )",
                        search: "검색:",
                        zeroRecords: "일치하는 데이터가 없습니다.",
                        loadingRecords: "로딩중...",
                        processing: "잠시만 기다려 주세요.",
                        paginate: {
                            next: "다음",
                            previous: "이전",
                        },
                    },
                    destroy: true,
                });
            }, error: function (response) {
                alert(response.responseText);
            }
        });

        $('#accountcode-save').val('');
        $('#accountname-save').val('');
        $('#representativename-save').val('');
        $('#phone-save').val('');
        $('#adress-save').val('');
        // $('#myModalsave').on('shown.bs.modal', function (e) {

        //     $(window).trigger('resize')
        // });
        $("#myModalsave").modal("show");

    }
    $('#myModalsave').on('shown.bs.modal', function () {
        var table = $('#fileinfo').DataTable();
        table.columns.adjust();
    });

    // 숫자 컴마표시
    function inputNumberFormat(obj) {
        obj.value = comma(uncomma(obj.value));
    }
    // 숫자 컴마 제거후 int 변경
    function comma(str) {
        str = String(str);
        return str.replace(/(\d)(?=(?:\d{3})+(?!\d))/g, '$1,');
    }
    function uncomma(str) {
        str = String(str);
        return str.replace(/[^\d]+/g, '');
    }
    ///////=====================




    function settingDate() {
        const date = new Date();

        var day = date.getDate();
        var month = date.getMonth() + 1;
        var year = date.getFullYear();



        if (month === 1 || month === 2 || month === 3 || month === 4 || month === 5 || month === 6 || month === 7 || month === 8 || month === 9) {
            month = '0' + month

        }

        if (day === 1 || day === 2 || day === 3 || day === 4 || day === 5 || day === 6 || day === 7 || day === 8 || day === 9) {
            day = '0' + day

        }


        // This arrangement can be altered based on how we want the date's format to appear.
        let currentDate = `${year}-${month}-${day}`;
        // console.log(year + month + day)

        $('#datepicker1').val(currentDate);


    }

    function now() {
        const date = new Date();

        var day = date.getDate();
        var month = date.getMonth() + 1;
        var year = date.getFullYear();
        var hours = date.getHours();
        var second = date.getSeconds();


        if (month === 1 || month === 2 || month === 3 || month === 4 || month === 5 || month === 6 || month === 7 || month === 8 || month === 9) {
            month = '0' + month

        }

        if (day === 1 || day === 2 || day === 3 || day === 4 || day === 5 || day === 6 || day === 7 || day === 8 || day === 9) {
            day = '0' + day

        }


        let currentnow = `${year}${month}${day}${hours}${second}`;
        console.log(currentnow)


    }


    document.getElementById("addbutton").addEventListener('click', hello);

    function hello() {


        var price = $('#price').val()
        var count = $('#count').val()
        var number = count.replace(/,/g, "");
        var sum = comma(uncomma(price * number))

        var a = $('#pricesum').val()
        var pricesum = parseInt(uncomma(a)) + parseInt(uncomma(price * number))
        $('#pricesum').val(comma(uncomma(pricesum)))


        var b = $('#countsum').val()
        var countsum = parseInt(uncomma(b)) + parseInt(uncomma(count))
        $('#countsum').val(comma(uncomma(countsum)))

        $('#fileinfo1').append(

            '<tr>' +
            '<td >' + $('#bomno').val() + '</td>' +
            '<td >' + $('#modelname').val() + '</td>' +
            '<td >' + $('#itemname').val() + '</td>' +
            '<td >' + $('#cost').val() + '</td>' +
            '<td >' + $('#price').val() + '</td>' +
            '<td id="card">' + $('#count').val() + '</td>' +
            '<td >' + sum + '</td>' +

            '<td><button  id="deletbtn" onclick="SomeDeleteRowFunction(this)" class="btn btn-primary" style="background-color:red">삭제</button></td>' +
            '</tr>'

        )
        $('#addEmployeeModal').modal('hide');
    }


</script>
<script>

</script>

<script type="text/javascript">

    function save_open() {
        if ($('#accountname').val() === '') {

            alert("거래처가 누락되었습니다.");
            return
        }
        if (confirm("고객사 :" + $('#accountname').val() + ", 납기일 :" + $('#datepicker1').val() + " 영업 수주 정보를 등록 하시겠습니까??") == true) {

            const $table = document.getElementById('fileinfo1'); // table 엘리먼트 취득

            console.log($table.rows.length);  // 3, 행 갯수 출력

            const trGroup = Array.from(document.querySelectorAll('#fileinfo1 tr'));

            const textGroup = trGroup.map(tr => {
                return Array.from(tr.children).map(input => input.textContent);
            });
            var today = new Date();
            var now = new Date();	// 현재 날짜 및 시간
            var year = today.getFullYear();
            var month = ('0' + (today.getMonth() + 1)).slice(-2);
            var day = ('0' + today.getDate()).slice(-2);
            var hours = now.getHours();	// 시간
            var minutes = now.getMinutes();	// 분
            var seconds = now.getSeconds();	// 초




            for (var i = 0; i < $table.rows.length - 1; i++) {

                var accountdate = $('#datepicker1').val();
                var customer = $('#accountname').val();
                var bomno = textGroup[i + 1][0];
                var modelname = textGroup[i + 1][1];
                var itemname = textGroup[i + 1][2];
                var itemcost = textGroup[i + 1][3];
                var itemprice = textGroup[i + 1][4];
                var quantity = textGroup[i + 1][5];
                var number2 = quantity.replace(/,/g, "");
                var price = textGroup[i + 1][6];
                var number3 = price.replace(/,/g, "");
                
                var C = $('#countsum').val();
                var countsum = C.replace(/,/g, "");

                var P = $('#pricesum').val();
                var pricesum = P.replace(/,/g, "");

                // var bomno = $('#bomno').val();
                // let currentDate = `${year}${month}${date}${hours}${minutes}${seconds}`;
                $.ajax({
                    type: 'POST',
                    url: 'http://techonmes.co.kr/api/openinsertdata',
                    dataType: 'json',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        "accountdate": year + '-' + month + '-' + day,
                        "deliverydate": accountdate,
                        "customer": customer,
                        "modelname": modelname,
                        "itemname": itemname,
                        "itemprice": itemprice,
                        "quantity": number2,
                        "price": number3,
                        "contentname": year + month + day + hours + minutes + seconds,
                        "countsum": countsum,
                        "pricesum": pricesum,
                        "bomno": bomno,
                        "itemcost": itemcost
                    }),
                    success: function (result) {
                        console.log(result)
                    }
                })

            }
            $('#accountname').val('');
            $('#pricesum').val('0');
            $('#countsum').val('0');
            settingDate()
            $('#fileinfobody').empty()
            alert("저장이 완료 되었습니다.");






        } else {
            return false;
        }


    }

    //체크박스 클릭 아이디찾기
    $(document).on('click', "#deletbtn", function (e) {
        var str = "";
        var tdArr = new Array();// 배열 선언            
        var checkBtn = $(this);

        var tr = checkBtn.parent().parent();
        var td = tr.children();

        // tr.text()는 클릭된 Row 즉 tr에 있는 모든 값을 가져온다.

        // 반복문을 이용해서 배열에 값을 담아 사용할 수 도 있다.
        td.each(function (i) {
            tdArr.push(td.eq(i).text());
        });



        // td.eq(index)를 통해 값을 가져올 수도 있다.

        var D = td.eq(3).text();
        var E = td.eq(4).text();



        var countsum = $('#countsum').val();
        var number3 = uncomma(countsum)
        var number4 = uncomma(D)
        var finalcountsum = parseInt(number3) - parseInt(number4)
        var a = finalcountsum.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",")
        $('#countsum').val(a);

        var pricesum = $('#pricesum').val();
        var number1 = uncomma(pricesum)
        var number2 = uncomma(E)
        var finalpricesum = parseInt(number1) - parseInt(number2)
        var b = finalpricesum.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",")
        $('#pricesum').val(b);

    })
    function aaa() {
        var now = new Date();	// 현재 날짜 및 시간
        var year = now.getFullYear();//202302271130 2023127112916
        var month = parseInt(now.getMonth()) + 1;	// 월
        var date = now.getDate();	// 일
        var hours = now.getHours();	// 시간
        var minutes = now.getMinutes();	// 분
        var seconds = now.getSeconds();	// 초
        console.log(month)
    }

</script>
<script>
    var textbox = document.getElementById("countsum");
    textbox.style.border = "2px solid blue";
    textbox.style.borderRadius = "5px";
    textbox.style.padding = "10px";
    textbox.style.height = "20px";
    textbox.style.color = "black";

    var textbox1 = document.getElementById("pricesum");
    textbox1.style.border = "2px solid blue";
    textbox1.style.borderRadius = "5px";
    textbox1.style.padding = "10px";
    textbox1.style.height = "20px";
    textbox1.style.color = "black";
</script>

</html>