<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../assets/js/core/jquery-3.7.1.min.js"></script>
    <script src="../assets/js/core/popper.min.js"></script>
    <script src="../assets/js/core/bootstrap.min.js"></script>
    <script src="../assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
    <script src="../assets/js/plugin/datatables/datatables.min.js"></script>
    <script src="../assets/js/kaiadmin.min.js"></script>
    <script src="../assets/js/setting-demo2.js"></script>
    <script src="../assets/js/plugin/webfont/webfont.min.js"></script>
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../assets/css/plugins.min.css" />
    <link rel="stylesheet" href="../assets/css/kaiadmin.min.css" />
    <link rel="stylesheet" href="../assets/css/demo.css" />
</head>


<style>
    .date-input-group {
        display: flex;
        align-items: center;
        gap: 10px;
        /* margin-bottom: 20px; */
    }

    #iteminfofoot td {
        padding: 20px;
        text-align: center;
        font-weight: bold;
        background-color: #f8f9fa;
    }
</style>

<body>

    <div class="page-inner">
        <div class="page-header">
            <div class="col-md-12">
                <div class="card">
                    <div class="page-inner">
                        <div class="card-header">
                            <div class="d-flex align-items-center">
                                <h4 class="card-title">영업 수주 정보</h4>
                                <button class="btn btn-primary btn-round ms-auto" data-bs-toggle="modal" id="addButton">
                                    <i class="fa fa-plus"></i>
                                    주문서 추가
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="date-input-group">
                                <div>
                                    <input type="date" id="startdate" class="form-control">
                                </div>
                                <div>
                                    <input type="date" id="enddate" class="form-control">
                                </div>
                                <div>
                                    <button class="btn btn-primary btn-round ms-auto">조회</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="deleteConfirmModal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">삭제 확인</h5>
                                </div>
                                <div class="modal-body">
                                    <p>정보를 삭제 하시겠습니까?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" id="deletecancelBtn" class="btn btn-secondary"
                                        data-dismiss="modal">취소</button>
                                    <button type="button" id="confirmDeleteButton" class="btn btn-danger">확인</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="toast" id="successToast" style="position: fixed; top: 20px; right: 20px; z-index: 1050;"
                        role="alert" aria-live="assertive" aria-atomic="true">
                        <div class="toast-header">
                            <strong class="me-auto">Message</strong>
                            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                        </div>
                        <div class="toast-body" style="color: blue;">
                            정보가 저장되었습니다.
                        </div>
                    </div>

                    <div class="toast" id="deleteToast" style="position: fixed; top: 20px; right: 20px; z-index: 1050;"
                        role="alert" aria-live="assertive" aria-atomic="true">
                        <div class="toast-header">
                            <strong class="me-auto">Message</strong>
                            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                        </div>
                        <div class="toast-body" style="color: red;">
                            정보가 삭제되었습니다.
                        </div>
                    </div>
                    <div class="toast" id="nuToast" style="position: fixed; top: 20px; right: 20px; z-index: 1051;"
                        role="alert" aria-live="assertive" aria-atomic="true">
                        <div class="toast-header">
                            <strong class="me-auto">Message</strong>
                            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                        </div>
                        <div class="toast-body" style="color: red;">
                            정보가 누락되었습니다.
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="modal fade" id="addRowModal" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog" id="save-dialog" role="document">
                                <div class="modal-content" style="background-color: red;">
                                    <div class="card-header">
                                        <div class="d-flex align-items-center">
                                            <h4 class="card-title">주문서 추가</h4>
                                        </div>
                                    </div>

                                    <div class="modal-body">
                                        <form>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="form-group form-group-default">
                                                        <label>*설비코드</label>
                                                        <input id="codenumber-input" type="text" class="form-control"
                                                            autocomplete="off" placeholder="" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="form-group form-group-default">
                                                        <label>*호기명</label>
                                                        <input id="equipmentname-input" type="text" autocomplete="off"
                                                            class="form-control" placeholder="" />
                                                    </div>
                                                </div>

                                                <div class="col-sm-12">
                                                    <div class="form-group form-group-default">
                                                        <label>*설비명</label>
                                                        <input id="eqname-input" type="text" class="form-control"
                                                            autocomplete="off" placeholder="" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="form-group form-group-default">
                                                        <label>*구분</label>
                                                        <input id="part-input" type="text" autocomplete="off"
                                                            class="form-control" placeholder="" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="form-group form-group-default">
                                                        <label>*규격</label>
                                                        <input id="size-input" type="text" autocomplete="off"
                                                            class="form-control" placeholder="" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="form-group form-group-default">
                                                        <label>*차수</label>
                                                        <input id="num-input" type="text" autocomplete="off"
                                                            class="form-control" placeholder="" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="form-group form-group-default">
                                                        <label>*설비제작업체</label>
                                                        <input id="customer-input" type="text" autocomplete="off"
                                                            class="form-control" placeholder="" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="form-group form-group-default">
                                                        <label>*SerialNO</label>
                                                        <input id="serialno-input" type="text" autocomplete="off"
                                                            class="form-control" placeholder="" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="form-group form-group-default">
                                                        <label>*제작일자</label>
                                                        <input id="manudate-input" type="text" autocomplete="off"
                                                            class="form-control" placeholder="" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="form-group form-group-default">
                                                        <label>*설비위치</label>
                                                        <input id="position-input" type="text" autocomplete="off"
                                                            class="form-control" placeholder="" />
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer border-0">
                                        <button type="button" id="addRowButton" class="btn btn-primary">저장</button>
                                        <button type="button" id="closeButton" class="btn btn-danger"
                                            data-dismiss="modal">닫기</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="updateRowModal" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog" id="save-dialog" role="document">
                                <div class="modal-content">
                                    <div class="card-header">
                                        <div class="d-flex align-items-center">
                                            <h4 class="card-title">설비 정보 수정</h4>
                                            <input type="text" id="id-edit" style="visibility: hidden;">
                                        </div>
                                    </div>

                                    <div class="modal-body">
                                        <form>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="form-group form-group-default">
                                                        <label>*설비코드</label>
                                                        <input id="codenumber-edit" type="text" class="form-control"
                                                            autocomplete="off" placeholder="" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="form-group form-group-default">
                                                        <label>*호기명</label>
                                                        <input id="equipmentname-edit" type="text" autocomplete="off"
                                                            class="form-control" placeholder="" />
                                                    </div>
                                                </div>

                                                <div class="col-sm-12">
                                                    <div class="form-group form-group-default">
                                                        <label>*설비명</label>
                                                        <input id="eqname-edit" type="text" class="form-control"
                                                            autocomplete="off" placeholder="" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="form-group form-group-default">
                                                        <label>*구분</label>
                                                        <input id="part-edit" type="text" autocomplete="off"
                                                            class="form-control" placeholder="" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="form-group form-group-default">
                                                        <label>*규격</label>
                                                        <input id="size-edit" type="text" autocomplete="off"
                                                            class="form-control" placeholder="" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="form-group form-group-default">
                                                        <label>*차수</label>
                                                        <input id="num-edit" type="text" autocomplete="off"
                                                            class="form-control" placeholder="" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="form-group form-group-default">
                                                        <label>*설비제작업체</label>
                                                        <input id="customer-edit" type="text" autocomplete="off"
                                                            class="form-control" placeholder="" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="form-group form-group-default">
                                                        <label>*SerialNO</label>
                                                        <input id="serialno-edit" type="text" autocomplete="off"
                                                            class="form-control" placeholder="" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="form-group form-group-default">
                                                        <label>*제작일자</label>
                                                        <input id="manudate-edit" type="text" autocomplete="off"
                                                            class="form-control" placeholder="" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="form-group form-group-default">
                                                        <label>*설비위치</label>
                                                        <input id="position-edit" type="text" autocomplete="off"
                                                            class="form-control" placeholder="" />
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer border-0">
                                        <button type="button" id="updateRowButton" class="btn btn-primary">수정</button>
                                        <button type="button" id="updatecloseButton" class="btn btn-danger"
                                            data-dismiss="modal">닫기</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="multi-filter-select" class="display table table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th>주문번호</th>
                                            <th>주문일자</th>
                                            <th style="width: 500px;">주문내용</th>
                                            <th>수량합계(EA)</th>
                                            <th>금액합계(￦)</th>
                                            <th style="width: 3%">수정</th>
                                            <th style="width: 3%">삭제</th>
                                        </tr>
                                    </thead>
                                    <tbody id="housetbody"></tbody>
                                    <tfoot id="iteminfofoot">

                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

<script>
    var server = '';
    if (window.location.hostname === '127.0.0.1' || window.location.hostname === 'localhost') {
        server = 'http://localhost:8080';
    } else {
        server = 'http://techonmes.co.kr';
    }

    $(document).ready(function () {
        // Initialize DataTable with search functionality
        var table = $("#multi-filter-select").DataTable({
            pageLength: 15,
            initComplete: function () {
                this.api().columns().every(function () {
                    var column = this;
                    var select = $('<select class="form-select"><option value=""></option></select>')
                        .appendTo($(column.footer()).empty())
                        .on("change", function () {
                            var val = $.fn.dataTable.util.escapeRegex($(this).val());
                            column.search(val ? "^" + val + "$" : "", true, false).draw();
                        });
                    column.data().unique().sort().each(function (d, j) {
                        select.append('<option value="' + d + '">' + d + "</option>");
                    });
                });
            },
        });


        var today = new Date();

        var year = today.getFullYear();
        var month = String(today.getMonth() + 1).padStart(2, '0'); // 월은 0부터 시작하므로 1을 더해준다.
        var day = String(today.getDate()).padStart(2, '0'); // 일
        var formattedDate = year + '-' + month + '-' + day;
        $('#startdate').val(formattedDate)
        $('#enddate').val(formattedDate)

        $('#closeButton').on('click', function () {
            $('#addRowModal').modal('hide');
        });
        $('#updatecloseButton').on('click', function () {
            $('#updateRowModal').modal('hide');
        });

        $('#deletecancelBtn').on('click', function () {
            $('#deleteConfirmModal').modal('hide');
        });
        $('#addButton').on('click', function () {
            $('#codenumber-input').val('');
            $('#equipmentname-input').val('');
            $('#eqname-input').val('');
            $('#part-input').val('');
            $('#size-input').val('');
            $('#num-input').val('');
            $('#customer-input').val('');
            $('#serialno-input').val('');
            $('#manudate-input').val('');
            $('#position-input').val('');
            $('#addRowModal').modal('show');
        });


        $('#addRowButton').on('click', function () {
            // 입력값 확인
            const codenumber = $('#codenumber-input').val();
            const equipmentname = $('#equipmentname-input').val();
            const eqname = $('#eqname-input').val();
            const part = $('#part-input').val();

            // 누락된 필드 체크
            if (!codenumber || !equipmentname || !eqname || !part) {

                var toast = new bootstrap.Toast(document.getElementById('nuToast'));
                toast.show();
                return; // 누락된 필드가 있으면 종료
            }

            $.ajax({
                type: 'POST',
                url: server + '/api/inserteqdata',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify({
                    "codenumber": $('#codenumber-input').val(),
                    "equipmentname": $('#equipmentname-input').val(),
                    "eqname": $('#eqname-input').val(),
                    "part": $('#part-input').val(),
                    "size": $('#size-input').val(),
                    "num": $('#num-input').val(),
                    "customer": $('#customer-input').val(),
                    "serialno": $('#serialno-input').val(),
                    "manudate": $('#manudate-input').val(),
                    "position": $('#position-input').val(),
                }),
                success: function (result) {

                },

            });

            $('#addRowModal').modal('hide');

            var toast = new bootstrap.Toast(document.getElementById('successToast'));
            toast.show();

            // 0.5초 뒤에 load() 호출
            setTimeout(function () {
                load();
            }, 100);
        });


        $('#updateRowButton').on('click', function () {
            var rowIndex = $(this).data('row-index');
            var rowData = table.row(rowIndex).data();
            var id = $(this).data('id');

            // 입력값 확인
            const codenumber = $('#codenumber-edit').val();
            const equipmentname = $('#equipmentname-edit').val();
            const eqname = $('#eqname-edit').val();
            const part = $('#part-edit').val();
            const editId = $('#id-edit').val();

            // 누락된 필드 체크
            if (!codenumber || !equipmentname || !eqname || !part) {
                var toast = new bootstrap.Toast(document.getElementById('nuToast'));
                toast.show();
                return; // 누락된 필드가 있으면 종료
            }

            $.ajax({
                type: 'POST',
                url: server + '/api/updateeqdata',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify({
                    "codenumber": $('#codenumber-edit').val(),
                    "equipmentname": $('#equipmentname-edit').val(),
                    "eqname": $('#eqname-edit').val(),
                    "part": $('#part-edit').val(),
                    "size": $('#size-edit').val(),
                    "num": $('#num-edit').val(),
                    "customer": $('#customer-edit').val(),
                    "serialno": $('#serialno-edit').val(),
                    "manudate": $('#manudate-edit').val(),
                    "position": $('#position-edit').val(),
                    "id": editId,
                }),
                success: function (result) {
                    // 성공 시 처리
                },

            });

            $('#updateRowModal').modal('hide');

            var toast = new bootstrap.Toast(document.getElementById('successToast'));
            toast.show();

            // 0.5초 뒤에 load() 호출
            setTimeout(function () {
                load();
            }, 100);
        });
        load();
    });

    // function load() {
    //     $.ajax({
    //         url: server + '/api/selectaccountinputordernumber',
    //         method: 'post',
    //         dataType: 'json',
    //         contentType: 'application/json',
    //         data: JSON.stringify({}),
    //         success: function (result) {
    //             var table = $("#multi-filter-select").DataTable();
    //             table.clear().draw(); // Clear the table before adding new data

    //             result.forEach((item, index) => {
    //                 table.row.add([
    //                     item.ordernumber || '',
    //                     item.deliverydate || '',
    //                     item.items || '',
    //                     item.quantity.toLocaleString() || '',
    //                     item.totalprice.toLocaleString() || '',

    //                     '<div class="form-button-action">' +
    //                     '<button type="button" data-id="' + item.id + '" data-row-index="' + index + '" data-bs-toggle="tooltip" title="상세" class="btn btn-link btn-primary btn-lg edit-btn">' +
    //                     '<i class="fa fa-edit"></i>' +
    //                     '</button>' +
    //                     '</div>',
    //                     '<div class="form-button-action">' +
    //                     '<button type="button" data-id="' + item.id + '" data-bs-toggle="tooltip" title="삭제" class="btn btn-link btn-danger delete-btn">' +
    //                     '<i class="fa fa-times"></i>' +
    //                     '</button>' +
    //                     '</div>'
    //                 ]).draw(false);
    //             });


    //         },

    //     });

    // }

    function load() {


        $.ajax({
            url: server + '/api/selectaccountinputordernumber',
            method: 'post',
            dataType: 'json',
            contentType: 'application/json',
            data: JSON.stringify({
                start: '2024-07-15',
                finish: '2024-07-15'
            }),
            success: function (result) {
                var table = $("#multi-filter-select").DataTable();
                table.clear().draw(); // Clear the table before adding new data

                var totalQuantity = 0; // quantity 합계를 저장할 변수 초기화
                var totalTotalPrice = 0; // totalprice 합계를 저장할 변수 초기화

                if (result.length === 0) {
                    table.row.add([
                        '<td colspan="6" style="text-align:center; font-weight:bold;">데이터가 없습니다</td>'
                    ]).draw(false);
                    $('#iteminfofoot').hide(); // tfoot 숨기기
                } else {
                    result.forEach((item, index) => {
                        table.row.add([
                            item.ordernumber || '',
                            item.deliverydate || '',
                            item.items || '',
                            item.quantity.toLocaleString() || '',
                            item.totalprice.toLocaleString() || '',
                            '<div class="form-button-action">' +
                            '<button type="button" data-id="' + item.id + '" data-row-index="' + index + '" data-bs-toggle="tooltip" title="상세" class="btn btn-link btn-primary btn-lg edit-btn">' +
                            '<i class="fa fa-edit"></i>' +
                            '</button>' +
                            '</div>',
                            '<div class="form-button-action">' +
                            '<button type="button" data-id="' + item.id + '" data-bs-toggle="tooltip" title="삭제" class="btn btn-link btn-danger delete-btn">' +
                            '<i class="fa fa-times"></i>' +
                            '</button>' +
                            '</div>'
                        ]).draw(false);

                        // 합계 계산
                        totalQuantity += parseFloat(item.quantity);
                        totalTotalPrice += parseFloat(item.totalprice);
                    });

                    // tfoot에 합계 추가
                    $('#iteminfofoot').html(
                        '<tr>' +
                        '<td style="font-weight:bold;" colspan="2">총합계</td>' +
                        '<td style="font-weight:bold;">주문건수 :' + result.length.toLocaleString() + '</td>' +
                        '<td style="font-weight:bold;">' + totalQuantity.toLocaleString() + '</td>' +
                        '<td style="font-weight:bold;">' + totalTotalPrice.toLocaleString() + '</td>' +
                        '<td colspan="3"></td>' + // 나머지 열은 빈 열로 채워짐
                        '</tr>'
                    ).show(); // tfoot 표시
                }


            },
        });
    }

</script>

</html>