<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BOM양산정보</title>
    <script src="../assets/js/core/jquery-3.7.1.min.js"></script>
    <script src="../assets/js/core/popper.min.js"></script>
    <script src="../assets/js/core/bootstrap.min.js"></script>
    <script src="../assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
    <script src="../assets/js/plugin/datatables/datatables.min.js"></script>
    <script src="../assets/js/kaiadmin.min.js"></script>
    <script src="../assets/js/setting-demo2.js"></script>
    <script src="../assets/js/plugin/webfont/webfont.min.js"></script>
    <script src="../js/bommasssave.js"></script>
    <script src="../js/bommass.js"></script>
    <script src="../js/bomsave.js"></script>
    <link rel="stylesheet" href="../css/spiner.css">

    <link rel="stylesheet" href="../assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../assets/css/plugins.min.css" />
    <link rel="stylesheet" href="../assets/css/kaiadmin.min.css" />
    <link rel="stylesheet" href="../assets/css/demo.css" />
    <link rel="stylesheet" href="../assets/css/demo1.css" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


</head>
<style>
    #Datatbody td {
        /* color: red; */
        font-size: 13px;
        font-weight: bold;
    }

    #containers {
        height: 50vh;
        max-height: 50vh;
        overflow-y: auto;
        overflow-x: auto;
        display: block;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }


    thead {
        background-color: #f8f8f8;
        position: sticky;
        top: 0;
        z-index: 1000;
        /* 헤더가 콘텐츠 위에 오도록 설정 */
    }

    input[type="text"] {
        font-family: Arial, sans-serif;
        font-size: 14px;
        text-align: left;
    }

    .modal-body {
        max-height: calc(100vh - 100px);
        /* Adjust based on your modal header/footer height */
        /* overflow-y: auto; */
    }

    input[type="text"] {
        width: 100%;
        padding: 12px;
        /* margin-bottom: 12px; */
        border: 1px solid #ddd;
    }


    .table-bordered {
        width: 300%;
        height: 200px;
        min-height: 200px;
    }

    .table-container {
        width: 100%;
        height: 70vh;
        overflow-y: auto;
        border: 1px solid #ccc;
    }
</style>

<body>
    <div class="spinner-overlay">
        <div class="spinner"></div>
    </div>
    <!-- <div class="modal fade" id="newModal" tabindex="-1" role="dialog" aria-hidden="true"> -->
    <div class="modal fade" id="newModal" tabindex="-1" aria-labelledby="productModalLabel" aria-hidden="true"
        data-bs-keyboard="false" data-bs-backdrop="static">
        <div class="modal-dialog" role="document" style="width: 150vh;">
            <div class="modal-content" style="height: 90vh;">
                <div class="modal-header">
                    <h5 class="modal-title">Tìm kiếm sản phẩm(제품검색)</h5>
                    <input type="text" id="numericPart" style="width: 50px; visibility: hidden;">

                </div>
                <div class="modal-body" style="height: 100%;">

                    <div class="table-container">
                        <table class="table table-bordered">
                            <thead>
                                <th style="text-align: center;">Tìm kiếm sản phẩm(제품검색)</th>

                                <td colspan="10">
                                    <input class="styled-input" id="search-input"
                                        placeholder="Nhập cụm từ tìm kiếm và nhấn Enter(입력후 Enter누르세요)."
                                        style="text-align: left;"
                                        onkeydown="if (event.key === 'Enter') searchingmaterialvina()" type="text"
                                        autocomplete="off">
                                </td>

                                <tr>
                                    <th>BOMNO</th>
                                    <th>Mã khách hàng<br>(고객사코드)</th>
                                    <th>Tên Model<br>(모델명)</th>
                                    <th>Tên sản phẩm<br>(제품명)</th>
                                    <th>Khách hàng<br>(고객사)</th>
                                    <th>Đơn vị<br>(단위)</th>
                                    <th>Đơn giá<br>(단가)</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="itemtbody1">
                                <tr id="no-search-row">
                                    <td colspan="12" style="text-align: center;">Không có kết quả tìm kiếm(검색내용이 없습니다)
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="searchingcloseButton" class="btn btn-danger"
                        data-dismiss="modal">đóng(닫기)</button>
                </div>
            </div>
        </div>
    </div>

    <div id="overlay" class="overlay"></div>
    <!-- <div class="modal fade" id="productModal" tabindex="-1" aria-labelledby="productModalLabel" aria-hidden="true"> -->

    <div class="modal fade" id="productModal" tabindex="-1" aria-labelledby="productModalLabel" aria-hidden="true"
        data-bs-keyboard="false" data-bs-backdrop="static">


        <div class="modal-dialog" style="width: 200vh;">
            <div class="modal-content" style=" height: 95vh;">
                <div class="modal-header" style="height: 40px;">
                    <h5 class="modal-title" id="productModalLabel">Thông tin tiếp nhậ đơn hàng kinh doanh(영업 수주 정보)</h5>
                </div>
                <div class="modal-body">
                    <div class="container-fluid" style="margin-top: -20px; ">
                        <!-- First table -->
                        <div class="col-md-12" style="height: auto;" id="tableContainer">
                            <table class="table-bordered" id="Podatatable">
                                <thead id="tableHead">
                                    <tr>
                                        <th>PO DATE</th>
                                        <td colspan="12"><input type="date" id="datePicker3"
                                                style="width: 200px; float: left;"></td>
                                    </tr>
                                    <tr>
                                        <th>PONO</th>
                                        <td colspan="12"><input type="text" id="pono-input" autocomplete="off"></td>
                                    </tr>
                                    <tr>
                                        <th>BOMNO or ITEMCODE</th>
                                        <td colspan="12"><input type="text" onkeypress="handleKeyPress1(event)"
                                                id="bomno-input" autocomplete="off"
                                                placeholder="🔍 Tìm kiếm và nhấn Enter (Search and press Enter)"></td>
                                    </tr>
                                    <tr>
                                        <th>Mã khách hàng<br>(고객사코드)</th>
                                        <th>BOMNO</th>
                                        <th>Tên Model<br>(모델명)</th>
                                        <th>Tên sản phẩm<br>(제품명)</th>
                                        <th>Khách hàng<br>(고객사)</th>
                                        <th>Đơn vị<br>(단위)</th>
                                        <th style="width: 150px;">Số lượng PO (EA)<br>PO 수량</th>

                                        <th>Đơn giá<br>(단가)</th>
                                        <th>Số tiền bán hàng<br>판매금액</th>
                                        <th style="width: 100px;">Xác nhận kinh doanh<br>영업확정</th>
                                        <th>Tóm tắt<br>적요</th>
                                        <th></th>
                                    </tr>

                                </thead>
                                <tbody id="accountdatatbody" style="max-height: 500px; overflow-y: auto;">
                                    <tr id="no-search-row">
                                        <td colspan="12" style="text-align: center;">Dữ liệu không khả dụng(데이터가 없습니다)
                                        </td>
                                    </tr>
                                </tbody>


                            </table>

                        </div>

                    </div>
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-primary" id="savebtn" onclick="Bomsave()">Lưu(저장)</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">đóng(닫기)</button>
                </div>
            </div>
        </div>
    </div>


    <div class="page-inner">
        <div class="page-header">
            <div class="col-md-12">
                <div class="card">
                    <div class="page-inner">
                        <div class="card-header">
                            <div class="d-flex align-items-center">
                                <h4 class="card-title">Thông tin tiếp nhậ đơn hàng kinh doanh(영업 수주 정보)</h4>
                                <button type="button" class="btn btn-primary btn-round ms-auto" data-bs-toggle="modal"
                                    id="addButton" data-bs-target="#productModal">
                                    <i class="fa fa-plus"></i>
                                    thêm vào(추가)
                                </button>
                                <!-- <button onclick="load()">load</button> -->
                            </div>

                            <div class="card-body">
                                <div class="date-input-group">
                                    <input type="date" id="datePicker1"
                                        style="width: 200px; padding: 10px; font-size: 16px; border-radius: 5px; border: 1px solid #ccc;">
                                    <input type="date" id="datePicker2"
                                        style="width: 200px; padding: 10px; font-size: 16px; border-radius: 5px; border: 1px solid #ccc;">
                                    <button class="btn btn-primary">Search</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-body" style="height: 70vh; max-height: 70vh; overflow-y: auto;">
                        <div style="margin-top: -10px;">
                            <table class="styled-table" id="dataTable">
                                <thead id="tableHead">

                                    <tr>
                                        <th style="width:100px;"></th>
                                        <th>Mã khách hàng<br>(주문번호)</th>
                                        <th>PONO</th>
                                        <th style="width: 800px;">TIÊU ĐỀ<br>(제목)</th>
                                        <th>Đơn giá<br>합계금액(VND)</th>
                                        <th>Đơn giá<br>합계금액(USD)</th>
                                    </tr>

                                    </tr>
                                </thead>
                                <tbody id="Datatbody">
                                    <tr id="no-data-row">
                                        <td colspan="20" style="text-align: center;">
                                            Không có dữ liệu(데이터가 없습니다)</td>
                                    </tr>
                                </tbody>
                                <tfoot id="iteminfofoot"></tfoot>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


</body>

<script>
    var server = '';
    if (window.location.hostname === '127.0.0.1' || window.location.hostname === 'localhost') {
        server = 'http://localhost:8080';
    } else {
        server = 'http://techonmes.co.kr';
    }

    function countTableRows() {
        // Get the tbody element by its ID
        var tbody = document.getElementById('bomtableBody');
        // Count the number of rows in the tbody
        var rowCount = tbody.getElementsByTagName('tr').length;
        // Display the row count (this can be done in many ways, e.g., alert, console log, or updating some element's innerHTML)
        alert("Number of rows: " + rowCount);
    }

    $(document).on('click', '.add-btn', function () {
        const row = $(this).closest('tr'); // Get the closest row
        const itemname = row.find('td:nth-child(1)').text(); // Ensure correct index for itemname
        const width = row.find('td:nth-child(3)').text();
        const quantity = row.find('td:nth-child(4)').text();
        const length = row.find('td:nth-child(5)').text();
        const cut = row.find('td:nth-child(6)').text();
        const rollprice = row.find('td:nth-child(8)').text();
        const suppliername = row.find('td:nth-child(9)').text();

        const totalValue = (parseFloat(length) * parseFloat(quantity) * parseFloat(cut)).toFixed(0).toLocaleString();

        // Check if a row with the same itemname already exists in accountdatatbody2
        let exists = false;
        $('#accountdatatbody2 tr').each(function () {
            if ($(this).find('td:first').text() === itemname) {
                exists = true;
                return false; // Exit loop early
            }
        });

        // Remove the "데이터가 없습니다" row if it exists
        const noDataRow = $('#accountdatatbody2 #no-data-row2');
        if (noDataRow.length) {
            noDataRow.remove();
        }

        // Append the new row to accountdatatfoot2
        const newRow = `
    <tr>
        <td>${itemname}</td>
        <td><input type="text" style="text-align:right;" autocomplete="off" oninput="updateTotalValue();" value="${width}"></td>
        <td><input type="text" style="text-align:right;" autocomplete="off" oninput="updateTotalValue();" value="${quantity}" id="quantity"></td>
        <td><input type="text" style="text-align:right;" autocomplete="off" oninput="updateTotalValue();" value="${length}" id="length"></td>
        <td><input type="text" style="text-align:right;" autocomplete="off" readonly value="${cut}" id="cut"></td>
        <td id="totalValue">${totalValue}</td>
        <td><input type="text" style="text-align:right;" value=""></td>
        <td id="rollprice">${rollprice}</td>
        <td id="suppliername">${suppliername}</td>
    </tr>
    `;
        $('#accountdatatbody2').append(newRow);
    });



    $(document).ready(function () {
        var today = new Date();

        var year = today.getFullYear();
        var month = String(today.getMonth() + 1).padStart(2, '0'); // 월은 0부터 시작하므로 1을 더해준다.
        var day = String(today.getDate()).padStart(2, '0'); // 일
        var formattedDate = year + '-' + month + '-' + day;

        document.getElementById('datePicker1').value = formattedDate;
        document.getElementById('datePicker2').value = formattedDate;
        document.getElementById('datePicker3').value = formattedDate;

        // $.ajax({
        //     type: 'POST',
        //     url: server + '/api/selectiteminfovina',
        //     dataType: 'json',
        //     contentType: 'application/json',
        //     data: JSON.stringify({

        //     }),
        //     success: function (result) {
        //         $('#datacount').text('DATA : ' + result[0].datacount)
        //     }
        // })
        $('#tableContainer').scrollLeft(0);



        // Initialize DataTable with search functionality
        $('#orderdatatable thead input[type="checkbox"]').on('change', function () {
            var isChecked = $(this).prop('checked');

            $('#orderdatatable tbody input[type="checkbox"]').prop('checked', isChecked);

            if (isChecked) {
                // Get the IDs of checked checkboxes
                var checkedIds = $('#orderdatatable tbody input[type="checkbox"]:checked').map(function () {
                    return $(this).closest('tr').find('td#data-id').text();
                }).get();
            }
        });



        var today = new Date();

        var year = today.getFullYear();
        var month = String(today.getMonth() + 1).padStart(2, '0'); // 월은 0부터 시작하므로 1을 더해준다.
        var day = String(today.getDate()).padStart(2, '0'); // 일
        var formattedDate = year + '-' + month + '-' + day;
        $('#startdate').val(formattedDate)
        $('#enddate').val(formattedDate)

        $('#closeButton').on('click', function () {
            $('#addRowModal').modal('hide');
        });
        $('#searchingcloseButton').on('click', function () {
            $('#newModal').modal('hide');
            $('#overlay').hide();
        });
        $('#updatecloseButton').on('click', function () {
            $('#updateRowModal').modal('hide');
        });

        $('#deletecancelBtn').on('click', function () {
            $('#deleteConfirmModal').modal('hide');
        });
        load();
    });



    function showinfo(rowData) {


        $('#bomid-save').val(new Date().getTime());
        $('#bomid-edit').val(rowData.bomid)



        $('#productModal').modal('show');
        $('#savebtn').text('biên tập (수정)');

    }


    function handleCheckboxChange(checkbox) {
        // Get all checkboxes with the same class
        var checkboxes = document.getElementsByClassName('checkbox');

        // Loop through all checkboxes
        for (var i = 0; i < checkboxes.length; i++) {
            // If the checkbox is not the one clicked, uncheck it
            if (checkboxes[i] !== checkbox) {
                checkboxes[i].checked = false;
            }
        }

    }

    function load() {
        $.ajax({
            type: 'POST',
            url: server + '/api/selectaccountinfovina',
            dataType: 'json',
            success: function (data) {
                var tbodyContent = '';
                $('#Datatbody').empty(); // 기존 내용을 지웁니다.

                if (data.length === 0) {
                    tbodyContent = '<tr><td colspan="6" style="text-align:center;">Không có dữ liệu (데이터가 없습니다)</td></tr>';
                } else {
                    for (var i = 0; i < data.length; i++) {
                        // total_usd가 0이 아닐 때만 표시
                        // var totalUsdDisplay = (data[i].total_usd !== 0)
                        //     ? parseFloat(data[i].total_usd).toFixed(4).replace(/(\.00|(?<=\.\d)0)$/, '') // 소수점 두 자리로 반올림하고, 불필요한 0을 제거
                        //     : '';

                        tbodyContent +=
                            '<tr>' +
                            '<td><button class="btn btn-primary" onclick=\'showinfo(' + JSON.stringify(data[i]) + ')\'>Info</button></td>' +
                            '<td>' + data[i].ordernumber + '</td>' +
                            '<td>' + data[i].pono + '</td>' +
                            '<td>' + data[i].total_count + ' sản phẩm đã được đăng ký  /  ' + data[i].total_count + ' 건의 제품이 등록되었습니다' + '</td>' +
                            '<td>' + data[i].total_vnd.toLocaleString() + '</td>' +
                            '<td>' + data[i].total_usd.toLocaleString() + '</td>' +
                            '</tr>';
                    }
                }
                $('#Datatbody').html(tbodyContent); // 최종 HTML을 설정합니다.
            },
            error: function () {
                alert('데이터를 불러오는 데 실패했습니다.');
                // 스피너 오버레이 숨기기 (참조된 spinnerOverlay를 사용하여 설정)
                if (typeof spinnerOverlay !== 'undefined') {
                    spinnerOverlay.style.display = 'none';
                }
            }
        });
    }







    $('#addButton').on('click', function () {

        $('#pono-input').val('');
        $('#bomno-input').val('');

        $('#accountdatatbody').empty().append(
            '<tr id="no-search-row">' +
            '<td colspan="12" style="text-align: center;">Dữ liệu không khả dụng(데이터가 없습니다)</td>' +
            '</tr>'
        );
    });



    function onlyNumberKey(event) {
        // Only allows number keys, backspace, delete, left and right arrows
        const charCode = event.which ? event.which : event.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }

    function validateNumericInput(input) {
        // 숫자와 소수점만 입력 가능하게 함
        input.value = input.value.replace(/[^0-9.]/g, '');

        // 소수점이 여러 개 입력되지 않도록 함
        if ((input.value.match(/\./g) || []).length > 1) {
            input.value = input.value.replace(/\.+$/, '');
        }
    }



    $('#itemcode-input').on('keypress', function (event) {
        if (event.which === 13) { // Enter key code
            event.preventDefault(); // Prevent default action
            $('#overlay').show(); // Show the overlay
            $('#newModal').modal('show'); // Open the new modal

            $.ajax({
                type: 'POST',
                url: server + '/api/selectbomitemvina',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify({
                    bomno: $('#bomno-input').val()
                }),
                success: function (result) {
                    $('#itemtbody').empty(); // Clear previous results

                    if (result.length === 0) {
                        $('#no-search-row').show(); // Show "no search" row
                    } else {
                        $('#no-search-row').hide(); // Hide "no search" row
                        for (var i = 0; i < result.length; i++) {
                            $('#itemtbody').append(
                                '<tr>' +
                                '<td style="text-align:center;">' + result[i].itemcode + '</td>' +
                                '<td style="text-align:center;">' + result[i].bomno + '</td>' +
                                '<td style="text-align:center;">' + result[i].modelname + '</td>' +
                                '<td style="text-align:center;">' + result[i].itemname + '</td>' +
                                '<td style="text-align:center;">' + result[i].customer + '</td>' +
                                '<td style="text-align:center;">' + result[i].deadline + '</td>' +
                                '<td style="text-align:center;">' + result[i].price + '</td>' +
                                '<td style="text-align:center;">' +
                                '<button class="btn btn-primary" onclick="add(this); event.preventDefault();">THÊM</button>' +
                                '</td>' + '</tr>'
                            );
                        }
                    }

                    $("td#data-itemprice").hide(); // Hide specific cell if needed
                },

            });
        }
    });
    function handleKeyPress1(event) {
        if (event.key === "Enter") {
            var parentRow = $(event.target).closest('tr');
            // Extract data from the parent row
            var rowData = parentRow.find('td').map(function () {
                return $(this).text();
            }).get();
            var rowIndex = parentRow.index();
            $("#numericPart").val(rowIndex);
            searchingmaterial();
        }
    }



    function searchingmaterial() {

        $.ajax({
            type: 'POST',
            url: server + '/api/selectbomitemvina',
            dataType: 'json',
            contentType: 'application/json',
            data: JSON.stringify({
                bomno: $('#bomno-input').val()
            }),
            success: function (result) {
                $('#itemtbody1').empty();
                if (result.length === 0) {
                    var noDataMessage = '<tr><td colspan="15">Không có dữ liệu(데이터가 없습니다)</td></tr>';
                    $('#itemtbody1').append(noDataMessage);
                } else {
                    for (var i = 0; i < result.length; i++) {
                        // deadline이 null이면 빈 문자열로 대체
                        var deadline = result[i].deadline ? result[i].deadline : '';

                        var row = '<tr>' +
                            '<td>' + result[i].bomno + '</td>' +
                            '<td>' + result[i].itemcode + '</td>' +
                            '<td>' + result[i].modelname + '</td>' +
                            '<td>' + result[i].itemname + '</td>' +
                            '<td>' + result[i].customer + '</td>' +
                            '<td>' + deadline + '</td>' +
                            '<td>' + result[i].price + '</td>' +
                            '<td><button class="btn btn-primary" onclick="add(this)" >THÊM</button></td>' +
                            '</tr>';

                        $('#itemtbody1').append(row);
                    }

                    // 한 번의 선택으로 모든 숨길 요소를 처리합니다.
                }
            }
        });

        // Reset the item code input field
        $("#itemcode1-input").val('');

        // Show the overlay and modal
        $('#overlay').show(); // Show the overlay
        $('#newModal').modal('show'); // Open the new modal
    }
    function searchingmaterialvina() {

        $.ajax({
            type: 'POST',
            url: server + '/api/selectbomitemvina',
            dataType: 'json',
            contentType: 'application/json',
            data: JSON.stringify({
                bomno: $('#search-input').val()
            }),
            success: function (result) {
                $('#itemtbody1').empty();
                if (result.length === 0) {
                    var noDataMessage = '<tr><td colspan="15">Không có dữ liệu(데이터가 없습니다)</td></tr>';
                    $('#itemtbody1').append(noDataMessage);
                } else {
                    for (var i = 0; i < result.length; i++) {
                        // deadline이 null이면 빈 문자열로 대체
                        var deadline = result[i].deadline ? result[i].deadline : '';

                        var row = '<tr>' +
                            '<td>' + result[i].bomno + '</td>' +
                            '<td>' + result[i].itemcode + '</td>' +
                            '<td>' + result[i].modelname + '</td>' +
                            '<td>' + result[i].itemname + '</td>' +
                            '<td>' + result[i].customer + '</td>' +
                            '<td>' + deadline + '</td>' +
                            '<td>' + result[i].price + '</td>' +
                            '<td><button class="btn btn-primary" onclick="add(this)" >THÊM</button></td>' +
                            '</tr>';

                        $('#itemtbody1').append(row);
                    }

                    // 한 번의 선택으로 모든 숨길 요소를 처리합니다.
                }
            }
        });

        // Reset the item code input field
        $("#itemcode1-input").val('');

        // Show the overlay and modal
        $('#overlay').show(); // Show the overlay
        $('#newModal').modal('show'); // Open the new modal
    }


    function insertmaterialdata(button) {
        var parentRow = $(button).closest('tr');
        var rowData = parentRow.find('td').map(function () {
            return $(this).text();
        }).get();

    }

    function add(row) {
        var rowData = $(row).closest('tr').find('td').map(function () {
            return $(this).text();
        }).get();
        var today = new Date().toISOString().slice(0, 10);

        // Check if the table body is empty before removing the colspan row
        if ($('#accountdatatbody tr:first-child').find('td').attr('colspan') == 12) {
            $('#accountdatatbody tr:first-child').remove();
        }

        var newRow = '<tr>' +
            '<td id="itemcode-input">' + rowData[1] + '</td>' +
            '<td id="bomno-input">' + rowData[0] + '</td>' +
            '<td id="modelname-input">' + rowData[2] + '</td>' +
            '<td id="itemname-input">' + rowData[3] + '</td>' +
            '<td id="customer-input">' + rowData[4] + '</td>' +
            '<td id="unit-input">' + rowData[5] + '</td>' +
            '<td style="width:100px;">' +
            '<input type="text" ' +
            ' autocomplete="off" ' +
            ' id="pocount-input" ' +
            ' oninput="valuechanged(); formatNumberWithCommas(this);" ' +
            ' style="text-align:right;" ' +
            ' class="styled-input">' +
            '</td>' +
            '<td id="itemprice-input">' + rowData[6] + '</td>' +

            '<td id="price-input"></td>' +
            '<td><input type="checkbox" id="checkbox-input" style="width:20px; height:20px; cursor:pointer;"></td>' +
            '<td><input type="text" id="etc-input" autocomplete="off" class="styled-input"></td>' +
            '<td><button class="btn btn-danger" onclick="deleteRow(this)">삭제</button></td>' +
            '</tr>';

        // Add new row to the table body
        $('#accountdatatbody').append(newRow);

        // Close the modal and hide the overlay
        $('#newModal').modal('hide');
        $('#overlay').hide();
    }

    function valuechanged() {
        var currentRow = $(event.target).closest('tr');
        var rowIndex = currentRow.index();
        const itempriceValue = parseFloat($('#accountdatatbody tr:eq(' + rowIndex + ') #itemprice-input').text().replace(/,/g, '')) || 0;
        const countValue = parseFloat($('#accountdatatbody tr:eq(' + rowIndex + ') #pocount-input').val().replace(/,/g, '')) || 0;
        const priceValue = itempriceValue * countValue;
        // 쉼표가 추가된 값을 입력 필드에 설정합니다.
        $('#accountdatatbody tr:eq(' + rowIndex + ') #price-input').text(priceValue.toLocaleString());
        const input = document.querySelector('#pocount-input');

    }

    function deleteRow(button) {
        $(button).closest('tr').remove();

        // If there are no more rows in the table, add the colspan row back
        if ($('#accountdatatbody tr').length === 0) {
            var noDataRow = '<tr id="no-search-row">' +
                '<td colspan="12" style="text-align: center;">Dữ liệu không khả dụng(데이터가 없습니다)</td>' +
                '</tr>';
            $('#accountdatatbody').append(noDataRow);
        }
    }

</script>
<script>
    function updateCavity() {
        const cavitySaveValue = parseFloat($("#cavity-save").val()) || 0;
        const taInputValue = cavitySaveValue !== 0 ? (1 / cavitySaveValue) : 0;
        $("[id='cavity-input']").val(cavitySaveValue);
    }

    function updateRlcutValue() {
        var currentRow = $(event.target).closest('tr');
        var rowIndex = currentRow.index();
        $('#bomtableBody tr:eq(' + rowIndex + ') #rlcut-input').val(
            Math.floor(
                parseFloat($('#bomtableBody tr:eq(' + rowIndex + ') #usewidth-input').val()) /
                parseFloat($('#bomtableBody tr:eq(' + rowIndex + ') #materialwidth-input').val())
            ) || 0
        );
        $('#bomtableBody tr:eq(' + rowIndex + ') #hap-rlcut-input').val(
            Math.floor(
                parseFloat($('#bomtableBody tr:eq(' + rowIndex + ') #hap-usewidth-input').val()) /
                parseFloat($('#bomtableBody tr:eq(' + rowIndex + ') #materialwidth-input').val())
            ) || 0
        );
    }



    function formatNumberWithCommas(input) {
        // 숫자만 추출하여 입력 값에서 쉼표를 제거합니다.
        let value = input.value.replace(/,/g, '');

        // 숫자인 경우만 포맷팅을 진행합니다.
        if (!isNaN(value) && value !== '') {
            // 입력값을 정수로 변환한 후, 천 단위 구분자를 추가하여 다시 설정합니다.
            input.value = parseInt(value, 10).toLocaleString();
        } else {
            // 숫자가 아닌 입력은 무시합니다.
            input.value = '';
        }
    }
    document.getElementById('cavity-save').addEventListener('input', updateCavity);
    function formatDecimalInput(input, decimalPlaces) {
        // 소수두째짜리까지만 입력가능
        input.value = input.value.replace(/[^0-9.]/g, '');
        const parts = input.value.split('.');
        if (parts.length > 1) {
            input.value = `${parts[0]}.${parts[1].slice(0, decimalPlaces)}`;
        }
    }
    document.getElementById("searchInput").addEventListener("keypress", function (event) {
        if (event.key === "Enter") {
            event.preventDefault();
            searchTable();
        }
    });

    function searchTable() {
        var input, filter, table, tr, td, i, j, txtValue, matchCount = 0;
        input = document.getElementById("searchInput");
        filter = input.value.toLowerCase();
        table = document.getElementById("dataTable");
        tr = table.getElementsByTagName("tr");

        for (i = 1; i < tr.length; i++) {
            tr[i].style.display = "none";
            td = tr[i].getElementsByTagName("td");
            for (j = 0; j < td.length; j++) {
                if (td[j]) {
                    txtValue = td[j].textContent || td[j].innerText;
                    if (txtValue.toLowerCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                        matchCount++;
                        break;
                    }
                }
            }
        }
        $('#datacount').text("DATA : " + matchCount); // 검색된 결과 수 업데이트
    }
    function Bomsave() {
        // Get the value of #pono-input
        var ponoInput = $('#pono-input').val();

        // Check if the #pono-input is empty
        if (ponoInput.trim() === '') {
            alert('Mã PONO không được để trống! (PONO 데이터가 없습니다!)');
            return; // Stop the function if pono-input is empty
        }

        // Check if the table has rows other than the no-data row
        var hasData = $('#accountdatatbody tr').length > 0 &&
            $('#accountdatatbody tr:first-child').find('td').attr('colspan') !== '12';

        if (!hasData) {
            alert('Không có dữ liệu trong bảng! (데이터가 없습니다!)');
            return; // Stop the function if the table is empty
        }

        var hasEmptyPocount = false;
        $('#accountdatatbody tr').each(function () {
            var pocountValue = $(this).find('#pocount-input').val();
            if (pocountValue.trim() === '') {
                hasEmptyPocount = true;
                return false; // Break the loop if an empty pocount-input is found
            }
        });

        if (hasEmptyPocount) {
            alert('Số lượng PO không được để trống trong bất kỳ hàng nào! (PO수량 확인 바랍니다!)');
            return; // Stop the function if any pocount-input is empty
        }

        // Ask the user for confirmation before saving
        var confirmation = confirm('저장하시겠습니까?\nBạn có chắc chắn muốn lưu không?');

        if (!confirmation) {
            return; // Stop the function if the user cancels the operation
        }

        $.ajax({
            type: 'GET',
            url: server + '/api/getLastOrderNumbervina',
            dataType: 'json',
            success: function (response) {
                // 마지막 주문번호 기반으로 새로운 주문번호 생성
                var lastOrderNumber = response.lastOrderNumber;
                var newOrderNumber = generateNewOrderNumber(lastOrderNumber);
                var rowCount = $('#accountdatatbody tr').length;
                var insertdate = new Date().toISOString().slice(0, 10);

                // 새로운 주문번호를 서버에 저장
                $.ajax({
                    type: 'POST',
                    url: server + '/api/insertordernumbervina',
                    dataType: 'json',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        "ordernumber": newOrderNumber,
                    }),
                    success: function (result) {
                        // 주문번호 저장 성공 시의 처리 (필요에 따라 추가)
                    }
                });

                // 각 행의 데이터를 서버에 전송
                for (var i = 0; i < rowCount; i++) {
                    // 체크박스의 상태를 확인하여 'A' 또는 'D'로 설정
                    var checkboxChecked = $('#accountdatatbody tr:eq(' + i + ') #checkbox-input').prop('checked');
                    var adValue = checkboxChecked ? 'A' : 'D';

                    // 각 행의 데이터를 서버에 저장
                    $.ajax({
                        type: 'POST',
                        url: server + '/api/openinsertdatavina',
                        dataType: 'json',
                        contentType: 'application/json',
                        data: JSON.stringify({
                            "ordernumber": newOrderNumber,
                            "bomno": $('#accountdatatbody tr:eq(' + i + ') #bomno-input').text(),
                            "modelname": $('#accountdatatbody tr:eq(' + i + ') #modelname-input').text(),
                            "itemname": $('#accountdatatbody tr:eq(' + i + ') #itemname-input').text(),
                            "customer": $('#accountdatatbody tr:eq(' + i + ') #customer-input').text(),
                            "quantity": $('#accountdatatbody tr:eq(' + i + ') #pocount-input').val().replaceAll(',', ''),
                            "itemcode": $('#accountdatatbody tr:eq(' + i + ') #itemcode-input').text(),
                            "itemprice": $('#accountdatatbody tr:eq(' + i + ') #itemprice-input').text(),
                            "num": '1',
                            "status": '생산발주대기',
                            "ad": adValue,
                            "accountdate": $('#datePicker3').val(),
                            "deliverydate": insertdate,
                            "part": 'M',
                            "etc": $('#accountdatatbody tr:eq(' + i + ') #etc-input').val(),
                            "pono": $('#pono-input').val(),
                            "unit": $('#accountdatatbody tr:eq(' + i + ') #unit-input').text(),
                        }),
                        success: function (result) {
                            // 각 행의 데이터 저장 성공 시의 처리 (필요에 따라 추가)
                        }
                    });
                }

                // 저장 완료 후 메시지 표시
                alert('데이터가 성공적으로 저장 되었습니다\nDữ liệu đã được lưu thành công');

                // 저장 후 처리
                $('#productModal').modal('hide');
                load(); // 테이블 다시 로드
            }
        });
    }


    function generateNewOrderNumber(lastOrderNumber) {
        var today = new Date();
        var year = String(today.getFullYear()).slice(2); // 두 자리 연도
        var month = String(today.getMonth() + 1).padStart(2, '0'); // 두 자리 월
        var day = String(today.getDate()).padStart(2, '0'); // 두 자리 일

        var datePart = year + month + day;

        // if (!lastOrderNumber || !lastOrderNumber.startsWith(datePart)) {
        //     // 만약 마지막 주문번호가 없거나 오늘 날짜로 시작하지 않는다면 초기값 설정
        //     return datePart + '-1';
        // }

        // var parts = lastOrderNumber.split('-');
        var orderPart = parseInt(parts[1], 10) + 1;

        // 새로운 주문번호 생성 (예: 240611-2)
        return datePart + '-' + orderPart;
    }
    // 예제 호출


</script>

</html>