<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <script src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="../css/mesmain.css">
    <link rel="stylesheet" href="../css/mesaccountinput.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../js/sorttable.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>

</head>

<style>
    #datepicker1,
    #datepicker2 {
        width: 10%;
        padding: 10px;
        box-sizing: border-box;
        /* margin-bottom: 16px; */
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 15px;
        font-weight: bold;
    }

    select,
    #checkbox {

        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        /* margin-bottom: 16px; */
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 15px;
        font-weight: bold;
    }

    input {

        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        /* margin-bottom: 16px; */
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 15px;
        font-weight: bold;
    }
</style>

<body>
    <div class="main_header">
        <img src="/img/테크온로고.PNG" style="width: 100px;" class="loadingImage">
        <a style="margin-left: 20px;">TOOL 기초정보</a>
    </div>
    <div id="loadingOverlay">
        <img src="/img/테크온로고.PNG" alt="로딩 이미지" class="loadingImage">

    </div>

    <fieldset>
        <legend>검색조건</legend>
        <!-- <input type="date" id="datepicker1">
        <input type="date" id="datepicker2"> -->
        <!-- <button onclick="load()">조회</button> -->
        <button onclick="newadd()">신규추가</button>
    </fieldset>
    <div id="overlay"></div>
    <table class="styled-table" id="datatable">
        <thead id="tableHead">
            <tr>
                <th style="text-align:center;" onclick="sortTable(0)">구분</th>
                <th style="text-align:center;" onclick="sortTable(1)">제조사</th>
                <th style="text-align:center;" onclick="sortTable(2)">TOOL CODE</th>
                <th style="text-align:center;" onclick="sortTable(3)">BOM NO.</th>
                <th style="text-align:center;" onclick="sortTable(4)">고객사</th>
                <th style="text-align:center;" onclick="sortTable(5)">모델명</th>
                <th style="text-align:center;" onclick="sortTable(6)">품목명</th>
                <th style="text-align:center;" onclick="sortTable(7)">해당차수</th>
                <th style="text-align:center;" onclick="sortTable(8)">종류</th>
                <th style="text-align:center;" onclick="sortTable(9)">입고단가(￦)</th>
                <th style="text-align:center;" onclick="sortTable(10)">출고단가(￦)</th>
                <th style="text-align:center; width:200px;" onclick="sortTable(11)">비고</th>
            </tr>
        </thead>
        <tbody id="Datatbody">

        </tbody>

    </table>
    <div id="editModal" style="max-height: 600px;  overflow-y: auto; width: 100%;">
        <div class="mainheader">
            <h1>TOOL 기초정보 등록</h1>
            <span class="close" onclick="closeModal()">&times;</span>
        </div>
        <div id="editForm">
            <table class="styled-table" id="Podatatable">
                <thead id="tableHead">
                    <tr>
                        <th style="width:130px; background-color:white;"><button onclick="addnew()">추가</button>
                        </th>
                        <th style="width:130px; background-color:white;"><button onclick="pinaclesave()">저장</button>
                        </th>
                        <th colspan="11" style="background-color:white;"></th>

                    </tr>
                    <tr>
                        <th style="background-color: white;;"></th>
                        <th style="text-align:center;">구분</th>
                        <th style="text-align:center;">BOM NO.</th>
                        <th style="text-align:center;">TOOL<br>CODE</th>
                        <th style="text-align:center;">제조사</th>
                        <th style="text-align:center;">고객사</th>
                        <th style="text-align:center;">모델명</th>
                        <th style="text-align:center;">품목명</th>
                        <th style="text-align:center; width:50px;">해당<br>차수</th>
                        <th style="text-align:center; width:120px;">종류</th>
                        <th style="text-align:center; width:120px;">입고<br>단가(￦)</th>
                        <th style="text-align:center; width:120px;">출고<br>단가(￦)</th>
                        <th style="text-align:center; width:220px;">비고</th>
                    </tr>

                </thead>
                <tbody id="accountdatatbody" style="max-height: 500px; overflow-y: auto;">
                </tbody>

            </table>

        </div>
    </div>

    <div id="editModal1" style="max-height: 800px; width: 1000px; overflow-y: auto;">
        <div class="mainheader">
            <h1>품목 검색</h1>
            <span class="close" onclick="closeModal1()">&times;</span>
            <input type="text" id="numericPart" style="width: 200px; visibility: hidden;">
        </div>
        <input type="text" oninput="search()" id="materialnameinput" placeholder="검색어를 입력 하세요"
            style="font-size: 16px; font-weight: bold;" onkeydown="handleEnterKey(event)" autocomplete="off">

        <div>
            <table class="styled-table" id="datatable1">
                <thead id="tableHead">
                    <tr>
                        <th style="width: auto; text-align: center;" onclick="sortTable(1)">BOMNO</th>
                        <th style="width: auto; text-align: center;" onclick="sortTable(2)">제품코드</th>
                        <th style="width: auto; text-align: center;" onclick="sortTable(3)">모델명</th>
                        <th style="width: auto; text-align: center;" onclick="sortTable(4)">제품명</th>
                        <th style="width: auto; text-align: center;" onclick="sortTable(5)">고객사</th>
                    </tr>
                </thead>
                <tbody id="searchingmaterialinfobody" style="max-height: 700px; overflow-y: auto;">


                </tbody>
            </table>
        </div>

    </div>
    <div id="customernamesearch">
        <div class="mainheader">
            <h1>고객사 검색</h1>
            <span class="close" onclick="customercloseModal()">&times;</span>
            <input type="text" id="numericPart-edit" style="width: 120px; visibility: hidden; ">
        </div>
        <input type="text" id="customernameinput" placeholder="고객사명을 입력 후 Enter를 누르세요"
            style="font-size: 16px; font-weight: bold;" onkeydown="handleEnterKey1(event)" autocomplete="off">

        <div style="height:600px; max-height: 600px; overflow-y: auto;">
            <table class="styled-table" id="datatable">
                <thead>
                    <tr>
                        <th style="width: auto; text-align: center;" onclick="sortTable(0)">고객사명</th>

                    </tr>
                </thead>
                <tbody id="searchingcustomernameinfobody">

                </tbody>
            </table>
        </div>

    </div>
    <script>
        var server = '';

        if (window.location.hostname == 'localhost') {
            server = 'http://localhost:8080';
        } else {
            server = 'http://techonmes.co.kr';
        }
        $(document).ready(function () {
            // var today = new Date().toISOString().split('T')[0];
            // $('#date-input').val(today);
            settingDate()
            showLoading()
            load()
            $('#Datatbody').on('dblclick', 'tr', function () {
                openEditModal(this); // Pass the clicked row to the function
            });

        });

        // Function to close edit modal and overlay
        function closeModal() {
            $('#overlay').fadeOut();
            $('#editModal').fadeOut();
        }
        function closeModal1() {
            // $('#overlay').fadeOut();
            $('#editModal1').fadeOut();
        }
        function closeModal2() {
            // $('#overlay').fadeOut();
            $('#editModal2').fadeOut();
        }

        function showLoading() {
            var loadingOverlay = document.getElementById("loadingOverlay");
            loadingOverlay.style.display = "flex";
            setTimeout(function () {
                loadingOverlay.style.display = "none";
            }, 1000);
        }




        function load() {

            var totalinputprice = 0;
            var totaloutputprice = 0;

            $('#Datatbody').empty()
            $.ajax({
                type: 'POST',
                url: server + '/api/sampleorder',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify({

                }),
                success: function (data) {
                    var tableFoot = $('#dataCount');
                    if (data.length === 0) {
                        // 데이터가 없을 때 "데이터가 없습니다" 문구 추가
                        tableFoot.text('총 데이터 개수: 0');
                    } else {
                        for (var i = 0; i < data.length; i++) {
                            totalinputprice += data[i].inputprice || 0;
                            totaloutputprice += data[i].outputprice || 0;
                            $('#Datatbody').append(
                                '<tr>' +

                                '<td>' + data[i].classification + '</td>' +
                                '<td>' + data[i].partcustomer + '</td>' +
                                '<td>' + data[i].toolcode + '</td>' +
                                '<td>' + data[i].bomno + '</td>' +
                                '<td>' + data[i].customer + '</td>' +
                                '<td>' + data[i].modelname + '</td>' +
                                '<td>' + data[i].itemname + '</td>' +
                                '<td style="text-align:right;">' + data[i].char + '</td>' +
                                '<td>' + data[i].part + '</td>' +
                                '<td style="text-align:right;">' + data[i].inputprice.toLocaleString() + '</td>' +
                                '<td style="text-align:right;">' + data[i].outputprice.toLocaleString() + '</td>' +
                                '<td>' + data[i].etc + '</td>' +

                                '<td id="data-id">' + data[i].id + '</td>' +
                                '</tr>'

                            )
                            $("td#data-id").hide();

                        }

                        $('#Datatbody').append(
                            '<tr style="background-color:whitesmoke;">' +
                            '<td colspan="9"></td>' +
                            '<td style="text-align:right;"><b>' + totalinputprice.toLocaleString() + '</b></td>' +
                            '<td style="text-align:right;"><b>' + totaloutputprice.toLocaleString() + '</b></td>' +
                            '<td></td>' +

                            '</tr>'
                        );
                    }
                }


            })

        }





        function settingDate() {
            const date = new Date();

            var day = date.getDate();
            var month = date.getMonth() + 1;
            var year = date.getFullYear();


            if (month === 1 || month === 2 || month === 3 || month === 4 || month === 5 || month === 6 || month === 7 || month === 8 || month === 9) {
                month = '0' + month
            }

            if (day === 1 || day === 2 || day === 3 || day === 4 || day === 5 || day === 6 || day === 7 || day === 8 || day === 9) {
                day = '0' + day
            }


            // This arrangement can be altered based on how we want the date's format to appear.
            let currentDate = `${year}-${month}-${day}`;


            // $('#datepicker1').val(currentDate);
            // $('#datepicker2').val(currentDate);

        }
        function deleteRow(button) {
            // 해당 버튼이 속한 행을 찾아서 삭제
            var row = button.closest('tr');
            row.remove();
        }
        function newadd() {
            document.getElementById('overlay').style.display = 'block';
            document.getElementById('editModal').style.display = 'block';
            var inputValue = document.getElementById("materialnameinput").value.trim();

            document.getElementById("materialnameinput").value = "";
            $('#searchingmaterialinfobody').empty();
            $.ajax({
                type: 'POST',
                url: server + '/api/searchbomno',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify({

                    itemcode: inputValue

                }),
                success: function (result) {
                    for (var i = 0; i < result.length; i++) {


                        $('#searchingmaterialinfobody').append(
                            '<tr onclick="insertmaterialdata(this)">' +
                            '<td>' + result[i].bomno + '</td>' +

                            // '<td><input type="checkbox" onclick="insertmaterialdata(this)"  style="cursor:pointer; width: 20px; height: 20px;"></td>' +
                            '<td>' + result[i].itemcode + '</td>' +
                            '<td>' + result[i].modelname + '</td>' +
                            '<td>' + result[i].itemname + '</td>' +
                            '<td>' + result[i].customer + '</td>' +
                            '<td id="data-itemprice">' + result[i].itemprice + '</td>' +
                            '</tr>'
                        );

                        $("td#data-itemprice").hide();


                    }
                }
            });
            $('#accountdatatbody').empty()
            var newRow = $('<tr></tr>');
            newRow.append('<td><button id="deleteRowBtn" onclick="deleteRow(this)" style="background-color: red; color:white; ">삭제</button></td>');
            // newRow.append('<td><input type="date" id="date-input" style="background-color:  cursor: pointer;"  autocomplete="off"></td>');
            // newRow.append('<td><input type="date" id="indate-input" style="background-color:  cursor: pointer;"  autocomplete="off"></td>');
            newRow.append('<td><select id="classification-input"><option value=""></option><option value="양산">양산</option><option value="샘플">샘플</option></select></td>');

            newRow.append('<td><input type="text" id="bomno-input" style="cursor:pointer;" ondblclick="handleDoubleClick();" value="" autocomplete="off"></td>');
            newRow.append('<td><input type="text" id="toolcode-input" value="" autocomplete="off"></td>');
            newRow.append('<td><input type="text" id="partcustomer-input" style="cursor:pointer;" ondblclick="customerDoubleClick();" value="" autocomplete="off"></td>');
            newRow.append('<td><input type="text" id="customer-input" value="" autocomplete="off"></td>');
            newRow.append('<td><input type="text" id="modelname-input" value="" autocomplete="off"></td>');
            newRow.append('<td><input type="text" id="itemname-input" value="" autocomplete="off"></td>');
            newRow.append('<td><input type="text" id="char-input" value="" autocomplete="off"></td>');
            newRow.append('<td><select id="part-input"><option value=""></option><option value="피나클">피나클</option><option value="실링">실링</option><option value="알루미늄">알루미늄</option>   <option value="PVC">PVC</option>  <option value="금형">금형</option></select></td>');
            newRow.append('<td><input type="text" style="text-align:right;" id="inputprice-input"  oninput="valuechanged()" value="0" autocomplete="off"></td>');
            newRow.append('<td><input type="text" style="text-align:right;" id="outputprice-input" oninput="valuechangedOutPrice()" value="0" autocomplete="off"></td>');
            newRow.append('<td><input type="text" id="etc-input" value="" autocomplete="off"></td>');

            $('#accountdatatbody').append(newRow);
            // var today = new Date().toISOString().split('T')[0];
            // $('#date-input').val(today);
            // $('#indate-input').val(today);
        }

        function pinaclesave(row) {
            let tableBody = document.getElementById('accountdatatbody');
            if (tableBody) {
                let rowCount = tableBody.children.length;

                for (let i = 0; i < rowCount; i++) {
                    var toolcode = $('#accountdatatbody tr:eq(' + i + ') #toolcode-input').val();

                    if (toolcode === '') {
                        Swal.fire({
                            icon: 'info',
                            title: '누락',
                            text: (i + 1) + '번째 TOOL CODE가 누락되었습니다.',
                        });
                        return;
                    }
                }
                function removeCommas(value) {
                    return value.replace(/,/g, '');
                }
                // After validating all rows, ask for confirmation
                var isConfirmed = confirm('피나클 기초정보를 저장하시겠습니까?');

                if (isConfirmed) {
                    for (let i = 0; i < rowCount; i++) {
                        var inputPriceValue = $('#accountdatatbody tr:eq(' + i + ') #inputprice-input').val();
                        var outputPriceValue = $('#accountdatatbody tr:eq(' + i + ') #outputprice-input').val();

                        // Check for null values and replace with 0
                        var inputPrice = removeCommas($('#accountdatatbody tr:eq(' + i + ') #inputprice-input').val());
                        var outputPrice = removeCommas($('#accountdatatbody tr:eq(' + i + ') #outputprice-input').val());

                        $.ajax({
                            type: 'POST',
                            url: server + '/api/insertpinacle',
                            dataType: 'json',
                            contentType: 'application/json',
                            data: JSON.stringify({

                                "partcustomer": $('#accountdatatbody tr:eq(' + i + ') #partcustomer-input').val(),
                                "customer": $('#accountdatatbody tr:eq(' + i + ') #customer-input').val(),
                                "toolcode": 'TOOL-' + $('#accountdatatbody tr:eq(' + i + ') #toolcode-input').val(),
                                "bomno": $('#accountdatatbody tr:eq(' + i + ') #bomno-input').val(),
                                "modelname": $('#accountdatatbody tr:eq(' + i + ') #modelname-input').val(),
                                "itemname": $('#accountdatatbody tr:eq(' + i + ') #itemname-input').val(),
                                "char": $('#accountdatatbody tr:eq(' + i + ') #char-input').val(),
                                "part": $('#accountdatatbody tr:eq(' + i + ') #part-input').val(),
                                "etc": $('#accountdatatbody tr:eq(' + i + ') #etc-input').val(),
                                "classification": $('#accountdatatbody tr:eq(' + i + ') #classification-input').val(),
                                "inputprice": inputPrice,
                                "outputprice": outputPrice
                            }),
                            success: function (result) {

                            },

                        });
                    }

                    $('#editModal').fadeOut();
                    $('#overlay').fadeOut();
                    Swal.fire({
                        icon: 'success',
                        title: '저장완료',
                        text: '피나클 정보가 등록되었습니다.',
                    }).then((result) => {
                        if (result.isConfirmed) {
                            load()
                        }
                    });

                }
            }
        }



        function numberWithCommas(x) {
            return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        }

        function searchitem() {
            document.getElementById('overlay').style.display = 'block';
            document.getElementById('editModal1').style.display = 'block';


        }
        function handleDoubleClick() {
            document.getElementById('overlay').style.display = 'block';
            document.getElementById('editModal1').style.display = 'block';
            $('#materialnameinput').focus()

            var currentRow = $(event.target).closest('tr');

            var rowIndex = currentRow.index();



            $("#numericPart").val(rowIndex);
        }

        function handleDoubleClick2() {
            document.getElementById('overlay').style.display = 'block';
            document.getElementById('editModal2').style.display = 'block';
            $('#customerinput').focus()

            var currentRow = $(event.target).closest('tr');

            var rowIndex = currentRow.index();



            $("#numericPart-edit").val(rowIndex);
        }

        function insertmaterialdata(row) {
            var rowData = $(row).closest('tr').find('td').map(function () {
                return $(this).text();
            }).get();
            var rowCount = $('#accountdatatbody tr').length - 1;

            $('#accountdatatbody tr:eq(' + rowCount + ') #bomno-input').val(rowData[0]); // BOMNO
            $('#accountdatatbody tr:eq(' + rowCount + ') #modelname-input').val(rowData[2]); // 모델명
            $('#accountdatatbody tr:eq(' + rowCount + ') #itemname-input').val(rowData[3]); // 품목명
            $('#accountdatatbody tr:eq(' + rowCount + ') #customer-input').val(rowData[4]); // 고객사
            $('#accountdatatbody tr:eq(' + rowCount + ') #toolcode-input').focus();
            $('#editModal1').fadeOut();
        }
        function insertmaterialdata2(row) {
            var rowData = $(row).closest('tr').find('td').map(function () {
                return $(this).text();
            }).get();
            var rowCount = $('#accountdatatbody tr').length - 1;

            $('#accountdatatbody tr:eq(' + rowCount + ') #partcustomer-input').val(rowData[0]); // BOMNO

            $('#editModal2').fadeOut();
        }



        function valuechanged() {
            var inputElement = document.getElementById('inputprice-input');
            var inputValue = inputElement.value.replace(/,/g, ''); // Remove existing commas

            // Check if the input is a valid number
            if (inputValue === '') {
                // If input is empty, set value to 0
                inputElement.value = '0';
            } else if (!isNaN(inputValue)) {
                // Format the input value with commas
                var formattedValue = numberWithCommas(inputValue);
                inputElement.value = formattedValue;
            } else {
                // Handle non-numeric input or other invalid cases
                // You may want to add additional logic or provide feedback to the user
            }
        }
        function valuechangedOutPrice() {
            var inputElement1 = document.getElementById('outputprice-input');
            var inputValue1 = inputElement1.value.replace(/,/g, ''); // Remove existing commas

            // Check if the input is a valid number
            if (inputValue1 === '') {
                // If input is empty, set value to 0
                inputElement1.value = '0';
            } else if (!isNaN(inputValue1)) {
                // Format the input value with commas
                var formattedValue1 = numberWithCommas(inputValue1);
                inputElement1.value = formattedValue1;
            } else {
                // Handle non-numeric input or other invalid cases
                // You may want to add additional logic or provide feedback to the user
            }
        }

        function addnew() {
            var newRow = $('<tr></tr>');

            var newRow = $('#accountdatatbody tr:first').clone();
            newRow.find('#bomno-input').val('');
            newRow.find('#toolcode-input').val('');
            newRow.find('#customer-input').val('');
            newRow.find('#partcustomer-input').val('');
            newRow.find('#modelname-input').val('');
            newRow.find('#itemname-input').val('');
            newRow.find('#char-input').val('');
            newRow.find('#part-input').val('');
            newRow.find('#inputprice-input').val('0');
            newRow.find('#outputprice-input').val('0');
            $('#accountdatatbody').append(newRow);


        }
        function accountsave(row) {
            var isConfirmed = confirm('영업 수주 정보를 저장하시겠습니까?');
            var rowCount = $('#accountdatatbody tr').length;

            if (isConfirmed) {
                var insertdate = new Date().toISOString().slice(0, 10);

                for (var i = 1; i < rowCount; i++) {
                    var bomno = $('#accountdatatbody tr:eq(' + i + ') #bomno-input').val();
                    var pocount = $('#accountdatatbody tr:eq(' + i + ') #pocount-input').val();

                    // Check if bomno is empty or contains only whitespace
                    if (!bomno.trim()) {
                        // Skip to the next iteration if bomno is empty
                        continue;
                    }

                    // Check if pocount is empty or contains only whitespace
                    if (!pocount.trim()) {
                        // Skip to the next iteration if pocount is empty
                        continue;
                    }

                    // Get the value of the checkbox with id=checkbox-input
                    var checkboxChecked = $('#accountdatatbody tr:eq(' + i + ') #checkbox-input').prop('checked');

                    // Set the value of ad based on the checkbox status
                    var adValue = checkboxChecked ? 'A' : 'D';

                    $.ajax({
                        type: 'POST',
                        url: server + '/api/openinsertdata',
                        dataType: 'json',
                        contentType: 'application/json',
                        data: JSON.stringify({
                            "bomno": bomno,
                            "modelname": $('#accountdatatbody tr:eq(' + i + ') #modelname-input').val(),
                            "itemname": $('#accountdatatbody tr:eq(' + i + ') #itemname-input').val(),
                            "customer": $('#accountdatatbody tr:eq(' + i + ') #customer-input').val(),
                            "quantity": $('#accountdatatbody tr:eq(' + i + ') #pocount-input').val(),
                            "itemcode": $('#accountdatatbody tr:eq(' + i + ') #itemcode-input').val(),
                            "itemprice": $('#accountdatatbody tr:eq(' + i + ') #itemprice-input').val(),
                            "status": '생산발주대기',
                            "ad": adValue, // Use the adValue variable here
                            "deliverydate": insertdate
                        }),
                        success: function (result) {
                            // 성공했을 때의 처리
                        }
                    });
                }

                $('#editModal').fadeOut();
                $('#overlay').fadeOut();

                setTimeout(function () {
                    load();
                }, 50);

                var notification = $('<div class="notification"><img src="/img/테크온로고.PNG" alt="Notification Icon"><span class="notification-message" style="color:navy;">정보 등록 완료</span></div>');
                $('body').append(notification);
                setTimeout(function () {
                    notification.fadeOut(function () {
                        $(this).remove();
                    });
                }, 3000);
            } else {
                // 사용자가 취소한 경우의 처리
            }
        }

        // 이벤트 핸들러 등록
        $('#accountdatatbody').on('keydown', 'input', function (e) {
            if (e.key === 'Enter') {
                // Enter 키가 눌렸을 때 처리
                e.preventDefault(); // 기본 동작 방지

                var currentRow = $(this).closest('tr'); // 현재 행
                var nextRow = currentRow.next(); // 다음 행

                if (nextRow.length > 0) {
                    var nextInput = nextRow.find('#pocount-input'); // 다음 행의 price-input 클래스를 가진 input

                    if (nextInput.length > 0) {
                        nextInput.focus(); // 다음 행의 price-input에 포커스 설정
                    }
                }
            }
        });


        function search() {
            const searchInput = document.getElementById('materialnameinput');
            const dataTable = document.getElementById('datatable1');
            const tableRows = dataTable.getElementsByTagName('tr');

            searchInput.addEventListener('input', function () {
                const searchValue = this.value.toLowerCase();
                let count = 0;

                for (let i = 1; i < tableRows.length; i++) {
                    const rowData = tableRows[i].getElementsByTagName('td');
                    let found = false;

                    for (let j = 0; j < rowData.length; j++) {
                        const cellData = rowData[j].textContent.toLowerCase();

                        if (cellData.includes(searchValue)) {
                            found = true;
                            break;
                        }
                    }

                    if (found) {
                        tableRows[i].style.display = '';
                        count++;
                    } else {
                        tableRows[i].style.display = 'none';
                    }
                }

            });
        }
        function customerDoubleClick() {
            document.getElementById('customernamesearch').style.display = 'block';
            $('#searchingcustomernameinfobody').empty()
            $("#customernameinput").val('')
            $("#customernameinput").focus()

            var currentRow = $(event.target).closest('tr');

            var rowIndex = currentRow.index();
            $("#numericPart-edit").val(rowIndex);
        }
        function handleEnterKey1(event) {
            if (event.key === 'Enter') {
                var inputValue = document.getElementById("customernameinput").value.trim();

                document.getElementById("customernameinput").value = "";
                $('#searchingcustomernameinfobody').empty();
                $.ajax({
                    type: 'POST',
                    url: server + '/api/searchingcustomername',
                    dataType: 'json',
                    contentType: 'application/json',
                    data: JSON.stringify({

                        customername: inputValue

                    }),
                    success: function (result) {
                        // console.log(result)
                        for (var i = 0; i < result.length; i++) {


                            $('#searchingcustomernameinfobody').append(
                                '<tr style="cursor:pointer;" onclick="insertmaterialdata1(this)">' +
                                '<td>' + result[i].customername + '</td>' +


                                '</tr>'
                            );


                        }
                    }
                });
            }
        }
        function insertmaterialdata1(row) {
            document.getElementById('customernamesearch').style.display = 'none';
            var rowData = $(row).find('td').map(function () {
                return $(this).text();
            }).get();

            var rowIndex = $('#numericPart-edit').val()

            // Update the materialname-input in the specified row
            $('#accountdatatbody tr:eq(' + rowIndex + ') #partcustomer-input').val(rowData[0]);
        }
        // $(document).on('keydown', 'input[id^="partcustomer-input"]', function (e) {
        //     if (e.which === 13 || e.keyCode === 13) { // Check for Enter key
        //         var currentRow = $(this).closest('tr');
        //         var rowIndex = currentRow.index();

        //         $('#editModal2').fadeIn();

        //         $("#partcustomerinput").val('').focus();
        //         $("#numericPart2").val(rowIndex);

        //         $.ajax({
        //             type: 'POST',
        //             url: server + '/api/searchingcustomername',
        //             dataType: 'json',
        //             contentType: 'application/json',
        //             data: JSON.stringify({
        //                 materialname: $("#partcustomer-input").val()
        //             }),
        //             success: function (result) {
        //                 $('#searchingcustomernamebody').empty(); // Clear previous content

        //                 for (var i = 0; i < result.length; i++) {
        //                     $('#searchingcustomernamebody').append(
        //                         '<tr onclick="insertmaterialdata(this)">' +
        //                         '<td>' + result[i].customername + '</td>' +
        //                         '</tr>'
        //                     );
        //                 }
        //             },

        //         });
        //     }
        // });

    </script>


</body>

</html>