<!DOCTYPE html>
<html lang="en">
<script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            font-family: Arial, sans-serif;
            padding: 20px;
            margin: 0;
        }

        h1 {
            text-align: center;
        }
  
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th,
        td {
            padding: 10px;
            text-align: left;
            border: 1px solid #ccc;
        }

        th {
            background-color: rgb(186, 228, 245);
            font-weight: bold;
        }

        tr:nth-child(even) {
            background-color: #f9f9f9;
        }
        .container {
            display: flex;
            align-items: center;
        }

        .table-wrapper {
            flex: 1;
            text-align: left;
            padding: 20px;
        }

        .qrcode-wrapper {
            text-align: right;
            padding: 20px;
        }

        .qrcode-image {
            width: 100px;
            height: 100px;
        }
        @media print {
            body {
                padding: 0;
            }

            h1 {
                font-size: 16px;
                margin: 10px;
            }

            .table-wrapper {
                padding: 10px;
            }

            table {
                font-size: 12px;
            }


        }
    </style>
    <title>Techon</title>
</head>

<body>
    <div class="container">
        <div class="table-wrapper">
            <h1>생산공정관리 SHEET</h1>
            <!-- 생산공정관리 시트 내용 -->
        </div>
        <div class="qrcode-wrapper">
            <div id="qrcode" class="qrcode-image"></div>
        </div>
    </div>
    <table>
        <tr>
            <th style="width: 150px; text-align: center;">모델명</th>
            <td id="modelname">T6_3</td>
            <th style="width: 150px; text-align: center;">고객사명</th>
            <td id="customer">영풍전자</td>
        </tr>
        <tr>
            <th style="text-align: center;">제품명</th>
            <td id="itemnname">2CS-COV</td>
            <th style="text-align: center;">발행일자</th>
            <td id="date">2023-08-10</td>
        </tr>
        <tr>
            <th style="text-align: center;">고객코드</th>
            <td id="rev">allcode</td>
            <th style="text-align: center;">발주수량/CVT</th>
            <td id="count">2,000</td>
        </tr>
        <tr>
            <th style="text-align: center;">생산LOT</th>
            <td id="lotno">20230809-1</td>
            <th style="text-align: center;">작업타수</th>
            <td id="touchcount"></td>
        </tr>
        <tr>
            <th style="text-align: center;">발주번호</th>
            <td id="partnumber">2023080801</td>
            <th style="text-align: center;">작업공정</th>
            <td id="part">정</td>
        </tr>
        <tr>
            <th style="text-align: center;">TOOL/설비</th>
            <td id="tool">1차칼+2차칼</td>
            <th style="text-align: center;">타발방향</th>
            <td id="row">정</td>
        </tr>
        <tr>
            <th style="text-align: center;">BOM</th>
            <td id="bomno">YPE-2-216</td>
            <th style="text-align: center;">에이징</th>
            <td id="aging"></td>
        </tr>
    </table>
    <table>
        <tr>
            <th style="width:300px; text-align: center;" rowspan="2">원자재명</th>
            <th style="width:30px; text-align: center;">원단 폭</th>
            <th style="width:30px; text-align: center;">사용가능 폭</th>
            <th style="width:30px; text-align: center;">1차 피딩</th>
            <th style="width:30px; text-align: center;">2차 피딩</th>
            <th style="width:30px; text-align: center;">D 피딩</th>
            <th style="width:30px; text-align: center;">소요량</th>
            <th style="width:30px; text-align: center;">출고량</th>
            <th style="width:30px; text-align: center;">1차 출고</th>
            <th style="width:30px; text-align: center;" rowspan="2">반납자재</th>
        </tr>
        <tr>
            <td style="text-align: center;">mm</td>
            <td style="text-align: center;">mm</td>
            <td style="text-align: center;">mm</td>
            <td style="text-align: center;">mm</td>
            <td style="text-align: center;">mm</td>
            <td style="text-align: center;">M</td>
            <td style="text-align: center;">M</td>
            <td style="text-align: center;">M</td>
        </tr>
        <tr>
            <td style="text-align: center; height: 13px;">#201(에이피씨)</td>
            <td style="text-align: center; height: 13px;"></td>
            <td style="text-align: center; height: 13px;"></td>
            <td style="text-align: center; height: 13px;">146</td>
            <td style="text-align: center; height: 13px;">0</td>
            <td style="text-align: center; height: 13px;">0</td>
            <td style="text-align: center; height: 13px;">75</td>
            <td style="text-align: center; height: 13px;"></td>
            <td style="text-align: center; height: 13px;"></td>
            <td style="text-align: center; height: 13px;"></td>
        </tr>
        <tr>
            <td style="text-align: center;height: 13px;">HGCS-A305YA</td>
            <td style="text-align: center;height: 13px;"></td>
            <td style="text-align: center;height: 13px;"></td>
            <td style="text-align: center;height: 13px;">146</td>
            <td style="text-align: center;height: 13px;">0</td>
            <td style="text-align: center;height: 13px;">0</td>
            <td style="text-align: center;height: 13px;">75</td>
            <td style="text-align: center;height: 13px;"></td>
            <td style="text-align: center;height: 13px;"></td>
            <td style="text-align: center;height: 13px;"></td>
        </tr>
        <tr>
            <td style="text-align: center; height: 13px;"></td>
            <td style="text-align: center; height: 13px;"></td>
            <td style="text-align: center; height: 13px;"></td>
            <td style="text-align: center; height: 13px;"></td>
            <td style="text-align: center; height: 13px;"></td>
            <td style="text-align: center; height: 13px;"></td>
            <td style="text-align: center; height: 13px;"></td>
            <td style="text-align: center; height: 13px;"></td>
            <td style="text-align: center; height: 13px;"></td>
            <td style="text-align: center; height: 13px;"></td>
        </tr>
        <tr>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
        </tr>
        <tr>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
        </tr>
        <tr>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
        </tr>
        <tr>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
        </tr>
        <tr>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
        </tr>
        <tr>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
        </tr>
        <tr>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
        </tr>
        <tr>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
        </tr>
        <tr>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
        </tr>
        <tr>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
        </tr>
        <tr>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
        </tr>
        <tr>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
        </tr>
    </table>
</body>
<script>
    function printPage() {
        window.print();
    }
</script>
<script>
    // QR 코드 생성기 라이브러리 사용
    const qr = new QRCode(document.getElementById("qrcode"), {
        text: "30AF8B0C-AE78-4E60-8A41-C7F5EA51854A", // QR 코드에 담을 정보
        width: 100, // 너비 (픽셀)
        height: 100 // 높이 (픽셀)
    });
</script>

</html>