<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            font-family: Arial, sans-serif;
            padding: 20px;
            margin: 0;
        }

        h1 {
            text-align: center;
        }


        .table-wrapper {
            width: 96%;
            border: 2px solid #ccc;
            /* padding: 10px; */
            margin-bottom: 15px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th,
        td {
            padding: 10px;
            text-align: left;
            border: 1px solid #ccc;
        }

        th {
            background-color: rgb(186, 228, 245);
            font-weight: bold;
        }

        tr:nth-child(even) {
            background-color: #f9f9f9;
        }

        @media print {
            body {
                padding: 0;
            }

            h1 {
                font-size: 16px;
                margin: 10px;
            }

            .table-wrapper {
                padding: 10px;
            }

            table {
                font-size: 12px;
            }


        }
    </style>
    <title>Techon</title>
</head>

<body>
    <div class="table-wrapper">
        <h1>생산공정관리 SHEET</h1>
    </div>
    <table>
        <tr>
            <th style="width: 150px; text-align: center;">모델명</th>
            <td id="modelname">AMB577PX01 MAIN(STAR1)</td>
            <th style="width: 150px; text-align: center;">고객사명</th>
            <td id="customer">영풍전자</td>
        </tr>
        <tr>
            <th style="text-align: center;">제품명</th>
            <td id="itemnname">6L-ST [HSF-KDT-02]</td>
            <th style="text-align: center;">발행일자</th>
            <td id="date">2023-05-17</td>
        </tr>
        <tr>
            <th style="text-align: center;">고객코드</th>
            <td id="rev">allcode</td>
            <th style="text-align: center;">발주수량/CVT</th>
            <td id="count">1,000</td>
        </tr>
        <tr>
            <th style="text-align: center;">생산LOT</th>
            <td id="lotno">20230505-1</td>
            <th style="text-align: center;">작업타수</th>
            <td id="touchcount"></td>
        </tr>
        <tr>
            <th style="text-align: center;">발주번호</th>
            <td id="partnumber"></td>
            <th style="text-align: center;">작업공정</th>
            <td id="part">정</td>
        </tr>
        <tr>
            <th style="text-align: center;">TOOL/설비</th>
            <td id="tool">1차칼+2차칼</td>
            <th style="text-align: center;">타발방향</th>
            <td id="row">정</td>
        </tr>
        <tr>
            <th style="text-align: center;">BOM</th>
            <td id="bomno">YPE-2-228</td>
            <th style="text-align: center;">에이징</th>
            <td id="aging"></td>
        </tr>
    </table>
    <table>
        <tr>
            <th style="width:300px; text-align: center;" rowspan="2">원자재명</th>
            <th style="width:30px; text-align: center;">원단 폭</th>
            <th style="width:30px; text-align: center;">사용가능 폭</th>
            <th style="width:30px; text-align: center;">1차 피딩</th>
            <th style="width:30px; text-align: center;">2차 피딩</th>
            <th style="width:30px; text-align: center;">D 피딩</th>
            <th style="width:30px; text-align: center;">소요량</th>
            <th style="width:30px; text-align: center;">출고량</th>
            <th style="width:30px; text-align: center;">1차 출고</th>
            <th style="width:30px; text-align: center;" rowspan="2">반납자재</th>
        </tr>
        <tr>
            <td style="text-align: center;">mm</td>
            <td style="text-align: center;">mm</td>
            <td style="text-align: center;">mm</td>
            <td style="text-align: center;">mm</td>
            <td style="text-align: center;">mm</td>
            <td style="text-align: center;">M</td>
            <td style="text-align: center;">M</td>
            <td style="text-align: center;">M</td>
        </tr>
        <tr>
            <td style="text-align: center; height: 13px;">#201(에이피씨)</td>
            <td style="text-align: center; height: 13px;"></td>
            <td style="text-align: center; height: 13px;"></td>
            <td style="text-align: center; height: 13px;">146</td>
            <td style="text-align: center; height: 13px;">0</td>
            <td style="text-align: center; height: 13px;">0</td>
            <td style="text-align: center; height: 13px;">75</td>
            <td style="text-align: center; height: 13px;"></td>
            <td style="text-align: center; height: 13px;"></td>
            <td style="text-align: center; height: 13px;"></td>
        </tr>
        <tr>
            <td style="text-align: center;height: 13px;">#50EB</td>
            <td style="text-align: center;height: 13px;"></td>
            <td style="text-align: center;height: 13px;"></td>
            <td style="text-align: center;height: 13px;">146</td>
            <td style="text-align: center;height: 13px;">0</td>
            <td style="text-align: center;height: 13px;">0</td>
            <td style="text-align: center;height: 13px;">75</td>
            <td style="text-align: center;height: 13px;"></td>
            <td style="text-align: center;height: 13px;"></td>
            <td style="text-align: center;height: 13px;"></td>
        </tr>
        <tr>
            <td style="text-align: center; height: 13px;"></td>
            <td style="text-align: center; height: 13px;"></td>
            <td style="text-align: center; height: 13px;"></td>
            <td style="text-align: center; height: 13px;"></td>
            <td style="text-align: center; height: 13px;"></td>
            <td style="text-align: center; height: 13px;"></td>
            <td style="text-align: center; height: 13px;"></td>
            <td style="text-align: center; height: 13px;"></td>
            <td style="text-align: center; height: 13px;"></td>
            <td style="text-align: center; height: 13px;"></td>
        </tr>
        <tr>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
        </tr>
        <tr>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
        </tr>
        <tr>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
        </tr>
        <tr>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
        </tr>
        <tr>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
        </tr>
        <tr>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
        </tr>
        <tr>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
        </tr>
        <tr>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
        </tr>
        <tr>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
        </tr>
        <tr>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
        </tr>
        <tr>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
        </tr>
        <tr>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
            <td style="height: 13px;"></td>
        </tr>
    </table>
</body>
<script>
    function printPage() {
        window.print();
    }
</script>

</html>