<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" href="../css/shipmentplan2.css">
    <link rel="stylesheet" href="../css/spiner.css">
    <link rel="stylesheet" href="../css/tablewrapper.css">
    <link rel="stylesheet" href="../css/header.css">
    <title>영업 판매 계획</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.3/xlsx.full.min.js"></script>


</head>

<body>

    <div class="header-container">
        <div class="header-title">
            <h2><i class="fas fa-shopping-bag"></i> &nbsp;판매 계획 등록</h2>
        </div>
        <div class="header-subtitle">
            <h4>판매계획 > 판매 계획 등록</h4>
        </div>
    </div>
    <fieldset>
        <legend>검색조건</legend>
        <i class="fas fa-search"></i>
        <label for="customer" style="margin-left: 20px;">고객사:</label>
        <select style="margin-left: 15px;">
            <option value="">전체</option>

        </select>

        <label for="year" style="margin-left: 20px;">연도:</label>
        <select id="yearSelect" style="margin-left: 15px;">
        </select>

        <label for="month" style="margin-left: 20px;">월:</label>
        <select id="monthSelect" style="margin-left: 15px;">
            <option value="1">1월</option>
            <option value="2">2월</option>
            <option value="3">3월</option>
            <option value="4">4월</option>
            <option value="5">5월</option>
            <option value="6">6월</option>
            <option value="7">7월</option>
            <option value="8">8월</option>
            <option value="9">9월</option>
            <option value="10">10월</option>
            <option value="11">11월</option>
            <option value="12">12월</option>
        </select>

        <label for="rev" style="margin-left: 20px;">Rev:</label>
        <input type="text" style="margin-left: 15px;" id="rev-select" placeholder="Rev 입력">

        <button class="close-button" onclick="searchData()">조회</button>
        <button class="save-button" onclick="Datain()">데이터 넣기</button>
    </fieldset>


    <div class="spinner-overlay">
        <div class="spinner"></div>
    </div>
    <div id="overlay" class="overlay"></div>
    <b style="float: right;">단위:백만원</b>
    <div id="maintable">
        <table>
            <thead>
                <tr>
                    <th rowspan="3">고객사</th>
                    <th rowspan="3">BOMNO.</th>
                    <th rowspan="3">모델명</th>
                    <th rowspan="3">제품명</th>
                    <th rowspan="3">단가</th>
                    <th colspan="4">판매실적</th>
                    <th colspan="16" id="onemonth">판매계획</th>
                </tr>
                <tr>
                    <th colspan="2">전월</th>
                    <th colspan="2">금월</th>
                    <th colspan="3">REV 1.0</th>
                    <th colspan="3">REV 2.0</th>
                    <th colspan="3">REV 3.0</th>
                    <th colspan="3">REV 4.0</th>
                    <th colspan="3">REV 5.0</th>
                </tr>
                <tr>
                    <th>수량<br>(EA)</th>
                    <th>금액<br>(￦)</th>
                    <th>수량<br>(EA)</th>
                    <th>금액<br>(￦)</th>
                    <th>수량<br>(EA)</th>
                    <th>금액<br>(￦)</th>
                    <th>적합율<br>(%)</th>
                    <th>수량<br>(EA)</th>
                    <th>금액<br>(￦)</th>
                    <th>적합율<br>(%)</th>
                    <th>수량<br>(EA)</th>
                    <th>금액<br>(￦)</th>
                    <th>적합율<br>(%)</th>
                    <th>수량<br>(EA)</th>
                    <th>금액<br>(￦)</th>
                    <th>적합율<br>(%)</th>
                    <th>수량<br>(EA)</th>
                    <th>금액<br>(￦)</th>
                    <th>적합율<br>(%)</th>
                </tr>
            </thead>

            <tbody id="iteminfobody">
            </tbody>
        </table>
    </div>


    <div class="modal" id="modal">
        <div class="modal-header">
            <span style="font-weight: bold;"> <i class="fas fa-address-book"></i>&nbsp;판매계획 EXCEL 등록</span>
        </div>
        <label for="excelFileInput" class="custom-file-upload">
            <i class="fas fa-cloud-upload-alt"></i> 파일 선택
        </label>
        <input type="file" id="excelFileInput"
            accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
            hidden>

        <div id="tableContainer" style="min-height: 600px;"></div>

        <div class="modal-footer">
            <button class="close-button" style="margin-left: 10px;" onclick="closeModal()">닫기</button>
        </div>
    </div>



    <script>
        var server = '';
        var gridApi;
        if (window.location.hostname === '127.0.0.1' || window.location.hostname === 'localhost') {
            server = 'http://localhost:8080';
        } else {
            server = 'http://techonmes.co.kr';
        }
        $(document).ready(function () {
            var yearSelect = document.getElementById('yearSelect');
            var monthSelect = document.getElementById('monthSelect');

            var currentMonth = new Date().getMonth() + 1;
            var currentYear = new Date().getFullYear();

            monthSelect.value = currentMonth;
            yearSelect.value = currentYear;

            // 년도 옵션 생성
            for (var i = currentYear; i >= currentYear - 1; i--) {
                var option = document.createElement('option');
                option.value = i;
                option.textContent = i + '년';
                yearSelect.appendChild(option);
            }
            var currentMonth = parseInt($('#monthSelect').val()); // 선택된 월
            var currentyear = parseInt($('#yearSelect').val()); // 선택된 월
            var months = ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'];

            var th = document.getElementById('onemonth');
            th.textContent = currentyear + '년 ' + months[currentMonth - 1] + ' 판매계획';
            // load()
        });


        function load() {
            var spinnerOverlay = document.querySelector('.spinner-overlay');
            spinnerOverlay.style.display = 'flex'; // Spinner 표시

            // AJAX 요청
            $.ajax({
                url: server + '/api/selectaccountiteminfo',
                method: 'post',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify({
                    // contents: contents
                }),
                success: function (data) {
                    $('#iteminfobody').empty();

                    // 데이터 채우기
                    for (var i = 0; i < data.length; i++) {
                        $('#iteminfobody').append(
                            '<tr>' +
                            '<td>' + (data[i].customer || '') + '</td>' +
                            '<td>' + (data[i].modelname || '') + '</td>' +
                            '<td>' + (data[i].itemname || '') + '</td>' +
                            '<td>' + (data[i].itemcode || '') + '</td>' +
                            '<td>' + (data[i].pcs || '') + '</td>' +
                            '<td>' + (data[i].cavity || '') + '</td>' +
                            '<td>' + (data[i].direction || '') + '</td>' +
                            '<td>' + (data[i].workpart || '') + '</td>' +
                            '<td>' + (data[i].type || '') + '</td>' +
                            '<td>' + (data[i].processname || '') + '</td>' +
                            '<td>' + (data[i].bucakcustomer || '') + '</td>' +
                            '<td><button class="btninfo">상세정보</button></td>' +
                            '<td id="data-id">' + (data[i].id || '') + '</td>' +
                            '</tr>'
                        )
                        $('td#data-id').hide()
                    }

                    // Spinner 숨김


                    // 상세정보 버튼에 클릭 이벤트 핸들러 연결
                    $('.btninfo').off('click').on('click', showinfo);
                }
            });
            setTimeout(function () {
                spinnerOverlay.style.display = 'none';
            }, 1100);
            // 검색 기능

        }
        $('#searchInput').off('keyup').on('keyup', function (event) {
            if (event.key === 'Enter') {
                searchTable();
            }
        });
        function selectprocessname() {
            $.ajax({
                url: server + '/api/selectprocessname',
                method: 'post',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify({
                    // contents: contents
                }),
                success: function (data) {
                    $('#processnametbody').empty()
                    for (var i = 0; i < data.length; i++) {

                        $('#processnametbody').append(
                            '<tr>' +
                            '<td>' + (data[i].processname || '') + '</td>' +
                            '<td><button class="delete-button">삭제</button></td>' +
                            '<td id="data-id">' + (data[i].id || '') + '</td>' +
                            '</tr>'
                        )
                    }
                    $('td#data-id').hide()
                }
            });
            $('#searchInput').on('keyup', function (event) {
                if (event.key === 'Enter') { // 엔터 키가 눌렸는지 확인
                    searchTable();
                }
            });
        }
        function selectbucakcustomer() {
            $.ajax({
                url: server + '/api/selectbucakcustomer',
                method: 'post',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify({
                    // contents: contents
                }),
                success: function (data) {
                    $('#bucakcustomertbody').empty()
                    for (var i = 0; i < data.length; i++) {

                        $('#bucakcustomertbody').append(
                            '<tr>' +
                            '<td>' + (data[i].bucakcustomer || '') + '</td>' +
                            '<td><button class="delete-button">삭제</button></td>' +
                            '<td id="data-id">' + (data[i].id || '') + '</td>' +
                            '</tr>'
                        )
                    }
                    $('td#data-id').hide()
                }
            });
            $('#searchInput').on('keyup', function (event) {
                if (event.key === 'Enter') { // 엔터 키가 눌렸는지 확인
                    searchTable();
                }
            });
        }
        // updateaccountiteminfo
        function searchTable() {
            var searchText = $('#searchInput').val().toLowerCase();
            $('#iteminfobody tr').filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(searchText) > -1);
            });
        }
        function showinfo() {
            document.getElementById('modal').style.display = 'block';
            document.getElementById('overlay').style.display = 'block';


        }
        function processnameinfo() {
            document.getElementById('modal1').style.display = 'block';
            document.getElementById('overlay').style.display = 'block';
            selectprocessname()
        }
        function bucakcustomerinfo() {
            document.getElementById('modal2').style.display = 'block';
            document.getElementById('overlay').style.display = 'block';
            selectbucakcustomer()
        }

        function closeModal() {
            document.getElementById('modal').style.display = 'none';
            document.getElementById('overlay').style.display = 'none';
        }
        function closeModal1() {
            document.getElementById('modal1').style.display = 'none';
            document.getElementById('overlay').style.display = 'none';
        }
        function closeModal2() {
            document.getElementById('modal2').style.display = 'none';
            document.getElementById('overlay').style.display = 'none';
        }
        function saveprocessname() {
            $.ajax({
                url: server + '/api/insertprocessname',
                method: 'post',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify({
                    processname: $('#processname-input').val()
                }),
                success: function (data) {

                }
            });
            $('#processnametbody').empty()
            selectprocessname()
        }
        // 상세 정보 버튼에 대한 클릭 이벤트 처리
        $(document).on('click', '.btninfo', function () {
            // 클릭된 버튼이 속한 행(row)을 선택합니다.
            var rowData = $(this).closest('tr');

            // 행에 포함된 데이터 셀들을 선택하여 데이터를 가져옵니다.
            var customer = rowData.find('td:eq(0)').text();
            var modelname = rowData.find('td:eq(1)').text();
            var itemname = rowData.find('td:eq(2)').text();
            var itemcode = rowData.find('td:eq(3)').text();
            var processname = rowData.find('td:eq(9)').text();
            var bucakcustomer = rowData.find('td:eq(10)').text();
            var id = rowData.find('td:eq(11)').text();

            $('#customer').text(customer)
            $('#modelname').text(modelname)
            $('#itemname').text(itemname)
            $('#itemcode').text(itemcode)
            $('#processname').text(processname)
            $('#bucakcustomer').text(bucakcustomer)
            // $('#cutomer').text(customer)
            // $('#customer').text(customer)s
        });
        monthSelect.addEventListener('change', function () {

        });


        function searchData() {
            var currentMonth = parseInt($('#monthSelect').val()); // 선택된 월
            var currentyear = parseInt($('#yearSelect').val()); // 선택된 월
            var months = ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'];

            var th = document.getElementById('onemonth');
            th.textContent = currentyear + '년 ' + months[currentMonth - 1] + ' 판매계획';
        }
        function Datain() {
            $('#modal').fadeIn()
            $('#overlay').fadeIn()
        }
        document.getElementById('excelFileInput').addEventListener('change', handleFile);

        function handleFile(e) {
            const file = e.target.files[0];
            const reader = new FileReader();

            reader.onload = function (e) {
                const data = new Uint8Array(e.target.result);
                const workbook = XLSX.read(data, { type: 'array' });
                const sheetName = workbook.SheetNames[0];
                const sheet = workbook.Sheets[sheetName];
                const tableData = XLSX.utils.sheet_to_json(sheet, { header: 1 });

                const tableContainer = document.getElementById('tableContainer');
                tableContainer.innerHTML = '';

                const table = document.createElement('table');
                table.setAttribute('border', '1');

                for (let i = 0; i < tableData.length; i++) {
                    const row = document.createElement('tr');
                    for (let j = 0; j < tableData[i].length; j++) {
                        const cell = document.createElement('td');
                        cell.textContent = tableData[i][j];
                        row.appendChild(cell);
                    }
                    table.appendChild(row);
                }

                tableContainer.appendChild(table);
            };

            reader.readAsArrayBuffer(file);
        }
    </script>

</body>

</html>