<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th,
    td {
        border: 1px solid black;
        text-align: center;
        width: 16%;
        height: 50px;
    }

    th {
        background-color: #eee;
    }
</style>



<body>
    <table>
        <thead>
            <tr>
                <th>날짜</th>
                <th>05월 01일</th>
                <th>05월 02일</th>
                <th>05월 03일</th>
                <th>05월 04일</th>
                <th>05월 05일</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>생산1</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>생산2</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>


</body>
<script>
    // Moment.js 라이브러리를 사용하여 오늘의 날짜를 가져옵니다.
    var today = moment();

    // 이번 달의 첫째 날을 계산합니다.
    var firstDayOfMonth = moment(today).startOf('month');

    // 이번 달의 마지막 날을 계산합니다.
    var lastDayOfMonth = moment(today).endOf('month');

    // 캘린더 테이블의 tbody 요소를 선택합니다.
    var tbody = document.querySelector('#calendar tbody');

    // 달력 테이블을 채우는 루프를 작성합니다.
    var currentDate = moment(firstDayOfMonth);

</script>

</html>