<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/css/test.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="text/javascript" src="/html/graph.js"></script>
</head>

<body>
    <canvas id="myChart"></canvas>
</body>
<script>
    const ctx1 = document.getElementById('myChart');

    new Chart(ctx1, {
        type: 'bar',
        data: {
            labels: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
            datasets: [{
                label: '원가합계(₩)',
                data: [200000000, 300000000, 250000000,450000000, 550000000, 650000000, 600000000, 800000000, 1000000000, 900000000, 1200000000, 1500000000],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 99, 132, 0.2)'

                ],
                borderColor: [
                    'rgb(255, 99, 132)',
                    'rgb(255, 99, 132)',
                    'rgb(255, 99, 132)',
                    'rgb(255, 99, 132)',
                    'rgb(255, 99, 132)',
                    'rgb(255, 99, 132)',
                    'rgb(255, 99, 132)',
                    'rgb(255, 99, 132)',
                    'rgb(255, 99, 132)',
                    'rgb(255, 99, 132)',
                    'rgb(255, 99, 132)',
                    'rgb(255, 99, 132)'
                ],
                barThickness: 25,
                borderWidth: 2

            }, {
                type: 'bar',
                label: '단가합계(₩)',
                data:  [450000000, 600000000, 450000000,600000000, 850000000, 1000000000, 1100000000, 1000000000, 1200000000, 1300000000, 1600000000, 2100000000],
                backgroundColor: [
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(54, 162, 235, 0.2)'

                ],
                borderColor: [
                    'rgba(54, 162, 235)',
                    'rgba(54, 162, 235)',
                    'rgba(54, 162, 235)',
                    'rgba(54, 162, 235)',
                    'rgba(54, 162, 235)',
                    'rgba(54, 162, 235)',
                    'rgba(54, 162, 235)',
                    'rgba(54, 162, 235)',
                    'rgba(54, 162, 235)',
                    'rgba(54, 162, 235)',
                    'rgba(54, 162, 235)',
                    'rgba(54, 162, 235)'
                ],
                barThickness: 25,
                borderWidth: 2
            }, {
                type: 'bar',
                label: '영업이익(₩)',
                data:  [250000000, 300000000, 200000000,150000000, 300000000, 350000000, 500000000, 200000000, 200000000, 400000000, 400000000, 600000000],
                backgroundColor: [
                    'rgba(255, 205, 86, 0.2)',
                    'rgba(255, 205, 86, 0.2)',
                    'rgba(255, 205, 86, 0.2)',
                    'rgba(255, 205, 86, 0.2)',
                    'rgba(255, 205, 86, 0.2)',
                    'rgba(255, 205, 86, 0.2)',
                    'rgba(255, 205, 86, 0.2)',
                    'rgba(255, 205, 86, 0.2)',
                    'rgba(255, 205, 86, 0.2)',
                    'rgba(255, 205, 86, 0.2)',
                    'rgba(255, 205, 86, 0.2)',
                    'rgba(255, 205, 86, 0.2)'

                ],
                borderColor: [
                    'rgba(255, 205, 86)',
                    'rgba(255, 205, 86)',
                    'rgba(255, 205, 86)',
                    'rgba(255, 205, 86)',
                    'rgba(255, 205, 86)',
                    'rgba(255, 205, 86)',
                    'rgba(255, 205, 86)',
                    'rgba(255, 205, 86)',
                    'rgba(255, 205, 86)',
                    'rgba(255, 205, 86)',
                    'rgba(255, 205, 86)',
                    'rgba(255, 205, 86)'
                ],
                barThickness: 25,
                borderWidth: 2
            }
            ]

        },




    });
</script>

</html>