<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

</head>
<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }

    th,
    td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    th {
        background-color: #f2f2f2;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    /* Optional: Adjust styles for specific columns */
    th:nth-child(6),
    td:nth-child(6) {
        width: 300px;
    }

    th:nth-child(7),
    td:nth-child(7) {
        width: 200px;
    }

    /* Adjust width for date columns */
    th:nth-child(n+15),
    td:nth-child(n+15) {
        width: 50px;
        /* Adjust width as needed */
    }
</style>

<body>
    <table class="styled-table" id="datatable" style="width:200%;">
        <thead id="tableHead">

        </thead>
        <tbody id="Datatbody">

        </tbody>

    </table>
    <select id="selectYear"></select>
    <select id="selectMonth"></select>
</body>
<script>
    var currentYear = new Date().getFullYear();
    var currentMonth = new Date().getMonth() + 1; // 월은 0부터 시작하므로 +1

    for (var year = currentYear - 1; year <= currentYear + 1; year++) {
        $('#selectYear').append('<option value="' + year + '">' + year + '년</option>');
    }

    for (var month = 1; month <= 12; month++) {
        var formattedMonth = month < 10 ? '0' + month : month;
        $('#selectMonth').append('<option value="' + formattedMonth + '">' + month + '월</option>');
    }

    $('#selectYear').val(currentYear);
    $('#selectMonth').val(currentMonth < 10 ? '0' + currentMonth : currentMonth.toString());
    var server = '';
    if (window.location.hostname == '127.0.0.1') {
        server = 'http://localhost:8080';
    } else {
        server = 'http://techonmes.co.kr';
    }

    $('#selectYear, #selectMonth').on('change', function () {
        var selectedYear = $('#selectYear').val();
        var selectedMonth = $('#selectMonth').val();
        var startDate = new Date(selectedYear, selectedMonth - 1, 1); // 해당 월의 1일
        var endDate = new Date(selectedYear, selectedMonth, 0); // 해당 월의 마지막 날짜

        // 기존 헤더를 제거
        $('#datatable thead').empty();

        var currentDate = new Date(startDate);

        var headerTitles = ['BOMNO.', '코드명', '모델명', '제품명', 'EA=PCS', '공정명', '부착업체', '판매계획', 'P/O', '납품수량', 'PO잔량', 'TTL', '구분', '전월P/O잔량'];
        for (var i = 0; i < headerTitles.length; i++) {
            var th = document.createElement('th');
            th.style.width = i === 5 ? '300px' : '200px'; // 너비 조절
            th.style.textAlign = 'center'; // 가운데 정렬
            th.textContent = headerTitles[i];
            $('#datatable thead').append(th);
        }

        // Now add the date columns
        while (currentDate < endDate) {
            var month = currentDate.getMonth() + 1;
            var day = currentDate.getDate();
            var formattedMonth = month < 10 ? '0' + month : month;
            var formattedDay = day < 10 ? '0' + day : day;
            var formattedDate = formattedMonth + "-" + formattedDay;

            var th = document.createElement('th');
            th.style.width = 'auto'; // 기본 너비
            th.style.textAlign = 'center'; // 가운데 정렬
            th.textContent = formattedDate;
            $('#datatable thead').append(th);

            currentDate.setDate(currentDate.getDate() + 1);
        }
    });

    $('#Datatbody').empty();
    $.ajax({
        type: 'POST',
        url: server + '/api/shipmentplan',
        dataType: 'json',
        success: function (data) {
            $.ajax({
                type: 'POST',
                url: server + '/api/accountshipment',
                dataType: 'json',
                success: function (data1) {
                    for (var i = 0; i < data1.length; i++) { // Use data1.length here
                        var selectedYear = $('#selectYear').val();
                        var selectedMonth = $('#selectMonth').val();
                        $('#datatable').append(
                            '<tr>' +
                            '<td rowspan="3">' + data1[i].bomno + '</td>' +
                            '<td rowspan="3">' + data1[i].itemcode + '</td>' +
                            '<td rowspan="3">' + data1[i].modelname + '</td>' +
                            '<td rowspan="3">' + data1[i].itemname + '</td>' +
                            '<td rowspan="3">' + (data1[i].pcs ? data1[i].pcs : '') + '</td>' +
                            '<td rowspan="3">' + (data1[i].processname ? data1[i].processname : '') + '</td>' +
                            '<td rowspan="3" onclick="showbucak()">' + (data[i].bucakcustomer ? data[i].bucakcustomer : '') + '</td>' +
                            '<td rowspan="3">' + (data1[i].planquantity ? data1[i].planquantity : '') + '</td>' +

                            '<td rowspan="3"></td>' +
                            '<td rowspan="3"></td>' +
                            '<td rowspan="3"></td>' +
                            '<td id="' + selectedYear + '-' + selectedMonth + '-order-TTL"></td>' +
                            '<td>발주</td>' +
                            '<td></td>' +
                            addDateColumns(data1[i].deliverydate, data1[i].quantity.toLocaleString(), selectedYear, selectedMonth) +
                            '</tr>' +

                            '<tr>' +
                            '<td id="' + selectedYear + '-' + selectedMonth + '-plan-TTL"></td>' +
                            '<td style="color:blue;">계획</td>' +
                            '<td></td>' +
                            addDateColumns1(data1[i].deliverydate, data1[i].quantity, selectedYear, selectedMonth) +
                            '</tr>' +

                            '<tr>' +
                            '<td id="' + selectedYear + '-' + selectedMonth + '-performance-TTL"></td>' +
                            '<td style="color:red;">실적</td>' +
                            '<td></td>' +
                            addDateColumns2(data1[i].deliverydate, data1[i].quantity, selectedYear, selectedMonth) +
                            // '<td>' + data1[i].itemname + '</td>' +

                            '</tr>'
                        );
                    }

                    // 날짜별 합계를 셀에 적용
                }
            });
        }
    });

    function addDateColumns(deliveryDate, value, selectedYear, selectedMonth) {
        var columns = '';
        var orderTotal = 0; // 발주 합계

        var daysInMonth = new Date(selectedYear, selectedMonth, 0).getDate();

        for (var date = 1; date <= daysInMonth; date++) {
            var formattedDate = date < 10 ? '0' + date : date;
            var id = selectedYear + '-' + selectedMonth + '-' + formattedDate;

            if (id === deliveryDate) {
                orderTotal += parseInt(value.replace(/,/g, ''), 10); // ',' 제거 후 정수로 변환하여 합산
            }

            columns += '<td id="order-' + id + '">' + (id === deliveryDate ? value : '') + '</td>';
        }
        $('#' + selectedYear + '-' + selectedMonth + '-order-TTL').text(orderTotal.toLocaleString());
        return columns;
    }

    function addDateColumns1(formattedDate, value, selectedYear, selectedMonth) {
        var columns = '';
        var daysInMonth = new Date(selectedYear, selectedMonth, 0).getDate();

        for (var date = 1; date <= daysInMonth; date++) {
            var formattedDate = date < 10 ? '0' + date : date;
            var id = 'plan-' + selectedYear + '-' + selectedMonth + '-' + formattedDate;
            columns += '<td id="' + id + '"></td>';
        }
        return columns;
    }

    function addDateColumns2(formattedDate, value, selectedYear, selectedMonth) {
        var columns = '';
        var daysInMonth = new Date(selectedYear, selectedMonth, 0).getDate();

        for (var date = 1; date <= daysInMonth; date++) {
            var formattedDate = date < 10 ? '0' + date : date;
            var id = 'performance-' + selectedYear + '-' + selectedMonth + '-' + formattedDate;
            columns += '<td id="' + id + '"></td>';
        }
        return columns;
    }
</script>

</html>