<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    select {
        border: none;
        background-color: transparent;
        appearance: none;
        -webkit-appearance: none;
    }

    select::-ms-expand {
        display: none;
    }

    select option {
        background-color: white;
        color: black;
    }
</style>
<body>
   

    <table>
        <tr>
            <td>모델명:</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td>차종:</td>
            <td>
                <select id="car-type" onchange="onChangeCarType()">
                    <option value="">-- 선택 --</option>
                    <option value="small">소형차</option>
                    <option value="midsize">중형차</option>
                    <option value="large">대형차</option>
                </select>
                <input type="text" id="car-type-input" style="display: none;">
            </td>
        </tr>
    </table>

</body>
<script>
    function onChangeCarType() {
        const select = document.getElementById("car-type");
        const input = document.getElementById("car-type-input");
        if (select.value === "") {
            input.style.display = "inline-block";
        } else {
            input.style.display = "none";
        }
    }
</script>

</html>