<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>설비 기초정보</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.5/xlsx.full.min.js"></script>
    <link rel="stylesheet" href="https://uicdn.toast.com/tui.grid/latest/tui-grid.css">

    <script src="https://uicdn.toast.com/tui.grid/latest/tui-grid.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <link rel="stylesheet" href="../css/mescss.css">


</head>
<style>
    
</style>

<body>
    <div class="menu-title">
        <i class="fas fa-chart-line"></i> 환율 고시 정보
    </div>
    <div class="search-container">
        <label for="search" class="search-label"> 검색 :</label>
        <div class="search-input-wrapper">
            <input type="text" id="search" placeholder="검색어를 입력하세요...">
            <i class="fas fa-search search-icon"></i>
        </div>
    </div>

    <div id="grid"></div>


    <script>

        var server = '';
        var tui;
        var gridData;

        if (window.location.hostname == 'localhost') {
            server = 'http://localhost:8080';
        } else {
            server = 'http://techonmes.co.kr';
        }


        $(document).ready(function () {
            setTimeout(function () {
                load();
            }, 500);

        });

        function initializeGrid() {
            grid = new tui.Grid({
                el: document.getElementById('grid'),
                data: [],
                // data: dataSource,
                scrollX: false,
                scrollY: false,
                autoHeight: true,
                columns: [
                    {
                        header: '시작날짜',
                        name: 'startdate',
                        filter: 'select',
                        sortable: true,
                        resizable: true

                    },
                    {
                        header: '종료날짜',
                        name: 'finishdate',
                        filter: 'select',
                        sortable: true,
                        resizable: true

                    },
                    {
                        header: '통화코드',
                        name: 'currencycode',
                        filter: 'select',
                        sortable: true,
                        resizable: true

                    },
                    {
                        header: '통화명',
                        name: 'currencyname',
                        filter: 'select',
                        sortable: true,
                        resizable: true
                    },
                    {
                        header: '통화가격',
                        name: 'currencyprice',
                        filter: 'select',
                        sortable: true,
                        resizable: true
                    },
                    
                  
                ],

            });
        }
    </script>

    <script>
        function load() {
            $.ajax({
                type: 'POST',
                url: server + '/api/selectwon',
                dataType: 'json',
                success: function (data) {
                    gridData = data;
                    grid.resetData(data);
                },

            });



            // Add event listener for the search input
            $('#search').on('input', function () {
                var keyword = $(this).val().toLowerCase();

                // Filter the data based on the search keyword
                var filteredData = gridData.filter(function (item) {
                    return Object.values(item).some(function (value) {
                        return typeof value === 'string' && value.toLowerCase().includes(keyword);
                    });
                });

                grid.resetData(filteredData);
            });
            initializeGrid();
        }
    </script>
</body>

</html>